Repository reichlab/covid19-forecast-hub, pull requests merged in 2020-06, with the labels that each got.

#506 Update node to 10.2
  .travis.yml
Labels: dependencies

#534 Use `model_url` from metadata file.
  code/zoltar-scripts/upload_covid19_forecasts_to_zoltar.py
Labels: data-validation, metadata

#588 Patch 1
  data-processed/GT_CHHS-COVID19/2020-06-21-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/metadata-GT_CHHS-COVID19.txt
Labels: forecast-update

#592 2020-06-22 Updates
  data-processed/STH-3PU/2020-06-21-STH-3PU.csv
  data-processed/STH-3PU/2020-06-22-STH-3PU.csv
  data-processed/STH-3PU/metadata-STH-3PU.txt
Labels: forecast-update

#600 DeepCOVID ew25
  data-processed/GT-DeepCOVID/2020-06-22-GT-DeepCOVID.csv
Labels: forecast-update

#607 Updating Notre Dame FRED model
  data-processed/NotreDame-FRED/2020-06-22-NotreDame-FRED.csv
Labels: forecast-update

#597 0621
  data-processed/UMass-MechBayes/2020-06-21-UMass-MechBayes.csv
Labels: forecast-update

#624 Integrate nav bar with static site
  visualization/vis-master/config.yaml
  visualization/vis-master/src/components/Navbar.vue
Labels: viz

#632 Create 2020-06-25-STH-3PU.csv
  data-processed/STH-3PU/2020-06-25-STH-3PU.csv
  data-processed/STH-3PU/2020-06-26-STH-3PU.csv
Labels: forecast-update

#631 USC-SI_kJalpha forecasts submission
  data-processed/USC-SI_kJalpha/2020-05-10-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/2020-05-17-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/2020-05-24-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/2020-05-31-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/2020-06-07-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/2020-06-14-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/2020-06-21-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/2020-06-23-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/2020-06-27-USC-SI_kJalpha.csv
  data-processed/USC-SI_kJalpha/metadata-USC-SI_kJalpha.txt
Labels: forecast-update
