Repository reichlab/covid19-forecast-hub, pull requests merged in 2020-09, with the labels that each got.

#1322 Include only models that have inc/cum targets
  visualization/scripts/convert_forecasts.py
Labels: viz

#1402 Validation step to check invalid prediction values.
  code/notebooks/get_populations.ipynb
  code/notebooks/truth-data--exploration.ipynb
  code/utils/__init__.py
  code/utils/_utils.py
  code/validation/test_formatting.py
  data-locations/get_populations.py
  data-locations/populations.csv
Labels: data-validation, enhancement

#1405 Issue 1403: Zoltpy's changes to returned date format breaks truth upload
  data-truth/zoltar-truth-data.py
Labels: bug, zoltar

#1538 Resolves #1536
  visualization/vis-master/src/components/Panels/Choropleth.vue
  visualization/vis-master/src/store/actions.js
  visualization/vis-master/src/store/data.js
Labels: viz

#1540 Update location.csv file + validation changes
  code/validation/test_formatting.py
  data-locations/get_populations.py
  data-locations/locations.csv
  data-locations/populations.csv
Labels: data-validation
