Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-04, with the labels that each got.

#3391 Create 2021-04-03-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-04-03-GT_CHHS-COVID19.csv
Labels: automerge, data-submission

#3394 Upload 2021-04-04 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-04-04-Karlen-pypm.csv
Labels: automerge, data-submission

#3395 Columbia_UNC-SurvCon 2021-04-04 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-04-04-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3401 First april forecast.
  data-processed/JHUAPL-Gecko/2021-04-04-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3402 Added new forecasts (2021-04-04)
  data-processed/MIT_CritData-GBCF/2021-04-04-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3403 UChicagoCHATTOPADHYAY-UnIT 2021-04-04 Forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-04-04-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#3389 metadata-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/metadata-RobertWalraven-ESG.txt
Labels: metadata-change

#3404 2021-04-05 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-04-05-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3392 Add files via upload
  data-processed/BPagano-RtDriven/2021-04-04-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3393 Add files via upload
  data-processed/TTU-squider/2021-04-04-TTU-squider.csv
Labels: automerge, data-submission

#3397 04-04 WalmartLabs Forecasts
  data-processed/WalmartLabsML-LogForecasting/2021-04-04-WalmartLabsML-LogForecasting.csv
Labels: automerge, data-submission

#3398 Geneva-DetGrowth Forecast Update - 2021-04-04
  data-processed/Geneva-DetGrowth/2021-04-04-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3400 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-04-04-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3408 mobs 0405
  data-processed/MOBS-GLEAM_COVID/2021-04-05-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3409 2021-04-05-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-04-05-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3412 adding 2021-04-05 SigSci-TS forecast
  data-processed/SigSci-TS/2021-04-05-SigSci-TS.csv
Labels: automerge, data-submission

#3414 Create 2021-04-05-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-04-05-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3415 Microsoft April 5th Forecasting
  data-processed/Microsoft-DeepSTIA/2021-04-04-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3419 PSI-DRAFT weekly submission 5 Apr 2021
  data-processed/PSI-DRAFT/2021-04-05-PSI-DRAFT.csv
Labels: automerge, data-submission

#3417 Steve McConnell - CovidComplete - Updates for 2021-04-05
  data-processed/SteveMcConnell-CovidComplete/2021-04-05-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3423 UA-EpiCovDA forecasts 2021-04-04
  data-processed/UA-EpiCovDA/2021-04-04-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3427 OliverWyman-Navigator submission for 2021-04-04
  data-processed/OliverWyman-Navigator/2021-04-04-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3431 ew13 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-04-05-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3434 MIT Update 0405
  data-processed/CovidAnalytics-DELPHI/2021-04-05-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3435 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-04-04-UCF-AEM.csv
Labels: automerge, data-submission

#3439 Add files via upload
  data-processed/JHU_CSSE-DECOM/2021-04-04-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3438 2021-04-05 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-04-05-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3437 2021-04-05-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-04-05-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3432 Google_Harvard-CPF 2021-04-05 forecast
  data-processed/Google_Harvard-CPF/2021-04-05-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#3430 Upload 2021-04-04 for JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-04-04-JHU_UNC_GAS-StatMechPool.csv
Labels: automerge, data-submission

#3428 DDS-NBDS 2021-04-05 forecast
  data-processed/DDS-NBDS/2021-04-05-DDS-NBDS.csv
Labels: automerge, data-submission

#3420 2021-04-04 MB
  data-processed/UMass-MechBayes/2021-04-04-UMass-MechBayes.csv
Labels: automerge, data-submission

#3418 MITCovAllince predictions 4/5
  data-processed/MITCovAlliance-SIR/2021-04-05-MITCovAlliance-SIR.csv
Labels: automerge, data-submission

#3413 Added UMich predictions for 2021-04-05.
  data-processed/UMich-RidgeTfReg/2021-04-05-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3410 2021-04-05-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-04-05-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3441 AIpert-pwllnod Forecast update for 2021-04-05
  data-processed/AIpert-pwllnod/2021-04-05-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3444 Add CMU-TimeSeries forecasts for 2021-04-05: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-04-05-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3448 Create 2021-04-04-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-04-04-MIT-Cassandra.csv
Labels: automerge, data-submission

#3449 Apr05_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-04-05-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3452 Adding new forecasts made on 04/05/2021
  data-processed/IUPUI-HkPrMobiDyR/2021-04-05-IUPUI-HkPrMobiDyR.csv
Labels: automerge, data-submission

#3453 2021-04-04 MechBayes Update
  data-processed/UMass-MechBayes/2021-04-04-UMass-MechBayes.csv
Labels: data-submission, forecast-updated

#3446 Update metadata-RPI_UW-Mob_Collision.txt
  data-processed/RPI_UW-Mob_Collision/metadata-RPI_UW-Mob_Collision.txt
Labels: metadata-change

#3459 remove entries that didn't get uploaded to re-upload again
  code/zoltar_scripts/validated_file_db.json
Labels: code

#3464 Columbia_UNC-SurvCon 2021-04-11 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-04-11-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3466 Create 2021-04-10-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-04-10-GT_CHHS-COVID19.csv
Labels: automerge, data-submission

#3467 Newest forecast.
  data-processed/JHUAPL-Gecko/2021-04-11-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3469 Upload 2021-04-11 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-04-11-Karlen-pypm.csv
Labels: automerge, data-submission

#3470 Added new forecasts (2021-04-11)
  data-processed/MIT_CritData-GBCF/2021-04-11-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3455 JHUAPL-SLPHospEns 2021-04-05 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-04-05-JHUAPL-SLPHospEns.csv
Labels: data-submission

#3461 Add files via upload
  data-processed/BPagano-RtDriven/2021-04-11-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3462 Add files via upload
  data-processed/TTU-squider/2021-04-11-TTU-squider.csv
Labels: automerge, data-submission

#3468 Geneva-DetGrowth Forecast Update - 2021-04-11
  data-processed/Geneva-DetGrowth/2021-04-11-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3471 OliverWyman-Navigator submission for 2021-04-11
  data-processed/OliverWyman-Navigator/2021-04-11-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3472 2021-04-12 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-04-12-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3474 mobs 0412
  data-processed/MOBS-GLEAM_COVID/2021-04-12-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3478 Microsoft April 12th Forecasting
  data-processed/Microsoft-DeepSTIA/2021-04-12-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3481 Steve McConnell - CovidComplete - Updates for 2021-04-12
  data-processed/SteveMcConnell-CovidComplete/2021-04-12-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3483 UT forecast for 2021-04-12
  data-processed/UT-Mobility/2021-04-12-UT-Mobility.csv
Labels: automerge, data-submission

#3485 adding 2021-04-12 SigSci-TS forecast
  data-processed/SigSci-TS/2021-04-12-SigSci-TS.csv
Labels: automerge, data-submission

#3488 Create 2021-04-12-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-04-12-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3479 2021-04-12-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-04-12-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3480 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-04-11-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3482 Upload 2021-04-11 for JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-04-11-JHU_UNC_GAS-StatMechPool.csv
Labels: automerge, data-submission

#3473 Add files via upload
  data-processed/BPagano-RtDriven/2021-04-11-BPagano-RtDriven.csv
Labels: data-submission, forecast-updated

#3490 PSI-DRAFT weekly submission - 12 Apr 2021
  data-processed/PSI-DRAFT/2021-04-12-PSI-DRAFT.csv
Labels: automerge, data-submission

#3494 Update Caltech CS156 Predictions
  data-processed/Caltech-CS156/2021-04-11-Caltech-CS156.csv
Labels: automerge, data-submission

#3495 UA-EpiCovDA forecasts 2021-04-11
  data-processed/UA-EpiCovDA/2021-04-11-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3496 UCF Weekly Forecasts
  data-processed/UCF-AEM/2021-04-11-UCF-AEM.csv
Labels: automerge, data-submission

#3486 2021-04-11 MB
  data-processed/UMass-MechBayes/2021-04-11-UMass-MechBayes.csv
Labels: automerge, data-submission

#3492 DDS-NBDS 2021-04-12 forecast
  data-processed/DDS-NBDS/2021-04-12-DDS-NBDS.csv
Labels: automerge, data-submission

#3498 ew14 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-04-12-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3502 MIT Update 0412
  data-processed/CovidAnalytics-DELPHI/2021-04-12-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3500 2021-04-12-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-04-12-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3504 Google_Harvard-CPF 2021-04-12 forecast
  data-processed/Google_Harvard-CPF/2021-04-12-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#3506 2021-04-12-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-04-12-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3507 2021-04-12 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-04-12-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3510 AIpert-pwllnod Forecast update for 2021-04-12
  data-processed/AIpert-pwllnod/2021-04-12-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3511 JHU CSSE 4/11 Predictions
  data-processed/JHU_CSSE-DECOM/2021-04-11-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3509 Added UMich predictions for 2021-04-12.
  data-processed/UMich-RidgeTfReg/2021-04-12-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3512 Add CMU-TimeSeries forecasts for 2021-04-12: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-04-12-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3517 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-04-12-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#3519 Apr12_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-04-12-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3521 Forecasting at 04/12/2021
  data-processed/IUPUI-HkPrMobiDyR/2021-04-12-IUPUI-HkPrMobiDyR.csv
Labels: automerge, data-submission, other-files-updated

#3523 JHUAPL-SLPHospEns 2021-04-12 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-04-12-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#3516 Adding forecasts for 4/12/21
  data-processed/MIT-Cassandra/2021-04-12-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/metadata-MIT-Cassandra.txt
Labels: metadata-change, new-team-submission

#3534 Create 2021-04-17-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-04-17-GT_CHHS-COVID19.csv
Labels: automerge, data-submission

#3537 Upload 2021-04-18 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-04-18-Karlen-pypm.csv
Labels: automerge, data-submission

#3540 Added new forecasts (2021-04-18)
  data-processed/MIT_CritData-GBCF/2021-04-18-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3541 OliverWyman-Navigator submission for 2021-04-18
  data-processed/OliverWyman-Navigator/2021-04-18-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3543 mobs 0419
  data-processed/MOBS-GLEAM_COVID/2021-04-19-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3544 2021-04-19-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-04-19-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3545 2021-04-19 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-04-19-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3546 Added forecast.
  data-processed/JHUAPL-Gecko/2021-04-18-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3533 Columbia_UNC-SurvCon 2021-04-18
  data-processed/Columbia_UNC-SurvCon/2021-04-18-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission, other-files-updated

#3547 Create 2021-04-19-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-04-19-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3549 Microsoft April 19th forecasting
  data-processed/Microsoft-DeepSTIA/2021-04-19-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3554 Steve McConnell - CovidComplete - Forecast Updates for 2021-04-19
  data-processed/SteveMcConnell-CovidComplete/2021-04-19-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3532 Add files via upload
  data-processed/TTU-squider/2021-04-18-TTU-squider.csv
Labels: automerge, data-submission

#3539 Geneva-DetGrowth Forecast Update - 2021-04-18
  data-processed/Geneva-DetGrowth/2021-04-18-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3548 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-04-18-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3553 2021-04-19-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-04-19-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3558 UA-EpiCovDA forecasts 2021-04-18
  data-processed/UA-EpiCovDA/2021-04-18-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3556 2021-04-18 MB
  data-processed/UMass-MechBayes/2021-04-18-UMass-MechBayes.csv
Labels: automerge, data-submission

#3557 MITCovAlliance predictions 4/19
  data-processed/MITCovAlliance-SIR/2021-04-19-MITCovAlliance-SIR.csv
Labels: automerge, data-submission

#3564 PSI-DRAFT weekly submission 19 Apr 2021
  data-processed/PSI-DRAFT/2021-04-19-PSI-DRAFT.csv
Labels: automerge, data-submission

#3563 2021-04-19-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-04-19-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3566 MIT Update 0419
  data-processed/CovidAnalytics-DELPHI/2021-04-19-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3567 DDS-NBDS 2021-04-19 forecast
  data-processed/DDS-NBDS/2021-04-19-DDS-NBDS.csv
Labels: automerge, data-submission

#3571 UChicagoCHATTOPADHYAY-UnIT 2021-04-18 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-04-18-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#3573 JHU CSSE 4/18 Predictions
  data-processed/JHU_CSSE-DECOM/2021-04-18-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3574 epiforecasts submission 2021-04-19
  data-processed/epiforecasts-ensemble1/2021-04-19-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3570 Google_Harvard-CPF 2021-04-19 forecast
  data-processed/Google_Harvard-CPF/2021-04-19-Google_Harvard-CPF.csv
Labels: automerge, data-submission, other-files-updated

#3576 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-04-18-UCF-AEM.csv
Labels: automerge, data-submission

#3578 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-04-19-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#3575 Added UMich predictions for 2021-04-19.
  data-processed/UMich-RidgeTfReg/2021-04-19-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3577 Add CMU-TimeSeries forecasts for 2021-04-19: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-04-19-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3579 AIpert-pwllnod Forecast update for 2021-04-19
  data-processed/AIpert-pwllnod/2021-04-19-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3581 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-04-19-FRBSF_Wilson-Econometric.csv
Labels: data-submission, forecast-retraction, forecast-updated

#3582 Create 2021-04-19-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-04-19-MIT-Cassandra.csv
Labels: automerge, data-submission

#3584 Apr19_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-04-19-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3586 KITmetricslab-select_ensemble: first submission 2021-04-19
  data-processed/KITmetricslab-select_ensemble/2021-04-19-KITmetricslab-select_ensemble.csv
  data-processed/KITmetricslab-select_ensemble/metadata-KITmetricslab-select_ensemble.txt
Labels: metadata-change, new-team-submission

#3590 Hkprmobidyr
  data-processed/IUPUI-HkPrMobiDyR/2021-04-19-IUPUI-HkPrMobiDyR.csv
Labels: automerge, data-submission

#3595 Update README in validations section + retractions
  data-processed/README.md
Labels: documentation

#3601 UChicagoCHATTOPADHYAY-UnIT 2021-04-25 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-04-25-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#3604 Columbia_UNC-SurvCon 2021-04-25 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-04-25-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3605 Upload 2021-04-25 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-04-25-Karlen-pypm.csv
Labels: automerge, data-submission

#3606 USC-SI_kJalpha: Weekly update
  data-processed/USC-SI_kJalpha/2021-04-25-USC-SI_kJalpha.csv
Labels: automerge, data-submission

#3608 Added new forecasts (2021-04-25)
  data-processed/MIT_CritData-GBCF/2021-04-25-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3609 Forecast update 4/25.
  data-processed/JHUAPL-Gecko/2021-04-25-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3610 OliverWyman-Navigator submission for 2021-04-25
  data-processed/OliverWyman-Navigator/2021-04-25-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3611 2021-04-26 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-04-26-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3602 Add files via upload
  data-processed/BPagano-RtDriven/2021-04-25-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3603 Add files via upload
  data-processed/TTU-squider/2021-04-25-TTU-squider.csv
Labels: automerge, data-submission

#3607 Geneva-DetGrowth Forecast Update - 2021-04-25
  data-processed/Geneva-DetGrowth/2021-04-25-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3614 Microsoft April 26th forecast
  data-processed/Microsoft-DeepSTIA/2021-04-26-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3616 2021-04-26-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-04-26-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3617 Create 2021-04-26-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-04-26-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3618 mobs 0426
  data-processed/MOBS-GLEAM_COVID/2021-04-26-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3621 Steve McConnell - CovidComplete - Updates for 2021-04-26
  data-processed/SteveMcConnell-CovidComplete/2021-04-26-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3622 UT forecast for 2021-04-26
  data-processed/UT-Mobility/2021-04-26-UT-Mobility.csv
Labels: automerge, data-submission

#3619 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-04-25-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3628 AIpert-pwllnod Forecast update for 2021-04-26
  data-processed/AIpert-pwllnod/2021-04-26-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3629 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-04-25-UCF-AEM.csv
Labels: automerge, data-submission

#3624 Upload 2021-04-26 for JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-04-25-JHU_UNC_GAS-StatMechPool.csv
Labels: automerge, data-submission

#3623 2021-04-26-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-04-26-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3634 DDS-NBDS 2021-04-26 forecast
  data-processed/DDS-NBDS/2021-04-26-DDS-NBDS.csv
Labels: automerge, data-submission

#3637 2021-04-26 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-04-26-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3641 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-04-26-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#3638 2021-04-26-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-04-26-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3639 Google_Harvard-CPF 2021-04-26 forecast
  data-processed/Google_Harvard-CPF/2021-04-26-Google_Harvard-CPF.csv
Labels: automerge, data-submission
