Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-07, with the labels that each got.

#4217 Columbia_UNC-SurvCon 2021-07-04 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-07-04-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#4213 fixing 2 model metadata files
  data-processed/FRBSF_Wilson-Econometric/metadata-FRBSF_Wilson-Econometric.txt
  data-processed/UpstateSU-GRU/metadata-UpstateSU-GRU.txt
Labels: metadata-change

#4215 Add files via upload
  data-processed/BPagano-RtDriven/2021-07-04-BPagano-RtDriven.csv
Labels: automerge, data-submission

#4216 Add files via upload
  data-processed/TTU-squider/2021-07-04-TTU-squider.csv
Labels: automerge, data-submission

#4220 Upload 2021-07-04 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-07-04-Karlen-pypm.csv
Labels: automerge, data-submission

#4224 July 4 update
  data-processed/JHUAPL-Gecko/2021-07-04-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#4225 2021-07-05 predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-07-05-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#4226 mobs 0705
  data-processed/MOBS-GLEAM_COVID/2021-07-05-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4223 Update UCLA-SuEIR 2021-07-04 forecasts
  data-processed/UCLA-SuEIR/2021-07-04-UCLA-SuEIR.csv
Labels: automerge, data-submission

#4222 Geneva-DetGrowth Forecast Update - 2021-07-04
  data-processed/Geneva-DetGrowth/2021-07-04-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#4221 HKUST-DNN 210705 forecast
  data-processed/HKUST-DNN/2021-07-05-HKUST-DNN.csv
Labels: automerge, data-submission

#4228 2021-07-05-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-07-05-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#4227 2021-07-05-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-07-05-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#4229 Added new forecasts (2021-07-04)
  data-processed/MIT_CritData-GBCF/2021-07-04-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#4231 2021-07-05 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-07-05-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4234 UA-EpiCovDA forecasts 2021-07-04
  data-processed/UA-EpiCovDA/2021-07-04-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4239 JHU CSSE 7/4 Predictions
  data-processed/JHU_CSSE-DECOM/2021-07-04-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4241 MIT Update 0705
  data-processed/CovidAnalytics-DELPHI/2021-07-05-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#4240 Steve McConnell - CovidComplete - Forecasts for 2021-07-05
  data-processed/SteveMcConnell-CovidComplete/2021-07-05-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4238 DDS-NBDS 2021-07-05 forecast
  data-processed/DDS-NBDS/2021-07-05-DDS-NBDS.csv
Labels: automerge, data-submission

#4236 2021-07-05-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-07-05-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4237 Update forecast file 07/04/2021
  data-processed/UCM_MESALab-FoGSEIR/2021-07-04-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4243 PSI-DRAFT weekly submission 5-July-2021
  data-processed/PSI-DRAFT/2021-07-05-PSI-DRAFT.csv
Labels: automerge, data-submission

#4244 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-07-05-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4248 2021-07-04 MB
  data-processed/UMass-MechBayes/2021-07-04-UMass-MechBayes.csv
Labels: automerge, data-submission

#4247 updates to plot-hospitalizations.R
  code/reports/plot-hospitalizations.R
Labels: code

#4249 Added UMich predictions for 2021-07-05
  data-processed/UMich-RidgeTfReg/2021-07-05-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4251 UCF Weekly Update
  data-processed/UCF-AEM/2021-07-04-UCF-AEM.csv
Labels: automerge, data-submission

#4252 Create 2021-07-05-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-07-05-MIT-Cassandra.csv
Labels: automerge, data-submission

#4254 ew26 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-07-05-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4255 2021-07-05 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-07-05-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4257 Add CMU-TimeSeries forecasts for 2021-07-05: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-07-05-CMU-TimeSeries.csv
Labels: automerge, data-submission

#4258 Microsoft forecasts 2021/07/05
  data-processed/Microsoft-DeepSTIA/2021-07-05-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4259 AIpert-pwllnod Forecast update for 2021-07-05
  data-processed/AIpert-pwllnod/2021-07-05-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4260 Add KITmetricslab-select_ensemble for 2021-07-05
  data-processed/KITmetricslab-select_ensemble/2021-07-05-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#4261 July5_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-07-05-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#4266 JHUAPL-SLPHospEns 2021-07-05 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-07-05-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#4267 Re-generated 6-28-2021 psSLP Ensemble based on the 6-28 input tag
  data-processed/JHUAPL-SLPHospEns/2021-06-28-JHUAPL-SLPHospEns.csv
Labels: data-submission

#4271 Update metadata-JHUAPL-SLPHospEns.txt
  data-processed/JHUAPL-SLPHospEns/metadata-JHUAPL-SLPHospEns.txt
Labels: metadata-change

#4269 Google_Harvard-CPF 2021-07-05 forecast
  data-processed/Google_Harvard-CPF/2021-07-05-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#4277 Upload 2021-07-11 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-07-11-Karlen-pypm.csv
Labels: automerge, data-submission

#4276 Add files via upload
  data-processed/BPagano-RtDriven/2021-07-11-BPagano-RtDriven.csv
Labels: automerge, data-submission

#4275 Add files via upload
  data-processed/TTU-squider/2021-07-11-TTU-squider.csv
Labels: automerge, data-submission

#4279 HKUST-DNN 210712 forecast
  data-processed/HKUST-DNN/2021-07-12-HKUST-DNN.csv
Labels: automerge, data-submission

#4285 Added new forecasts (2021-07-11)
  data-processed/MIT_CritData-GBCF/2021-07-11-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#4286 2021-07-12 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-07-12-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4280 update UCLA-SuEIR forecast 07-11-2021
  data-processed/UCLA-SuEIR/2021-07-11-UCLA-SuEIR.csv
Labels: automerge, data-submission

#4281 Update forecast file 7/11/2021
  data-processed/UCM_MESALab-FoGSEIR/2021-07-11-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4282 Geneva-DetGrowth Forecast Update - 2021-07-11
  data-processed/Geneva-DetGrowth/2021-07-11-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#4283 mobs 0712
  data-processed/MOBS-GLEAM_COVID/2021-07-12-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4284 2021-07-12-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-07-12-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#4287 UA-EpiCovDA forecasts 2021-07-11
  data-processed/UA-EpiCovDA/2021-07-11-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4288 Added July 11 Forecasts
  data-processed/JHUAPL-Gecko/2021-07-11-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#4292 2021-07-12-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-07-12-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#4293 2021-07-12 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-07-12-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#4295 Create 2021-07-12-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-07-12-QJHong-Encounter.csv
Labels: automerge, data-submission

#4296 UChicagoCHATTOPADHYAY UnIT 2021-07-11 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-07-11-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#4301 JHU CSSE 7/11 Predictions
  data-processed/JHU_CSSE-DECOM/2021-07-11-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4302 Microsoft 0712 forecasting
  data-processed/Microsoft-DeepSTIA/2021-07-12-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4294 DDS-NBDS 2021-07-12 forecast
  data-processed/DDS-NBDS/2021-07-12-DDS-NBDS.csv
Labels: automerge, data-submission

#4306 ew27 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-07-12-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4298 2021-07-12-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-07-12-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4303 UCF Weekly Update
  data-processed/UCF-AEM/2021-07-11-UCF-AEM.csv
Labels: automerge, data-submission

#4307 2021-07-11 MB
  data-processed/UMass-MechBayes/2021-07-11-UMass-MechBayes.csv
Labels: automerge, data-submission

#4309 JHU_IDD-CovidSP Forecast for July 11,2021
  data-processed/JHU_IDD-CovidSP/2021-07-11-JHU_IDD-CovidSP.csv
Labels: automerge, data-submission

#4310 Steve McConnell - CovidComplete - Forecasts for 2021-07-12
  data-processed/SteveMcConnell-CovidComplete/2021-07-12-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4311 MIT Update 0712
  data-processed/CovidAnalytics-DELPHI/2021-07-12-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#4312 PSI-DRAFT weekly submission - 12 July 2021
  data-processed/PSI-DRAFT/2021-07-12-PSI-DRAFT.csv
Labels: automerge, data-submission

#4313 Added UMich predictions for 2021-07-12.
  data-processed/UMich-RidgeTfReg/2021-07-12-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4314 Add CMU-TimeSeries forecasts for 2021-07-12: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-07-12-CMU-TimeSeries.csv
Labels: automerge, data-submission

#4315 Create 2021-07-12-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-07-12-MIT-Cassandra.csv
Labels: automerge, data-submission

#4316 AIpert-pwllnod Forecast update for 2021-07-12
  data-processed/AIpert-pwllnod/2021-07-12-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4317 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-07-12-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4318 Google_Harvard-CPF 2021-07-11 forecast
  data-processed/Google_Harvard-CPF/2021-07-11-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#4320 2021-07-12 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-07-12-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4323 July12_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-07-12-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#4322 Add KITmetricslab-select_ensemble for 2021-07-12
  data-processed/KITmetricslab-select_ensemble/2021-07-12-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#4325 JHUAPL-SLPHospEns 2021-07-12 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-07-12-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#4335 Columbia_UNC-SurvCon 2021-07-18 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-07-18-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#4336 Upload 2021-07-18 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-07-18-Karlen-pypm.csv
Labels: automerge, data-submission

#4340 HKUST-DNN 210717 forecast
  data-processed/HKUST-DNN/2021-07-19-HKUST-DNN.csv
Labels: automerge, data-submission

#4342 Forecast update
  data-processed/JHUAPL-Gecko/2021-07-18-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#4344 Added new forecasts (2021-07-18)
  data-processed/MIT_CritData-GBCF/2021-07-18-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#4345 UA-EpiCovDA forecasts 2021-07-18
  data-processed/UA-EpiCovDA/2021-07-18-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4346 2021-07-19 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-07-19-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#4333 Add files via upload
  data-processed/TTU-squider/2021-07-18-TTU-squider.csv
Labels: automerge, data-submission

#4334 Add files via upload
  data-processed/BPagano-RtDriven/2021-07-18-BPagano-RtDriven.csv
Labels: automerge, data-submission

#4338 Geneva-DetGrowth Forecast Update - 2021-07-18
  data-processed/Geneva-DetGrowth/2021-07-18-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#4339 Update forecast file 2021/07/18
  data-processed/UCM_MESALab-FoGSEIR/2021-07-18-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4341 mobs 0719
  data-processed/MOBS-GLEAM_COVID/2021-07-19-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4349 Create 2021-07-19-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-07-19-QJHong-Encounter.csv
Labels: automerge, data-submission

#4352 Microsoft 0719 forecasting
  data-processed/Microsoft-DeepSTIA/2021-07-19-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4347 2021-07-19-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-07-19-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#4350 2021-07-19-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-07-19-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4351 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-07-18-UCF-AEM.csv
Labels: automerge, data-submission

#4356 2021-07-19-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-07-19-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#4360 Add files via upload
  data-processed/JHU_CSSE-DECOM/2021-07-18-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4355 Google_Harvard-CPF 2021-07-18 forecast
  data-processed/Google_Harvard-CPF/2021-07-18-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#4358 DDS-NBDS 2021-07-19 forecast
  data-processed/DDS-NBDS/2021-07-19-DDS-NBDS.csv
Labels: automerge, data-submission

#4361 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-07-19-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4362 Steve McConnell - CovidComplete - Updated forecasts for 2021-07-19
  data-processed/SteveMcConnell-CovidComplete/2021-07-19-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4364 PSI-DRAFT weekly submission 19July2021
  data-processed/PSI-DRAFT/2021-07-19-PSI-DRAFT.csv
Labels: automerge, data-submission

#4363 2021-07-19 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-07-19-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4365 MIT Update 0719
  data-processed/CovidAnalytics-DELPHI/2021-07-19-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#4369 AIpert-pwllnod Forecast update for 2021-07-19
  data-processed/AIpert-pwllnod/2021-07-19-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4371 2021-07-19 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-07-19-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4372 ew28 DeepCOVID
  data-processed/GT-DeepCOVID/2021-07-19-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4367 Added UMich predictions for 2021-07-19.
  data-processed/UMich-RidgeTfReg/2021-07-19-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4368 Add CMU-TimeSeries forecasts for 2021-07-19: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-07-19-CMU-TimeSeries.csv
Labels: automerge, data-submission

#4373 2021-07-18 MB
  data-processed/UMass-MechBayes/2021-07-18-UMass-MechBayes.csv
Labels: automerge, data-submission

#4328 plot-hospitalizations.R script made into a function
  code/reports/plot-hospitalizations.R
Labels: code

#4375 Create 2021-07-19-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-07-19-MIT-Cassandra.csv
Labels: automerge, data-submission

#4378 Add KITmetricslab-select_ensemble for 2021-07-19
  data-processed/KITmetricslab-select_ensemble/2021-07-19-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#4379 July12_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-07-19-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#4380 JHUAPL-SLPHospEns 2021-07-19 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-07-19-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#4381 Added error msg to plot_hospitalization_forecasts() func
  code/reports/plot-hospitalizations.R
Labels: code

#4384 Create 2021-07-22-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-07-22-QJHong-Encounter.csv
Labels: automerge, data-submission

#4393 Columbia_UNC-SurvCon 2021-07-25 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-07-25-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#4395 Upload 2021-07-25 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-07-25-Karlen-pypm.csv
Labels: automerge, data-submission

#4399 HKUST-DNN 210726 forecast
  data-processed/HKUST-DNN/2021-07-26-HKUST-DNN.csv
Labels: automerge, data-submission

#4401 Added new forecasts (2021-07-25)
  data-processed/MIT_CritData-GBCF/2021-07-25-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#4402 Forecast update.
  data-processed/JHUAPL-Gecko/2021-07-25-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#4405 UA-EpiCovDA forecasts 2021-07-25
  data-processed/UA-EpiCovDA/2021-07-25-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4406 2021-07-26 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-07-26-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#4412 UChicagoCHATTOPADHYAY-UnIT 2021-07-25 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-07-25-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#4414 Microsoft 0726 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-07-26-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4417 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-07-26-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4391 Add files via upload
  data-processed/BPagano-RtDriven/2021-07-25-BPagano-RtDriven.csv
Labels: automerge, data-submission

#4392 Add files via upload
  data-processed/TTU-squider/2021-07-25-TTU-squider.csv
Labels: automerge, data-submission

#4396 2021-07-25-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-07-26-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4397 update UCLA-SuEIR 2021-07-25
  data-processed/UCLA-SuEIR/2021-07-25-UCLA-SuEIR.csv
Labels: automerge, data-submission

#4398 Geneva-DetGrowth Forecast Update - 2021-07-25
  data-processed/Geneva-DetGrowth/2021-07-25-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#4400 mobs 0726
  data-processed/MOBS-GLEAM_COVID/2021-07-26-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4404 Added UMich predictions for 2021-07-26.
  data-processed/UMich-RidgeTfReg/2021-07-26-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4408 2021-07-26-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-07-26-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#4416 Update forecast file 7/25/2021
  data-processed/UCM_MESALab-FoGSEIR/2021-07-25-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4418 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-07-25-UCF-AEM.csv
Labels: automerge, data-submission

#4421 Steve McConnell - CovidComplete - Forecasts for 2021-07-26
  data-processed/SteveMcConnell-CovidComplete/2021-07-26-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4422 PSI-DRAFT weekly submission - 26July2021
  data-processed/PSI-DRAFT/2021-07-26-PSI-DRAFT.csv
Labels: automerge, data-submission

#4420 Create 2021-07-26-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-07-26-MIT-Cassandra.csv
Labels: automerge, data-submission

#4424 2021-07-26 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-07-26-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4426 ew29 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-07-26-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4427 2021-07-25 MB
  data-processed/UMass-MechBayes/2021-07-25-UMass-MechBayes.csv
Labels: automerge, data-submission

#4429 JHU CSSE 7/25 Predictions
  data-processed/JHU_CSSE-DECOM/2021-07-25-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4430 2021-07-26 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-07-26-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4431 AIpert-pwllnod Forecast update for 2021-07-26
  data-processed/AIpert-pwllnod/2021-07-26-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4428 Google_Harvard-CPF 2021-07-26 forecast
  data-processed/Google_Harvard-CPF/2021-07-26-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#4433 Fixed data corruption error
  data-processed/SteveMcConnell-CovidComplete/2021-07-26-SteveMcConnell-CovidComplete.csv
Labels: data-submission, forecast-updated, retractions

#4439 Add KITmetricslab-select_ensemble for 2021-07-26
  data-processed/KITmetricslab-select_ensemble/2021-07-26-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#4432 DDS-NBDS 2021-07-26 forecast
  data-processed/DDS-NBDS/2021-07-26-DDS-NBDS.csv
Labels: automerge, data-submission
