Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-03, with the labels that each got.

#3028 Add files via upload
  data-processed/BPagano-RtDriven/2021-02-28-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3030 Upload 2021-02-28 forecast for Karlen-pypm (with variant)
  data-processed/Karlen-pypm/2021-02-28-Karlen-pypm.csv
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: metadata-change

#3031 Add files via upload
  data-processed/RPI_UW-Mob_Collision/2021-02-28-RPI_UW-Mob_Collision.csv
Labels: automerge, data-submission

#3033 Create 2021-03-01-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-03-01-QJHong-Encounter.csv
Labels: automerge, data-submission

#3032 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-02-28-UCM_MESALab-FoGSEIR.csv
Labels: data-submission

#3034 Geneva-DetGrowth Forecast Update - 2021-02-28
  data-processed/Geneva-DetGrowth/2021-02-28-Geneva-DetGrowth.csv
Labels: data-submission

#3038 Revert "AIpert-pwllnod Forecast update for 2021-03-01"
  data-processed/AIpert-pwllnod/2021-03-01-AIpert-pwllnod.csv
Labels: data-submission, forecast-updated

#3036 Added new forecasts (2021-02-28)
  data-processed/MIT_CritData-GBCF/2021-02-28-MIT_CritData-GBCF.csv
Labels: data-submission

#3037 Forecast update.
  data-processed/JHUAPL-Gecko/2021-03-01-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3039 mobs 0301
  data-processed/MOBS-GLEAM_COVID/2021-03-01-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3040 MIT_ISOLAT-Mixtures predictions for 2021-03-01
  data-processed/MIT_ISOLAT-Mixtures/2021-03-01-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3042 Microsoft March 1st forecasting
  data-processed/Microsoft-DeepSTIA/2021-03-01-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3048 Added UMich predictions for 2021-03-01.
  data-processed/UMich-RidgeTfReg/2021-03-01-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3047 Steve McConnell - CovidComplete - Forecasts for 2021-03-01
  data-processed/SteveMcConnell-CovidComplete/2021-03-01-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3046 adding 2021-03-01 SigSci-TS forecast
  data-processed/SigSci-TS/2021-03-01-SigSci-TS.csv
Labels: automerge, data-submission

#3045 2021-03-01-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-03-01-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3060 MIT Update 0301
  data-processed/CovidAnalytics-DELPHI/2021-03-01-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3061 Create 2021-03-01-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-03-01-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3058 PSI-DRAFT weekly submission - 01 Mar 2021
  data-processed/PSI-DRAFT/2021-03-01-PSI-DRAFT.csv
Labels: automerge, data-submission

#3056 Create 2021-03-01-DDS-NBDS.csv
  data-processed/DDS-NBDS/2021-03-01-DDS-NBDS.csv
Labels: automerge, data-submission

#3044 2021-02-28 predictions from JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-02-28-JHU_UNC_GAS-StatMechPool.csv
Labels: data-submission

#3053 UA-EpiCovDA forecasts 2021-02-28
  data-processed/UA-EpiCovDA/2021-02-28-UA-EpiCovDA.csv
Labels: data-submission

#3064 2021-03-01-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-03-01-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3057 OliverWyman-Navigator submission for 2021-02-28
  data-processed/OliverWyman-Navigator/2021-02-28-OliverWyman-Navigator.csv
Labels: data-submission

#3052 AIpert-pwllnod Readded forecast for 2021-03-01
  data-processed/AIpert-pwllnod/2021-03-01-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3067 JHU CSSE 2/28 Predictions
  data-processed/JHU_CSSE-DECOM/2021-02-28-JHU_CSSE-DECOM.csv
Labels: data-submission

#3069 UCF Weekly Update
  data-processed/UCF-AEM/2021-02-28-UCF-AEM.csv
Labels: data-submission

#3070 2021-03-01 Epiforecasts epiforecasts-ensemble1
  data-processed/epiforecasts-ensemble1/2021-03-01-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3071 Google_Harvard-CPF 2021-02-28 forecast
  data-processed/Google_Harvard-CPF/2021-02-28-Google_Harvard-CPF.csv
Labels: data-submission

#3073 2021-02-28 MB
  data-processed/UMass-MechBayes/2021-02-28-UMass-MechBayes.csv
Labels: data-submission

#3076 ew08 DeepCOVID
  data-processed/GT-DeepCOVID/2021-03-01-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3080 Mar01_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-03-01-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3082 JHUAPL-SLPHospEns 2021-03-01 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-03-01-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#3090 Update metadata-JHU_UNC_GAS-StatMechPool.txt
  data-processed/JHU_UNC_GAS-StatMechPool/metadata-JHU_UNC_GAS-StatMechPool.txt
Labels: metadata-change

#3092 Create 2021-03-06-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-03-06-GT_CHHS-COVID19.csv
Labels: automerge, data-submission

#3097 Columbia_UNC-SurvCon 2021-03-07 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-03-07-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3098 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-03-07-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3094 Add files via upload
  data-processed/TTU-squider/2021-03-07-TTU-squider.csv
Labels: automerge, data-submission

#3099 Geneva-DetGrowth Forecast Update - 2021-03-07
  data-processed/Geneva-DetGrowth/2021-03-07-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3100 Added new forecasts (2021-03-07)
  data-processed/MIT_CritData-GBCF/2021-03-07-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3101 Latest forecast.
  data-processed/JHUAPL-Gecko/2021-03-08-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3093 Adding 0228 forecasting
  data-processed/WalmartLabsML-LogForecasting/2021-03-07-WalmartLabsML-LogForecasting.csv
Labels: automerge, data-submission

#3102 2021-03-08 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-03-08-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3095 Add files via upload
  data-processed/BPagano-RtDriven/2021-03-07-BPagano-RtDriven.csv
Labels: automerge, data-submission, other-files-updated

#3107 UChicagoCHATTOPADHYAY-UnIT 2021-03-07 forecast
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-03-07-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#3109 2021-03-08-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-03-08-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3106 mobs 0308
  data-processed/MOBS-GLEAM_COVID/2021-03-08-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3111 Microsoft March 8th Forecasting results
  data-processed/Microsoft-DeepSTIA/2021-03-08-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3115 adding 2021-03-08 SigSci-TS forecast
  data-processed/SigSci-TS/2021-03-08-SigSci-TS.csv
Labels: automerge, data-submission

#3117 UA-EpiCovDA forecasts 2021-03-07
  data-processed/UA-EpiCovDA/2021-03-07-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3120 PSI-DRAFT weekly submission - 08Mar2021
  data-processed/PSI-DRAFT/2021-03-08-PSI-DRAFT.csv
Labels: automerge, data-submission

#3123 Create 2021-03-08-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-03-08-QJHong-Encounter.csv
Labels: automerge, data-submission

#3124 OliverWyman-Navigator submission for 2021-03-07
  data-processed/OliverWyman-Navigator/2021-03-07-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3125 Update Caltech CS156 Predictions
  data-processed/Caltech-CS156/2021-03-07-Caltech-CS156.csv
Labels: automerge, data-submission

#3126 AIpert-pwllnod Forecast update for 2021-03-08
  data-processed/AIpert-pwllnod/2021-03-08-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3121 Upload 2021-03-07 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-03-07-Karlen-pypm.csv
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: metadata-change

#3128 2021-03-08 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-03-08-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3113 2021-03-08-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-03-08-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3130 Steve McConnell - CovidComplete - Forecasts for 2021-03-08
  data-processed/SteveMcConnell-CovidComplete/2021-03-08-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3132 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-03-07-UCF-AEM.csv
Labels: automerge, data-submission

#3133 MIT Update 0308
  data-processed/CovidAnalytics-DELPHI/2021-03-08-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3137 JHU CSSE 3/7 Predictions
  data-processed/JHU_CSSE-DECOM/2021-03-07-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3143 ew09 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-03-08-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3144 Updating forecasts for NotreDame-FRED team
  data-processed/NotreDame-FRED/2021-03-08-NotreDame-FRED.csv
Labels: automerge, data-submission

#3122 DDS-NBDS 2021-03-08 forecast
  data-processed/DDS-NBDS/2021-03-08-DDS-NBDS.csv
Labels: automerge, data-submission

#3131 Google_Harvard-CPF 2021-03-08 forecast
  data-processed/Google_Harvard-CPF/2021-03-08-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#3134 New
  data-processed/RPI_UW-Mob_Collision/2021-03-07-RPI_UW-Mob_Collision.csv
Labels: automerge, data-submission

#3135 2021-03-07 MB
  data-processed/UMass-MechBayes/2021-03-07-UMass-MechBayes.csv
Labels: automerge, data-submission

#3136 2021-03-08-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-03-08-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3138 add forecasts for march 08 CMU-TimeSeries
  data-processed/CMU-TimeSeries/2021-03-08-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3142 Added UMich predictions for 2021-03-08.
  data-processed/UMich-RidgeTfReg/2021-03-08-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3148 Prediction for 03-07-2021 for JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-03-07-JHU_UNC_GAS-StatMechPool.csv
Labels: automerge, data-submission

#3145 Steve McConnell - CovidComplete - Updates to Forecasts for 2021-03-08
  data-processed/SteveMcConnell-CovidComplete/2021-03-08-SteveMcConnell-CovidComplete.csv
Labels: data-submission, forecast-updated

#3088 Extend to 24 weeks on x-axis
  visualization/vis-master/scripts/parse-season.js
Labels: viz

#3155 JHUAPL-SLPHospEns 2021-03-08 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-03-08-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#3150 Mar8_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-03-08-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3162 Create 2021-03-13-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-03-13-GT_CHHS-COVID19.csv
Labels: automerge, data-submission

#3164 Add files via upload
  data-processed/TTU-squider/2021-03-14-TTU-squider.csv
Labels: automerge, data-submission

#3165 Columbia_UNC-SurvCon 2021-03-14 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-03-14-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3167 Pi day forecast.
  data-processed/JHUAPL-Gecko/2021-03-14-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3172 Added new forecasts (2021-03-15)
  data-processed/MIT_CritData-GBCF/2021-03-14-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3173 2021-03-15 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-03-15-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3170 Geneva-DetGrowth Forecast Update - 2021-03-14
  data-processed/Geneva-DetGrowth/2021-03-14-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3169 Adding 03-14 forecasts
  data-processed/WalmartLabsML-LogForecasting/2021-03-14-WalmartLabsML-LogForecasting.csv
Labels: automerge, data-submission

#3174 OliverWyman-Navigator submission for 2021-03-14
  data-processed/OliverWyman-Navigator/2021-03-14-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3177 adding 2021-03-15 SigSci-TS forecast
  data-processed/SigSci-TS/2021-03-15-SigSci-TS.csv
Labels: automerge, data-submission

#3182 Create 2021-03-15-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-03-15-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3183 Microsoft March 15th Forecasting
  data-processed/Microsoft-DeepSTIA/2021-03-15-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3184 PSI-DRAFT weekly submission 15-Mar-2021
  data-processed/PSI-DRAFT/2021-03-15-PSI-DRAFT.csv
Labels: automerge, data-submission

#3175 mobs 0315
  data-processed/MOBS-GLEAM_COVID/2021-03-15-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3181 MITCovAlliance predictions 3/14
  data-processed/MITCovAlliance-SIR/2021-03-14-MITCovAlliance-SIR.csv
Labels: automerge, data-submission

#3185 2021-03-15-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-03-15-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3189 Steve McConnell - CovidComplete - Forecasts for 2021-03-15
  data-processed/SteveMcConnell-CovidComplete/2021-03-15-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3190 Create 2021-03-15-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-03-15-QJHong-Encounter.csv
Labels: automerge, data-submission

#3193 Upload 2021-03-14 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-03-14-Karlen-pypm.csv
Labels: automerge, data-submission

#3195 Update Caltech CS156 Predictions
  data-processed/Caltech-CS156/2021-03-14-Caltech-CS156.csv
Labels: automerge, data-submission

#3194 DDS-NBDS 2021-03-15 forecast
  data-processed/DDS-NBDS/2021-03-15-DDS-NBDS.csv
Labels: automerge, data-submission

#3196 UChicagoCHATTOPADHYAY-UnIT 2021-03-14 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-03-14-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#3186 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-03-14-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3201 2021-03-15-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-03-15-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3202 AIpert-pwllnod Forecast update for 2021-03-15
  data-processed/AIpert-pwllnod/2021-03-15-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3221 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-03-14-UCF-AEM.csv
Labels: automerge, data-submission

#3222 2021-03-15 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-03-15-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3204 ew10 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-03-15-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3209 MIT Update 0315
  data-processed/CovidAnalytics-DELPHI/2021-03-15-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3211 JHU CSSE 3/14 Predictions
  data-processed/JHU_CSSE-DECOM/2021-03-14-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3207 Add CMU-TimeSeries forecasts for March 15, county cases, state deaths
  data-processed/CMU-TimeSeries/2021-03-15-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3210 2021-03-15-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-03-15-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3212 Added UMich data for 2021-03-15.
  data-processed/UMich-RidgeTfReg/2021-03-15-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3213 2021-03-14 MB
  data-processed/UMass-MechBayes/2021-03-14-UMass-MechBayes.csv
Labels: automerge, data-submission

#3219 March 15
  data-processed/RPI_UW-Mob_Collision/2021-03-14-RPI_UW-Mob_Collision.csv
Labels: automerge, data-submission

#3218 Google_Harvard-CPF 2021-03-14 forecast
  data-processed/Google_Harvard-CPF/2021-03-14-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#3198 OliverWyman-Navigator submission for 2021-03-14
  data-processed/OliverWyman-Navigator/2021-03-14-OliverWyman-Navigator.csv
Labels: data-submission, forecast-updated

#3225 Mar15_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-03-15-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3224 Update predictions for UCLA-SuEIR 2021-03-14
  data-processed/UCLA-SuEIR/2021-03-14-UCLA-SuEIR.csv
Labels: data-submission

#3227 HkPrMobiDyR Adding new forecasting made at 03/16/2021 00:00:00
  data-processed/IUPUI-HkPrMobiDyR/2021-03-15-IUPUI-HkPrMobiDyR.csv
  data-processed/IUPUI-HkPrMobiDyR/metadata-IUPUI-HkPrMobiDyR.txt
Labels: metadata-change

#3229 JHUAPL-SLPHospEns 2021-03-15 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-03-15-JHUAPL-SLPHospEns.csv
Labels: data-submission

#3241 Create 2021-03-20-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-03-20-GT_CHHS-COVID19.csv
Labels: automerge, data-submission

#3251 Columbia_UNC-SurvCon 2021-03-21 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-03-21-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3249 Add files via upload
  data-processed/RPI_UW-Mob_Collision/2021-03-21-RPI_UW-Mob_Collision.csv
Labels: automerge, data-submission

#3254 Upload 2021-03-21 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-03-21-Karlen-pypm.csv
Labels: automerge, data-submission

#3252 Add files via upload
  data-processed/BPagano-RtDriven/2021-03-21-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3247 Add files via upload
  data-processed/TTU-squider/2021-03-21-TTU-squider.csv
Labels: automerge, data-submission

#3256 Added new forecasts (2021-03-21)
  data-processed/MIT_CritData-GBCF/2021-03-21-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3259 2021-03-22 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-03-22-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3260 March 22 forecast.
  data-processed/JHUAPL-Gecko/2021-03-22-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3265 Microsoft March 22nd forecasting
  data-processed/Microsoft-DeepSTIA/2021-03-22-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3267 adding 2021-03-22 SigSci-TS forecast
  data-processed/SigSci-TS/2021-03-22-SigSci-TS.csv
Labels: automerge, data-submission

#3261 Prediction for 03-21 WalmartLabs-LogForecasting
  data-processed/WalmartLabsML-LogForecasting/2021-03-21-WalmartLabsML-LogForecasting.csv
Labels: automerge, data-submission

#3257 Prediction for 03-21-2021 for JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-03-21-JHU_UNC_GAS-StatMechPool.csv
Labels: automerge, data-submission

#3270 OliverWyman-Navigator submission for 2021-03-21
  data-processed/OliverWyman-Navigator/2021-03-21-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3272 Update predictions for UCLA-SuEIR 2021-03-21
  data-processed/UCLA-SuEIR/2021-03-21-UCLA-SuEIR.csv
Labels: automerge, data-submission

#3273 2021-03-22 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-03-22-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3262 mobs 0322
  data-processed/MOBS-GLEAM_COVID/2021-03-22-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3269 2021-03-22-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-03-22-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3271 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-03-21-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3276 UT forecast for 2021-03-22
  data-processed/UT-Mobility/2021-03-22-UT-Mobility.csv
Labels: automerge, data-submission

#3277 Steve McConnell - CovidComplete - Forecasts for 2021-03-22
  data-processed/SteveMcConnell-CovidComplete/2021-03-22-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3282 Update Caltech CS156 Predictions
  data-processed/Caltech-CS156/2021-03-21-Caltech-CS156.csv
Labels: automerge, data-submission

#3284 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-03-21-UCF-AEM.csv
Labels: automerge, data-submission

#3285 Create 2021-03-22-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-03-22-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3287 UA-EpiCovDA forecasts 2021-03-21
  data-processed/UA-EpiCovDA/2021-03-21-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3280 DDS-NBDS 2021-03-22 forecast
  data-processed/DDS-NBDS/2021-03-22-DDS-NBDS.csv
Labels: automerge, data-submission

#3279 UChicagoCHATTOPADHYAY UnIT 2021-03-21 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-03-21-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#3278 Added UMich predictions for 2021-03-22.
  data-processed/UMich-RidgeTfReg/2021-03-22-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3275 MITCovAlliance predictions 3/22
  data-processed/MITCovAlliance-SIR/2021-03-22-MITCovAlliance-SIR.csv
Labels: automerge, data-submission

#3289 Geneva-DetGrowth Forecast Update - 2021-03-21
  data-processed/Geneva-DetGrowth/2021-03-21-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3290 JHU CSSE 3/21 Predictions
  data-processed/JHU_CSSE-DECOM/2021-03-21-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3291 MIT Update 0322
  data-processed/CovidAnalytics-DELPHI/2021-03-22-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3292 Forecast update for 2021-03-22
  data-processed/AIpert-pwllnod/2021-03-22-AIpert-pwllnod.csv
Labels: automerge, data-submission
