Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-08, with the labels that each got.

#4442 Update metadata-SteveMcConnell-CovidComplete.txt
  data-processed/SteveMcConnell-CovidComplete/metadata-SteveMcConnell-CovidComplete.txt
Labels: metadata-change

#4446 Add files via upload
  data-processed/TTU-squider/2021-08-01-TTU-squider.csv
Labels: automerge, data-submission

#4448 JHUAPL, GECKO. Updated forecasts.
  data-processed/JHUAPL-Gecko/2021-08-01-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#4455 2021-08-02 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-08-02-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4456 Upload 2021-08-01 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-08-01-Karlen-pypm.csv
Labels: automerge, data-submission

#4457 Added MIT-CriticalData new forecasts (2021-08-01)
  data-processed/MIT_CritData-GBCF/2021-08-01-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#4454 Added UMich predictions for 2021-08-02.
  data-processed/UMich-RidgeTfReg/2021-08-02-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4453 2021-08-02-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-08-02-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#4452 Geneva-DetGrowth Forecast Update - 2021-08-01
  data-processed/Geneva-DetGrowth/2021-08-01-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#4451 mobs 0802
  data-processed/MOBS-GLEAM_COVID/2021-08-02-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4450 update UCLA-SuEIR 2021-08-01 forecasts
  data-processed/UCLA-SuEIR/2021-08-01-UCLA-SuEIR.csv
Labels: automerge, data-submission

#4449 2021-08-02-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-08-02-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4459 Upload 2021-08-01-Columbia_UNC-SurvCon.csv
  data-processed/Columbia_UNC-SurvCon/2021-08-01-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#4460 UA-EpiCovDA forecasts 2021-08-01
  data-processed/UA-EpiCovDA/2021-08-01-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4463 2021-08-02-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-08-02-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#4464 2021-08-02 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-08-02-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#4468 Steve McConnell - Covid Complete - Updates for 2021-08-02
  data-processed/SteveMcConnell-CovidComplete/2021-08-02-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4469 2021-08-02 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-08-02-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4445 Add files via upload
  data-processed/BPagano-RtDriven/2021-08-01-BPagano-RtDriven.csv
  data-processed/BPagano-RtDriven/metadata-BPagano-RtDriven.txt
Labels: metadata-change

#4466 Update forecast file_University of California Merced MESA Lab
  data-processed/UCM_MESALab-FoGSEIR/2021-08-01-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4470 Microsoft 20210802 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-08-02-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4471 2021-08-01 MB
  data-processed/UMass-MechBayes/2021-08-01-UMass-MechBayes.csv
Labels: automerge, data-submission

#4472 Steve McConnell -CovidComplete - 2021-08-02's forecasts updated to include Sunday night's data
  data-processed/SteveMcConnell-CovidComplete/2021-08-02-SteveMcConnell-CovidComplete.csv
Labels: data-submission, forecast-updated, retractions

#4474 PSI-DRAFT weekly submission - 02 Aug 2021
  data-processed/PSI-DRAFT/2021-08-02-PSI-DRAFT.csv
Labels: automerge, data-submission

#4475 Pull request: FRBSF_Wilson, Econometric
  data-processed/FRBSF_Wilson-Econometric/2021-08-02-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4478 Create 2021-08-02-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-08-02-QJHong-Encounter.csv
Labels: automerge, data-submission

#4479 AIpert-pwllnod Forecast update for 2021-08-02
  data-processed/AIpert-pwllnod/2021-08-02-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4480 MIT DELPHI Update 0802
  data-processed/CovidAnalytics-DELPHI/2021-08-02-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#4481 JHU_CSSE-DECOM 8/1 Predictions
  data-processed/JHU_CSSE-DECOM/2021-08-01-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4483 ew30 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-08-02-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4482 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-08-01-UCF-AEM.csv
Labels: automerge, data-submission

#4485 Create 2021-08-02-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-08-02-MIT-Cassandra.csv
Labels: automerge, data-submission

#4487 HKUST-DNN 210802 forecast
  data-processed/HKUST-DNN/2021-08-02-HKUST-DNN.csv
Labels: automerge, data-submission

#4489 Add KITmetricslab-select_ensemble for 2021-08-02
  data-processed/KITmetricslab-select_ensemble/2021-08-02-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#4490 DDS-NBDS 2021-08-02 forecast
  data-processed/DDS-NBDS/2021-08-02-DDS-NBDS.csv
Labels: automerge, data-submission

#4491 JHUAPL-SLPHospEns 2021-08-02 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-08-02-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#4496 BPagano-RtDriven, add files via upload
  data-processed/BPagano-RtDriven/2021-08-08-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4499 Upload 2021-08-08-Columbia_UNC-SurvCon.csv
  data-processed/Columbia_UNC-SurvCon/2021-08-08-Columbia_UNC-SurvCon.csv
Labels: data-submission, automerge

#4506 JHUAPL GECKO Updated forecasts 8/8.
  data-processed/JHUAPL-Gecko/2021-08-08-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4508 Added new forecasts (2021-08-08)
  data-processed/MIT_CritData-GBCF/2021-08-08-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#4495 Add files via upload
  data-processed/TTU-squider/2021-08-08-TTU-squider.csv
Labels: data-submission, automerge

#4503 Geneva-DetGrowth Forecast Update - 2021-08-08
  data-processed/Geneva-DetGrowth/2021-08-08-Geneva-DetGrowth.csv
Labels: data-submission, automerge

#4504 mobs 0809
  data-processed/MOBS-GLEAM_COVID/2021-08-09-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#4505 2021-08-09-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-08-09-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#4511 2021-08-09 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-08-09-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#4512 Create 2021-08-09-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-08-09-MIT-Cassandra.csv
Labels: data-submission, automerge

#4514 2021-08-09 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-08-09-MUNI-ARIMA.csv
Labels: data-submission, automerge

#4515 Update forecast file 8/8/2021
  data-processed/UCM_MESALab-FoGSEIR/2021-08-08-UCM_MESALab-FoGSEIR.csv
Labels: data-submission, automerge

#4516 Microsoft 20210809 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-08-09-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#4517 UChicagoCHATTOPADHYAY UnIT 2021-08-08 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-08-08-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#4502 2021-08-09-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-08-09-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#4519 JHU_CSSE-DECOM 8/8 Predictions
  data-processed/JHU_CSSE-DECOM/2021-08-08-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#4520 Upload 2021-08-08 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-08-08-Karlen-pypm.csv
Labels: data-submission, automerge

#4522 FRBSF_Wilson-Econometric file upload, 8/9/2021
  data-processed/FRBSF_Wilson-Econometric/2021-08-09-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#4524 2021-08-08 MB
  data-processed/UMass-MechBayes/2021-08-08-UMass-MechBayes.csv
Labels: data-submission, automerge

#4526 2021-08-09-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-08-09-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#4527 UA-EpiCovDA forecasts 2021-08-08
  data-processed/UA-EpiCovDA/2021-08-08-UA-EpiCovDA.csv
Labels: data-submission, automerge

#4528 Create 2021-08-09-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-08-09-QJHong-Encounter.csv
Labels: data-submission, automerge

#4529 2021-08-09 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-08-09-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#4530 DDS-NBDS 2021-08-09 forecast
  data-processed/DDS-NBDS/2021-08-09-DDS-NBDS.csv
Labels: data-submission, automerge

#4531 Weekly UCF-AEM Forecast
  data-processed/UCF-AEM/2021-08-08-UCF-AEM.csv
Labels: data-submission, automerge

#4532 PSI-DRAFT weekly submission - 9 Aug 2021
  data-processed/PSI-DRAFT/2021-08-09-PSI-DRAFT.csv
Labels: data-submission, automerge

#4534 Steve McConnell - CovidComplete - Forecasts for 2021-08-09
  data-processed/SteveMcConnell-CovidComplete/2021-08-09-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#4536 ew31 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-08-09-GT-DeepCOVID.csv
Labels: data-submission, automerge

#4537 AIpert-pwllnod Forecast update for 2021-08-09
  data-processed/AIpert-pwllnod/2021-08-09-AIpert-pwllnod.csv
Labels: data-submission, automerge

#4540 HKUST-DNN 210809 forecast
  data-processed/HKUST-DNN/2021-08-09-HKUST-DNN.csv
Labels: data-submission, automerge

#4541 MIT Covidanalytics Update
  data-processed/CovidAnalytics-DELPHI/2021-08-09-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#4545 JHUAPL-SLPHospEns 2021-08-09 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-08-09-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#4546 Team: FDANIHASU SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-08-09-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#4544 Add KITmetricslab-select_ensemble for 2021-08-09
  data-processed/KITmetricslab-select_ensemble/2021-08-09-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#4554 AIpert-pwllnod Forecast update for 2021-08-15
  data-processed/AIpert-pwllnod/2021-08-15-AIpert-pwllnod.csv
Labels: data-submission, automerge

#4569 2021-08-16 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-08-16-MUNI-ARIMA.csv
Labels: data-submission, automerge

#4568 JHUAPL GECKO - Updated forecast.
  data-processed/JHUAPL-Gecko/2021-08-15-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4567 Geneva-DetGrowth Forecast Update - 2021-08-15
  data-processed/Geneva-DetGrowth/2021-08-15-Geneva-DetGrowth.csv
Labels: data-submission, automerge

#4566 Update forecast file 8/15/2021
  data-processed/UCM_MESALab-FoGSEIR/2021-08-15-UCM_MESALab-FoGSEIR.csv
Labels: automerge

#4565 HKUST-DNN 210816 forecast
  data-processed/HKUST-DNN/2021-08-16-HKUST-DNN.csv
Labels: data-submission, automerge

#4564 2021-08-16-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-08-16-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#4563 Upload 2021-08-15 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-08-15-Karlen-pypm.csv
Labels: data-submission, automerge

#4561 UChicagoCHATTOPADHYAY UnIT 2021-08-15 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-08-15-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#4560 Upload 2021-08-15-Columbia_UNC-SurvCon.csv
  data-processed/Columbia_UNC-SurvCon/2021-08-15-Columbia_UNC-SurvCon.csv
Labels: data-submission, automerge

#4558 Create 2021-08-15-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-08-15-QJHong-Encounter.csv
Labels: data-submission, automerge

#4557 BPagano-RtDriven - Add files via upload
  data-processed/BPagano-RtDriven/2021-08-15-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4555 Add files via upload
  data-processed/TTU-squider/2021-08-15-TTU-squider.csv
Labels: data-submission, automerge

#4571 mobs 0816
  data-processed/MOBS-GLEAM_COVID/2021-08-16-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#4570 2021-08-16-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-08-16-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#4573 2021-08-16 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-08-16-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#4575 2021-08-15-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-08-15-UMass-MechBayes.csv
Labels: data-submission, automerge

#4579 2021-08-16-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-08-16-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#4580 Added UMich predictions for 2021-08-16.
  data-processed/UMich-RidgeTfReg/2021-08-16-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#4581 UA-EpiCovDA forecasts 2021-08-15
  data-processed/UA-EpiCovDA/2021-08-15-UA-EpiCovDA.csv
Labels: data-submission, automerge

#4582 Steve McConnell - CovidComplete - Forecasts for 2021-08-16
  data-processed/SteveMcConnell-CovidComplete/2021-08-16-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#4583 Create 2021-08-16-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-08-16-MIT-Cassandra.csv
Labels: data-submission, automerge

#4585 MIT CovidAnalytics Update 0816
  data-processed/CovidAnalytics-DELPHI/2021-08-16-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#4584 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-08-15-UCF-AEM.csv
Labels: data-submission, automerge

#4588 ew32 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-08-16-GT-DeepCOVID.csv
Labels: data-submission, automerge

#4590 PSI-DRAFT weekly submission - 16 Aug 2021
  data-processed/PSI-DRAFT/2021-08-16-PSI-DRAFT.csv
Labels: data-submission, automerge

#4591 JHU-CSSE_DECOM 8/15 Predictions
  data-processed/JHU_CSSE-DECOM/2021-08-15-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#4586 DDS-NBDS 2021-08-16 forecaset
  data-processed/DDS-NBDS/2021-08-16-DDS-NBDS.csv
Labels: data-submission, automerge

#4593 2021-08-16 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-08-16-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#4600 Add KITmetricslab-select_ensemble for 2021-08-16
  data-processed/KITmetricslab-select_ensemble/2021-08-16-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#4601 Microsoft 20210816 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-08-16-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#4598 USF-STPM
  data-processed/USF-STPM/2021-08-16-USF-STPM.csv
  data-processed/USF-STPM/metadata-USF-STPM.txt
Labels: new-team-submission, metadata-change

#4612 Add files via upload
  data-processed/TTU-squider/2021-08-22-TTU-squider.csv
Labels: data-submission, automerge

#4611 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-08-22-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4613 UChicagoCHATTOPADHYAY-UnIT 2021-08-22 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-08-22-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#4614 Create 2021-08-22-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-08-22-QJHong-Encounter.csv
Labels: data-submission, automerge

#4615 JHUAPL-GECKO Forecast update.
  data-processed/JHUAPL-Gecko/2021-08-22-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4618 Upload 2021-08-22 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-08-22-Karlen-pypm.csv
Labels: data-submission, automerge

#4619 HKUST-DNN 210823 forecast
  data-processed/HKUST-DNN/2021-08-23-HKUST-DNN.csv
Labels: data-submission, automerge

#4623 2021-08-23 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-08-23-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#4620 Geneva-DetGrowth Forecast Update - 2021-08-22
  data-processed/Geneva-DetGrowth/2021-08-22-Geneva-DetGrowth.csv
Labels: data-submission, automerge

#4621 Added UMich predictions for 2021-08-23.
  data-processed/UMich-RidgeTfReg/2021-08-23-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#4622 mobs 0823
  data-processed/MOBS-GLEAM_COVID/2021-08-23-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#4627 MIT_CritData-GBCF: Adding new forecasts (2021-08-22)
  data-processed/MIT_CritData-GBCF/2021-08-22-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#4624 2021-08-23-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-08-23-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#4631 2021-08-23-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-08-23-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#4629 2021-08-23-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-08-23-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#4634 2021-08-23-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-08-23-MUNI-ARIMA.csv
Labels: data-submission, automerge

#4635 Microsoft 20210823 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-08-23-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#4636 UA-EpiCovDA forecasts 2021-08-22
  data-processed/UA-EpiCovDA/2021-08-22-UA-EpiCovDA.csv
Labels: data-submission, automerge

#4633 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-08-22-UCF-AEM.csv
Labels: data-submission, automerge

#4592 FRBSF_Wilson - Econometric: file upload, 8/16/2021
  data-processed/FRBSF_Wilson-Econometric/2021-08-23-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#4638 JHU_IDD CovidSP 2021-08-22 submission
  data-processed/JHU_IDD-CovidSP/2021-08-22-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge

#4640 2021-08-22-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-08-22-UMass-MechBayes.csv
Labels: data-submission, automerge

#4641 JHU_CSSE-DECOM 8/22 Predictions
  data-processed/JHU_CSSE-DECOM/2021-08-22-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#4642 MIT CovidAnalytics Update 20210823
  data-processed/CovidAnalytics-DELPHI/2021-08-23-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#4639 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-08-22-UCM_MESALab-FoGSEIR.csv
Labels: data-submission, automerge

#4645 Steve McConnell - CovidComplete - Forecasts for 2021-08-23
  data-processed/SteveMcConnell-CovidComplete/2021-08-23-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#4643 Google_Harvard-CPF 2021-08-23 forecast
  data-processed/Google_Harvard-CPF/2021-08-23-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#4648 PSI-DRAFT weekly submission - 23 Aug 2021
  data-processed/PSI-DRAFT/2021-08-23-PSI-DRAFT.csv
Labels: data-submission, automerge

#4649 ew33
  data-processed/GT-DeepCOVID/2021-08-23-GT-DeepCOVID.csv
Labels: data-submission, automerge

#4651 AIpert-pwllnod Forecast update for 2021-08-23
  data-processed/AIpert-pwllnod/2021-08-23-AIpert-pwllnod.csv
Labels: data-submission, automerge

#4650 DDS-NBDS 2021-08-23 forecast
  data-processed/DDS-NBDS/2021-08-23-DDS-NBDS.csv
Labels: data-submission, automerge

#4655 Create 2021-08-23-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-08-23-MIT-Cassandra.csv
Labels: data-submission, automerge

#4658 Add KITmetricslab-select_ensemble for 2021-08-23
  data-processed/KITmetricslab-select_ensemble/2021-08-23-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#4608 Revamp: better Zoltar connection mechanism + failure catching
  code/reports/all-states-weekly-report.Rmd
  code/reports/render_reports.R
  code/reports/weekly-report.Rmd
Labels: weekly-report, code

#4659 2021-08-23 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-08-23-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#4661 JHUAPL-SLPHospEns 2021-08-23 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-08-23-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#4672 UChicagoCHATTOPADHYAY UnIT 2021-08-29 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-08-29-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#4674 UA-EpiCovDA forecasts 2021-08-29
  data-processed/UA-EpiCovDA/2021-08-29-UA-EpiCovDA.csv
Labels: data-submission, automerge

#4675 Upload 2021-08-29 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-08-29-Karlen-pypm.csv
Labels: data-submission, automerge

#4676 JHUAPL - GECKO Updated Forecasts.
  data-processed/JHUAPL-Gecko/2021-08-29-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4677 Create new file 2021-08-29-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-08-29-QJHong-Encounter.csv
Labels: data-submission, automerge

#4679 HKUST-DNN 210830 forecast
  data-processed/HKUST-DNN/2021-08-30-HKUST-DNN.csv
Labels: data-submission, automerge

#4682 2021-08-30 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-08-30-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#4683 Added MIT-CriticalData new forecasts (2021-08-29)
  data-processed/MIT_CritData-GBCF/2021-08-29-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#4669 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-08-29-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4670 Add files via upload
  data-processed/TTU-squider/2021-08-29-TTU-squider.csv
Labels: data-submission, automerge

#4680 Geneva-DetGrowth Forecast Update - 2021-08-29
  data-processed/Geneva-DetGrowth/2021-08-29-Geneva-DetGrowth.csv
Labels: data-submission, automerge

#4684 2021-08-30-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-08-30-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge
