Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-05, with the labels that each got.

#3668 Columbia_UNC-SurvCon 2021-05-02 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-05-02-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3674 Upload 2021-05-02 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-05-02-Karlen-pypm.csv
Labels: automerge, data-submission

#3675 UChicagoCHATTOPADHYAY UnIT 2021-05-02 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-05-02-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#3676 Update Predictions for UCLA-SuEIR 05-02
  data-processed/UCLA-SuEIR/2021-05-02-UCLA-SuEIR.csv
Labels: automerge, data-submission

#3678 Added new forecasts (2021-05-02)
  data-processed/MIT_CritData-GBCF/2021-05-02-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3679 Forecast update.
  data-processed/JHUAPL-Gecko/2021-05-02-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3681 2021-05-03 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-05-03-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3682 OliverWyman-Navigator submission for 2021-05-02
  data-processed/OliverWyman-Navigator/2021-05-02-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3685 mobs 0503
  data-processed/MOBS-GLEAM_COVID/2021-05-02-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3691 2021-05-03-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-05-03-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3692 Steve McConnell - CovidComplete - Forecasts for 2021-05-03
  data-processed/SteveMcConnell-CovidComplete/2021-05-03-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3667 Add files via upload
  data-processed/TTU-squider/2021-05-02-TTU-squider.csv
Labels: automerge, data-submission

#3670 Add files via upload
  data-processed/BPagano-RtDriven/2021-05-02-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3677 Geneva-DetGrowth Forecast Update - 2021-05-02
  data-processed/Geneva-DetGrowth/2021-05-02-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3683 Upload 2021-05-02 for JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-05-02-JHU_UNC_GAS-StatMechPool.csv
Labels: automerge, data-submission

#3688 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-05-02-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3689 2021-05-03-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-05-03-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3693 Create 2021-05-03-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-05-03-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3695 UA-EpiCovDA forecasts 2021-05-02
  data-processed/UA-EpiCovDA/2021-05-02-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3697 Create 2021-05-03-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-05-03-MIT-Cassandra.csv
Labels: automerge, data-submission

#3694 2021-05-02 MB
  data-processed/UMass-MechBayes/2021-05-02-UMass-MechBayes.csv
Labels: automerge, data-submission

#3704 2021-05-03 epiforecasts
  data-processed/epiforecasts-ensemble1/2021-05-03-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3705 UCF Weekly Update
  data-processed/UCF-AEM/2021-05-02-UCF-AEM.csv
Labels: automerge, data-submission

#3707 PSI-DRAFT weekly submission, 3 May 2021
  data-processed/PSI-DRAFT/2021-05-03-PSI-DRAFT.csv
Labels: automerge, data-submission

#3708 ew17 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-05-03-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3710 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-05-03-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#3706 DDS-NBDS 2021-05-03 forecast
  data-processed/DDS-NBDS/2021-05-03-DDS-NBDS.csv
Labels: automerge, data-submission

#3703 Added UMich predictions for 2021-05-03.
  data-processed/UMich-RidgeTfReg/2021-05-03-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3690 May 3rd Microsoft Forecasting
  data-processed/Microsoft-DeepSTIA/2021-05-03-Microsoft-DeepSTIA.csv
Labels: data-submission

#3712 AIpert-pwllnod Forecast update for 2021-05-03
  data-processed/AIpert-pwllnod/2021-05-03-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3715 MIT Update 0503
  data-processed/CovidAnalytics-DELPHI/2021-05-03-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3711 Add CMU-TimeSeries forecasts for 2021-05-03: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-05-03-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3713 Google_Harvard-CPF 2021-05-03 forecast
  data-processed/Google_Harvard-CPF/2021-05-03-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#3716 2021-05-02-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-05-02-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3717 JHU CSSE 5/2 Predictions
  data-processed/JHU_CSSE-DECOM/2021-05-02-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3721 Add KITmetricslab-select_ensemble for 2021-05-03
  data-processed/KITmetricslab-select_ensemble/2021-05-03-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#3722 May 3, 2021 FDANIHASU SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-05-03-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3724 JHUAPL-SLPHospEns 2021-05-03 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-05-03-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#3725 BUG FIX: OliverWyman-Navigator correcting forecasts for Missouri and US national last two weeks.
  data-processed/OliverWyman-Navigator/2021-04-25-OliverWyman-Navigator.csv
  data-processed/OliverWyman-Navigator/2021-05-02-OliverWyman-Navigator.csv
Labels: data-submission, forecast-retraction, forecast-updated

#3726 bug fixes for MIT-Cassandra
  data-processed/MIT-Cassandra/2021-04-26-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-05-03-MIT-Cassandra.csv
Labels: data-submission, forecast-updated

#3737 Add files via upload
  data-processed/TTU-squider/2021-05-09-TTU-squider.csv
Labels: automerge, data-submission

#3736 Add files via upload
  data-processed/BPagano-RtDriven/2021-05-09-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3743 Columbia_UNC-SurvCon 2021-05-09 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-05-09-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3742 Geneva-DetGrowth Forecast Update - 2021-05-09
  data-processed/Geneva-DetGrowth/2021-05-09-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3744 Added new forecasts (2021-05-09)
  data-processed/MIT_CritData-GBCF/2021-05-09-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3745 mobs 0510
  data-processed/MOBS-GLEAM_COVID/2021-05-10-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3746 2021-05-10 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-05-10-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3747 added may 9 forecast.
  data-processed/JHUAPL-Gecko/2021-05-09-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3752 2021-05-10-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-05-10-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3754 Steve McConnell - CovidComplete - Forecast Updates for 2021-05-10
  data-processed/SteveMcConnell-CovidComplete/2021-05-10-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3757 OliverWyman-Navigator submission for 2021-05-09
  data-processed/OliverWyman-Navigator/2021-05-09-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3755 2021-05-10-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-05-10-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3753 Update forecast flie
  data-processed/UCM_MESALab-FoGSEIR/2021-05-09-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3761 UA-EpiCovDA forecasts 2021-05-09
  data-processed/UA-EpiCovDA/2021-05-09-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3762 Update predictions for UCLA-SuEIR 2021-05-09
  data-processed/UCLA-SuEIR/2021-05-09-UCLA-SuEIR.csv
Labels: automerge, data-submission

#3760 2021-05-09 MB
  data-processed/UMass-MechBayes/2021-05-09-UMass-MechBayes.csv
Labels: automerge, data-submission

#3772 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-05-10-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#3777 Create 2021-05-10-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-05-10-MIT-Cassandra.csv
Labels: automerge, data-submission

#3778 JHU CSSE 5/9 Predictions
  data-processed/JHU_CSSE-DECOM/2021-05-09-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3781 ew18 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-05-10-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3782 Added UMich predictions for 2021-05-10.
  data-processed/UMich-RidgeTfReg/2021-05-10-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3780 Google_Harvard-CPF 2021-05-10 forecast
  data-processed/Google_Harvard-CPF/2021-05-10-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#3775 Add CMU-TimeSeries forecasts for 2021-05-10: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-05-10-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3773 DDS-NBDS 2021-05-10 forecast
  data-processed/DDS-NBDS/2021-05-10-DDS-NBDS.csv
Labels: automerge, data-submission

#3783 2021-05-10 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-05-10-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/metadata-MUNI-ARIMA.txt
Labels: metadata-change, new-team-submission

#3784 AIpert-pwllnod Forecast update for 2021-05-10
  data-processed/AIpert-pwllnod/2021-05-10-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3787 Add KITmetricslab-select_ensemble for 2021-05-10
  data-processed/KITmetricslab-select_ensemble/2021-05-10-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#3788 May10_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-05-10-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3789 update metadata for COVIDhub-trained_ensemble
  data-processed/COVIDhub-trained_ensemble/metadata-COVIDhub-trained_ensemble.txt
Labels: metadata-change

#3801 Columbia_UNC-SurvCon 2021-05-16 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-05-16-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3803 Upload 2021-05-16 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-05-16-Karlen-pypm.csv
Labels: automerge, data-submission

#3805 5/16 forecast.
  data-processed/JHUAPL-Gecko/2021-05-16-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3809 mobs 0517
  data-processed/MOBS-GLEAM_COVID/2021-05-17-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3808 Added new forecasts (2021-05-16)
  data-processed/MIT_CritData-GBCF/2021-05-16-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3807 Geneva-DetGrowth Forecast Update - 2021-05-16
  data-processed/Geneva-DetGrowth/2021-05-16-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3799 Add files via upload
  data-processed/TTU-squider/2021-05-16-TTU-squider.csv
Labels: automerge, data-submission

#3810 2021-05-17 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-05-17-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3798 Upload forecast 2021-05-16
  data-processed/BPagano-RtDriven/2021-05-16-BPagano-RtDriven.csv
Labels: automerge, data-submission, other-files-updated

#3814 OliverWyman-Navigator submission for 2021-05-16
  data-processed/OliverWyman-Navigator/2021-05-16-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3816 2021-05-17-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-05-17-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3813 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-05-16-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3811 UChicagoCHATTOPADHYAY-UnIT 2021-05-16 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-05-16-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#3817 2021-05-17 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-05-17-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3819 Create 2021-05-17-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-05-17-IBF-TimeSeries.csv
Labels: automerge, data-submission

#3823 UA-EpiCovDA forecasts 2021-05-16
  data-processed/UA-EpiCovDA/2021-05-16-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3818 2021-05-17-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-05-17-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3820 2021-05-16 MB
  data-processed/UMass-MechBayes/2021-05-16-UMass-MechBayes.csv
Labels: automerge, data-submission

#3825 Microsoft May 17th Forecast
  data-processed/Microsoft-DeepSTIA/2021-05-17-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3829 PSI-DRAFT weekly submission: 17 May 2021
  data-processed/PSI-DRAFT/2021-05-17-PSI-DRAFT.csv
Labels: automerge, data-submission

#3824 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-05-16-UCF-AEM.csv
Labels: automerge, data-submission

#3831 DDS-NBDS 2021-05-17 forecast
  data-processed/DDS-NBDS/2021-05-17-DDS-NBDS.csv
Labels: automerge, data-submission

#3834 2021-05-17 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-05-17-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/metadata-MUNI-ARIMA.txt
Labels: metadata-change

#3836 Added UMich data for 2021-05-17.
  data-processed/UMich-RidgeTfReg/2021-05-17-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3838 2021-05-17-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-05-17-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3839 AIpert-pwllnod Forecast update for 2021-05-17
  data-processed/AIpert-pwllnod/2021-05-17-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3842 MIT Update 0517
  data-processed/CovidAnalytics-DELPHI/2021-05-17-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3843 ew19 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-05-17-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3844 JHU CSSE 5/16 Predictions
  data-processed/JHU_CSSE-DECOM/2021-05-16-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3845 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-05-17-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#3840 Google_Harvard-CPF 2021-05-16 forecast
  data-processed/Google_Harvard-CPF/2021-05-16-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#3841 Add CMU-TimeSeries forecasts for 2021-05-17: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-05-17-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3846 Create 2021-05-17-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-05-17-MIT-Cassandra.csv
Labels: automerge, data-submission

#3850 May17_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-05-17-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3851 Add KITmetricslab-select_ensemble for 2021-05-17
  data-processed/KITmetricslab-select_ensemble/2021-05-17-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#3852 JHUAPL-SLPHospEns 2021-05-17 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-05-17-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#3853 Hkprmobidyr
  data-processed/IUPUI-HkPrMobiDyR/2021-05-17-IUPUI-HkPrMobiDyR.csv
Labels: automerge, data-submission

#3862 Upload 2021-05-23 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-05-23-Karlen-pypm.csv
Labels: automerge, data-submission

#3865 2021-05-24 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-05-24-MUNI-ARIMA.csv
Labels: automerge, data-submission

#3866 update forecasts.
  data-processed/JHUAPL-Gecko/2021-05-23-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3867 Added new forecasts (2021-05-23)
  data-processed/MIT_CritData-GBCF/2021-05-23-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3869 2021-05-24 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-05-24-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3859 Add files via upload
  data-processed/BPagano-RtDriven/2021-05-23-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3860 Add files via upload
  data-processed/TTU-squider/2021-05-23-TTU-squider.csv
Labels: automerge, data-submission

#3864 Geneva-DetGrowth Forecast Update - 2021-05-23
  data-processed/Geneva-DetGrowth/2021-05-23-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3868 mobs 0524
  data-processed/MOBS-GLEAM_COVID/2021-05-24-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#3873 Microsoft 5/24/2021 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-05-24-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#3872 2021-05-23 MB
  data-processed/UMass-MechBayes/2021-05-23-UMass-MechBayes.csv
Labels: automerge, data-submission

#3874 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-05-23-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#3875 2021-05-24-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-05-24-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#3878 OliverWyman-Navigator submission for 2021-05-23
  data-processed/OliverWyman-Navigator/2021-05-23-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3879 UA-EpiCovDA forecasts 2021-05-23
  data-processed/UA-EpiCovDA/2021-05-23-UA-EpiCovDA.csv
Labels: automerge, data-submission

#3882 Steve McConnell - CovidComplete - Forecasts for 2021-05-24
  data-processed/SteveMcConnell-CovidComplete/2021-05-24-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#3883 2021-05-24 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-05-24-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#3884 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-05-23-UCF-AEM.csv
Labels: automerge, data-submission

#3886 PSI-DRAFT weekly submission - 24 May 2021
  data-processed/PSI-DRAFT/2021-05-24-PSI-DRAFT.csv
Labels: automerge, data-submission

#3887 2021-05-24-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-05-24-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#3889 DDS-NBDS 2021-05-24 forecast
  data-processed/DDS-NBDS/2021-05-24-DDS-NBDS.csv
Labels: automerge, data-submission

#3890 JHU CSSE 5/23 Predictions
  data-processed/JHU_CSSE-DECOM/2021-05-23-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#3892 MIT Update 0524
  data-processed/CovidAnalytics-DELPHI/2021-05-24-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#3896 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-05-24-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#3897 ew20 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-05-24-GT-DeepCOVID.csv
Labels: automerge, data-submission

#3898 Add CMU-TimeSeries forecasts for 2021-05-24: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-05-24-CMU-TimeSeries.csv
Labels: automerge, data-submission

#3900 Create 2021-05-24-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-05-24-MIT-Cassandra.csv
Labels: automerge, data-submission

#3899 AIpert-pwllnod Forecast update for 2021-05-24
  data-processed/AIpert-pwllnod/2021-05-24-AIpert-pwllnod.csv
Labels: automerge, data-submission

#3901 Added UMich predictions for 2021-05-24.
  data-processed/UMich-RidgeTfReg/2021-05-24-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#3902 2021-05-24-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-05-24-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#3911 May24_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-05-24-FDANIHASU-Sweight.csv
Labels: automerge, data-submission

#3907 Google_Harvard-CPF 2021-05-24 forecast
  data-processed/Google_Harvard-CPF/2021-05-24-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#3910 Add KITmetricslab-select_ensemble for 2021-05-24
  data-processed/KITmetricslab-select_ensemble/2021-05-24-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#3913 JHUAPL-SLPHospEns 2021-05-24 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-05-24-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#3928 Columbia_UNC-SurvCon 2021-05-30 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-05-30-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#3929 Forecast update 5/30 - GECKO JHUAPL
  data-processed/JHUAPL-Gecko/2021-05-30-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3930 Upload 2021-05-30 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-05-30-Karlen-pypm.csv
Labels: automerge, data-submission

#3932 OliverWyman-Navigator submission for 2021-05-30
  data-processed/OliverWyman-Navigator/2021-05-30-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3933 Added new forecasts (2021-05-30)
  data-processed/MIT_CritData-GBCF/2021-05-30-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3934 2021-05-31 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-05-31-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3931 Geneva-DetGrowth Forecast Update - 2021-05-30
  data-processed/Geneva-DetGrowth/2021-05-30-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3926 Add files via upload
  data-processed/TTU-squider/2021-05-30-TTU-squider.csv
Labels: automerge, data-submission

#3924 Add files via upload
  data-processed/BPagano-RtDriven/2021-05-30-BPagano-RtDriven.csv
  data-processed/BPagano-RtDriven/metadata-BPagano-RtDriven.txt
Labels: metadata-change

#3936 2021-05-31-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-05-31-IEM_MED-CovidProject.csv
Labels: automerge, data-submission
