Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-12, with the labels that each got.

#5518 JHUAPL-GECKO - New forecasts 12/5.
  data-processed/JHUAPL-Gecko/2021-12-05-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5516 Add files via upload
  data-processed/TTU-squider/2021-12-05-TTU-squider.csv
Labels: data-submission, automerge

#5520 Create 2021-12-05-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-12-05-QJHong-Encounter.csv
Labels: data-submission, automerge

#5522 LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-12-05-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#5523 HKUST-DNN 211206 forecast
  data-processed/HKUST-DNN/2021-12-06-HKUST-DNN.csv
Labels: data-submission, automerge

#5515 BPagano-RtDriven, Add files via uploaded
  data-processed/BPagano-RtDriven/2021-12-05-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5527 2021-12-06 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-12-06-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5528 Added new forecasts (2021-12-05)
  data-processed/MIT_CritData-GBCF/2021-12-05-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5529 adding MechBayes 2021-12-05
  data-processed/UMass-MechBayes/2021-12-05-UMass-MechBayes.csv
Labels: data-submission, automerge

#5530 Create 2021-12-06-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-12-06-MIT-Cassandra.csv
Labels: data-submission, automerge

#5531 Microsoft 12/6/2021 Model data
  data-processed/Microsoft-DeepSTIA/2021-12-06-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5532 2021-12-06-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-12-06-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5535 FRBSF_Wilson, Econometric: 2021-12-06
  data-processed/FRBSF_Wilson-Econometric/2021-12-06-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5537 UT_GISAG_weekly update
  data-processed/UT_GISAG-SPDM/2021-12-06-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5538 PSI-DRAFT weekly submission - 06 Dec 2021
  data-processed/PSI-DRAFT/2021-12-06-PSI-DRAFT.csv
Labels: data-submission, automerge

#5540 Steve McConnell - CovidComplete - Forecasts for 2021-12-06
  data-processed/SteveMcConnell-CovidComplete/2021-12-06-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5542 ew48 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-12-06-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5543 2021-12-06 UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2021-12-06-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5544 JHU_CSSE-DECOM 2021-12-05 Predictions
  data-processed/JHU_CSSE-DECOM/2021-12-05-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5545 AIpert-pwllnod Forecast update for 2021-12-06
  data-processed/AIpert-pwllnod/2021-12-06-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5546 Google_Harvard-CPF 2021-12-05
  data-processed/Google_Harvard-CPF/2021-12-05-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#5539 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-12-05-UCF-AEM.csv
Labels: data-submission, automerge

#5534 2021-12-06-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-12-06-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5536 2021-12-06 MUNI
  data-processed/MUNI-ARIMA/2021-12-06-MUNI-ARIMA.csv
  data-processed/MUNI-VAR/2021-12-06-MUNI-VAR.csv
Labels: data-submission

#5549 MIT CovidAnalytics Update 20211206
  data-processed/CovidAnalytics-DELPHI/2021-12-06-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5551 2021-12-06 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-12-06-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5552 Upload 2021-12-05 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-12-05-Karlen-pypm.csv
Labels: data-submission, automerge

#5558 Add KITmetricslab-select_ensemble for 2021-12-06
  data-processed/KITmetricslab-select_ensemble/2021-12-06-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5560 JHUAPL-SLPHospEns 2021-12-06 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-12-06-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#5553 Update metadata-Karlen-pypm.txt
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: metadata-change

#5561 Dec 06, 2021, FDANIHASU, SWeight Ensemble Submission
  data-processed/FDANIHASU-Sweight/2021-12-06-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5563 take out duplicate key in metadata-Karlen-pypm.txt
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: metadata-change

#5567 COVID-19Predict: Merging forecast starting at 2021-12-12
  data-processed/CWRU-COVID_19Predict/2021-12-12-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#5569 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-12-12-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5571 JHUAPL-GECKO - Forecast update
  data-processed/JHUAPL-Gecko/2021-12-12-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5573 2021-12-12-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-12-12-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5570 Add files via upload
  data-processed/TTU-squider/2021-12-12-TTU-squider.csv
Labels: data-submission, automerge

#5574 LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-12-12-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#5579 Added new MIT-CriticalData forecasts (2021-12-12)
  data-processed/MIT_CritData-GBCF/2021-12-12-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5580 2021-12-13 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-12-13-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5581 HKUST-DNN 211213 forecast
  data-processed/HKUST-DNN/2021-12-13-HKUST-DNN.csv
Labels: data-submission, automerge

#5578 2021-12-13 MUNI
  data-processed/MUNI-ARIMA/2021-12-13-MUNI-ARIMA.csv
  data-processed/MUNI-VAR/2021-12-13-MUNI-VAR.csv
Labels: data-submission

#5582 UChicagoCHATTOPADHYAY UnIT 2021-12-12 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-12-12-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#5584 adding UMass-MechBayes 2021-12-12
  data-processed/UMass-MechBayes/2021-12-12-UMass-MechBayes.csv
Labels: data-submission, automerge

#5585 Create 2021-12-13-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-12-13-QJHong-Encounter.csv
Labels: data-submission, automerge

#5586 ew49 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-12-13-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5588 2021-12-13-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-12-13-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5587 2021-12-13-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-12-13-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5589 Added 12/13 Weekly Predictions UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2021-12-13-UMich-RidgeTfReg.csv
  data-processed/UMich-RidgeTfReg/metadata-UMich-RidgeTfReg.txt
Labels: data-submission, metadata-change

#5591 Create 2021-12-13-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-12-13-MIT-Cassandra.csv
Labels: data-submission, automerge

#5592 FRBSF_Wilson, Econometric: 2021-12-13
  data-processed/FRBSF_Wilson-Econometric/2021-12-13-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5593 Steve McConnell - CovidComplete - Forecasts for 2021-12-13
  data-processed/SteveMcConnell-CovidComplete/2021-12-13-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5594 JHU_CSSE-DECOM 2021-12-12 Predictions
  data-processed/JHU_CSSE-DECOM/2021-12-12-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5595 2021-12-13 Microsoft Model Data
  data-processed/Microsoft-DeepSTIA/2021-12-13-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5599 Update MD forecasts for 2021-12-12-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-12-12-UMass-MechBayes.csv
Labels: data-submission, forecast-retraction

#5601 Google_Harvard-CPF 2021-12-12
  data-processed/Google_Harvard-CPF/2021-12-12-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#5602 AIpert-pwllnod Forecast update for 2021-12-13
  data-processed/AIpert-pwllnod/2021-12-13-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5603 MIT CovidAnalytics 20211213
  data-processed/CovidAnalytics-DELPHI/2021-12-13-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5605 2021-12-13 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-12-13-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5609 UT_GISAG_weekly update
  data-processed/UT_GISAG-SPDM/2021-12-13-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5610 Add KITmetricslab-select_ensemble for 2021-12-13
  data-processed/KITmetricslab-select_ensemble/2021-12-13-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5613 Dec13 2021 FDANIHASU SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-12-13-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5614 JHUAPL-SLPHospEns 2021-12-13 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-12-13-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#5618 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-12-19-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5620 AIpert-pwllnod Forecast update for 2021-12-19
  data-processed/AIpert-pwllnod/2021-12-19-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5619 Add files via upload
  data-processed/TTU-squider/2021-12-19-TTU-squider.csv
Labels: data-submission, automerge

#5621 2021-12-19-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-12-19-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5624 LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-12-19-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#5627 HKUST-DNN 211220 forecast
  data-processed/HKUST-DNN/2021-12-20-HKUST-DNN.csv
Labels: data-submission, automerge

#5628 SDSC_ISG-TrendModel Forecast Update - 2021-12-19
  data-processed/SDSC_ISG-TrendModel/2021-12-19-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#5626 2021-12-20-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-12-20-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5629 2021-12-20-MUNI
  data-processed/MUNI-ARIMA/2021-12-20-MUNI-ARIMA.csv
  data-processed/MUNI-VAR/2021-12-20-MUNI-VAR.csv
Labels: data-submission

#5632 UChicagoCHATTOPADHYAY UnIT 2021-12-19 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-12-19-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#5634 mobs 1220
  data-processed/MOBS-GLEAM_COVID/2021-12-20-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5635 2021-12-20 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-12-20-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5636 Microsoft 12/20/2021 Model data
  data-processed/Microsoft-DeepSTIA/2021-12-20-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5638 FRBSF_Wilson, Econometric: 2021-12-20
  data-processed/FRBSF_Wilson-Econometric/2021-12-20-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5639 Added 12/20/2021 Weekly Prediction - UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2021-12-20-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5641 ew50 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-12-20-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5642 Create 2021-12-20-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-12-20-QJHong-Encounter.csv
Labels: data-submission, automerge

#5640 2021-12-20-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-12-20-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5637 DDS-NBDS 2021-12-20 forecast
  data-processed/DDS-NBDS/2021-12-20-DDS-NBDS.csv
Labels: data-submission, automerge

#5645 JHU_CSSE-DECOM Predictions 2021-12-19
  data-processed/JHU_CSSE-DECOM/2021-12-19-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5646 Create 2021-12-20-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-12-20-MIT-Cassandra.csv
Labels: data-submission, automerge

#5650 2021-12-19-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-12-19-UMass-MechBayes.csv
Labels: data-submission, automerge

#5651 weekly update_UT_GISAG
  data-processed/UT_GISAG-SPDM/2021-12-20-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5653 MIT CovidAnalytics 12202021
  data-processed/CovidAnalytics-DELPHI/2021-12-20-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5655 PSI-DRAFT weekly submission - 20 Dec 2021
  data-processed/PSI-DRAFT/2021-12-20-PSI-DRAFT.csv
Labels: data-submission, automerge

#5656 2021-12-19-Google_Harvard-CPF
  data-processed/Google_Harvard-CPF/2021-12-19-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#5657 2021-12-20 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-12-20-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5659 2021-12-19 - JBUD submission
  data-processed/JBUD-HMXK/2021-12-19-JBUD-HMXK.csv
Labels: data-submission, automerge

#5658 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-12-19-UCF-AEM.csv
Labels: data-submission, automerge

#5663 fix incorrect submission for 2021-12-19-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-12-19-UMass-MechBayes.csv
Labels: data-submission, forecast-retraction

#5664 Add KITmetricslab-select_ensemble for 2021-12-20
  data-processed/KITmetricslab-select_ensemble/2021-12-20-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5665 JHUAPL-SLPHospEns 2021-12-20 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-12-20-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#5668 Dec20, 2021 FDANIHASU SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-12-20-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5673 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-12-26-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5676 Create 2021-12-26-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-12-26-QJHong-Encounter.csv
Labels: data-submission, automerge

#5677 JHUAPL-GECKO - 12/26 forecasts.
  data-processed/JHUAPL-Gecko/2021-12-26-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5680 HKUST-DNN 211227 forecast
  data-processed/HKUST-DNN/2021-12-27-HKUST-DNN.csv
Labels: data-submission, automerge

#5683 Added new MIT-CriticalData forecasts (2021-12-26)
  data-processed/MIT_CritData-GBCF/2021-12-26-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5674 Add files via upload
  data-processed/TTU-squider/2021-12-26-TTU-squider.csv
Labels: data-submission, automerge

#5679 SDSC_ISG-TrendModel Forecast Update - 2021-12-26
  data-processed/SDSC_ISG-TrendModel/2021-12-26-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#5685 2021-12-27 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-12-27-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5681 2021-12-27-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-12-27-MUNI-ARIMA.csv
Labels: data-submission, automerge

#5686 2021-12-27-MUNI-VAR
  data-processed/MUNI-VAR/2021-12-27-MUNI-VAR.csv
Labels: data-submission, automerge

#5687 UChicagoCHATTOPADHYAY UnIT 2021-12-26 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-12-26-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#5690 2021-12-27 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-12-27-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5688 mobs 1227
  data-processed/MOBS-GLEAM_COVID/2021-12-27-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5691 2021-12-27-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-12-27-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5694 LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-12-26-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#5697 PSI-DRAFT weekly submission - 27 Dec 2021
  data-processed/PSI-DRAFT/2021-12-27-PSI-DRAFT.csv
Labels: data-submission, automerge

#5698 FRBSF_Wilson, Econometric: 2021-12-27
  data-processed/FRBSF_Wilson-Econometric/2021-12-27-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5700 2021-12-27-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-12-27-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5701 adding BPagano-RtDriven file for 2021-12-27
  data-processed/BPagano-RtDriven/2021-12-27-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5699 2021-12-27-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-12-27-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5703 Added UMich predictions for 12/27/2021 UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2021-12-27-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5705 Microsoft 2021-12-27- Model Update
  data-processed/Microsoft-DeepSTIA/2021-12-27-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5706 Steve McConnell - CovidComplete - Forecasts for 2021-12-27
  data-processed/SteveMcConnell-CovidComplete/2021-12-27-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5702 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-12-26-UCF-AEM.csv
Labels: data-submission, automerge

#5704 DDS-NBDS 2021-12-27 forecast
  data-processed/DDS-NBDS/2021-12-27-DDS-NBDS.csv
Labels: data-submission, automerge

#5707 2021-12-26-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-12-26-UMass-MechBayes.csv
Labels: data-submission, automerge

#5708 UT_GISAG_weekly update
  data-processed/UT_GISAG-SPDM/2021-12-27-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5709 ew51 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-12-27-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5710 JHU CSSE-DECOM 12/26 Predictions
  data-processed/JHU_CSSE-DECOM/2021-12-26-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5711 Create 2021-12-27-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-12-27-MIT-Cassandra.csv
Labels: data-submission, automerge

#5715 2021-12-26 - JBUD submission
  data-processed/JBUD-HMXK/2021-12-26-JBUD-HMXK.csv
Labels: data-submission, automerge

#5716 Add KITmetricslab-select_ensemble for 2021-12-27
  data-processed/KITmetricslab-select_ensemble/2021-12-27-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5717 Create 2021-12-27-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2021-12-27-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#5718 Dec27 2021 FDANIHASU SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-12-27-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5720 JHUAPL-SLPHospEns 2021-12-27 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-12-27-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge
