Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-06, with the labels that each got.

#3912 UChicagoCHATTOPADHYAY-UnIT 2021-05-23 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-05-23-UChicagoCHATTOPADHYAY-UnIT.csv
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-05-30-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission

#3971 Add KITmetricslab-select_ensemble for 2021-05-31
  data-processed/KITmetricslab-select_ensemble/2021-05-31-KITmetricslab-select_ensemble.csv
Labels: data-submission

#3974 JHUAPL-SLPHospEns 2021-05-31 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-05-31-JHUAPL-SLPHospEns.csv
Labels: data-submission

#3991 Upload 2021-06-06 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-06-06-Karlen-pypm.csv
Labels: automerge, data-submission

#3993 Added new forecasts (2021-06-06)
  data-processed/MIT_CritData-GBCF/2021-06-06-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#3987 Add files via upload
  data-processed/TTU-squider/2021-06-06-TTU-squider.csv
Labels: automerge, data-submission

#3988 Add files via upload
  data-processed/BPagano-RtDriven/2021-06-06-BPagano-RtDriven.csv
Labels: automerge, data-submission

#3992 Geneva-DetGrowth Forecast Update - 2021-06-06
  data-processed/Geneva-DetGrowth/2021-06-06-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#3994 6/6 Forecast update.
  data-processed/JHUAPL-Gecko/2021-06-06-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#3996 OliverWyman-Navigator submission for 2021-06-06
  data-processed/OliverWyman-Navigator/2021-06-06-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#3997 2021-06-07 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-06-07-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#3998 mobs 0607
  data-processed/MOBS-GLEAM_COVID/2021-06-07-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4000 2021-06-07 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-06-07-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4001 2021-06-06 UChicagoCHATTOPADHYAY UnIT forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-06-06-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#4003 Microsoft-DeepSTIA Forecasts 2021-06-07
  data-processed/Microsoft-DeepSTIA/2021-06-07-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4004 Steve McConnell - CovidComplete - Forecasts for 2021-06-07
  data-processed/SteveMcConnell-CovidComplete/2021-06-07-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4005 2021-06-07 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-06-07-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4009 UA-EpiCovDA forecasts 2021-06-06
  data-processed/UA-EpiCovDA/2021-06-06-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4013 2021-06-07-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-06-07-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4010 2021-06-07-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-06-07-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#4016 2021-06-07-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-06-07-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#4022 PSI-DRAFT weekly submission - 07 June 2021
  data-processed/PSI-DRAFT/2021-06-07-PSI-DRAFT.csv
Labels: automerge, data-submission

#4023 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-06-07-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4014 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-06-06-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4015 2021-06-06 MB
  data-processed/UMass-MechBayes/2021-06-06-UMass-MechBayes.csv
Labels: automerge, data-submission

#4017 Add UCLA-SuEIR 2021-06-06 prediction
  data-processed/UCLA-SuEIR/2021-06-06-UCLA-SuEIR.csv
Labels: automerge, data-submission

#4020 2021-06-07-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-06-07-IEM_MED-CovidProject.csv
Labels: data-submission, forecast-updated

#4027 JHU CSSE 6/6 Predictions
  data-processed/JHU_CSSE-DECOM/2021-06-06-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4029 Create 2021-06-07-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-06-07-MIT-Cassandra.csv
Labels: automerge, data-submission

#4028 Added UMich predictions for 2021-06-07
  data-processed/UMich-RidgeTfReg/2021-06-07-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4026 DDS-NBDS 2021-06-07 forecast
  data-processed/DDS-NBDS/2021-06-07-DDS-NBDS.csv
Labels: automerge, data-submission

#4032 AIpert-pwllnod Forecast update for 2021-06-07
  data-processed/AIpert-pwllnod/2021-06-07-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4033 ew22 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-06-07-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4030 Google_Harvard-CPF 2021-06-06 forecast
  data-processed/Google_Harvard-CPF/2021-06-06-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#4031 Add CMU-TimeSeries forecasts for 2021-06-07: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-06-07-CMU-TimeSeries.csv
Labels: automerge, data-submission

#4036 JHUAPL-SLPHospEns 2021-06-07 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-06-07-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#4035 Add KITmetricslab-select_ensemble for 2021-06-07
  data-processed/KITmetricslab-select_ensemble/2021-06-07-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#4042 Update metadata-USC-SI_kJalpha.txt
  data-processed/USC-SI_kJalpha/metadata-USC-SI_kJalpha.txt
Labels: metadata-change

#4055 Forecast update.
  data-processed/JHUAPL-Gecko/2021-06-13-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#4056 2021-06-14 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-06-14-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4057 Added new forecasts (2021-06-13)
  data-processed/MIT_CritData-GBCF/2021-06-13-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#4045 Add files via upload
  data-processed/BPagano-RtDriven/2021-06-13-BPagano-RtDriven.csv
Labels: automerge, data-submission

#4048 Add files via upload
  data-processed/TTU-squider/2021-06-13-TTU-squider.csv
Labels: automerge, data-submission

#4051 add UCLA-SuEIR 2021-06-13 forecasts
  data-processed/UCLA-SuEIR/2021-06-13-UCLA-SuEIR.csv
Labels: automerge, data-submission

#4053 Upload 2021-06-13 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-06-13-Karlen-pypm.csv
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: metadata-change

#4054 Geneva-DetGrowth Forecast Update - 2021-06-13
  data-processed/Geneva-DetGrowth/2021-06-13-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#4047 Add HKUST-DNN 2021-06-14 forecast and metadata
  data-processed/HKUST-DNN/2021-06-14-HKUST-DNN.csv
  data-processed/HKUST-DNN/metadata-HKUST-DNN.txt
Labels: metadata-change, new-team-submission

#4059 2021-06-14 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-06-14-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#4061 2021-06-14-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-06-14-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#4062 Microsoft June 14th forecast
  data-processed/Microsoft-DeepSTIA/2021-06-14-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4063 UA-EpiCovDA forecasts 2021-06-13
  data-processed/UA-EpiCovDA/2021-06-13-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4060 mobs 0614
  data-processed/MOBS-GLEAM_COVID/2021-06-14-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4065 2021-06-14-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-06-14-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4068 PSI-DRAFT weekly submission - 14 Jun 2021
  data-processed/PSI-DRAFT/2021-06-14-PSI-DRAFT.csv
Labels: automerge, data-submission

#4069 Steve McConnell - CovidComplete - Forecasts for 2021-06-14
  data-processed/SteveMcConnell-CovidComplete/2021-06-14-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4070 2021-06-07-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-06-14-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#4073 2021-06-13 MB
  data-processed/UMass-MechBayes/2021-06-13-UMass-MechBayes.csv
Labels: automerge, data-submission

#4074 MIT Update 0614
  data-processed/CovidAnalytics-DELPHI/2021-06-14-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#4075 JHU CSSE 6/13 Predictions
  data-processed/JHU_CSSE-DECOM/2021-06-13-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4071 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-06-13-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4076 UCF Weekly Forecast
  data-processed/UCF-AEM/2021-06-13-UCF-AEM.csv
Labels: automerge, data-submission

#4077 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-06-14-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4079 2021-06-14 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-06-14-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4082 Create 2021-06-14-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-06-14-MIT-Cassandra.csv
Labels: automerge, data-submission

#4083 OliverWyman-Navigator submission for 2021-06-13
  data-processed/OliverWyman-Navigator/2021-06-13-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#4080 Add CMU-TimeSeries forecasts for 2021-06-14: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-06-14-CMU-TimeSeries.csv
Labels: automerge, data-submission

#4081 Google_Harvard-CPF 2021-06-13 forecast
  data-processed/Google_Harvard-CPF/2021-06-13-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#4085 ew23 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-06-14-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4087 AIpert-pwllnod Forecast update for 2021-06-14
  data-processed/AIpert-pwllnod/2021-06-14-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4088 Added UMich predictions for 2021-06-14.
  data-processed/UMich-RidgeTfReg/2021-06-14-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4094 Add KITmetricslab-select_ensemble for 2021-06-14
  data-processed/KITmetricslab-select_ensemble/2021-06-14-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#4095 JHUAPL-SLPHospEns 2021-06-14 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-06-14-JHUAPL-SLPHospEns.csv
Labels: automerge, data-submission

#4107 Columbia_UNC-SurvCon 2021-06-20 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-06-20-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#4110 Upload HKUST-DNN forecast
  data-processed/HKUST-DNN/2021-06-21-HKUST-DNN.csv
Labels: automerge, data-submission

#4111 Added new forecasts (2021-06-20)
  data-processed/MIT_CritData-GBCF/2021-06-20-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#4112 Updated forecasts 6-20.
  data-processed/JHUAPL-Gecko/2021-06-20-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#4114 UChicagoCHATTOPADHYAY-UnIT 2021-06-20 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-06-20-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#4113 mobs 0621
  data-processed/MOBS-GLEAM_COVID/2021-06-21-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4109 Geneva-DetGrowth Forecast Update - 2021-06-20
  data-processed/Geneva-DetGrowth/2021-06-20-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#4105 Add files via upload
  data-processed/TTU-squider/2021-06-20-TTU-squider.csv
Labels: automerge, data-submission

#4104 Add files via upload
  data-processed/BPagano-RtDriven/2021-06-20-BPagano-RtDriven.csv
Labels: automerge, data-submission

#4116 2021-06-21 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-06-21-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4117 2021-06-21 forecasts for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-06-21-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#4120 UA-EpiCovDA forecasts 2021-06-20
  data-processed/UA-EpiCovDA/2021-06-20-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4121 Microsoft June 21st Forecast
  data-processed/Microsoft-DeepSTIA/2021-06-21-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4123 2021-06-21-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-06-21-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#4126 Upload 2021-06-20 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-06-20-Karlen-pypm.csv
Labels: automerge, data-submission

#4125 Steve McConnell - CovidComplete - Forecasts for 2021-06-21
  data-processed/SteveMcConnell-CovidComplete/2021-06-21-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4128 2021-06-30 MB
  data-processed/UMass-MechBayes/2021-06-20-UMass-MechBayes.csv
Labels: automerge, data-submission

#4127 2021-06-21-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-06-21-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4131 2021-06-21 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-06-21-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4130 Add UCLA-SuEIR 2021-06-20 forecasts
  data-processed/UCLA-SuEIR/2021-06-20-UCLA-SuEIR.csv
Labels: automerge, data-submission

#4134 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-06-20-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4136 PSI-DRAFT weekly submission - 21 June 2021
  data-processed/PSI-DRAFT/2021-06-21-PSI-DRAFT.csv
Labels: automerge, data-submission

#4137 MIT Update 0621
  data-processed/CovidAnalytics-DELPHI/2021-06-21-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#4138 Add CMU-TimeSeries forecasts for 2021-06-21: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-06-21-CMU-TimeSeries.csv
Labels: automerge, data-submission

#4141 OliverWyman-Navigator submission for 2021-06-20
  data-processed/OliverWyman-Navigator/2021-06-20-OliverWyman-Navigator.csv
Labels: automerge, data-submission

#4142 DDS-NBDS 2021-06-21 forecast
  data-processed/DDS-NBDS/2021-06-21-DDS-NBDS.csv
Labels: automerge, data-submission

#4145 ew24 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-06-21-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4143 Create 2021-06-21-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-06-21-MIT-Cassandra.csv
Labels: automerge, data-submission

#4146 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-06-21-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4148 JHU CSSE 6/20 Predictions
  data-processed/JHU_CSSE-DECOM/2021-06-20-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4150 AIpert-pwllnod Forecast update for 2021-06-21
  data-processed/AIpert-pwllnod/2021-06-21-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4147 Added UMich predictions for 2021-06-21.
  data-processed/UMich-RidgeTfReg/2021-06-21-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4149 Google_Harvard-CPF 2021-06-20 forecast
  data-processed/Google_Harvard-CPF/2021-06-20-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#4155 Add KITmetricslab-select_ensemble for 2021-06-21
  data-processed/KITmetricslab-select_ensemble/2021-06-21-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission

#4152 add newlines at end of several model metadata files
  data-processed/BPagano-RtDriven/metadata-BPagano-RtDriven.txt
  data-processed/FDANIHASU-Sweight/metadata-FDANIHASU-Sweight.txt
  data-processed/HKUST-DNN/metadata-HKUST-DNN.txt
  data-processed/JHU_CSSE-DECOM/metadata-JHU_CSSE-DECOM.txt
  data-processed/PandemicCentral-COVIDForest/metadata-PandemicCentral-COVIDForest.txt
  data-processed/PandemicCentral-USCounty/metadata-PandemicCentral-USCounty.txt
  data-processed/SteveMcConnell-CovidComplete/metadata-SteveMcConnell-CovidComplete.txt
  data-processed/Wadhwani_AI-BayesOpt/metadata-Wadhwani_AI-BayesOpt.txt
Labels: metadata-change

#4154 PandemicCentral - COVIDForest: Added citation
  data-processed/PandemicCentral-COVIDForest/metadata-PandemicCentral-COVIDForest.txt
Labels: metadata-change

#4157 JHUAPL-SLPHospEns 2021-06-21 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-06-21-JHUAPL-SLPHospEns.csv
Labels: data-submission

#4160 OliverWyman-Navigator retracting last two weeks of deaths forecasts.
  data-processed/OliverWyman-Navigator/2021-06-13-OliverWyman-Navigator.csv
  data-processed/OliverWyman-Navigator/2021-06-20-OliverWyman-Navigator.csv
Labels: data-submission, forecast-updated, retractions

#4166 Columbia_UNC-SurvCon 2021-06-27 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-06-27-Columbia_UNC-SurvCon.csv
Labels: automerge, data-submission

#4167 UChicagoCHATTOPADHYAY-UnIT 2021-06-27 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-06-27-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: automerge, data-submission

#4169 Upload 2021-06-27 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-06-27-Karlen-pypm.csv
Labels: automerge, data-submission

#4164 Add files via upload
  data-processed/BPagano-RtDriven/2021-06-27-BPagano-RtDriven.csv
Labels: automerge, data-submission

#4165 Add files via upload
  data-processed/TTU-squider/2021-06-27-TTU-squider.csv
Labels: automerge, data-submission

#4172 HKUST-DNN 210628 forecast
  data-processed/HKUST-DNN/2021-06-28-HKUST-DNN.csv
Labels: automerge, data-submission

#4173 Added new forecasts (2021-06-27)
  data-processed/MIT_CritData-GBCF/2021-06-27-MIT_CritData-GBCF.csv
Labels: automerge, data-submission

#4171 Geneva-DetGrowth Forecast Update - 2021-06-27
  data-processed/Geneva-DetGrowth/2021-06-27-Geneva-DetGrowth.csv
Labels: automerge, data-submission

#4174 2021-06-28 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-06-28-MIT_ISOLAT-Mixtures.csv
Labels: automerge, data-submission

#4175 2021-06-28-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-06-28-UCSD_NEU-DeepGLEAM.csv
Labels: automerge, data-submission

#4176 mobs 0628
  data-processed/MOBS-GLEAM_COVID/2021-06-28-MOBS-GLEAM_COVID.csv
Labels: automerge, data-submission

#4178 2021-06-28-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-06-28-IEM_MED-CovidProject.csv
Labels: automerge, data-submission

#4179 UA-EpiCovDA forecasts 2021-06-27
  data-processed/UA-EpiCovDA/2021-06-27-UA-EpiCovDA.csv
Labels: automerge, data-submission

#4182 Microsoft June 28th Forecast
  data-processed/Microsoft-DeepSTIA/2021-06-28-Microsoft-DeepSTIA.csv
Labels: automerge, data-submission

#4183 2021-06-28-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-06-28-RobertWalraven-ESG.csv
Labels: automerge, data-submission

#4185 update forecast data/6/27/2021
  data-processed/UCM_MESALab-FoGSEIR/2021-06-27-UCM_MESALab-FoGSEIR.csv
Labels: automerge, data-submission

#4188 2021-06-26 MB
  data-processed/UMass-MechBayes/2021-06-27-UMass-MechBayes.csv
Labels: automerge, data-submission

#4186 PSI-DRAFT weekly submission - 28 June 2021
  data-processed/PSI-DRAFT/2021-06-28-PSI-DRAFT.csv
Labels: automerge, data-submission

#4189 Steve McConnell - CovidComplete - Forecasts for 2021-06-28
  data-processed/SteveMcConnell-CovidComplete/2021-06-28-SteveMcConnell-CovidComplete.csv
Labels: automerge, data-submission

#4190 JHU CSSE 6/27 Predictions
  data-processed/JHU_CSSE-DECOM/2021-06-27-JHU_CSSE-DECOM.csv
Labels: automerge, data-submission

#4191 Forecast update.
  data-processed/JHUAPL-Gecko/2021-06-27-JHUAPL-Gecko.csv
Labels: automerge, data-submission

#4192 2021-06-28 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-06-28-MUNI-ARIMA.csv
Labels: automerge, data-submission

#4193 Google_Harvard-CPF 2021-06-27 forecast
  data-processed/Google_Harvard-CPF/2021-06-27-Google_Harvard-CPF.csv
Labels: automerge, data-submission

#4195 Add files via upload
  data-processed/FRBSF_Wilson-Econometric/2021-06-28-FRBSF_Wilson-Econometric.csv
Labels: automerge, data-submission

#4201 MIT Update 0628
  data-processed/CovidAnalytics-DELPHI/2021-06-28-CovidAnalytics-DELPHI.csv
Labels: automerge, data-submission

#4202 2021-06-28 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-06-28-epiforecasts-ensemble1.csv
Labels: automerge, data-submission

#4203 ew25 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-06-28-GT-DeepCOVID.csv
Labels: automerge, data-submission

#4206 Create 2021-06-28-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-06-28-MIT-Cassandra.csv
Labels: automerge, data-submission

#4196 DDS-NBDS 2021-06-28 forecast
  data-processed/DDS-NBDS/2021-06-28-DDS-NBDS.csv
Labels: automerge, data-submission

#4199 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-06-27-UCF-AEM.csv
Labels: automerge, data-submission

#4200 Added UMich predictions for 2021-06-28.
  data-processed/UMich-RidgeTfReg/2021-06-28-UMich-RidgeTfReg.csv
Labels: automerge, data-submission

#4204 Add CMU-TimeSeries forecasts for 2021-06-28: county cases, state deaths
  data-processed/CMU-TimeSeries/2021-06-28-CMU-TimeSeries.csv
Labels: automerge, data-submission

#4207 AIpert-pwllnod Forecast update for 2021-06-28
  data-processed/AIpert-pwllnod/2021-06-28-AIpert-pwllnod.csv
Labels: automerge, data-submission

#4209 Add KITmetricslab-select_ensemble for 2021-06-28
  data-processed/KITmetricslab-select_ensemble/2021-06-28-KITmetricslab-select_ensemble.csv
Labels: automerge, data-submission
