Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-09, with the labels that each got.

#4724 UChicagoCHATTOPADHYAY UnIT 2021-09-05 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-09-05-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#4731 Upload 2021-09-05 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-09-05-Karlen-pypm.csv
Labels: data-submission, automerge

#4733 Create 2021-09-05-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-09-05-QJHong-Encounter.csv
Labels: data-submission, automerge

#4735 HKUST-DNN 210906 forecast
  data-processed/HKUST-DNN/2021-09-06-HKUST-DNN.csv
Labels: data-submission, automerge

#4726 Add files via upload
  data-processed/TTU-squider/2021-09-05-TTU-squider.csv
Labels: data-submission, automerge

#4727 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-09-05-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4730 Update forecast file 9/5/2021
  data-processed/UCM_MESALab-FoGSEIR/2021-09-05-UCM_MESALab-FoGSEIR.csv
Labels: data-submission, automerge

#4736 Geneva-DetGrowth Forecast Update - 2021-09-05
  data-processed/Geneva-DetGrowth/2021-09-05-Geneva-DetGrowth.csv
Labels: data-submission, automerge

#4737 add UCLA-SuEIR 2021-09-05 forecast
  data-processed/UCLA-SuEIR/2021-09-05-UCLA-SuEIR.csv
Labels: data-submission, automerge

#4738 Google_Harvard-CPF 09/05 forecast
  data-processed/Google_Harvard-CPF/2021-09-05-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#4739 Added MIT-CriticalData new forecasts (2021-09-05)
  data-processed/MIT_CritData-GBCF/2021-09-05-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#4740 Create 2021-09-06-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-09-06-MIT-Cassandra.csv
Labels: data-submission, automerge

#4741 2021-09-05-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-09-05-UMass-MechBayes.csv
Labels: data-submission, automerge

#4747 2021-09-06 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-09-06-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#4743 mobs 0906
  data-processed/MOBS-GLEAM_COVID/2021-09-06-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#4745 2021-09-06-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-09-06-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#4748 2021-09-06-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-09-06-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#4749 DDS-NBDS 2021-09-06 forecast
  data-processed/DDS-NBDS/2021-09-06-DDS-NBDS.csv
Labels: data-submission, automerge

#4755 2021-09-06 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-09-06-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#4756 2021-09-06 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-09-06-MUNI-ARIMA.csv
Labels: data-submission, automerge

#4757 PSI-DRAFT weekly submission - 06 Sep 2021
  data-processed/PSI-DRAFT/2021-09-06-PSI-DRAFT.csv
Labels: data-submission, automerge

#4760 Steve McConnell - CovidComplete - Forecasts for 2021-09-06
  data-processed/SteveMcConnell-CovidComplete/2021-09-06-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#4750 JHUAPL-GECKO Updated forecasts
  data-processed/JHUAPL-Gecko/2021-09-05-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4761 JHU IDD CovidSP forecast update 9/5
  data-processed/JHU_IDD-CovidSP/2021-09-05-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge

#4764 ew35 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-09-06-GT-DeepCOVID.csv
Labels: data-submission, automerge

#4765 UA-EpiCovDA forecasts 2021-09-06
  data-processed/UA-EpiCovDA/2021-09-06-UA-EpiCovDA.csv
Labels: data-submission, automerge

#4766 MIT CovidAnalytics Update 0906
  data-processed/CovidAnalytics-DELPHI/2021-09-06-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#4767 JHU_CSSE-DECOM 9/5 Predictions
  data-processed/JHU_CSSE-DECOM/2021-09-05-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#4758 2021-09-06-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-09-06-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#4763 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-09-05-UCF-AEM.csv
Labels: data-submission, automerge

#4769 Added UMich predictions for 2021-09-06.
  data-processed/UMich-RidgeTfReg/2021-09-06-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#4773 Microsoft 2021-09-06 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-09-06-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#4775 Add KITmetricslab-select_ensemble for 2021-09-06
  data-processed/KITmetricslab-select_ensemble/2021-09-06-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#4776 JHUAPL-SLPHospEns 2021-09-06 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-09-06-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#4754 Add SDSC_ISG-TrendModel
  data-processed/SDSC_ISG-TrendModel/2021-09-05-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/metadata-SDSC_ISG-TrendModel.txt
Labels: new-team-submission, metadata-change

#4777 Sep6_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-09-06-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#4780 Add files via upload
  data-processed/TTU-squider/2021-09-12-TTU-squider.csv
Labels: data-submission, automerge

#4781 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-09-12-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4784 JHUAPL-GECKO - Updated forecasts 9/12
  data-processed/JHUAPL-Gecko/2021-09-12-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4785 Create 2021-09-12-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-09-12-QJHong-Encounter.csv
Labels: data-submission, automerge

#4787 UChicagoCHATTOPADHYAY-UnIT 2021-09-12 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-09-12-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#4788 Upload 2021-09-12 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-09-12-Karlen-pypm.csv
Labels: data-submission, automerge

#4790 2021-09-13 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-09-13-MUNI-ARIMA.csv
Labels: data-submission, automerge

#4792 HKUST-DNN 210913 forecast
  data-processed/HKUST-DNN/2021-09-13-HKUST-DNN.csv
Labels: data-submission, automerge

#4789 2021-09-13-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-09-13-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#4793 Added new MIT-CriticalData forecasts (2021-09-21)
  data-processed/MIT_CritData-GBCF/2021-09-12-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#4794 2021-09-13-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-09-13-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#4791 SDSC_ISG-TrendModel Forecast Update - 2021-09-12
  data-processed/SDSC_ISG-TrendModel/2021-09-12-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#4796 2021-09-12-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-09-12-UMass-MechBayes.csv
Labels: data-submission, automerge

#4798 2021-09-13 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-09-13-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#4802 Microsoft 20210913 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-09-13-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#4804 UA-EpiCovDA forecasts 2021-09-13
  data-processed/UA-EpiCovDA/2021-09-13-UA-EpiCovDA.csv
Labels: data-submission, automerge

#4806 Create 2021-09-13-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-09-13-MIT-Cassandra.csv
Labels: data-submission, automerge

#4797 mobs 0913
  data-processed/MOBS-GLEAM_COVID/2021-09-13-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#4799 2021-09-13-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-09-13-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#4807 FRBSF_Wilson, Econometric: 2021-09-13
  data-processed/FRBSF_Wilson-Econometric/2021-09-13-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#4810 JHU_CSSE-DECOM 9/12 Predictions
  data-processed/JHU_CSSE-DECOM/2021-09-12-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#4812 PSI-DRAFT weekly submission - 13 Sep 2021
  data-processed/PSI-DRAFT/2021-09-13-PSI-DRAFT.csv
Labels: data-submission, automerge

#4808 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-09-12-UCF-AEM.csv
Labels: data-submission, automerge

#4813 MIT CovidAnalytics Update
  data-processed/CovidAnalytics-DELPHI/2021-09-13-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#4814 Steve McConnell - CovidComplete - Forecasts for 2021-09-13
  data-processed/SteveMcConnell-CovidComplete/2021-09-13-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#4815 AIpert-pwllnod Forecast update for 2021-09-13
  data-processed/AIpert-pwllnod/2021-09-13-AIpert-pwllnod.csv
Labels: data-submission, automerge

#4816 ew36 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-09-13-GT-DeepCOVID.csv
Labels: data-submission, automerge

#4818 2021-09-13-Google_Harvard-CPF
  data-processed/Google_Harvard-CPF/2021-09-13-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#4821 2021-09-13 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-09-13-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#4827 Add KITmetricslab-select_ensemble for 2021-09-13
  data-processed/KITmetricslab-select_ensemble/2021-09-13-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#4823 Add citation to DeepCOVID metadata
  data-processed/GT-DeepCOVID/metadata-GT-DeepCOVID.txt
Labels: metadata-change

#4822 PSI-DRAFT meta update
  data-processed/PSI-DRAFT/metadata-PSI-DRAFT.txt
Labels: metadata-change

#4828 Sep12_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-09-13-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#4829 JHUAPL-SLPHospEns 2021-09-13 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-09-13-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#4835 updating metadata for 4-week-ensemble to make designation other rather than secondary.
  data-processed/COVIDhub-4_week_ensemble/metadata-COVIDhub-4_week_ensemble.txt
Labels: metadata-change

#4837 Add files via upload
  data-processed/TTU-squider/2021-09-19-TTU-squider.csv
Labels: data-submission, automerge

#4838 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-09-19-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4841 UChicagoCHATTOPADHYAY UnIT 2021-09-19 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-09-19-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#4842 JHUAPL-GECKO - Updated forecasts.
  data-processed/JHUAPL-Gecko/2021-09-19-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4843 UA-EpiCovDA forecasts 2021-09-19
  data-processed/UA-EpiCovDA/2021-09-19-UA-EpiCovDA.csv
Labels: data-submission, automerge

#4844 Upload 2021-09-19 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-09-19-Karlen-pypm.csv
Labels: data-submission, automerge

#4845 Create 2021-09-19-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-09-19-QJHong-Encounter.csv
Labels: data-submission, automerge

#4846 HKUST-DNN 210920 forecast
  data-processed/HKUST-DNN/2021-09-20-HKUST-DNN.csv
Labels: data-submission, automerge

#4848 2021-09-20-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-09-20-MUNI-ARIMA.csv
Labels: data-submission, automerge

#4850 Added new MIT-CriticalData forecasts (2021-09-19)
  data-processed/MIT_CritData-GBCF/2021-09-19-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#4847 Add UCLA-SuEIR 2021-09-19 forecasts
  data-processed/UCLA-SuEIR/2021-09-19-UCLA-SuEIR.csv
Labels: data-submission, automerge

#4852 mobs 0920
  data-processed/MOBS-GLEAM_COVID/2021-09-20-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#4853 DDS-NBDS 2021-09-20 forecast
  data-processed/DDS-NBDS/2021-09-20-DDS-NBDS.csv
Labels: data-submission, automerge

#4854 2021-09-20 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-09-20-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#4855 SDSC_ISG-TrendModel Forecast Update - 2021-09-19
  data-processed/SDSC_ISG-TrendModel/2021-09-19-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#4859 2021-09-20-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-09-20-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#4856 Google_Harvard-CPF 2021-09-19
  data-processed/Google_Harvard-CPF/2021-09-19-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#4857 2021-09-20-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-09-20-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#4863 FRBSF_Wilson, Econometric: 2021-09-20
  data-processed/FRBSF_Wilson-Econometric/2021-09-20-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#4866 Create 2021-09-20-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-09-20-MIT-Cassandra.csv
Labels: data-submission, automerge

#4867 JHU_CSSE-DECOM 9/19 Predictions
  data-processed/JHU_CSSE-DECOM/2021-09-19-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#4869 ew37 DeepCoVID submission
  data-processed/GT-DeepCOVID/2021-09-20-GT-DeepCOVID.csv
Labels: data-submission, automerge

#4864 Added UMich predictions for 2021-09-20.
  data-processed/UMich-RidgeTfReg/2021-09-20-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#4865 2021-09-20-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-09-20-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#4870 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-09-19-UCF-AEM.csv
Labels: data-submission, automerge

#4871 PSI-DRAFT weekly submission - 20 Sep 2021
  data-processed/PSI-DRAFT/2021-09-20-PSI-DRAFT.csv
Labels: data-submission, automerge

#4872 2021-09-19-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-09-19-UMass-MechBayes.csv
Labels: data-submission, automerge

#4873 Microsoft 9/20/2021 Forecasting Data
  data-processed/Microsoft-DeepSTIA/2021-09-20-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#4875 Steve McConnell - CovidComplete - Updated forecasts for 2021-09-20
  data-processed/SteveMcConnell-CovidComplete/2021-09-20-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#4877 MIT CovidAnalytics Update
  data-processed/CovidAnalytics-DELPHI/2021-09-20-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#4881 2021-09-20 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-09-20-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#4884 Add KITmetricslab-select_ensemble for 2021-09-20
  data-processed/KITmetricslab-select_ensemble/2021-09-20-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#4885 JHUAPL-SLPHospEns 2021-09-20 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-09-20-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#4904 Sep19_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-09-20-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#4936 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-09-26-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4935 Add files via upload
  data-processed/TTU-squider/2021-09-26-TTU-squider.csv
Labels: data-submission, automerge

#4938 Upload 2021-09-26 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-09-26-Karlen-pypm.csv
Labels: data-submission, automerge

#4939 JHUAPL-GECKO - Forecast update.
  data-processed/JHUAPL-Gecko/2021-09-26-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4940 UA-EpiCovDA forecasts 2021-09-26
  data-processed/UA-EpiCovDA/2021-09-26-UA-EpiCovDA.csv
Labels: data-submission, automerge

#4942 Create 2021-09-26-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-09-26-QJHong-Encounter.csv
Labels: data-submission, automerge

#4943 HKUST-DNN 210927 forecast
  data-processed/HKUST-DNN/2021-09-27-HKUST-DNN.csv
Labels: data-submission, automerge

#4944 2021-09-27-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-09-27-MUNI-ARIMA.csv
Labels: data-submission, automerge

#4945 SDSC_ISG-TrendModel Forecast Update - 2021-09-26
  data-processed/SDSC_ISG-TrendModel/2021-09-26-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#4951 2021-09-27 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-09-27-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#4950 Google_Harvard-CPF 2021-09-26
  data-processed/Google_Harvard-CPF/2021-09-26-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#4952 2021-09-26-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-09-26-UMass-MechBayes.csv
Labels: data-submission, automerge

#4955 2021-09-27-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-09-27-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#4953 mobs 0927
  data-processed/MOBS-GLEAM_COVID/2021-09-27-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#4957 Create 2021-09-27-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-09-27-MIT-Cassandra.csv
Labels: data-submission, automerge

#4956 DDS-NBDS 2021-09-27 forecast
  data-processed/DDS-NBDS/2021-09-27-DDS-NBDS.csv
Labels: data-submission, automerge

#4958 FRBSF_Wilson, Econometric: 2021-09-27
  data-processed/FRBSF_Wilson-Econometric/2021-09-27-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#4960 2021-09-27 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-09-27-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#4961 2021-09-27-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-09-27-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#4966 Steve McConnell - CovidComplete - Forecasts for 2021-09-27
  data-processed/SteveMcConnell-CovidComplete/2021-09-27-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#4963 2021-09-27-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-09-27-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#4969 PSI-DRAFT weekly submission - 27 Sep 2021
  data-processed/PSI-DRAFT/2021-09-27-PSI-DRAFT.csv
Labels: data-submission, automerge

#4971 ew38 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-09-27-GT-DeepCOVID.csv
Labels: data-submission, automerge

#4974 MIT CovidAnalytics
  data-processed/CovidAnalytics-DELPHI/2021-09-27-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#4970 Added UMich predictions for 2021-09-27.
  data-processed/UMich-RidgeTfReg/2021-09-27-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#4972 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-09-26-UCF-AEM.csv
Labels: data-submission, automerge

#4975 updated CUBoulder metadata
  data-processed/CUBoulder-COVIDLSTM/metadata-CUBoulder-COVIDLSTM.txt
Labels: metadata-change

#4979 Add KITmetricslab-select_ensemble for 2021-09-27
  data-processed/KITmetricslab-select_ensemble/2021-09-27-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#4980 JHUAPL-SLPHospEns 2021-09-27 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-09-27-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#4981 Sep26_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-09-27-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#4982 9/27/2021 Microsoft Forecast Data
  data-processed/Microsoft-DeepSTIA/2021-09-27-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge
