Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-10, with the labels that each got.

#4988 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-10-03-BPagano-RtDriven.csv
Labels: data-submission, automerge

#4989 Add files via upload
  data-processed/TTU-squider/2021-10-03-TTU-squider.csv
Labels: automerge

#4993 Upload 2021-10-03 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-10-03-Karlen-pypm.csv
Labels: data-submission, automerge

#4994 HKUST-DNN 211004 forecast
  data-processed/HKUST-DNN/2021-10-04-HKUST-DNN.csv
Labels: data-submission, automerge

#4998 JHUAPL-GECKO Add latest forecast.
  data-processed/JHUAPL-Gecko/2021-10-03-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#4996 SDSC_ISG-TrendModel Forecast Update - 2021-10-03
  data-processed/SDSC_ISG-TrendModel/2021-10-03-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#4995 2021-10-04-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-10-04-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5000 UA-EpiCovDa forecasts 2021-10-04
  data-processed/UA-EpiCovDA/2021-10-04-UA-EpiCovDA.csv
Labels: data-submission, automerge

#5002 mobs 1004
  data-processed/MOBS-GLEAM_COVID/2021-10-04-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5001 2021-10-04 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-10-04-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5004 Create 2021-10-04-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-10-04-QJHong-Encounter.csv
Labels: data-submission, automerge

#5003 JHUAPL-GECKO Fixed Forecast.
  data-processed/JHUAPL-Gecko/2021-10-03-JHUAPL-Gecko.csv
Labels: data-submission, forecast-updated, retractions

#5009 2021-10-04-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-10-04-MUNI-ARIMA.csv
Labels: data-submission, automerge

#5011 2021-10-03-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-10-03-UMass-MechBayes.csv
Labels: data-submission, automerge

#5013 Create 2021-10-04-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-10-04-MIT-Cassandra.csv
Labels: data-submission, automerge

#5006 2021-10-04 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-10-04-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5007 2021-10-04-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-10-04-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5014 DDS-NBDS 2021-10-04 forecast
  data-processed/DDS-NBDS/2021-10-04-DDS-NBDS.csv
Labels: data-submission, automerge

#5016 Added UMich predictions for 2021-10-04.
  data-processed/UMich-RidgeTfReg/2021-10-04-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5015 2021-10-04-UCSD_NEU-DeepGLEAM-Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-10-04-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5017 PSI-DRAFT weekly submission - 04 Oct 2021
  data-processed/PSI-DRAFT/2021-10-04-PSI-DRAFT.csv
Labels: data-submission, automerge

#5025 ew39 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-10-04-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5026 Google_Harvard-CPF 2021-10-04
  data-processed/Google_Harvard-CPF/2021-10-04-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#5023 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-10-03-UCF-AEM.csv
Labels: data-submission, automerge

#5019 Steve McConnell - CovidComplete - Forecasts for 2021-10-04
  data-processed/SteveMcConnell-CovidComplete/2021-10-04-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5021 FRBSF_Wilson, Econometric: 2021-10-04
  data-processed/FRBSF_Wilson-Econometric/2021-10-04-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#4930 added 1 wk ahead case forecast for the week of 2021-09-20 from UT-GISAG team.
  data-processed/UT_GISAG-SPDM/metadata-UT_GISAG-SPDM.txt
Labels: metadata-change

#5029 JHU_CSSE-DECOM 10/3 Predictions
  data-processed/JHU_CSSE-DECOM/2021-10-03-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5028 ew39 DeepCOVID - adding hosp forecasts
  data-processed/GT-DeepCOVID/2021-10-04-GT-DeepCOVID.csv
Labels: data-submission, forecast-updated

#5031 MIT CovidAnalytics 1004 Update
  data-processed/CovidAnalytics-DELPHI/2021-10-04-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5033 UT_GISAG
  data-processed/UT_GISAG-SPDM/2021-10-04-UT_GISAG-SPDM.csv
  data-processed/UT_GISAG-SPDM/metadata-UT_GISAG-SPDM.txt
Labels: metadata-change

#5034 AIpert-pwllnod Forecast update for 2021-10-04
  data-processed/AIpert-pwllnod/2021-10-04-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5037 Added new MIT-CriticalData forecasts (2021-10-03)
  data-processed/MIT_CritData-GBCF/2021-10-03-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5039 Add KITmetricslab-select_ensemble for 2021-10-04
  data-processed/KITmetricslab-select_ensemble/2021-10-04-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5041 Microsoft 10/4/2021 Forecasting Data
  data-processed/Microsoft-DeepSTIA/2021-10-04-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5042 Oct03_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-10-04-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5225 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-10-31-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5227 Add files via upload
  data-processed/TTU-squider/2021-10-31-TTU-squider.csv
Labels: data-submission, automerge

#5228 UChicagoCHATTOPADHYAY UnIT 2021-10-31 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-10-31-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge
