Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-02, with the labels that each got.

#2744 file added
  data-processed/RPI_UW-Mob_Collision/2021-01-31-RPI_UW-Mob_Collision.csv
  data-processed/RPI_UW-Mob_Collision/metadata-RPI_UW-Mob_Collision.txt
Labels: data-submission

#2743 Create 2021-01-31-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-01-31-QJHong-Encounter.csv
Labels: data-submission

#2742 Columbia_UNC-SurvCon 2021-01-31 Predictions
  data-processed/2021-01-31-Columbia_UNC-SurvCon.csv
Labels: data-submission

#2746 Revert "Columbia_UNC-SurvCon 2021-01-31 Predictions"
  data-processed/2021-01-31-Columbia_UNC-SurvCon.csv
Labels: data-submission

#2741 Add files via upload
  data-processed/TTU-squider/2021-01-31-TTU-squider.csv
Labels: data-submission

#2747 commiting 01-31 forecasting
  data-processed/WalmartLabsML-LogForecasting/2021-01-31-WalmartLabsML-LogForecasting.csv
Labels: data-submission

#2748 Add files via upload
  data-processed/BPagano-RtDriven/2021-01-31-BPagano-RtDriven.csv
Labels: data-submission

#2749 Epiforecasts 2021-02-01
  data-processed/epiforecasts-ensemble1/2021-02-01-epiforecasts-ensemble1.csv
Labels: data-submission

#2750 Added new forecasts (2021-01-31)
  data-processed/MIT_CritData-GBCF/2021-01-31-MIT_CritData-GBCF.csv
Labels: data-submission

#2752 Columbia_UNC-SurvCon 2021-01-31 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-01-31-Columbia_UNC-SurvCon.csv
Labels: data-submission

#2753 JHUAPL-GECKO 2/1 Forecast Update
  data-processed/JHUAPL-Gecko/2021-02-01-JHUAPL-Gecko.csv
Labels: data-submission

#2754 Create 2021-02-01-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-02-01-IBF-TimeSeries.csv
Labels: data-submission

#2756 2021-02-01-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-02-01-IEM_MED-CovidProject.csv
Labels: data-submission

#2758 adding 2021-02-01 SigSci-TS forecast
  data-processed/SigSci-TS/2021-02-01-SigSci-TS.csv
Labels: data-submission

#2757 Update Caltech CS156 Predictions
  data-processed/Caltech-CS156/2021-01-31-Caltech-CS156.csv
Labels: data-submission

#2760 2021-02-01-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-02-01-RobertWalraven-ESG.csv
Labels: data-submission

#2761 2021-01-31 MB
  data-processed/UMass-MechBayes/2021-01-31-UMass-MechBayes.csv
Labels: data-submission

#2762 2021-02-01 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-02-01-MIT_ISOLAT-Mixtures.csv
Labels: data-submission

#2766 UA-EpiCovDA forecasts 2021-01-31
  data-processed/UA-EpiCovDA/2021-01-31-UA-EpiCovDA.csv
Labels: data-submission

#2765 PSI-DRAFT weekly submission 01 Feb 2021
  data-processed/PSI-DRAFT/2021-02-01-PSI-DRAFT.csv
Labels: data-submission

#2738 mobs 0201 (and add retrospective case predictions)
  data-processed/MOBS-GLEAM_COVID/2021-01-11-MOBS-GLEAM_COVID.csv
  data-processed/MOBS-GLEAM_COVID/2021-01-18-MOBS-GLEAM_COVID.csv
  data-processed/MOBS-GLEAM_COVID/2021-01-25-MOBS-GLEAM_COVID.csv
  data-processed/MOBS-GLEAM_COVID/2021-02-01-MOBS-GLEAM_COVID.csv
Labels: data-submission

#2768 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-01-31-UCM_MESALab-FoGSEIR.csv
Labels: data-submission

#2769 SteveMcConnell-CovidComplete Forecasts for 2021-02-01
  data-processed/SteveMcConnell-CovidComplete/2021-02-01-SteveMcConnell-CovidComplete.csv
Labels: data-submission

#2770 OliverWyman-Navigator submission for 2021-01-31
  data-processed/OliverWyman-Navigator/2021-01-31-OliverWyman-Navigator.csv
Labels: data-submission

#2772 2021-02-01-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-02-01-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission

#2783 ew04 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-02-01-GT-DeepCOVID.csv
Labels: data-submission

#2782 Added UMich predictions for 2021-02-01.
  data-processed/UMich-RidgeTfReg/2021-02-01-UMich-RidgeTfReg.csv
Labels: data-submission

#2781 JHU_CSSE 1/31 Predictions
  data-processed/JHU_CSSE-DECOM/2021-01-31-JHU_CSSE-DECOM.csv
Labels: data-submission

#2779 Upload 2021-01-31 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-01-31-Karlen-pypm.csv
Labels: data-submission

#2776 UChicagoCHATTOPADHYAY 2021-01-31 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-01-31-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission

#2784 forecast data for Feb/01, county cases and state
  data-processed/CMU-TimeSeries/2021-02-01-CMU-TimeSeries.csv
Labels: data-submission

#2731 Jan26_2021_FirstCommit
  data-processed/FDANIHASU-Sweight/2021-01-25-FDANIHASU-Sweight.csv
  data-processed/FDANIHASU-Sweight/metadata-FDANIHASU-Sweight.txt
Labels: data-submission

#2775 Forecast from 2021-01-31 from JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-01-31-JHU_UNC_GAS-StatMechPool.csv
Labels: data-submission

#2785 MIT Update 20200201
  data-processed/CovidAnalytics-DELPHI/2021-02-01-CovidAnalytics-DELPHI.csv
Labels: data-submission

#2786 Google_Harvard-CPF 2021-02-01 forecast
  data-processed/Google_Harvard-CPF/2021-02-01-Google_Harvard-CPF.csv
Labels: data-submission

#2788 DDS-NBDS 2021-02-01 forecast
  data-processed/DDS-NBDS/2021-02-01-DDS-NBDS.csv
Labels: data-submission

#2789 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-01-31-UCF-AEM.csv
Labels: data-submission

#2790 Microsoft Feb 1st Forecasting
  data-processed/Microsoft-DeepSTIA/2021-02-01-Microsoft-DeepSTIA.csv
Labels: data-submission

#2796 AIpert-pwllnod Forecast update for 2021-02-01
  data-processed/AIpert-pwllnod/2021-02-01-AIpert-pwllnod.csv
Labels: data-submission

#2791 MIT Update 0201 [FIX]
  data-processed/CovidAnalytics-DELPHI/2021-02-01-CovidAnalytics-DELPHI.csv
Labels: data-submission

#2798 FDANIHASU-SWeight_Ensemble_forecast_Feb1_2021
  data-processed/FDANIHASU-Sweight/2021-02-01-FDANIHASU-Sweight.csv
Labels: data-submission

#2795 Geneva-DetGrowth Forecast Update - 2021-01-31
  data-processed/Geneva-DetGrowth/2021-01-31-Geneva-DetGrowth.csv
Labels: data-submission

#2801 SteveMcConnell-CovidComplete Fixed error in cumulative calculation for 2021-02-01 forecasts
  data-processed/SteveMcConnell-CovidComplete/2021-02-01-SteveMcConnell-CovidComplete.csv
Labels: data-submission

#2806 JHUAPL-SLPHospEns 2021-02-01 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-02-01-JHUAPL-SLPHospEns.csv
Labels: data-submission

#2813 Create 2021-02-06-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-02-06-GT_CHHS-COVID19.csv
Labels: data-submission

#2816 Add files via upload
  data-processed/TTU-squider/2021-02-07-TTU-squider.csv
Labels: data-submission

#2819 Columbia_UNC-SurvCon 2021-02-07 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-02-07-Columbia_UNC-SurvCon.csv
Labels: data-submission

#2826 Geneva-DetGrowth Forecast Update - 2021-02-07
  data-processed/Geneva-DetGrowth/2021-02-07-Geneva-DetGrowth.csv
Labels: data-submission

#2825 committing 02-07 forecasts
  data-processed/WalmartLabsML-LogForecasting/2021-02-07-WalmartLabsML-LogForecasting.csv
Labels: data-submission

#2823 Add files via upload
  data-processed/RPI_UW-Mob_Collision/2021-02-07-RPI_UW-Mob_Collision.csv
Labels: data-submission

#2821 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-02-07-UCM_MESALab-FoGSEIR.csv
Labels: data-submission

#2827 2021-02-08 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-02-08-epiforecasts-ensemble1.csv
Labels: data-submission

#2828 Added new forecasts (2021-02-07)
  data-processed/MIT_CritData-GBCF/2021-02-07-MIT_CritData-GBCF.csv
Labels: data-submission

#2830 Forecast update.
  data-processed/JHUAPL-Gecko/2021-02-08-JHUAPL-Gecko.csv
Labels: data-submission

#2812 Update text under `TimeChart`
  visualization/vis-master/src/components/Panels/ChartsPanel.vue
Labels: viz

#2837 Update Caltech CS156 Predictions
  data-processed/Caltech-CS156/2021-02-07-Caltech-CS156.csv
Labels: data-submission

#2836 Create 2021-02-08-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-02-08-QJHong-Encounter.csv
Labels: data-submission

#2834 2021-02-08-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-02-08-IEM_MED-CovidProject.csv
Labels: data-submission

#2833 Forecast Update 2021-02-08 for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-02-08-MIT_ISOLAT-Mixtures.csv
Labels: data-submission

#2832 mobs 0208
  data-processed/MOBS-GLEAM_COVID/2021-02-08-MOBS-GLEAM_COVID.csv
Labels: data-submission

#2841 UA-EpiCovDA forecasts 2021-02-07
  data-processed/UA-EpiCovDA/2021-02-07-UA-EpiCovDA.csv
Labels: data-submission

#2840 DDS-NBDS 2021-02-08 forecast
  data-processed/DDS-NBDS/2021-02-08-DDS-NBDS.csv
Labels: data-submission

#2839 Add files via upload
  data-processed/BPagano-RtDriven/2021-02-07-BPagano-RtDriven.csv
Labels: data-submission

#2842 adding 2021-02-08 SigSci-TS forecast
  data-processed/SigSci-TS/2021-02-08-SigSci-TS.csv
Labels: data-submission

#2843 UChicagoCHATTOPADHYAY-UnIT 2021-02-07 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-02-07-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission

#2844 PSI-DRAFT weekly submission 08 Feb 2021
  data-processed/PSI-DRAFT/2021-02-08-PSI-DRAFT.csv
Labels: data-submission

#2845 Steve McConnell-CovidComplete-Forecasts for 2021-02-08
  data-processed/SteveMcConnell-CovidComplete/2021-02-08-SteveMcConnell-CovidComplete.csv
Labels: data-submission

#2847 Microsoft Feb 8th Forecasting
  data-processed/Microsoft-DeepSTIA/2021-02-08-Microsoft-DeepSTIA.csv
Labels: data-submission

#2853 OliverWyman-Navigator submission for 2021-02-07
  data-processed/OliverWyman-Navigator/2021-02-07-OliverWyman-Navigator.csv
Labels: data-submission

#2848 2021-02-08-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-02-08-RobertWalraven-ESG.csv
Labels: data-submission

#2850 AIpert-pwllnod Forecast update for 2021-02-08
  data-processed/AIpert-pwllnod/2021-02-08-AIpert-pwllnod.csv
Labels: data-submission

#2854 Upload 2021-02-07 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-02-07-Karlen-pypm.csv
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: data-submission

#2855 Create 2021-02-08-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-02-08-IBF-TimeSeries.csv
Labels: data-submission

#2856 add forecasts for Feb 8, county cases and state deaths
  data-processed/CMU-TimeSeries/2021-02-08-CMU-TimeSeries.csv
Labels: data-submission

#2859 MB 2021-02-07
  data-processed/UMass-MechBayes/2021-02-07-UMass-MechBayes.csv
Labels: data-submission

#2858 MIT Update 0208
  data-processed/CovidAnalytics-DELPHI/2021-02-08-CovidAnalytics-DELPHI.csv
Labels: data-submission

#2860 02-07-21 forecast from JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-02-07-JHU_UNC_GAS-StatMechPool.csv
Labels: data-submission

#2863 Google_Harvard-CPF 2021-02-07 forecast
  data-processed/Google_Harvard-CPF/2021-02-07-Google_Harvard-CPF.csv
Labels: data-submission

#2864 JHU CSSE 2/7 Predictions
  data-processed/JHU_CSSE-DECOM/2021-02-07-JHU_CSSE-DECOM.csv
Labels: data-submission

#2865 Added UMich predictions for 2021-02-08.
  data-processed/UMich-RidgeTfReg/2021-02-08-UMich-RidgeTfReg.csv
Labels: data-submission

#2866 ew05 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-02-08-GT-DeepCOVID.csv
Labels: data-submission

#2867 2021-02-08-UCSD_NEU-DeepGLEAM_submssion
  data-processed/UCSD_NEU-DeepGLEAM/2021-02-08-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission

#2870 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-02-07-UCF-AEM.csv
Labels: data-submission

#2874 FDANIHASU_SWeight_Feb8_2021
  data-processed/FDANIHASU-Sweight/2021-02-08-FDANIHASU-Sweight.csv
  data-processed/FDANIHASU-Sweight/metadata-FDANIHASU-Sweight.txt
Labels: data-submission

#2875 JHUAPL-SLPHospEns 2021-02-08 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-02-08-JHUAPL-SLPHospEns.csv
Labels: data-submission

#2879 Create 2021-02-13-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-02-13-GT_CHHS-COVID19.csv
Labels: data-submission

#2882 Address usafact column name change stateFIPS to StateFIPS
  data-truth/usafacts/usafacts.py
Labels: bug

#2883 Add files via upload
  data-processed/TTU-squider/2021-02-14-TTU-squider.csv
Labels: data-submission

#2886 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-02-14-UCM_MESALab-FoGSEIR.csv
Labels: data-submission

#2885 Columbia_UNC-SurvCon 2021-02-14 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-02-14-Columbia_UNC-SurvCon.csv
Labels: data-submission

#2888 Create 2021-02-14-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-02-14-QJHong-Encounter.csv
Labels: data-submission

#2889 Add files via upload
  data-processed/RPI_UW-Mob_Collision/2021-02-14-RPI_UW-Mob_Collision.csv
Labels: data-submission

#2891 Adding 02-14 forecasting
  data-processed/WalmartLabsML-LogForecasting/2021-02-14-WalmartLabsML-LogForecasting.csv
Labels: data-submission

#2892 Geneva-DetGrowth Forecast Update - 2021-02-14
  data-processed/Geneva-DetGrowth/2021-02-14-Geneva-DetGrowth.csv
Labels: data-submission

#2893 Added new forecast.
  data-processed/JHUAPL-Gecko/2021-02-15-JHUAPL-Gecko.csv
Labels: data-submission

#2894 mobs 0215
  data-processed/MOBS-GLEAM_COVID/2021-02-15-MOBS-GLEAM_COVID.csv
Labels: data-submission

#2895 Added new forecasts (2021-02-14)
  data-processed/MIT_CritData-GBCF/2021-02-14-MIT_CritData-GBCF.csv
Labels: data-submission

#2896 2021-02-15 Update for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-02-15-MIT_ISOLAT-Mixtures.csv
Labels: data-submission

#2899 2021-02-15-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-02-15-IEM_MED-CovidProject.csv
Labels: data-submission

#2902 Add files via upload
  data-processed/BPagano-RtDriven/2021-02-14-BPagano-RtDriven.csv
Labels: data-submission

#2903 2021-02-15-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-02-15-RobertWalraven-ESG.csv
Labels: data-submission

#2905 UA-EpiCovDA forecasts 2021-02-14
  data-processed/UA-EpiCovDA/2021-02-14-UA-EpiCovDA.csv
Labels: data-submission

#2904 OliverWyman-Navigator submission for 2021-02-14
  data-processed/OliverWyman-Navigator/2021-02-14-OliverWyman-Navigator.csv
Labels: data-submission

#2906 Create 2021-02-15-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-02-15-IBF-TimeSeries.csv
Labels: data-submission

#2908 Steve McConnell - CovidComplete - Forecasts for 2021-02-15
  data-processed/SteveMcConnell-CovidComplete/2021-02-15-SteveMcConnell-CovidComplete.csv
Labels: data-submission

#2915 2021-02-14 MB
  data-processed/UMass-MechBayes/2021-02-14-UMass-MechBayes.csv
Labels: data-submission

#2914 Google_Harvard-CPF 2021-02-15 forecast
  data-processed/Google_Harvard-CPF/2021-02-15-Google_Harvard-CPF.csv
Labels: data-submission

#2913 Added UMich predictions for 2021-02-15.
  data-processed/UMich-RidgeTfReg/2021-02-15-UMich-RidgeTfReg.csv
Labels: data-submission

#2918 02-14-21 forecast from JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-02-14-JHU_UNC_GAS-StatMechPool.csv
Labels: data-submission

#2916 AIpert-pwllnod Forecast update for 2021-02-15
  data-processed/AIpert-pwllnod/2021-02-15-AIpert-pwllnod.csv
Labels: data-submission

#2917 adding 2021-02-15 SigSci-TS forecast
  data-processed/SigSci-TS/2021-02-15-SigSci-TS.csv
Labels: data-submission

#2911 2021-02-15 Epiforecasts epiforecasts-ensemble1
  data-processed/epiforecasts-ensemble1/2021-02-15-epiforecasts-ensemble1.csv
Labels: data-submission

#2922 Forecasts for President's Day/Valentine's Day
  data-processed/CMU-TimeSeries/2021-02-15-CMU-TimeSeries.csv
Labels: data-submission

#2920 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-02-14-UCF-AEM.csv
Labels: data-submission

#2926 JHU CSSE 2/14 Predictions
  data-processed/JHU_CSSE-DECOM/2021-02-14-JHU_CSSE-DECOM.csv
Labels: data-submission

#2929 2021-02-15-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-02-15-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission

#2927 Upload 2021-02-14 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-02-14-Karlen-pypm.csv
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: data-submission, metadata-change

#2930 ew06 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-02-15-GT-DeepCOVID.csv
Labels: data-submission

#2928 PSI-DRAFT weekly submission 15 Feb 2021
  data-processed/PSI-DRAFT/2021-02-15-PSI-DRAFT.csv
Labels: data-submission

#2925 MIT Update 0215
  data-processed/CovidAnalytics-DELPHI/2021-02-15-CovidAnalytics-DELPHI.csv
Labels: data-submission

#2933 Delete 2021-02-15-SteveMcConnell-CovidComplete.csv
  data-processed/SteveMcConnell-CovidComplete/2021-02-15-SteveMcConnell-CovidComplete.csv
Labels: data-submission, forecast-updated

#2934 Microsoft 0215 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-02-15-Microsoft-DeepSTIA.csv
Labels: data-submission

#2937 Feb15_2021_FDANIHASU_SWeight_Ensemble
  data-processed/FDANIHASU-Sweight/2021-02-15-FDANIHASU-Sweight.csv
Labels: data-submission

#2938 JHUAPL-SLPHospEns 2021-02-15 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-02-15-JHUAPL-SLPHospEns.csv
Labels: data-submission

#2942 Steve McConnell - CovidComplete forecasts for 2021-02-15
  data-processed/SteveMcConnell-CovidComplete/2021-02-15-SteveMcConnell-CovidComplete.csv
Labels: data-submission

#2946 Update metadata-SteveMcConnell-CovidComplete.txt
  data-processed/SteveMcConnell-CovidComplete/metadata-SteveMcConnell-CovidComplete.txt
Labels: data-submission, metadata-change

#2948 Create 2021-02-20-GT_CHHS-COVID19.csv
  data-processed/GT_CHHS-COVID19/2021-02-20-GT_CHHS-COVID19.csv
Labels: data-submission

#2950 Add files via upload
  data-processed/TTU-squider/2021-02-21-TTU-squider.csv
Labels: data-submission

#2952 Columbia_UNC-SurvCon 2021-02-21 Predictions
  data-processed/Columbia_UNC-SurvCon/2021-02-21-Columbia_UNC-SurvCon.csv
Labels: data-submission

#2953 Create 2021-02-21-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-02-21-QJHong-Encounter.csv
Labels: data-submission

#2955 Adding 02-21 forecasts
  data-processed/WalmartLabsML-LogForecasting/2021-02-21-WalmartLabsML-LogForecasting.csv
Labels: data-submission

#2956 Update forecast file
  data-processed/UCM_MESALab-FoGSEIR/2021-02-21-UCM_MESALab-FoGSEIR.csv
Labels: data-submission

#2957 Geneva-DetGrowth Forecast Update - 2021-02-21
  data-processed/Geneva-DetGrowth/2021-02-21-Geneva-DetGrowth.csv
Labels: data-submission

#2958 Added new forecasts (2021-02-21)
  data-processed/MIT_CritData-GBCF/2021-02-21-MIT_CritData-GBCF.csv
Labels: data-submission

#2959 feb22 forecast.
  data-processed/JHUAPL-Gecko/2021-02-22-JHUAPL-Gecko.csv
Labels: data-submission

#2960 2021-02-22 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-02-22-MIT_ISOLAT-Mixtures.csv
Labels: data-submission

#2962 2021-02-22-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-02-22-IEM_MED-CovidProject.csv
Labels: data-submission

#2963 mobs 0222
  data-processed/MOBS-GLEAM_COVID/2021-02-22-MOBS-GLEAM_COVID.csv
Labels: data-submission

#2964 UChicagoCHATTOPADHYAY-UnIT 2021-02-21 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-02-21-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission

#2965 Microsoft Feb 22 Forecasting
  data-processed/Microsoft-DeepSTIA/2021-02-22-Microsoft-DeepSTIA.csv
Labels: data-submission

#2967 Steve McConnell - CovidComplete - Forecasts for 2021-02-22
  data-processed/SteveMcConnell-CovidComplete/2021-02-22-SteveMcConnell-CovidComplete.csv
Labels: data-submission

#2970 adding 2021-02-22 SigSci-TS forecast
  data-processed/SigSci-TS/2021-02-22-SigSci-TS.csv
Labels: data-submission

#2972 UA-EpiCovDA forecasts 2021-02-21
  data-processed/UA-EpiCovDA/2021-02-21-UA-EpiCovDA.csv
Labels: data-submission

#2971 Create 2021-02-22-IBF-TimeSeries.csv
  data-processed/IBF-TimeSeries/2021-02-22-IBF-TimeSeries.csv
Labels: data-submission

#2973 02-14-21 forecast from JHU_UNC_GAS
  data-processed/JHU_UNC_GAS-StatMechPool/2021-02-21-JHU_UNC_GAS-StatMechPool.csv
Labels: data-submission

#2975 PSI-DRAFT weekly submission 22 Feb 2021
  data-processed/PSI-DRAFT/2021-02-22-PSI-DRAFT.csv
Labels: data-submission

#2977 Added UMich predictions for 2021-02-22.
  data-processed/UMich-RidgeTfReg/2021-02-22-UMich-RidgeTfReg.csv
Labels: data-submission

#2979 AIpert-pwllnod Forecast update for 2021-02-22
  data-processed/AIpert-pwllnod/2021-02-22-AIpert-pwllnod.csv
Labels: data-submission

#2984 2021-02-22-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-02-22-RobertWalraven-ESG.csv
Labels: data-submission

#2989 JHU_CSSE 2/21 Predictions
  data-processed/JHU_CSSE-DECOM/2021-02-21-JHU_CSSE-DECOM.csv
Labels: data-submission
