Repository reichlab/covid19-forecast-hub, pull requests merged in 2021-11, with the labels that each got.

#5229 JHUAPL-GECKO - update forecasts
  data-processed/JHUAPL-Gecko/2021-10-31-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5239 2021-11-01-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-11-01-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5237 mobs 1101
  data-processed/MOBS-GLEAM_COVID/2021-11-01-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5236 Added new MIT-CriticalData forecasts (2021-10-31)
  data-processed/MIT_CritData-GBCF/2021-10-31-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5235 2021-11-01 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-11-01-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5233 HKUST-DNN 211101 forecast
  data-processed/HKUST-DNN/2021-11-01-HKUST-DNN.csv
Labels: data-submission, automerge

#5231 Create 2021-10-31-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-10-31-QJHong-Encounter.csv
Labels: data-submission, automerge

#5232 Upload 2021-10-31 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-10-31-Karlen-pypm.csv
Labels: data-submission, automerge

#5234 SDSC_ISG-TrendModel Forecast Update - 2021-10-31
  data-processed/SDSC_ISG-TrendModel/2021-10-31-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#5242 Create 2021-11-01-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-11-01-MIT-Cassandra.csv
Labels: data-submission, automerge

#5243 2021-11-01-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-01-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5244 UMass-MechBayes 2021-10-31 submission
  data-processed/UMass-MechBayes/2021-10-31-UMass-MechBayes.csv
Labels: data-submission, automerge

#5245 2021-11-01 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-11-01-MUNI-ARIMA.csv
Labels: data-submission, automerge

#5246 DDS-NBDS 2021-11-01 forecast
  data-processed/DDS-NBDS/2021-11-01-DDS-NBDS.csv
Labels: data-submission, automerge

#5247 2021-11-01-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-11-01-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5248 PSI-DRAFT weekly submission - 01 Nov 2021
  data-processed/PSI-DRAFT/2021-11-01-PSI-DRAFT.csv
Labels: data-submission, automerge

#5249 FRBSF_Wilson, Econometric: 2021-11-01
  data-processed/FRBSF_Wilson-Econometric/2021-11-01-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5251 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-10-31-UCF-AEM.csv
Labels: data-submission, automerge

#5252 Steve McConnell - CovidComplete - Forecasts for 2021-11-01
  data-processed/SteveMcConnell-CovidComplete/2021-11-01-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5254 ew43 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-11-01-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5256 MITCovidAnalytics Update 20211101
  data-processed/CovidAnalytics-DELPHI/2021-11-01-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5257 JHU_CSSE_DECOM 10/31 Predictions
  data-processed/JHU_CSSE-DECOM/2021-10-31-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5258 Added UMich predictions for 2021-11-01.
  data-processed/UMich-RidgeTfReg/2021-11-01-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5259 Google_Harvard-CPF 2021-10-31
  data-processed/Google_Harvard-CPF/2021-10-31-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#5265 JHUAPL-SLPHospEns 2021-11-01 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-11-01-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#5263 UT_GISAG
  data-processed/UT_GISAG-SPDM/2021-11-01-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5262 AIpert-pwllnod Forecast update for 2021-11-01
  data-processed/AIpert-pwllnod/2021-11-01-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5266 Add KITmetricslab-select_ensemble for 2021-11-01
  data-processed/KITmetricslab-select_ensemble/2021-11-01-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5268 Nov1, 2021 FDANIHASU SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-11-01-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5280 Add files via upload
  data-processed/TTU-squider/2021-11-07-TTU-squider.csv
Labels: data-submission, automerge

#5281 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-11-07-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5283 LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-11-07-LosAlamos_NAU-CModel_SDVaxVar.csv
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/metadata-LosAlamos_NAU-CModel_SDVaxVar.txt
Labels: new-team-submission, data-submission, metadata-change

#5284 UChicagoCHATTOPADHYAY UnIT 2021-11-07 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-11-07-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#5285 Create 2021-11-07-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-11-07-QJHong-Encounter.csv
Labels: data-submission, automerge

#5288 2021-11-08 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-11-08-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5290 JHUAPL GECKO - Forecast update 11/8.
  data-processed/JHUAPL-Gecko/2021-11-07-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5291 HKUST-DNN 211108 forecast
  data-processed/HKUST-DNN/2021-11-08-HKUST-DNN.csv
Labels: data-submission, automerge

#5293 Added new MIT-CriticalData forecasts (2021-11-07)
  data-processed/MIT_CritData-GBCF/2021-11-07-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5294 2021-11-08 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-11-08-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5296 11-07 submission
  data-processed/UMass-MechBayes/2021-11-07-UMass-MechBayes.csv
Labels: data-submission, automerge

#5295 mobs 1108
  data-processed/MOBS-GLEAM_COVID/2021-11-08-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5292 2021-11-08 MUNI-ARIMA (weekly submission, retraction), MUNI-VAR (new model)
  data-processed/MUNI-ARIMA/2021-08-30-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-09-06-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-11-08-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/metadata-MUNI-ARIMA.txt
  data-processed/MUNI-VAR/2021-11-08-MUNI-VAR.csv
  data-processed/MUNI-VAR/metadata-MUNI-VAR.txt
Labels: new-team-submission, data-submission, metadata-change, forecast-retraction

#5286 Upload 2021-11-07 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-11-07-Karlen-pypm.csv
Labels: data-submission, automerge

#5298 2021-11-08-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-11-08-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5300 2021-11-08-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-11-08-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5302 Create 2021-11-08-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-11-08-MIT-Cassandra.csv
Labels: data-submission, automerge

#5301 DDS-NBDS 2021-11-08 forecast
  data-processed/DDS-NBDS/2021-11-08-DDS-NBDS.csv
Labels: data-submission, automerge

#5304 FRBSF_Wilson, Econometric: 2021-11-08
  data-processed/FRBSF_Wilson-Econometric/2021-11-08-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5306 ew44 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-11-08-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5308 Steve McConnell - CovidComplete - Forecasts for 2021-11-08
  data-processed/SteveMcConnell-CovidComplete/2021-11-08-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5309 2021-11-08-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-08-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5307 Added UMich predictions for 2021-11-08.
  data-processed/UMich-RidgeTfReg/2021-11-08-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5303 COVID-19Predict: Merging forecast starting at 2021-11-07
  data-processed/CWRU-COVID_19Predict/2021-11-07-CWRU-COVID_19Predict.csv
  data-processed/CWRU-COVID_19Predict/metadata-CWRU-COVID_19Predict.txt
Labels: new-team-submission, data-submission, metadata-change

#5312 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-11-07-UCF-AEM.csv
Labels: data-submission, automerge

#5315 UT-GISAG weekly update
  data-processed/UT_GISAG-SPDM/2021-11-08-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5316 MIT CovidAnalytics Update 1108
  data-processed/CovidAnalytics-DELPHI/2021-11-08-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5314 Google_Harvard-CPF 2021-11-07
  data-processed/Google_Harvard-CPF/2021-11-07-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#5317 AIpert-pwllnod Forecast update for 2021-11-08
  data-processed/AIpert-pwllnod/2021-11-08-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5318 Revert "LosAlamos_NAU-CModel_SDVaxVar"
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-11-07-LosAlamos_NAU-CModel_SDVaxVar.csv
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/metadata-LosAlamos_NAU-CModel_SDVaxVar.txt
Labels: data-submission, metadata-change, duplicate-forecast

#5319 JHU_CSSE-DECOM 11/7 Predictions
  data-processed/JHU_CSSE-DECOM/2021-11-07-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5325 Add KITmetricslab-select_ensemble for 2021-11-08
  data-processed/KITmetricslab-select_ensemble/2021-11-08-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5327 Nov 07 2021, FDANIHASU, SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-11-08-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5328 Revert "COVID-19Predict: Merging forecast starting at 2021-11-07"
  data-processed/CWRU-COVID_19Predict/2021-11-07-CWRU-COVID_19Predict.csv
  data-processed/CWRU-COVID_19Predict/metadata-CWRU-COVID_19Predict.txt
Labels: data-submission, metadata-change, duplicate-forecast

#5342 UChicagoCHATTOPADHYAY UnIT 2021-11-14 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-11-14-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#5341 2020-12-02 - JBUD re-submission
  data-processed/JBUD-HMXK/2021-11-14-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/metadata-JBUD-HMXK.txt
Labels: new-team-submission, data-submission, metadata-change

#5344 Upload 2021-11-14 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-11-14-Karlen-pypm.csv
Labels: data-submission, automerge

#5345 Create 2021-11-14-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-11-14-QJHong-Encounter.csv
Labels: data-submission, automerge

#5347 HKUST-DNN 211115 forecast
  data-processed/HKUST-DNN/2021-11-15-HKUST-DNN.csv
Labels: data-submission, automerge

#5348 SDSC_ISG-TrendModel Forecast Update - 2021-11-14
  data-processed/SDSC_ISG-TrendModel/2021-11-14-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#5337 Add files via upload
  data-processed/BPagano-RtDriven/2021-11-14-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5351 JHUAPL Gecko - Latest forecasts.
  data-processed/JHUAPL-Gecko/2021-11-14-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5349 mobs 1115
  data-processed/MOBS-GLEAM_COVID/2021-11-15-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5352 Added new MIT-CriticalData forecasts (2021-11-14)
  data-processed/MIT_CritData-GBCF/2021-11-14-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5353 2021-11-15 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-11-15-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5354 2021-11-15-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-11-15-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5359 adding UMass-MechBayes 2021-11-14
  data-processed/UMass-MechBayes/2021-11-14-UMass-MechBayes.csv
Labels: data-submission, automerge

#5366 JHU-CSSE_DECOM 11/14/21 Predictions
  data-processed/JHU_CSSE-DECOM/2021-11-14-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5367 Microsoft 11/1/2021 Forecast Data
  data-processed/Microsoft-DeepSTIA/2021-11-01-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5368 Microsoft 11/8/2021 Forecast Data
  data-processed/Microsoft-DeepSTIA/2021-11-08-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5365 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-11-14-UCF-AEM.csv
Labels: data-submission, automerge

#5363 2021-11-15-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-15-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5362 DDS-NBDS 2021-11-15 forecast
  data-processed/DDS-NBDS/2021-11-15-DDS-NBDS.csv
Labels: data-submission, automerge

#5360 2021-11-15-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-11-15-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5356 2021-11-15 MUNI-ARIMA, MUNI-VAR
  data-processed/MUNI-ARIMA/2021-11-15-MUNI-ARIMA.csv
  data-processed/MUNI-VAR/2021-11-15-MUNI-VAR.csv
Labels: data-submission

#5369 Microsoft 11/15/2021 Forecast Data
  data-processed/Microsoft-DeepSTIA/2021-11-15-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5373 UT_GISAG_weekly_update
  data-processed/UT_GISAG-SPDM/2021-11-15-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5376 Steve McConnell - CovidComplete - Forecasts for 2021-11-15
  data-processed/SteveMcConnell-CovidComplete/2021-11-15-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5377 PSI-DRAFT weekly submission - 15 Nov 2021
  data-processed/PSI-DRAFT/2021-11-15-PSI-DRAFT.csv
Labels: data-submission, automerge

#5372 Covid19Sim-Simulator: weekly forecast update
  data-processed/Covid19Sim-Simulator/2021-11-14-Covid19Sim-Simulator.csv
Labels: data-submission, automerge

#5375 ew45 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-11-15-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5380 Google_Harvard-CPF 2021-11-14
  data-processed/Google_Harvard-CPF/2021-11-14-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#5379 Revert "Microsoft 11/1/2021 Forecast Data"
  data-processed/Microsoft-DeepSTIA/2021-11-01-Microsoft-DeepSTIA.csv
Labels: data-submission, duplicate-forecast

#5378 Revert "Microsoft 11/8/2021 Forecast Data"
  data-processed/Microsoft-DeepSTIA/2021-11-08-Microsoft-DeepSTIA.csv
Labels: data-submission, duplicate-forecast

#5382 AIpert-pwllnod Forecast update for 2021-11-15
  data-processed/AIpert-pwllnod/2021-11-15-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5336 COVID-19Predict: Merging forecast starting at 2021-11-14
  data-processed/CWRU-COVID_19Predict/2021-11-14-CWRU-COVID_19Predict.csv
  data-processed/CWRU-COVID_19Predict/metadata-CWRU-COVID_19Predict.txt
Labels: new-team-submission, data-submission, metadata-change

#5383 commit metadata and first submission file for COVIDhub_CDC-ensemble, …
  data-processed/COVIDhub_CDC-ensemble/2020-04-13-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/metadata-COVIDhub_CDC-ensemble.txt
Labels: new-team-submission, data-submission, metadata-change

#5385 MIT CovidAnalytics 1115
  data-processed/CovidAnalytics-DELPHI/2021-11-15-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5389 Add KITmetricslab-select_ensemble for 2021-11-15
  data-processed/KITmetricslab-select_ensemble/2021-11-15-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5390 Nov15, 2021 FDANIHASU SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-11-15-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5391 Update metadata-COVIDhub_CDC-ensemble.txt
  data-processed/COVIDhub_CDC-ensemble/metadata-COVIDhub_CDC-ensemble.txt
Labels: metadata-change

#5394 LosAlamos_NAU
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-11-07-LosAlamos_NAU-CModel_SDVaxVar.csv
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-11-14-LosAlamos_NAU-CModel_SDVaxVar.csv
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/metadata-LosAlamos_NAU-CModel_SDVaxVar.txt
Labels: new-team-submission, data-submission, metadata-change

#5403 COVID-19Predict: Merging forecast starting at 2021-11-21
  data-processed/CWRU-COVID_19Predict/2021-11-21-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#5405 Add files via upload
  data-processed/TTU-squider/2021-11-21-TTU-squider.csv
Labels: data-submission, automerge

#5404 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-11-21-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5406 JHU_CSSE-DECOM 11/21/21 Predictions
  data-processed/JHU_CSSE-DECOM/2021-11-21-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5407 UChicagoCHATTOPADHYAY UnIT 2021-11-21 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-11-21-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#5408 JHUAPL-GECKO - Updated forecasts.
  data-processed/JHUAPL-Gecko/2021-11-21-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5410 Create 2021-11-21-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-11-21-QJHong-Encounter.csv
Labels: data-submission, automerge

#5413 Upload 2021-11-21 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-11-21-Karlen-pypm.csv
Labels: data-submission, automerge

#5416 2021-11-21-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-11-21-UMass-MechBayes.csv
Labels: data-submission, automerge

#5417 Added new MIT-CriticalData forecasts (2021-11-21)
  data-processed/MIT_CritData-GBCF/2021-11-21-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5419 HKUST-DNN 211122 forecast
  data-processed/HKUST-DNN/2021-11-22-HKUST-DNN.csv
Labels: data-submission, automerge

#5415 2021-11-22 MUNI-ARIMA, MUNI-VAR
  data-processed/MUNI-ARIMA/2021-11-22-MUNI-ARIMA.csv
  data-processed/MUNI-VAR/2021-11-22-MUNI-VAR.csv
Labels: data-submission

#5420 2021-11-22-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-11-22-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5422 Covid19Sim-Simulator: weekly forecast update
  data-processed/Covid19Sim-Simulator/2021-11-21-Covid19Sim-Simulator.csv
Labels: data-submission, automerge

#5421 2021-11-22 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-11-22-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5424 2021-11-21 - JBUD submission
  data-processed/JBUD-HMXK/2021-11-21-JBUD-HMXK.csv
Labels: data-submission, automerge

#5426 FRBSF_Wilson, Econometric: 2021-11-22
  data-processed/FRBSF_Wilson-Econometric/2021-11-22-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5423 2021-11-22-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-11-22-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5425 DDS-NBDS 2021-11-22 forecast
  data-processed/DDS-NBDS/2021-11-22-DDS-NBDS.csv
Labels: data-submission, automerge

#5427 Google_Harvard-CPF 2021-11-21
  data-processed/Google_Harvard-CPF/2021-11-21-Google_Harvard-CPF.csv
Labels: data-submission, automerge

#5429 2021-11-22 Epiforecasts
  data-processed/epiforecasts-ensemble1/2021-11-22-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5430 ew47 DeepCOVID submission
  data-processed/GT-DeepCOVID/2021-11-22-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5431 Microsoft 11/22/2021 Forecast Data
  data-processed/Microsoft-DeepSTIA/2021-11-22-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5434 Steve McConnell - CovidComplete - Forecasts for 2021-11-22
  data-processed/SteveMcConnell-CovidComplete/2021-11-22-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5436 MIT CovidAnalytics Update 1122
  data-processed/CovidAnalytics-DELPHI/2021-11-22-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5432 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2021-11-21-UCF-AEM.csv
Labels: data-submission, automerge

#5433 2021-11-22-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-22-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5440 AIpert-pwllnod Forecast update for 2021-11-22
  data-processed/AIpert-pwllnod/2021-11-22-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5441 PSI-DRAFT weekly submission - 22 Nov 2021
  data-processed/PSI-DRAFT/2021-11-22-PSI-DRAFT.csv
Labels: data-submission, automerge

#5442 JHUAPL-SLPHospEns 2021-11-22 Forecast
  data-processed/JHUAPL-SLPHospEns/2021-11-22-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#5447 UT_GISAG weekly update
  data-processed/UT_GISAG-SPDM/2021-11-22-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5448 Add KITmetricslab-select_ensemble for 2021-11-22
  data-processed/KITmetricslab-select_ensemble/2021-11-22-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5450 Nov 22, 2021 FDANIHASU SWeight Ensemble
  data-processed/FDANIHASU-Sweight/2021-11-22-FDANIHASU-Sweight.csv
Labels: data-submission, automerge

#5452 LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-11-21-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission

#5457 COVID-19Predict: Merging forecast starting at 2021-11-28
  data-processed/CWRU-COVID_19Predict/2021-11-28-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#5459 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2021-11-28-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5461 UChicagoCHATTOPADHYAY 2021-11-28 forecasts
  data-processed/UChicagoCHATTOPADHYAY-UnIT/2021-11-28-UChicagoCHATTOPADHYAY-UnIT.csv
Labels: data-submission, automerge

#5464 JHUAPL-GECKO - Newest forecasts 11/28.
  data-processed/JHUAPL-Gecko/2021-11-28-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5465 Create 2021-11-28-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2021-11-28-QJHong-Encounter.csv
Labels: data-submission, automerge

#5466 Upload 2021-11-28 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-11-28-Karlen-pypm.csv
Labels: data-submission, automerge

#5460 Add files via upload
  data-processed/TTU-squider/2021-11-28-TTU-squider.csv
Labels: data-submission, automerge

#5468 Added new MIT-CriticalData forecasts (2021-11-28)
  data-processed/MIT_CritData-GBCF/2021-11-28-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5470 HKUST-DNN 211129 forecast
  data-processed/HKUST-DNN/2021-11-29-HKUST-DNN.csv
Labels: data-submission, automerge

#5473 LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2021-11-28-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#5474 2021-11-29-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2021-11-29-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5471 2021-11-29-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2021-11-29-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5475 2021-11-29 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2021-11-29-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5477 DDS-NBDS 2021-11-29 forecast
  data-processed/DDS-NBDS/2021-11-29-DDS-NBDS.csv
Labels: data-submission, automerge

#5478 Create 2021-11-29-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2021-11-29-MIT-Cassandra.csv
Labels: data-submission, automerge
