Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-10, with the labels that each got.

#7553 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-10-02-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7555 2022-10-01 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-10-01-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7556 Upload 2022-10-02 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-10-02-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7558 Create 2022-10-02-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-10-02-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7559 ew39 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-10-03-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7560 AMM-EpiInvert
  data-processed/AMM-EpiInvert/2022-10-03-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7557 SDSC_ISG-TrendModel Forecast Update - 2022-10-02
  data-processed/SDSC_ISG-TrendModel/2022-10-02-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7552 Add files via upload
  data-processed/TTU-squider/2022-10-02-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7565 HKUST-DNN 221003 forecast
  data-processed/HKUST-DNN/2022-10-03-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7562 mobs 2022-10-03
  data-processed/MOBS-GLEAM_COVID/2022-10-03-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7563 2022-10-03 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-10-03-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7570 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-10-03-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7571 2022-10-03-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-10-03-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7575 2022-10-03-UMass-sarix
  data-processed/UMass-sarix/2022-10-03-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7576 PSI-DRAFT weekly submission - 03 Oct 2022
  data-processed/PSI-DRAFT/2022-10-03-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7577 PSI-DICE weekly submission - 03 Oct 2022
  data-processed/PSI-DICE/2022-10-03-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7578 Covid hosp models
  data-processed/UMass-trends_ensemble/2022-10-03-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7579 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-10-02-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7580 2022-10-03 ensemble
  data-processed/COVIDhub-ensemble/2022-10-03-COVIDhub-ensemble.csv
  ensemble-metadata/2022-10-03-cum_death-model-weights.csv
  ensemble-metadata/2022-10-03-inc_case-model-eligibility.csv
  ensemble-metadata/2022-10-03-inc_case-model-weights.csv
  ensemble-metadata/2022-10-03-inc_death-model-weights.csv
  ensemble-metadata/2022-10-03-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-10-03-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7583 2022-10-03 UT Osiris
  data-processed/UT-Osiris/2022-10-03-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7584 Add KITmetricslab-select_ensemble for 2022-10-03
  data-processed/KITmetricslab-select_ensemble/2022-10-03-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7585 CDC create data processed files 10/04/22
  data-processed/COVIDhub_CDC-ensemble/2022-10-03-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7596 AMM-EpiInvert. Retraction of quantiles values
  data-processed/AMM-EpiInvert/2022-09-05-AMM-EpiInvert.csv
  data-processed/AMM-EpiInvert/2022-09-12-AMM-EpiInvert.csv
  data-processed/AMM-EpiInvert/2022-09-19-AMM-EpiInvert.csv
  data-processed/AMM-EpiInvert/2022-09-26-AMM-EpiInvert.csv
  data-processed/AMM-EpiInvert/2022-10-03-AMM-EpiInvert.csv
Labels: data-submission, forecast-retraction, passed-validation

#7597 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-10-09-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7599 2022-10-08 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-10-08-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7600 Upload 2022-10-09 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-10-09-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7602 ew40 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-10-10-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7603 HKUST-DNN 221010 forecast
  data-processed/HKUST-DNN/2022-10-10-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7608 Upload 2022-10-10-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-10-10-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7609 AMM-EpiInvert Add files via upload
  data-processed/AMM-EpiInvert/2022-10-10-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7598 Add files via upload
  data-processed/TTU-squider/2022-10-09-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7601 SDSC_ISG-TrendModel Forecast Update - 2022-10-09
  data-processed/SDSC_ISG-TrendModel/2022-10-09-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7604 mobs 2022-10-10
  data-processed/MOBS-GLEAM_COVID/2022-10-10-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7607 2022-10-10 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-10-10-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7613 2022-10-10-UT-Osiris.csv
  data-processed/UT-Osiris/2022-10-10-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7614 Create 2022-10-10-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-10-10-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7618 PSI-DRAFT weekly submission - 10 Oct 2022
  data-processed/PSI-DRAFT/2022-10-10-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7619 PSI-DICE weekly submission - 10 Oct 2022
  data-processed/PSI-DICE/2022-10-10-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7620 [CMU-TimeSeries] Add 2022-10-10 predictions
  data-processed/CMU-TimeSeries/2022-10-10-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7622 Covid hosp models
  data-processed/UMass-trends_ensemble/2022-10-10-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7621 [Potomac Research] Added 2022-10-10 forecasts
  data-processed/PR_UMD-CF_RepTiLe/2022-10-09-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/metadata-PR_UMD-CF_RepTiLe.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#7625 2022-10-10 ensemble
  data-processed/COVIDhub-ensemble/2022-10-10-COVIDhub-ensemble.csv
  ensemble-metadata/2022-10-10-cum_death-model-weights.csv
  ensemble-metadata/2022-10-10-inc_case-model-eligibility.csv
  ensemble-metadata/2022-10-10-inc_case-model-weights.csv
  ensemble-metadata/2022-10-10-inc_death-model-weights.csv
  ensemble-metadata/2022-10-10-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-10-10-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7629 Add KITmetricslab-select_ensemble for 2022-10-10
  data-processed/KITmetricslab-select_ensemble/2022-10-10-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7632 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-10-16-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7633 2022-10-15 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-10-15-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7635 Create 2022-10-16-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-10-16-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7638 Upload 2022-10-16 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-10-16-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7643 HKUST-DNN 221017 forecast
  data-processed/HKUST-DNN/2022-10-17-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7645 Microsoft-DeepSTIA update 2022-10-17
  data-processed/Microsoft-DeepSTIA/2022-10-17-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7647 2022-10-17-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-10-17-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7648 AMM-EpiInvert
  data-processed/AMM-EpiInvert/2022-10-17-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7649 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-10-17-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7650 Potomac Research forecast 2022-10-16
  data-processed/PR_UMD-CF_RepTiLe/2022-10-16-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7651 PSI-DICE weekly submission - 17 Oct 2022
  data-processed/PSI-DICE/2022-10-17-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7631 Add files via upload
  data-processed/TTU-squider/2022-10-16-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7642 2022-10-17 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-10-17-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7640 mobs 2022-10-17
  data-processed/MOBS-GLEAM_COVID/2022-10-17-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7652 [CMU-TimeSeries] Add 2022-10-17 predictions
  data-processed/CMU-TimeSeries/2022-10-17-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7634 SDSC_ISG-TrendModel Forecast Update - 2022-10-16
  data-processed/SDSC_ISG-TrendModel/2022-10-16-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7653 PSI-DRAFT weekly submission - 17 Oct 2022
  data-processed/PSI-DRAFT/2022-10-17-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7654 2022-10-17-UT-Osiris.csv
  data-processed/UT-Osiris/2022-10-17-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7657 Covid hosp models
  data-processed/UMass-trends_ensemble/2022-10-17-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7658 2022-10-17 ensemble
  data-processed/COVIDhub-ensemble/2022-10-17-COVIDhub-ensemble.csv
  ensemble-metadata/2022-10-17-cum_death-model-weights.csv
  ensemble-metadata/2022-10-17-inc_case-model-eligibility.csv
  ensemble-metadata/2022-10-17-inc_case-model-weights.csv
  ensemble-metadata/2022-10-17-inc_death-model-weights.csv
  ensemble-metadata/2022-10-17-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-10-17-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7662 Add KITmetricslab-select_ensemble for 2022-10-17
  data-processed/KITmetricslab-select_ensemble/2022-10-17-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7661 CEID-Walk
  data-processed/CEID-Walk/2022-10-17-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7663 CDC create data processed files 10/18/2022
  data-processed/COVIDhub_CDC-ensemble/2022-10-17-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7588 Delete static-plots directory
  static-plots/2020-04-13-model-data.csv
  static-plots/2020-04-13-state-plots-ensemble.pdf
  static-plots/2020-04-13-state-plots-no-ens.pdf
  static-plots/2020-04-13-us-plot-ensemble.jpg
  static-plots/2020-04-13-us-plot-ensemble.pdf
  static-plots/2020-04-13-us-plot-no-ens.jpg
  static-plots/2020-04-13-us-plot-no-ens.pdf
  static-plots/2020-04-29-static-plots-and-data.R
  static-plots/Consolidated-Forecasts-2020-05-04.pdf
  static-plots/National-plot-ensemble-2020-05-04.jpg
  static-plots/plot-inc-data.R
  static-plots/static-plots-and-data.R
Labels: other-files-updated

#7664 SDSC_ISG-TrendModel Forecast Update - 2022-10-16
  data-processed/SDSC_ISG-TrendModel/2022-10-16-SDSC_ISG-TrendModel.csv
Labels: data-submission, forecast-updated, passed-validation

#7666 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-10-23-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7668 2022-10-22 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-10-22-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7669 Create 2022-10-23-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-10-23-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7671 Upload 2022-10-23 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-10-23-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7672 PSI-DICE weekly submission - 23 Oct 2022
  data-processed/PSI-DICE/2022-10-23-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7675 AMM-EpiInvert
  data-processed/AMM-EpiInvert/2022-10-24-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7680 HKUST-DNN 221024 forecast
  data-processed/HKUST-DNN/2022-10-24-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7679 2022-10-24 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-10-24-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7678 mobs 2022-10-24
  data-processed/MOBS-GLEAM_COVID/2022-10-24-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7670 SDSC_ISG-TrendModel Forecast Update - 2022-10-23
  data-processed/SDSC_ISG-TrendModel/2022-10-23-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7667 Add files via upload
  data-processed/TTU-squider/2022-10-23-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7682 Microsoft-DeepSTIA update 2022-10-24
  data-processed/Microsoft-DeepSTIA/2022-10-24-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7684 2022-10-24-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-10-24-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7685 2022-10-24-UT-Osiris
  data-processed/UT-Osiris/2022-10-24-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7689 [CMU-TimeSeries] Add 2022-10-24 predictions
  data-processed/CMU-TimeSeries/2022-10-24-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7690 ew42 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-10-24-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7686 [Potomac Research] 2022-10-23 forecast
  data-processed/PR_UMD-CF_RepTiLe/2022-10-23-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7691 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-10-23-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7695 UVA-Ensemble 2022-10-24
  data-processed/UVA-Ensemble/2022-10-24-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#7696 2022-10-24 ensemble
  data-processed/COVIDhub-ensemble/2022-10-24-COVIDhub-ensemble.csv
  ensemble-metadata/2022-10-24-cum_death-model-weights.csv
  ensemble-metadata/2022-10-24-inc_case-model-eligibility.csv
  ensemble-metadata/2022-10-24-inc_case-model-weights.csv
  ensemble-metadata/2022-10-24-inc_death-model-weights.csv
  ensemble-metadata/2022-10-24-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-10-24-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7700 Upload 2022-10-24-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-10-24-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7702 CDC created data processed files 10/25/2022
  data-processed/COVIDhub_CDC-ensemble/2022-10-24-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7703 Revise SDSC_ISG-TrendModel forecast files
  data-processed/SDSC_ISG-TrendModel/2022-02-06-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-02-13-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-02-20-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-02-27-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-06-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-13-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-20-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-27-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-03-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-10-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-17-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-24-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-05-01-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-05-08-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-05-15-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-05-22-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-05-29-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-06-05-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-06-12-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-06-19-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-06-26-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-07-03-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-07-10-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-07-17-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-07-24-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-07-31-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-08-07-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-08-14-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-08-21-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-08-28-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-09-11-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-09-18-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-09-25-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-10-02-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-10-09-SDSC_ISG-TrendModel.csv
Labels: data-submission, forecast-updated, passed-validation

#7705 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-10-30-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7704 Add files via upload
  data-processed/TTU-squider/2022-10-30-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7706 Upload 2022-10-30 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-10-30-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7708 2022-10-29 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-10-29-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7709 SDSC_ISG-TrendModel Forecast Update - 2022-10-30
  data-processed/SDSC_ISG-TrendModel/2022-10-30-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7710 AMM-EpiInvert
  data-processed/AMM-EpiInvert/2022-10-31-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7713 HKUST-DNN 221031 forecast
  data-processed/HKUST-DNN/2022-10-31-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7717 Create 2022-10-30-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/2022-10-30-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7718 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-10-31-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7715 mobs 2022-10-31
  data-processed/MOBS-GLEAM_COVID/2022-10-31-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7716 2022-10-31 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-10-31-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7719 2022-10-31-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-10-31-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7720 Create 2022-10-31-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-10-31-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7722 UVA-Ensemble 2022-10-31
  data-processed/UVA-Ensemble/2022-10-31-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#7723 Sarix 20221031
  data-processed/UMass-sarix/2022-10-31-UMass-sarix.csv
  data-processed/UMass-trends_ensemble/2022-10-31-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#7724 PSI-DICE weekly submission - 31 Oct 2022
  data-processed/PSI-DICE/2022-10-31-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7727 2022-10-31-UT Osiris
  data-processed/UT-Osiris/2022-10-31-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7729 ew43 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-10-31-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7728 [CMU-TimeSeries] Add 2022-10-31 predictions
  data-processed/CMU-TimeSeries/2022-10-31-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7732 2022-10-31 ensemble
  data-processed/COVIDhub-ensemble/2022-10-31-COVIDhub-ensemble.csv
  ensemble-metadata/2022-10-31-cum_death-model-weights.csv
  ensemble-metadata/2022-10-31-inc_case-model-eligibility.csv
  ensemble-metadata/2022-10-31-inc_case-model-weights.csv
  ensemble-metadata/2022-10-31-inc_death-model-weights.csv
  ensemble-metadata/2022-10-31-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-10-31-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation
