Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-05, with the labels that each got.

#6670 COVID-19Predict: Merging forecast starting at 2022-05-01
  data-processed/CWRU-COVID_19Predict/2022-05-01-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6671 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-05-01-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6674 Create 2022-05-01-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-05-01-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6678 UCLA-SuEIR: Forecast starting 2022-05-01
  data-processed/UCLA-SuEIR/2022-05-01-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6677 SDSC_ISG-TrendModel Forecast Update - 2022-05-01
  data-processed/SDSC_ISG-TrendModel/2022-05-01-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6676 2022-05-01-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-05-01-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6672 Add files via upload
  data-processed/TTU-squider/2022-05-01-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6679 Added new MIT-CriticalData forecasts (2022-05-01)
  data-processed/MIT_CritData-GBCF/2022-05-01-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6680 HKUST-DNN 220502 forecast
  data-processed/HKUST-DNN/2022-05-02-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6682 2022-05-02 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-05-02-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6689 FRBSF_Wilson, Econometric: 2022-05-02
  data-processed/FRBSF_Wilson-Econometric/2022-05-02-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge, passed-validation

#6690 2022-05-02 UT Osiris
  data-processed/UT-Osiris/2022-05-02-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6687 Upload 2022-05-02-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-05-02-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6686 JHUAPL - Gecko: latest forecasts
  data-processed/JHUAPL-Gecko/2022-05-02-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6692 Steve McConnell - CovidComplete - Forecasts for 2022-05-02
  data-processed/SteveMcConnell-CovidComplete/2022-05-02-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6693 mobs 2022-05-02
  data-processed/MOBS-GLEAM_COVID/2022-05-02-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6694 ew17 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-05-02-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6695 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-05-02-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6696 PSI-DRAFT weekly submission - 2 May 2022
  data-processed/PSI-DRAFT/2022-05-02-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6697 CUB_PopCouncil 2022-05-01
  data-processed/CUB_PopCouncil-SLSTM/2022-05-01-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6699 2022-05-02 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-05-02-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6700 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-05-01-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6701 [CMU-TimeSeries] Add 2022-05-02 predictions
  data-processed/CMU-TimeSeries/2022-05-02-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6703 PSI-DICE weekly submission - 2 May 2022
  data-processed/PSI-DICE/2022-05-02-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6702 MIT CovidAnalytics 20220502
  data-processed/CovidAnalytics-DELPHI/2022-05-02-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6704 2022-05-02-UMass-sarix
  data-processed/UMass-sarix/2022-05-02-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#6705 AIpert-pwllnod Forecast update for 2022-05-02
  data-processed/AIpert-pwllnod/2022-05-02-AIpert-pwllnod.csv
Labels: data-submission, automerge, passed-validation

#6709 2022-05-02-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-05-02-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6713 2022-05-02-prolix-euclidean
  data-processed/prolix-euclidean/2022-05-02-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6708 CEID-Walk
  data-processed/CEID-Walk/2022-05-02-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#6706 DDS-NBDS 2022-05-02 forecast
  data-processed/DDS-NBDS/2022-05-02-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6714 2022-05-01 - JBUD submission
  data-processed/JBUD-HMXK/2022-05-01-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6715 Add KITmetricslab-select_ensemble for 2022-05-02
  data-processed/KITmetricslab-select_ensemble/2022-05-02-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6716 CDC Updated CDC ensemble 2022-05-02
  data-processed/COVIDhub_CDC-ensemble/2022-05-02-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6718 JHUAPL-SLPHospEns 2022-05-02 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-05-02-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#6720 COVID-19Predict: Merging forecast starting at 2022-05-08
  data-processed/CWRU-COVID_19Predict/2022-05-08-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6722 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-05-08-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6726 UCLA-SuEIR: Forecast starting 2022-05-08
  data-processed/UCLA-SuEIR/2022-05-08-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6723 2022-05-08-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-05-08-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6725 SDSC_ISG-TrendModel Forecast Update - 2022-05-08
  data-processed/SDSC_ISG-TrendModel/2022-05-08-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6721 Add files via upload
  data-processed/TTU-squider/2022-05-08-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6728 Added new MIT-CriticalData forecasts
  data-processed/MIT_CritData-GBCF/2022-05-08-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6730 HKUST-DNN 220509 forecast
  data-processed/HKUST-DNN/2022-05-09-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6733 2022-05-09-LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-05-09-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6736 2022-05-09 UT Osiris
  data-processed/UT-Osiris/2022-05-09-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6737 2022-05-09 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-05-09-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6738 Microsoft-DeepSTIA update 2022-05-09
  data-processed/Microsoft-DeepSTIA/2022-05-09-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6741 FRBSF_Wilson, Econometric: 2022-05-09
  data-processed/FRBSF_Wilson-Econometric/2022-05-09-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge, passed-validation

#6743 mobs 2022-05-09
  data-processed/MOBS-GLEAM_COVID/2022-05-09-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6744 Upload 2022-05-08 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-05-08-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6746 Create 2022-05-09-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-05-09-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6735 Upload 2022-05-09-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-05-09-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6742 CEID-Walk
  data-processed/CEID-Walk/2022-05-09-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#6745 JHUAPL - Gecko: update forecasts.
  data-processed/JHUAPL-Gecko/2022-05-09-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6747 Steve McConnell - CovidComplete - Forecasts for 2022-05-09
  data-processed/SteveMcConnell-CovidComplete/2022-05-09-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6748 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-05-09-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6749 CUB_PopCouncil 2022-05-08
  data-processed/CUB_PopCouncil-SLSTM/2022-05-08-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6751 PSI-DRAFT weekly submission - 9 May 2022
  data-processed/PSI-DRAFT/2022-05-09-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6752 data-processed/UMass-sarix/2022-05-09-UMass-sarix.csv
  data-processed/UMass-sarix/2022-05-09-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#6754 PSI-DICE weekly submission - 9 May 2022
  data-processed/PSI-DICE/2022-05-09-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6756 ew18 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-05-09-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6757 2022-05-09-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-05-09-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6758 MIT CovidAnalytics Update 20220509
  data-processed/CovidAnalytics-DELPHI/2022-05-09-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6759 2022-05-09-prolix-euclidean
  data-processed/prolix-euclidean/2022-05-09-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6765 2022-05-08 - JBUD submission
  data-processed/JBUD-HMXK/2022-05-08-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6766 Add KITmetricslab-select_ensemble for 2022-05-09
  data-processed/KITmetricslab-select_ensemble/2022-05-09-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6763 DDS-NBDS 2022-05-09 forecast
  data-processed/DDS-NBDS/2022-05-09-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6767 CDC Create 2022-05-09-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-05-09-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6768 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-05-15-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6770 Create 2022-05-15-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-05-15-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6775 UCLA SuEIR: Forecast starting 2022-05-15
  data-processed/UCLA-SuEIR/2022-05-15-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6773 SDSC_ISG-TrendModel Forecast Update - 2022-05-15
  data-processed/SDSC_ISG-TrendModel/2022-05-15-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6769 Add files via upload
  data-processed/TTU-squider/2022-05-15-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6776 UVA-Ensemble 2022-05-16
  data-processed/UVA-Ensemble/2022-05-16-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#6777 Upload 2022-05-15 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-05-15-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6778 HKUST-DNN 220516 forecast
  data-processed/HKUST-DNN/2022-05-16-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6779 Added new MIT-CriticalData forecasts (2022-05-15)
  data-processed/MIT_CritData-GBCF/2022-05-15-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6785 2022-05-16 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-05-16-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6786 2022-05-16 UT Osiris
  data-processed/UT-Osiris/2022-05-16-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6787 Upload 2022-05-16-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-05-16-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6789 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-05-15-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6790 JHUAPL-Gecko: Update forecasts.
  data-processed/JHUAPL-Gecko/2022-05-16-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6791 2022-05-16-UMass-sarix
  data-processed/UMass-sarix/2022-05-16-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#6792 Add files via upload
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-05-16-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6794 2022-05-16-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-05-16-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6795 Steve McConnell - CovidComplete - Forecasts for 2022-05-16
  data-processed/SteveMcConnell-CovidComplete/2022-05-16-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6797 CUB_PopCouncil 2022-05-15
  data-processed/CUB_PopCouncil-SLSTM/2022-05-15-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6798 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-05-16-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6799 PSI-DRAFT weekly submission - 16 May 2022
  data-processed/PSI-DRAFT/2022-05-16-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6800 ew19 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-05-16-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6801 2022-05-16 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-05-16-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6802 [CMU-TimeSeries] Add 2022-05-16 predictions
  data-processed/CMU-TimeSeries/2022-05-16-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6803 PSI-DICE weekly submission - 16 May 2022
  data-processed/PSI-DICE/2022-05-16-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6804 2022-05-16-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-05-16-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6805 DDS-NBDS 2022-05-16 forecast
  data-processed/DDS-NBDS/2022-05-16-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6806 2022-05-16-prolix-euclidean
  data-processed/prolix-euclidean/2022-05-16-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6811 2022-05-15 - JBUD submission
  data-processed/JBUD-HMXK/2022-05-15-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6812 CDC Create 2022-05-16-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-05-16-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6814 Update metadata
  data-processed/CUB_PopCouncil-SLSTM/metadata-CUB_PopCouncil-SLSTM.txt
Labels: metadata-change

#6815 Revert "Merge branch 'master' into master"
  .github/workflows/validations_v4.yml
  data-processed/UMass-MechBayes/2022-02-15-UMass-MechBayes.csv
  project-config.json
Labels: data-submission, other-files-updated, file-deletion

#6807 CEID-Walk
  data-processed/CEID-Walk/2022-05-16-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#6816 Update generate_truth_csvs.R - temporarily remove nyt
  code/R_scripts/generate_truth_csvs.R
Labels: code, other-files-updated

#6818 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-05-22-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6822 UCLA_SuEIR: Forecast starting 2022-05-22
  data-processed/UCLA-SuEIR/2022-05-22-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6823 Create 2022-05-23-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-05-23-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6824 HKUST-DNN 220523 forecast
  data-processed/HKUST-DNN/2022-05-23-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6826 Added new MIT-CriticalData forecasts (2022-05-22)
  data-processed/MIT_CritData-GBCF/2022-05-22-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6828 mobs 2022-05-23
  data-processed/MOBS-GLEAM_COVID/2022-05-23-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6830 2022-05-23 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-05-23-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6831 Microsoft-DeepSTIA update 2022-05-23
  data-processed/Microsoft-DeepSTIA/2022-05-23-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6832 PSI-DRAFT weekly submission - 23 May 2022
  data-processed/PSI-DRAFT/2022-05-23-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6835 2022-05-23-UMass-sarix
  data-processed/UMass-sarix/2022-05-23-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#6836 Upload 2022-05-22 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-05-22-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6833 JHUAPL - Gecko: update forecasts.
  data-processed/JHUAPL-Gecko/2022-05-23-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6837 2022-05-23 UT Osiris
  data-processed/UT-Osiris/2022-05-23-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6839 Steve McConnell - CovidComplete - Forecasts for 2022-05-23
  data-processed/SteveMcConnell-CovidComplete/2022-05-23-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6838 CUB_PopCouncil 2022-05-22
  data-processed/CUB_PopCouncil-SLSTM/2022-05-22-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6842 UVA-Ensemble 2022-05-23
  data-processed/UVA-Ensemble/2022-05-23-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#6844 Add files via upload
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-05-23-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6845 2022-05-23 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-05-23-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6841 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-05-22-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6846 MIT CovidAnalytics Update 20220523
  data-processed/CovidAnalytics-DELPHI/2022-05-23-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6847 [CMU-TimeSeries] Add 2022-05-23 predictions
  data-processed/CMU-TimeSeries/2022-05-23-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6848 ew20 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-05-23-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6849 2022-05-23-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-05-23-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6850 2022-05-23 ensemble
  data-processed/COVIDhub-ensemble/2022-05-23-COVIDhub-ensemble.csv
  ensemble-metadata/2022-05-23-cum_death-model-weights.csv
  ensemble-metadata/2022-05-23-inc_case-model-eligibility.csv
  ensemble-metadata/2022-05-23-inc_case-model-weights.csv
  ensemble-metadata/2022-05-23-inc_death-model-weights.csv
  ensemble-metadata/2022-05-23-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-05-23-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#6855 2022-05-22 - JBUD submission
  data-processed/JBUD-HMXK/2022-05-22-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6856 Add KITmetricslab-select_ensemble for 2022-05-23
  data-processed/KITmetricslab-select_ensemble/2022-05-23-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6857 CDC Create 2022-05-23-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-05-23-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6861 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-05-29-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6862 JHUAPL Gecko: Memorial day update.
  data-processed/JHUAPL-Gecko/2022-05-29-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6866 Upload 2022-05-29 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-05-29-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6868 UCLA_SuSIR: Forecast starting 2022-05-29
  data-processed/UCLA-SuEIR/2022-05-29-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6869 Create 2022-05-29-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-05-29-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6870 HKUST-DNN 220530 forecast
  data-processed/HKUST-DNN/2022-05-30-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6871 2022-05-30 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-05-30-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6874 Added new MIT-CriticalData forecasts (2022-05-29)
  data-processed/MIT_CritData-GBCF/2022-05-29-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6876 Add files via upload
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-05-30-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6880 Microsoft-DeepSTIA update 2022-05-30
  data-processed/Microsoft-DeepSTIA/2022-05-30-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6882 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-05-30-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6883 PSI-DRAFT weekly submission - 30 May 2022
  data-processed/PSI-DRAFT/2022-05-30-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6886 PSI-DICE weekly submission - 30 May 2022
  data-processed/PSI-DICE/2022-05-30-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6887 CUB_PopCouncil 2022-05-29
  data-processed/CUB_PopCouncil-SLSTM/2022-05-29-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6864 Add files via upload
  data-processed/TTU-squider/2022-05-29-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6865 SDSC_ISG-TrendModel Forecast Update - 2022-05-29
  data-processed/SDSC_ISG-TrendModel/2022-05-29-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6881 2022-05-30-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-05-30-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6885 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-05-29-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6890 Steve McConnell - CovidComplete - Forecasts for 2022-05-30
  data-processed/SteveMcConnell-CovidComplete/2022-05-30-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6879 Upload 2022-05-30-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-05-30-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6893 ew21 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-05-30-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation
