Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-09, with the labels that each got.

#7411 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-09-04-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7413 CUB_PopCouncil 2022-09-03
  data-processed/CUB_PopCouncil-SLSTM/2022-09-03-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7415 ew35 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-09-05-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7416 2022-09-05 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-09-05-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7418 HKUST-DNN 220905 forecast
  data-processed/HKUST-DNN/2022-09-05-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7421 Microsoft-DeepSTIA update 2022-09-05
  data-processed/Microsoft-DeepSTIA/2022-09-05-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7422 2022-09-05-UMass-sarix
  data-processed/UMass-sarix/2022-09-05-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7425 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-09-05-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7420 mobs 2022-09-05
  data-processed/MOBS-GLEAM_COVID/2022-09-05-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7424 2022-09-05-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-09-05-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7426 UT-Osiris
  data-processed/UT-Osiris/2022-09-05-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7428 2022-09-05-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-09-05-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7429 Upload 2022-09-04 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-09-04-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7430 Create 2022-09-05-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-09-05-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7431 [CMU-TimeSeries] Add 2022-09-05 predictions
  data-processed/CMU-TimeSeries/2022-09-05-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7432 Psi dice weekly submission
  data-processed/PSI-DICE/2022-09-05-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7434 Upload 2022-09-05-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-09-05-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7435 PSI-DICE weekly submission - 05 September 2022
  data-processed/PSI-DRAFT/2022-09-05-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7433 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-09-04-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7436 2022-09-05 ensemble
  data-processed/COVIDhub-ensemble/2022-09-05-COVIDhub-ensemble.csv
  ensemble-metadata/2022-09-05-cum_death-model-weights.csv
  ensemble-metadata/2022-09-05-inc_case-model-eligibility.csv
  ensemble-metadata/2022-09-05-inc_case-model-weights.csv
  ensemble-metadata/2022-09-05-inc_death-model-weights.csv
  ensemble-metadata/2022-09-05-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-09-05-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7439 Update 2022-09-05
  data-processed/AMM-EpiInvert/2022-09-05-AMM-EpiInvert.csv
  data-processed/AMM-EpiInvert/metadata-AMM-EpiInvert.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#7440 Covid hosp models
  data-processed/UMass-trends_ensemble/2022-09-05-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7442 CDC create data processed files 9/06/2022
  data-processed/COVIDhub_CDC-ensemble/2022-09-05-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7443 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-09-11-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7446 2022-09-10 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-09-10-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7447 Upload 2022-09-11 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-09-11-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7444 Add files via upload
  data-processed/TTU-squider/2022-09-11-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7448 SDSC_ISG-TrendModel Forecast Update - 2022-09-11
  data-processed/SDSC_ISG-TrendModel/2022-09-11-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7450 Create 2022-09-11-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-09-11-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7451 AMM-EpiInvert
  data-processed/AMM-EpiInvert/2022-09-12-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7454 2022-09-12-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-09-12-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7455 ew36 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-09-12-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7457 Upload 2022-09-12-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-09-12-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7459 HKUST-DNN 220912 forecast
  data-processed/HKUST-DNN/2022-09-12-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7456 2022-09-12 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-09-12-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7453 mobs 2022-09-12
  data-processed/MOBS-GLEAM_COVID/2022-09-12-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7460 2022-09-12-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-09-12-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7463 Microsoft-DeepSTIA update 2022-09-12
  data-processed/Microsoft-DeepSTIA/2022-09-12-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7464 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-09-12-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7461 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-09-11-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7467 2022-09-12-UMass-sarix
  data-processed/UMass-sarix/2022-09-12-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7469 PSI-DICE weekly submission - 12 Sep 2022
  data-processed/PSI-DICE/2022-09-12-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7470 Covid hosp models
  data-processed/UMass-trends_ensemble/2022-09-12-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7471 PSI-DRAFT weekly submission - 12 Sep 2022
  data-processed/PSI-DRAFT/2022-09-12-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7468 [CMU-TimeSeries] Add 2022-09-12 predictions
  data-processed/CMU-TimeSeries/2022-09-12-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7472 UT-Osiris
  data-processed/UT-Osiris/2022-09-12-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7478 Add KITmetricslab-select_ensemble for 2022-09-12
  data-processed/KITmetricslab-select_ensemble/2022-09-12-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7477 CEID-Walk
  data-processed/CEID-Walk/2022-09-12-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7479 CDC created data processed files 09/13/2022
  data-processed/COVIDhub_CDC-ensemble/2022-09-12-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7481 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-09-18-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7482 CUB_PopCouncil 2022-09-17
  data-processed/CUB_PopCouncil-SLSTM/2022-09-17-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7484 Upload 2022-09-18 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-09-18-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7483 SDSC_ISG-TrendModel Forecast Update - 2022-09-18
  data-processed/SDSC_ISG-TrendModel/2022-09-18-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7480 Add files via upload
  data-processed/TTU-squider/2022-09-18-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7487 AMM-EpiInvert
  data-processed/AMM-EpiInvert/2022-09-19-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7489 mobs 2022-09-19
  data-processed/MOBS-GLEAM_COVID/2022-09-19-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7493 Microsoft-DeepSTIA update 2022-09-19
  data-processed/Microsoft-DeepSTIA/2022-09-19-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7496 2022-09-19-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-09-19-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7498 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-09-19-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7494 2022-09-19-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-09-19-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7501 ew37 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-09-19-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7504 PSI-DRAFT weekly submission - 19 Sep 2022
  data-processed/PSI-DRAFT/2022-09-19-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7499 Upload 2022-09-19-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-09-19-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7500 2022-09-19 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-09-19-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7502 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-09-18-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7505 [CMU-TimeSeries] Add 2022-09-19 predictions
  data-processed/CMU-TimeSeries/2022-09-19-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7506 Create 2022-09-19-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-09-19-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7507 PSI-DICE weekly submission - 19 Sep 2022
  data-processed/PSI-DICE/2022-09-19-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7508 Covid hosp models
  data-processed/UMass-trends_ensemble/2022-09-19-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7509 UT-Osiris
  data-processed/UT-Osiris/2022-09-19-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7514 Add KITmetricslab-select_ensemble for 2022-09-19
  data-processed/KITmetricslab-select_ensemble/2022-09-19-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7515 CDC 2022-09-19-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-09-19-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7513 CEID-Walk
  data-processed/CEID-Walk/2022-09-19-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7516 Add files via upload
  data-processed/TTU-squider/2022-09-25-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7517 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-09-25-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7519 2022-09-24 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-09-24-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7520 Upload 2022-09-25 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-09-25-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7522 Create 2022-09-25-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-09-25-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7523 ew38 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-09-26-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7524 AMM-EpiInvert
  data-processed/AMM-EpiInvert/2022-09-26-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7521 SDSC_ISG-TrendModel Forecast Update - 2022-09-25
  data-processed/SDSC_ISG-TrendModel/2022-09-25-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7527 Microsoft-DeepSTIA update 2022-09-26
  data-processed/Microsoft-DeepSTIA/2022-09-26-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7528 Upload 2022-09-26-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-09-26-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7529 2022-09-26-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-09-26-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7526 mobs 2022-09-26
  data-processed/MOBS-GLEAM_COVID/2022-09-26-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7533 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-09-26-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7534 2022-09-26-UMass-sarix
  data-processed/UMass-sarix/2022-09-26-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7535 UT-Osiris
  data-processed/UT-Osiris/2022-09-26-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7538 PSI-DICE weekly submission - 26 Sep 2022
  data-processed/PSI-DICE/2022-09-26-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7540 Covid hosp models
  data-processed/UMass-trends_ensemble/2022-09-26-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7537 2022-09-26-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-09-26-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7539 [CMU-TimeSeries] Add 2022-09-26 predictions
  data-processed/CMU-TimeSeries/2022-09-26-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7542 2022-09-26 ensemble
  data-processed/COVIDhub-ensemble/2022-09-26-COVIDhub-ensemble.csv
  ensemble-metadata/2022-09-26-cum_death-model-weights.csv
  ensemble-metadata/2022-09-26-inc_case-model-eligibility.csv
  ensemble-metadata/2022-09-26-inc_case-model-weights.csv
  ensemble-metadata/2022-09-26-inc_death-model-weights.csv
  ensemble-metadata/2022-09-26-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-09-26-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7547 Add KITmetricslab-select_ensemble for 2022-09-26
  data-processed/KITmetricslab-select_ensemble/2022-09-26-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7545 CEID-Walk
  data-processed/CEID-Walk/2022-09-26-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7548 CDC forecast visualization 20220927
  data-processed/COVIDhub_CDC-ensemble/2022-09-26-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation
