Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-04, with the labels that each got.

#6456 2022-04-01-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-01-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6457 COVID-19Predict: Merging forecast starting at 2022-04-03
  data-processed/CWRU-COVID_19Predict/2022-04-03-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6459 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-04-03-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6460 2022-04-03-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-03-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6465 Upload 2022-04-03 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-04-03-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6466 HKUST-DNN 220404 forecast
  data-processed/HKUST-DNN/2022-04-04-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6467 Added new MIT-CriticalData forecasts (2022-04-03)
  data-processed/MIT_CritData-GBCF/2022-04-03-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6468 2022-04-03 UT-Osiris
  data-processed/UT-Osiris/2022-04-04-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6470 ew13 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-04-04-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6473 Upload 2022-04-04-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-04-04-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6462 SDSC_ISG-TrendModel Forecast Update - 2022-04-03
  data-processed/SDSC_ISG-TrendModel/2022-04-03-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6474 mobs 0404
  data-processed/MOBS-GLEAM_COVID/2022-04-04-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6481 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-04-04-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6482 2022-04-04-LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-04-04-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6483 PSI-DRAFT weekly submission - 4 Apr 2022
  data-processed/PSI-DRAFT/2022-04-04-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6484 JHUAPL - Gecko - Updated forecasts 4/4
  data-processed/JHUAPL-Gecko/2022-04-04-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6486 [CMU-TimeSeries] Add 2022-04-04 predictions
  data-processed/CMU-TimeSeries/2022-04-04-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6487 Create 2022-04-04-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-04-04-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6488 CUB_PopCouncil 2022-04-03
  data-processed/CUB_PopCouncil-SLSTM/2022-04-03-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6489 2022-04-04 submission of UMass-trends_ensemble
  data-processed/UMass-trends_ensemble/2022-04-04-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6490 Added 4/4/2022 weekly covid-19 prediction UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-04-04-UMich-RidgeTfReg.csv
Labels: data-submission, automerge, passed-validation

#6479 2022-04-04-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-04-04-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6491 PSI-DICE weekly submission - 4 Apr 2022
  data-processed/PSI-DICE/2022-04-04-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6493 Steve McConnell - CovidComplete - Forecasts for 2022-04-04
  data-processed/SteveMcConnell-CovidComplete/2022-04-04-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6494 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-04-03-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6495 AIpert-pwllnod Forecast update for 2022-04-04
  data-processed/AIpert-pwllnod/2022-04-04-AIpert-pwllnod.csv
Labels: data-submission, automerge, passed-validation

#6502 weekly update UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-04-04-UT_GISAG-SPDM.csv
Labels: data-submission, automerge, passed-validation

#6503 2022-04-03 - JBUD submission
  data-processed/JBUD-HMXK/2022-04-03-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6504 Add KITmetricslab-select_ensemble for 2022-04-04
  data-processed/KITmetricslab-select_ensemble/2022-04-04-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6505 Create 2022-04-04 ensemble csv
  data-processed/COVIDhub_CDC-ensemble/2022-04-04-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6501 DDS-NBDS 2022-04-04 forecast
  data-processed/DDS-NBDS/2022-04-04-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6507 2022-04-05-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-05-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6508 JHUAPL-SLPHospEns 2022-04-04 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-04-04-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#6510 2022-04-07-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-07-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6511 2022-04-08-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-08-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6513 COVID-19Predict: Merging forecast starting at 2022-04-10
  data-processed/CWRU-COVID_19Predict/2022-04-10-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6515 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-04-10-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6514 Add files via upload
  data-processed/TTU-squider/2022-04-10-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6517 SDSC_ISG-TrendModel Forecast Update - 2022-04-10
  data-processed/SDSC_ISG-TrendModel/2022-04-10-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6518 UCLA SuEIR: Forecast starting 2022-04-10
  data-processed/UCLA-SuEIR/2022-04-10-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6519 Create 2022-04-10-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-04-10-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6520 HKUST-DNN 220411 forecast
  data-processed/HKUST-DNN/2022-04-11-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6525 ew14 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-04-11-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6527 JHUAPL GECKO - Update forecasts 4/11
  data-processed/JHUAPL-Gecko/2022-04-11-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6528 2022-04-11 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-04-11-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6529 Microsoft-DeepSTIA update 2022-04-11
  data-processed/Microsoft-DeepSTIA/2022-04-11-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6532 Added new MIT-CriticalData forecasts (2022-04-10)
  data-processed/MIT_CritData-GBCF/2022-04-10-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6534 2022-04-11-LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-04-11-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6536 CUB_PopCouncil 2022-04-10
  data-processed/CUB_PopCouncil-SLSTM/2022-04-10-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6537 PSI-DRAFT weekly submission - 11 Apr 2022
  data-processed/PSI-DRAFT/2022-04-11-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6538 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-04-11-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6539 PSI-DICE weekly submission - 11 Apr 2022
  data-processed/PSI-DICE/2022-04-11-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6540 Steve McConnell - CovidComplete - Forecasts for 2022-04-11
  data-processed/SteveMcConnell-CovidComplete/2022-04-11-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6542 2022-04-11 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-04-11-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6543 [CMU-TimeSeries] Add 2022-04-11 predictions
  data-processed/CMU-TimeSeries/2022-04-11-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6541 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-04-10-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6544 Added 4/11/2022 weakly covid prediction UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-04-11-UMich-RidgeTfReg.csv
Labels: data-submission, automerge, passed-validation

#6545 AIpert-pwllnod Forecast update for 2022-04-11
  data-processed/AIpert-pwllnod/2022-04-11-AIpert-pwllnod.csv
Labels: data-submission, automerge, passed-validation

#6546 2022-04-11 UT-Osiris
  data-processed/UT-Osiris/2022-04-11-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6547 2022-04-11-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-11-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6548 Upload 2022-04-10 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-04-10-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6553 2022-04-10 - JBUD submission
  data-processed/JBUD-HMXK/2022-04-10-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6556 Add KITmetricslab-select_ensemble for 2022-04-11
  data-processed/KITmetricslab-select_ensemble/2022-04-11-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6552 DDS-NBDS 2022-04-11 forecast
  data-processed/DDS-NBDS/2022-04-11-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6557 4/11 ensemble
  data-processed/COVIDhub_CDC-ensemble/2022-04-11-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6561 JHUAPL-SLPHospEns 2022-04-11 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-04-11-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#6562 Update 2022-04-11-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-04-11-COVIDhub_CDC-ensemble.csv
Labels: data-submission, forecast-updated, passed-validation

#6564 add: zoltpy credentials
  .github/workflows/validations_v4.yml
Labels: other-files-updated

#6565 2022-04-15-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-15-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6566 COVID-19Predict: Merging forecast starting at 2022-04-17
  data-processed/CWRU-COVID_19Predict/2022-04-17-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6568 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-04-17-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6574 UCLA-SuEIR: Forecast starting 2022-04-17
  data-processed/UCLA-SuEIR/2022-04-17-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6575 Create 2022-04-17-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-04-17-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6567 Add files via upload
  data-processed/TTU-squider/2022-04-17-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6570 SDSC_ISG-TrendModel Forecast Update - 2022-04-17
  data-processed/SDSC_ISG-TrendModel/2022-04-17-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6577 HKUST-DNN 220418 forecast
  data-processed/HKUST-DNN/2022-04-18-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6578 Added new MIT-CriticalData forecasts (2022-04-17)
  data-processed/MIT_CritData-GBCF/2022-04-17-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6581 Upload 2022-04-17 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-04-17-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6583 mobs 2022-04-18
  data-processed/MOBS-GLEAM_COVID/2022-04-18-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6580 forecast-2022-04-18
  data-processed/CEID-Walk/2022-04-18-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#6586 2022-04-18 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-04-18-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6587 Add files via upload
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-04-18-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6592 Microsoft-DeepSTIA update 2022-04-18
  data-processed/Microsoft-DeepSTIA/2022-04-18-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6585 Upload 2022-04-18-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-04-18-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6589 2022-04-18-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-04-18-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6590 JHUAPL - GECKO: 4/18 forecasts
  data-processed/JHUAPL-Gecko/2022-04-18-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6593 FRBSF_Wilson, Econometric: 2022-04-18
  data-processed/FRBSF_Wilson-Econometric/2022-04-18-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge, passed-validation

#6595 Steve McConnell - CovidComplete - Forecasts for 2022-04-18
  data-processed/SteveMcConnell-CovidComplete/2022-04-18-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6594 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-04-17-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6597 PSI-DRAFT weekly submission - 18 Apr 2022
  data-processed/PSI-DRAFT/2022-04-18-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6598 CUB_PopCouncil 2022-04-17
  data-processed/CUB_PopCouncil-SLSTM/2022-04-17-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6599 PSI-DICE weekly submission - 18 Apr 2022
  data-processed/PSI-DICE/2022-04-18-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6601 Added 4/18/2022 weekly covid-19 prediction UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-04-18-UMich-RidgeTfReg.csv
Labels: data-submission, automerge, passed-validation

#6600 2022-04-18 UT Osiris
  data-processed/UT-Osiris/2022-04-18-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6602 2022-04-18 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-04-18-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6603 [CMU-TimeSeries] Add 2022-04-18 predictions
  data-processed/CMU-TimeSeries/2022-04-18-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6604 ew15 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-04-18-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6605 DDS-NBDS 2022-04-18 forecast
  data-processed/DDS-NBDS/2022-04-18-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6606 AIpert-pwllnod Forecast update for 2022-04-18
  data-processed/AIpert-pwllnod/2022-04-18-AIpert-pwllnod.csv
Labels: data-submission, automerge, passed-validation

#6582 Update metadata-IEM_MED-CovidProject.txt
  data-processed/IEM_MED-CovidProject/metadata-IEM_MED-CovidProject.txt
Labels: metadata-change

#6608 2022-04-18-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-18-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6612 2022-04-18-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-04-18-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6613 UT_GISAG Weekly update
  data-processed/UT_GISAG-SPDM/2022-04-18-UT_GISAG-SPDM.csv
Labels: data-submission, automerge, passed-validation

#6614 2022-04-17 - JBUD submission
  data-processed/JBUD-HMXK/2022-04-17-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6615 Add KITmetricslab-select_ensemble for 2022-04-18
  data-processed/KITmetricslab-select_ensemble/2022-04-18-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6616 CDC ensemble data on website 4/18
  data-processed/COVIDhub_CDC-ensemble/2022-04-18-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6618 MIT CovidAnalytics Update
  data-processed/CovidAnalytics-DELPHI/2022-04-18-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6620 JHUAPL-SLPHospEns 2022-04-18 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-04-18-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#6621 COVID-19Predict: Merging forecast starting at 2022-04-24
  data-processed/CWRU-COVID_19Predict/2022-04-24-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6623 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-04-24-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6625 Create 2022-04-24-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-04-24-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6630 HKUST-DNN 220425 forecast
  data-processed/HKUST-DNN/2022-04-25-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6631 Added new MIT-CriticalData forecasts (2022-04-24)
  data-processed/MIT_CritData-GBCF/2022-04-24-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6632 2022-04-25 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-04-25-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6629 2022-04-24-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-04-24-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6622 Add files via upload
  data-processed/TTU-squider/2022-04-24-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6638 Upload 2022-04-24 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-04-24-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6645 FRBSF_Wilson, Econometric: 2022-04-25
  data-processed/FRBSF_Wilson-Econometric/2022-04-25-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge, passed-validation

#6646 CEID-WALK
  data-processed/CEID-Walk/2022-04-25-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#6644 Upload 2022-04-25-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-04-25-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6643 2022-04-25 UT Osiris
  data-processed/UT-Osiris/2022-04-25-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6642 JHUAPL-Gecko: update forecasts.
  data-processed/JHUAPL-Gecko/2022-04-25-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6640 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-04-24-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6647 2022-04-25-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-04-25-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6648 Steve McConnell - CovidComplete - Forecasts for 2022-04-25
  data-processed/SteveMcConnell-CovidComplete/2022-04-25-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6649 CUB_PopCouncil 2022-04-24
  data-processed/CUB_PopCouncil-SLSTM/2022-04-24-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6650 PSI-DRAFT weekly submission - 25 Apr 2022
  data-processed/PSI-DRAFT/2022-04-25-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6652 PSI-DICE weekly submission - 25 Apr 2022
  data-processed/PSI-DICE/2022-04-25-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6653 [CMU-TimeSeries] Add 2022-04-25 predictions
  data-processed/CMU-TimeSeries/2022-04-25-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6655 2022-04-25-UMass-sarix
  data-processed/UMass-sarix/2022-04-25-UMass-sarix.csv
  data-processed/UMass-sarix/metadata-UMass-sarix.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#6654 MIT CovidAnalytics Update 20220425
  data-processed/CovidAnalytics-DELPHI/2022-04-25-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6657 Adding UMass-trends_ensemble forecast, manually
  data-processed/UMass-trends_ensemble/2022-04-25-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6658 Added weekly covid prediction for 4/25/2022 UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-04-25-UMich-RidgeTfReg.csv
Labels: data-submission, automerge, passed-validation

#6660 Add files via upload
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-04-25-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6664 2022-04-25-prolix-euclidean
  data-processed/prolix-euclidean/2022-04-25-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6665 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-04-25-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6666 2022-04-24 - JBUD submission
  data-processed/JBUD-HMXK/2022-04-24-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6667 Add KITmetricslab-select_ensemble for 2022-04-25
  data-processed/KITmetricslab-select_ensemble/2022-04-25-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6668 JHUAPL-SLPHospEns 2022-04-25 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-04-25-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#6669 Hannah Lang CDC Create 2022-04-25-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-04-25-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6659 DDS-NBDS 2022-04-25 forecast
  data-processed/DDS-NBDS/2022-04-25-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation
