Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-11, with the labels that each got.

#7736 Microsoft-DeepSTIA update 2022-10-31
  data-processed/Microsoft-DeepSTIA/2022-10-31-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7737 Add KITmetricslab-select_ensemble for 2022-10-31
  data-processed/KITmetricslab-select_ensemble/2022-10-31-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7735 CEID-Walk
  data-processed/CEID-Walk/2022-10-31-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7738 CDC created data processed files 11/01/20222
  data-processed/COVIDhub_CDC-ensemble/2022-10-31-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7740 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-11-06-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7743 2022-11-05 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-11-05-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7744 Upload 2022-11-06 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-11-06-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7739 Add files via upload
  data-processed/TTU-squider/2022-11-06-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7742 SDSC_ISG-TrendModel Forecast Update - 2022-11-06
  data-processed/SDSC_ISG-TrendModel/2022-11-06-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7747 AMM-EpiInvertForecast Add files via upload
  data-processed/AMM-EpiInvert/2022-11-07-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7748 HKUST-DNN 221107 forecast
  data-processed/HKUST-DNN/2022-11-07-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7750 Upload 2022-11-07-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-11-07-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7749 mobs 2022-11-07
  data-processed/MOBS-GLEAM_COVID/2022-11-07-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7751 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-11-07-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7753 2022-11-07-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-11-07-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7754 2022-11-07-UT-Osiris
  data-processed/UT-Osiris/2022-11-07-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7755 UVA-Ensemble 2022-11-07
  data-processed/UVA-Ensemble/2022-11-07-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#7756 Create 2022-11-07-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-11-07-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7759 ew44 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-11-07-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7761 PSI-DRAFT weekly submission - 7 Nov 2022
  data-processed/PSI-DRAFT/2022-11-07-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7763 sarix 2022.11.07
  data-processed/UMass-sarix/2022-11-07-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7764 PSI-DICE weekly submission - 7 Nov 2022
  data-processed/PSI-DICE/2022-11-07-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7766 Create 2022-11-06-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/2022-11-06-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7767 Remove AK due to misalignment
  data-processed/UMass-trends_ensemble/2022-11-07-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7760 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-11-06-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7762 [CMU-TimeSeries] Add 2022-11-07 predictions
  data-processed/CMU-TimeSeries/2022-11-07-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7768 2022-11-07 ensemble
  data-processed/COVIDhub-ensemble/2022-11-07-COVIDhub-ensemble.csv
  ensemble-metadata/2022-11-07-cum_death-model-weights.csv
  ensemble-metadata/2022-11-07-inc_case-model-eligibility.csv
  ensemble-metadata/2022-11-07-inc_case-model-weights.csv
  ensemble-metadata/2022-11-07-inc_death-model-weights.csv
  ensemble-metadata/2022-11-07-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-11-07-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7771 Microsoft-DeepSTIA update 2022-11-07
  data-processed/Microsoft-DeepSTIA/2022-11-07-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7773 Add KITmetricslab-select_ensemble for 2022-11-07
  data-processed/KITmetricslab-select_ensemble/2022-11-07-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7774 CDC create data processed files 11/08/2022
  data-processed/COVIDhub_CDC-ensemble/2022-11-07-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7772 CEID-Walk
  data-processed/CEID-Walk/2022-11-07-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7775 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-11-13-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7777 2022-11-12 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-11-12-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7776 Add files via upload
  data-processed/TTU-squider/2022-11-13-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7779 SDSC_ISG-TrendModel Forecast Update - 2022-11-13
  data-processed/SDSC_ISG-TrendModel/2022-11-13-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7782 UT-Osiris-2022-11-14
  data-processed/UT-Osiris/2022-11-14-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7783 Upload 2022-11-14-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-11-14-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7784 HKUST-DNN 221114 forecast
  data-processed/HKUST-DNN/2022-11-14-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7787 ew45 DeepCOVID
  data-processed/GT-DeepCOVID/2022-11-14-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7785 mobs 2022-11-14
  data-processed/MOBS-GLEAM_COVID/2022-11-14-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7788 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-11-14-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7792 2022-11-14 UMass-sarix
  data-processed/UMass-sarix/2022-11-14-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7793 PSI-DRAFT weekly submission - 14 Nov 2022
  data-processed/PSI-DRAFT/2022-11-14-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7794 UVA-Ensemble 2022-11-14
  data-processed/UVA-Ensemble/2022-11-14-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#7799 PSI-DICE weekly submission - 14 Nov 2022
  data-processed/PSI-DICE/2022-11-14-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7797 CEID-Walk
  data-processed/CEID-Walk/2022-11-14-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7798 [CMU-TimeSeries] Add 2022-11-14 predictions
  data-processed/CMU-TimeSeries/2022-11-14-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7801 2022-11-14 ensemble
  data-processed/COVIDhub-ensemble/2022-11-14-COVIDhub-ensemble.csv
  ensemble-metadata/2022-11-14-cum_death-model-weights.csv
  ensemble-metadata/2022-11-14-inc_case-model-eligibility.csv
  ensemble-metadata/2022-11-14-inc_case-model-weights.csv
  ensemble-metadata/2022-11-14-inc_death-model-weights.csv
  ensemble-metadata/2022-11-14-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-11-14-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7805 Microsoft-DeepSTIA update 2022-11-14
  data-processed/Microsoft-DeepSTIA/2022-11-14-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7806 Add KITmetricslab-select_ensemble for 2022-11-14
  data-processed/KITmetricslab-select_ensemble/2022-11-14-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7807 Create data processed files 11/15/2022
  data-processed/COVIDhub_CDC-ensemble/2022-11-14-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7810 Update workflows
  .github/workflows/active_update_truth_weekly.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/model_validation_v2.yml
  .github/workflows/pr_push_job.yml
  .github/workflows/update_local_viz.yml
  .github/workflows/upload_single_forecast.yml
  .github/workflows/upload_to_zoltar.yml
  .github/workflows/validate_forecast.yml
  .github/workflows/validations_v4.yml
Labels: other-files-updated

#7817 update indentation
  .github/workflows/active_update_truth_weekly.yml
Labels: other-files-updated

#7819 2022-11-19 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-11-19-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7821 Upload 2022-11-20 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-11-20-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7822 AMM-EpiInverForecast
  data-processed/AMM-EpiInvert/2022-11-21-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7815 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-11-20-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7830 2022-11-21-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-11-21-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7816 Add files via upload
  data-processed/TTU-squider/2022-11-20-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7827 mobs 2022-11-21
  data-processed/MOBS-GLEAM_COVID/2022-11-21-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7826 2022-11-21 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-11-21-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7829 CEID-Walk
  data-processed/CEID-Walk/2022-11-21-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7820 SDSC_ISG-TrendModel Forecast Update - 2022-11-20
  data-processed/SDSC_ISG-TrendModel/2022-11-20-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7833 PSI-DRAFT weekly submission - 21 Nov 2022
  data-processed/PSI-DRAFT/2022-11-21-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7835 PSI-DICE weekly submission - 21 Nov 2022
  data-processed/PSI-DICE/2022-11-21-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7836 Upload 2022-11-21-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-11-21-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7837 Create 2022-11-20-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/2022-11-20-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7838 2022-11-21 UMass-sarix
  data-processed/UMass-sarix/2022-11-21-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7842 remove GA IA WY due to misalignment
  data-processed/UMass-trends_ensemble/2022-11-21-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7843 [CMU-TimeSeries] Add 2022-11-21 predictions
  data-processed/CMU-TimeSeries/2022-11-21-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7845 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-11-21-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7847 ew46 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-11-21-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7849 2022-11-21 ensemble
  data-processed/COVIDhub-ensemble/2022-11-21-COVIDhub-ensemble.csv
  ensemble-metadata/2022-11-21-cum_death-model-weights.csv
  ensemble-metadata/2022-11-21-inc_case-model-eligibility.csv
  ensemble-metadata/2022-11-21-inc_case-model-weights.csv
  ensemble-metadata/2022-11-21-inc_death-model-weights.csv
  ensemble-metadata/2022-11-21-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-11-21-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7852 Add KITmetricslab-select_ensemble for 2022-11-21
  data-processed/KITmetricslab-select_ensemble/2022-11-21-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7853 CDC create data processed files 11/21/2022
  data-processed/COVIDhub_CDC-ensemble/2022-11-21-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7855 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-11-27-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7856 2022-11-26 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-11-26-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7859 Upload 2022-11-27 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-11-27-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7860 AMM-EpiInvertForecast
  data-processed/AMM-EpiInvert/2022-11-28-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7854 Add files via upload
  data-processed/TTU-squider/2022-11-27-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7857 SDSC_ISG-TrendModel Forecast Update - 2022-11-27
  data-processed/SDSC_ISG-TrendModel/2022-11-27-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7864 HKUST-DNN 221128 forecast
  data-processed/HKUST-DNN/2022-11-28-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7865 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-11-28-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7863 mobs 2022-11-28
  data-processed/MOBS-GLEAM_COVID/2022-11-28-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7867 2022-11-28 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-11-28-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7868 2022-11-28-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-11-28-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7870 2022-11-27-UMass-gbq
  data-processed/UMass-gbq/2022-11-27-UMass-gbq.csv
  data-processed/UMass-gbq/metadata-UMass-gbq.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#7871 Create 2022-11-27-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/2022-11-27-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7872 2022-11-28 UMass-sarix
  data-processed/UMass-sarix/2022-11-28-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7874 UVA-Ensemble 2022-11-28
  data-processed/UVA-Ensemble/2022-11-28-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#7875 [CMU-TimeSeries] Add 2022-11-28 predictions
  data-processed/CMU-TimeSeries/2022-11-28-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7878 PSI-DRAFT weekly submission - 28 Nov 2022
  data-processed/PSI-DRAFT/2022-11-28-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7879 UT Osiris 2022-11-27
  data-processed/UT-Osiris/2022-11-27-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7881 PSI-DICE weekly submission - 28 Nov 2022
  data-processed/PSI-DICE/2022-11-28-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7882 2022-11-28 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-11-28-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7880 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-11-27-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7883 ew47 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-11-28-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7884 2022-11-28 ensemble
  data-processed/COVIDhub-ensemble/2022-11-28-COVIDhub-ensemble.csv
  ensemble-metadata/2022-11-28-cum_death-model-weights.csv
  ensemble-metadata/2022-11-28-inc_case-model-eligibility.csv
  ensemble-metadata/2022-11-28-inc_case-model-weights.csv
  ensemble-metadata/2022-11-28-inc_death-model-weights.csv
  ensemble-metadata/2022-11-28-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-11-28-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7888 Add KITmetricslab-select_ensemble for 2022-11-28
  data-processed/KITmetricslab-select_ensemble/2022-11-28-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7887 CEID-Walk
  data-processed/CEID-Walk/2022-11-28-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7889 CDC create data processed files 11/29/2022
  data-processed/COVIDhub_CDC-ensemble/2022-11-28-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation
