Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-12, with the labels that each got.

#7891 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-12-04-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7892 2022-12-03 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-12-03-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7894 Upload 2022-12-04 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-12-04-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7893 SDSC_ISG-TrendModel Forecast Update - 2022-12-04
  data-processed/SDSC_ISG-TrendModel/2022-12-04-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7890 Add files via upload
  data-processed/TTU-squider/2022-12-04-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7897 2022-12-04-UMass-gbq
  data-processed/UMass-gbq/2022-12-04-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#7902 Microsoft-DeepSTIA update 2022-12-05
  data-processed/Microsoft-DeepSTIA/2022-12-05-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7907 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-12-05-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7905 Revert "AMM-EpiInvertForecast"
  2022-12-05-AMM-EpiInvert.csv
  data-processed/AMM-EpiInvert/2022-12-05-AMM-EpiInvert.csv
Labels: data-submission, other-files-updated, file-deletion

#7903 2022-12-05 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-12-05-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7900 mobs 2022-12-05
  data-processed/MOBS-GLEAM_COVID/2022-12-05-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7910 AMM-EpiInvertForecast - fix
  data-processed/AMM-EpiInvert/2022-12-05-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7911 PSI-DRAFT weekly submission - 5 Dec 2022
  data-processed/PSI-DRAFT/2022-12-05-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7913 ew48 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-12-05-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7916 PSI-DICE weekly submission - 5 Dec 2022
  data-processed/PSI-DICE/2022-12-05-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7917 Created 2022-12-04-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/2022-12-04-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7914 [CMU-TimeSeries] Add 2022-12-05 predictions
  data-processed/CMU-TimeSeries/2022-12-05-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7906 2022-12-05-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-12-05-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7921 2022-12-05 ensemble
  data-processed/COVIDhub-ensemble/2022-12-05-COVIDhub-ensemble.csv
  ensemble-metadata/2022-12-05-cum_death-model-weights.csv
  ensemble-metadata/2022-12-05-inc_case-model-eligibility.csv
  ensemble-metadata/2022-12-05-inc_case-model-weights.csv
  ensemble-metadata/2022-12-05-inc_death-model-weights.csv
  ensemble-metadata/2022-12-05-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-12-05-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7924 CDC create data processed files 12/06/2022
  data-processed/COVIDhub_CDC-ensemble/2022-12-05-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7927 UT Osiris 2022-12-05
  data-processed/UT-Osiris/2022-12-05-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7929 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-12-11-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7931 2022-12-10 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-12-10-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7933 HKUST-DNN 221212 forecast
  data-processed/HKUST-DNN/2022-12-12-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7934 AMM-EpiInvertForecast
  data-processed/AMM-EpiInvert/2022-12-12-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7938 ew49 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-12-12-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7941 2022-12-12-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-12-12-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7930 Add files via upload
  data-processed/TTU-squider/2022-12-11-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7932 SDSC_ISG-TrendModel Forecast Update - 2022-12-11
  data-processed/SDSC_ISG-TrendModel/2022-12-11-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7936 mobs 2022-12-12
  data-processed/MOBS-GLEAM_COVID/2022-12-12-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7939 2022-12-12 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-12-12-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7942 2022-12-12 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-12-12-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7945 UT Osiris 2022-12-11
  data-processed/UT-Osiris/2022-12-11-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7948 2022-12-12-UMass-gbq
  data-processed/UMass-gbq/2022-12-12-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#7949 2022-12-12-UMass-sarix
  data-processed/UMass-sarix/2022-12-12-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7955 2022-12-12 ensemble
  data-processed/COVIDhub-ensemble/2022-12-12-COVIDhub-ensemble.csv
  ensemble-metadata/2022-12-12-cum_death-model-weights.csv
  ensemble-metadata/2022-12-12-inc_case-model-eligibility.csv
  ensemble-metadata/2022-12-12-inc_case-model-weights.csv
  ensemble-metadata/2022-12-12-inc_death-model-weights.csv
  ensemble-metadata/2022-12-12-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-12-12-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7954 CEPH 2022-12-12
  data-processed/CEPH-Rtrend_covid/2022-12-12-CEPH-Rtrend_covid.csv
  data-processed/CEPH-Rtrend_covid/metadata-CEPH-Rtrend_covid.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#7961 Add KITmetricslab-select_ensemble for 2022-12-12
  data-processed/KITmetricslab-select_ensemble/2022-12-12-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7962 CDC create data processed files 12/13/2022
  data-processed/COVIDhub_CDC-ensemble/2022-12-12-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7964 Create 2022-12-12-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/2022-12-12-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7968 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-12-18-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7970 2022-12-17 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-12-17-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7971 Upload 2022-12-18 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-12-18-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7972 UVA-Ensemble 2022-12-19
  data-processed/UVA-Ensemble/2022-12-19-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#7974 AMM-EpiInvertForecast
  data-processed/AMM-EpiInvert/2022-12-19-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#7976 HKUST-DNN 221219 forecast
  data-processed/HKUST-DNN/2022-12-19-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7977 mobs 2022-12-19
  data-processed/MOBS-GLEAM_COVID/2022-12-19-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7969 SDSC_ISG-TrendModel Forecast Update - 2022-12-18
  data-processed/SDSC_ISG-TrendModel/2022-12-18-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7967 Add files via upload
  data-processed/TTU-squider/2022-12-18-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7979 2022-12-19-UMass-gbq
  data-processed/UMass-gbq/2022-12-19-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#7982 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-12-19-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7980 2022-12-19 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-12-19-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7984 Upload 2022-12-19-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-12-19-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7986 Create 2022-12-18-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/2022-12-18-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#7987 UT Osiris 2022-12-18
  data-processed/UT-Osiris/2022-12-18-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7988 PSI-DRAFT weekly submission - 19 Dec 2022
  data-processed/PSI-DRAFT/2022-12-19-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7989 PSI-DICE weekly submission
  data-processed/PSI-DICE/2022-12-19-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7990 drop DE IA LA WV due to misalignment
  data-processed/UMass-trends_ensemble/2022-12-19-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7992 ew50 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-12-19-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7991 2022-12-19 CEPH
  data-processed/CEPH-Rtrend_covid/2022-12-19-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#7993 2022-12-19 UMass-sarix
  data-processed/UMass-sarix/2022-12-19-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7994 [CMU-TimeSeries] Add 2022-12-19 predictions
  data-processed/CMU-TimeSeries/2022-12-19-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7995 2022-12-19 ensemble
  data-processed/COVIDhub-ensemble/2022-12-19-COVIDhub-ensemble.csv
  ensemble-metadata/2022-12-19-cum_death-model-weights.csv
  ensemble-metadata/2022-12-19-inc_case-model-eligibility.csv
  ensemble-metadata/2022-12-19-inc_case-model-weights.csv
  ensemble-metadata/2022-12-19-inc_death-model-weights.csv
  ensemble-metadata/2022-12-19-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-12-19-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7998 CDC create data processed files 12/20/2022
  data-processed/COVIDhub_CDC-ensemble/2022-12-19-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#7999 Add files via upload
  data-processed/TTU-squider/2022-12-25-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#8000 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-12-25-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#8002 HKUST-DNN 221226 forecast
  data-processed/HKUST-DNN/2022-12-26-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#8004 2022-12-24 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-12-24-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8001 SDSC_ISG-TrendModel Forecast Update - 2022-12-25
  data-processed/SDSC_ISG-TrendModel/2022-12-25-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#8005 2022-12-26 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-12-26-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#8006 AMM-EpiInvertForecast
  data-processed/AMM-EpiInvert/2022-12-26-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#8008 2022-12-26-UMass-gbq
  data-processed/UMass-gbq/2022-12-26-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8009 UT Osiris 12-25-2022
  data-processed/UT-Osiris/2022-12-25-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8011 mobs 2022-12-26
  data-processed/MOBS-GLEAM_COVID/2022-12-26-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8012 2022-12-26 CEPH Forecast
  data-processed/CEPH-Rtrend_covid/2022-12-26-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8013 2022-12-26 UMass-sarix
  data-processed/UMass-sarix/2022-12-26-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8014 remove ID IA MO NY due to misalignment
  data-processed/UMass-trends_ensemble/2022-12-26-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8015 [CMU-TimeSeries] Add 2022-12-26 predictions
  data-processed/CMU-TimeSeries/2022-12-26-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8016 ew51 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-12-26-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8017 2022-12-26 ensemble
  data-processed/COVIDhub-ensemble/2022-12-26-COVIDhub-ensemble.csv
  ensemble-metadata/2022-12-26-cum_death-model-weights.csv
  ensemble-metadata/2022-12-26-inc_case-model-eligibility.csv
  ensemble-metadata/2022-12-26-inc_case-model-weights.csv
  ensemble-metadata/2022-12-26-inc_death-model-weights.csv
  ensemble-metadata/2022-12-26-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-12-26-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8021 CDC create data processed files 12/27/2022
  data-processed/COVIDhub_CDC-ensemble/2022-12-26-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8020 CEID-Walk
  data-processed/CEID-Walk/2022-12-26-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#8023 PSI-DICE weekly submission - 27 Dec 2022
  data-processed/PSI-DICE/2022-12-26-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8024 PSI-DRAFT weekly submission - 27 Dec 2022
  data-processed/PSI-DRAFT/2022-12-26-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#8025 Create 2022-12-26-PR_UMD-CF_RepTiLe.csv
  data-processed/PR_UMD-CF_RepTiLe/2022-12-26-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation
