Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-01, with the labels that each got.

#5722 Add files via upload
  data-processed/TTU-squider/2022-01-02-TTU-squider.csv
Labels: data-submission, automerge

#5730 HKUST-DNN 220103 forecast
  data-processed/HKUST-DNN/2022-01-03-HKUST-DNN.csv
Labels: data-submission, automerge

#5737 Added new MIT-CriticalData forecasts (2022-01-02)
  data-processed/MIT_CritData-GBCF/2022-01-02-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5738 2022-01-03 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-01-03-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5739 JHUAPL-GECKO Update forecasts.
  data-processed/JHUAPL-Gecko/2022-01-02-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5735 SDSC_ISG-TrendModel Forecast Update - 2022-01-02
  data-processed/SDSC_ISG-TrendModel/2022-01-02-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#5740 2022 epiforecasts
  data-processed/epiforecasts-ensemble1/2022-01-03-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5742 MIT CovidAnalytics Update
  data-processed/CovidAnalytics-DELPHI/2022-01-02-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5743 weekly update UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-01-03-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5745 2022-01-03-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-01-03-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5734 prolix pull 3
  data-processed/prolix-euclidean/2022-01-03-prolix-euclidean.csv
  data-processed/prolix-euclidean/metadata-prolix-euclidean.txt
Labels: new-team-submission, data-submission, metadata-change

#5748 Added UMich predictions for 1/3/2022 UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-01-03-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5750 FRBSF_Wilson, Econometric: 2022-01-03
  data-processed/FRBSF_Wilson-Econometric/2022-01-03-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5751 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-01-02-UCF-AEM.csv
Labels: data-submission, automerge

#5744 mobs 0103 test
  data-processed/MOBS-GLEAM_COVID/2022-01-03-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5741 JHUAPL- GECKO: Recommit 12/19 forecasts.
  data-processed/JHUAPL-Gecko/2021-12-19-JHUAPL-Gecko.csv
Labels: data-submission

#5752 Create 2022-01-03-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-01-03-QJHong-Encounter.csv
Labels: data-submission, automerge

#5753 PSI-DRAFT weekly submission - 03 Jan 2022
  data-processed/PSI-DRAFT/2022-01-03-PSI-DRAFT.csv
Labels: data-submission, automerge

#5756 2022-01-03-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-01-03-MUNI-ARIMA.csv
Labels: data-submission, automerge

#5757 Steve McConnell - CovidComplete - Forecasts for 2022-01-03
  data-processed/SteveMcConnell-CovidComplete/2022-01-03-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5758 ew52 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-01-03-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5759 2022-01-02-UMass-MechBayes
  data-processed/UMass-MechBayes/2022-01-02-UMass-MechBayes.csv
Labels: data-submission, automerge

#5760 AIpert-pwllnod Forecast update for 2022-01-03
  data-processed/AIpert-pwllnod/2022-01-03-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5761 DDS-NBDS 2022-01-03 forecast
  data-processed/DDS-NBDS/2022-01-03-DDS-NBDS.csv
Labels: data-submission, automerge

#5763 JHU_CSSE-DECOM 1/2 Predictions
  data-processed/JHU_CSSE-DECOM/2022-01-02-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5764 Revert "mobs 0103 test"
  data-processed/MOBS-GLEAM_COVID/2022-01-03-MOBS-GLEAM_COVID.csv
Labels: data-submission, duplicate-forecast

#5755 mobs 2022-01-03 updated
  data-processed/MOBS-GLEAM_COVID/2022-01-03-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5769 2021-01-02 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-02-JBUD-HMXK.csv
Labels: data-submission, automerge

#5770 Add KITmetricslab-select_ensemble for 2022-01-03
  data-processed/KITmetricslab-select_ensemble/2022-01-03-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5772 COVIDhub_CDC-ensemble 2022-01-03
  data-processed/COVIDhub_CDC-ensemble/2022-01-03-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#5773 Microsoft 01/03/2022 Forecasting Data
  data-processed/Microsoft-DeepSTIA/2022-01-03-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5774 Create 2022-01-03-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-01-03-MIT-Cassandra.csv
Labels: data-submission, automerge

#5777 Update 2022-01-03-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-01-03-COVIDhub_CDC-ensemble.csv
Labels: data-submission, forecast-retraction

#5778 JHUAPL-SLPHospEns 2022-01-03 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-01-03-JHUAPL-SLPHospEns.csv
Labels: data-submission

#5768 Add file for upload
  data-processed/BPagano-RtDriven/2022-01-02-BPagano-RtDriven.csv
Labels: data-submission

#5781 COVID-19Predict: Merging forecast starting at 2022-01-09
  data-processed/CWRU-COVID_19Predict/2022-01-09-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#5782 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-01-09-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5784 JHUAPL-GECKO - New forecasts.
  data-processed/JHUAPL-Gecko/2022-01-09-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5786 Create 2022-01-09-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-01-09-QJHong-Encounter.csv
Labels: data-submission, automerge

#5788 HKUST-DNN 220110 forecast
  data-processed/HKUST-DNN/2022-01-10-HKUST-DNN.csv
Labels: data-submission, automerge

#5792 MIT-Cassandra 2022-01-09
  data-processed/MIT-Cassandra/2022-01-09-MIT-Cassandra.csv
Labels: data-submission, automerge

#5793 Added new MIT-CriticalData forecasts (2022-01-09)
  data-processed/MIT_CritData-GBCF/2022-01-09-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5795 2022-01-10 Epiforecasts
  data-processed/epiforecasts-ensemble1/2022-01-10-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5780 2022-01-08-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-08-prolix-euclidean.csv
Labels: data-submission, automerge

#5783 Add files via upload
  data-processed/TTU-squider/2022-01-09-TTU-squider.csv
Labels: data-submission, automerge

#5787 2021-01-10-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-01-10-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5789 SDSC_ISG-TrendModel Forecast Update - 2022-01-09
  data-processed/SDSC_ISG-TrendModel/2022-01-09-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#5796 2022-01-10 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-01-10-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5798 ew202201 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-01-10-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5799 Adding UMass-MechBayes 2021-01-09
  data-processed/UMass-MechBayes/2022-01-09-UMass-MechBayes.csv
Labels: data-submission, automerge

#5801 FRBSF_Wilson, Econometric: 2022-01-10
  data-processed/FRBSF_Wilson-Econometric/2022-01-10-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5802 Microsoft Forecast Model Updates 1/10/2022
  data-processed/Microsoft-DeepSTIA/2022-01-10-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5806 2022-01-10-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-01-10-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5800 adding UMass-trends_ensemble metadata and initial forecast 2022-01-10
  data-processed/UMass-trends_ensemble/2022-01-10-UMass-trends_ensemble.csv
  data-processed/UMass-trends_ensemble/metadata-UMass-trends_ensemble.txt
Labels: new-team-submission, data-submission, metadata-change

#5805 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-01-09-UCF-AEM.csv
Labels: data-submission, automerge

#5808 MIT CovidAnalytics Update
  data-processed/CovidAnalytics-DELPHI/2022-01-10-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5810 PSI-DRAFT weekly submission - 10 Jan 2022
  data-processed/PSI-DRAFT/2022-01-10-PSI-DRAFT.csv
Labels: data-submission, automerge

#5811 mobs 2022-01-10
  data-processed/MOBS-GLEAM_COVID/2022-01-10-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5812 AIpert-pwllnod Forecast update for 2022-01-10
  data-processed/AIpert-pwllnod/2022-01-10-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5809 DDS-NBDS 2022-01-10 forecast
  data-processed/DDS-NBDS/2022-01-10-DDS-NBDS.csv
Labels: data-submission, automerge

#5813 Steve McConnell - CovidComplete - Forecasts for 2022-01-10
  data-processed/SteveMcConnell-CovidComplete/2022-01-10-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5814 2022-01-10-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-10-prolix-euclidean.csv
  data-processed/prolix-euclidean/metadata-prolix-euclidean.txt
Labels: data-submission, metadata-change

#5815 UT_GISAG weekly update
  data-processed/UT_GISAG-SPDM/2022-01-10-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5818 2022-01-10-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2022-01-10-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5820 Add secondary model designation for UMass-trends_ensemble
  data-processed/UMass-trends_ensemble/metadata-UMass-trends_ensemble.txt
Labels: metadata-change

#5821 JHU_CSSE-DECOM 1/9 Predictions
  data-processed/JHU_CSSE-DECOM/2022-01-09-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5826 Add KITmetricslab-select_ensemble for 2022-01-10
  data-processed/KITmetricslab-select_ensemble/2022-01-10-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5828 Create 2022-01-10-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-01-10-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#5830 JHUAPL-SLPHospEns 2022-01-10 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-01-10-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#5831 2022-01-12-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-12-prolix-euclidean.csv
  data-processed/prolix-euclidean/2022-01-13-prolix-euclidean.csv
Labels: data-submission

#5832 2022-01-14-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-14-prolix-euclidean.csv
Labels: data-submission, automerge

#5835 2022-01-15-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-15-prolix-euclidean.csv
Labels: data-submission, automerge

#5836 COVID-19Predict: Merging forecast starting at 2022-01-16
  data-processed/CWRU-COVID_19Predict/2022-01-16-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#5837 Add files via upload
  data-processed/TTU-squider/2022-01-16-TTU-squider.csv
Labels: data-submission, automerge

#5839 BPagano-RtDriven, Add file for upload
  data-processed/BPagano-RtDriven/2022-01-16-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5841 2022-01-16-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-16-prolix-euclidean.csv
Labels: data-submission, automerge

#5842 JHUAPL-Gecko - Updated forecasts.
  data-processed/JHUAPL-Gecko/2022-01-16-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5843 Create 2022-01-16-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-01-16-QJHong-Encounter.csv
Labels: data-submission, automerge

#5845 2022-01-17-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-01-17-MUNI-ARIMA.csv
Labels: data-submission, automerge

#5844 Weekly forecast
  data-processed/RobertWalraven-ESG/2022-01-17-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5846 HKUST-DNN 220117 forecast
  data-processed/HKUST-DNN/2022-01-17-HKUST-DNN.csv
Labels: data-submission, automerge

#5847 2022-01-17 epiforecasts
  data-processed/epiforecasts-ensemble1/2022-01-17-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5848 SDSC_ISG-TrendModel Forecast Update - 2022-01-16
  data-processed/SDSC_ISG-TrendModel/2022-01-16-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#5850 2022-01-17 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-01-17-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#5851 2022-01-17-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-01-17-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5853 2022-01-17 MIT-Cassandra Upload
  data-processed/MIT-Cassandra/2022-01-17-MIT-Cassandra.csv
Labels: data-submission, automerge

#5854 Upload 2022-01-16 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-01-16-Karlen-pypm.csv
Labels: data-submission, automerge

#5856 mobs 2022-01-17
  data-processed/MOBS-GLEAM_COVID/2022-01-17-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5858 UMass-MechBayes 2021-01-16
  data-processed/UMass-MechBayes/2022-01-16-UMass-MechBayes.csv
Labels: data-submission, automerge

#5859 ew02 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-01-17-GT-DeepCOVID.csv
Labels: data-submission, automerge

#5860 PSI-DRAFT weekly submission - 17 Jan 2022
  data-processed/PSI-DRAFT/2022-01-17-PSI-DRAFT.csv
Labels: data-submission, automerge

#5857 2022-01-17-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2022-01-17-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5862 FRBSF_Wilson, Econometric: 2022-01-17
  data-processed/FRBSF_Wilson-Econometric/2022-01-17-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#5863 UT_GISAG weekly update
  data-processed/UT_GISAG-SPDM/2022-01-17-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5865 Added UMich predictions for 01/17/2022 Umich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-01-17-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5864 DDS-NBDS 2022-01-17 forecast
  data-processed/DDS-NBDS/2022-01-17-DDS-NBDS.csv
Labels: data-submission, automerge

#5868 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-01-16-UCF-AEM.csv
Labels: data-submission, automerge

#5869 Steve McConnell - CovidComplete - Forecasts for 2022-01-17
  data-processed/SteveMcConnell-CovidComplete/2022-01-17-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5871 Adding trends_ensemble for 2022-01-17
  data-processed/UMass-trends_ensemble/2022-01-17-UMass-trends_ensemble.csv
Labels: data-submission, automerge

#5872 AIpert-pwllnod Forecast update for 2022-01-17
  data-processed/AIpert-pwllnod/2022-01-17-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5873 Add CMU-TimeSeries hosp forecasts for 2022-01-17
  data-processed/CMU-TimeSeries/2022-01-17-CMU-TimeSeries.csv
Labels: data-submission, automerge

#5874 JHU_CSSE-DECOM 1/16/22 Predictions
  data-processed/JHU_CSSE-DECOM/2022-01-16-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5876 2022-01-17-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-17-prolix-euclidean.csv
Labels: data-submission, automerge

#5881 2021-01-16 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-16-JBUD-HMXK.csv
Labels: data-submission, automerge

#5882 Microsoft-DeepSTIA update 2022-01-17
  data-processed/Microsoft-DeepSTIA/2022-01-17-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5883 MIT CovidAnalytics Update 20220117
  data-processed/CovidAnalytics-DELPHI/2022-01-17-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5884 Add KITmetricslab-select_ensemble for 2022-01-17
  data-processed/KITmetricslab-select_ensemble/2022-01-17-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5885 JHUAPL-SLPHospEns 2022-01-17 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-01-17-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#5886 Create 2022-01-17-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-01-17-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#5887 2022-01-18-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-19-prolix-euclidean.csv
Labels: data-submission, automerge

#5888 2022-01-20-prolix-euclidean.csv
  data-processed/prolix-euclidean/2022-01-20-prolix-euclidean.csv
Labels: data-submission, automerge

#5889 2022-01-21-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-21-prolix-euclidean.csv
Labels: data-submission, automerge

#5891 2022-01-21-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-22-prolix-euclidean.csv
Labels: data-submission, automerge

#5892 COVID-19Predict: Merging forecast starting at 2022-01-23
  data-processed/CWRU-COVID_19Predict/2022-01-23-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#5895 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-01-23-BPagano-RtDriven.csv
Labels: data-submission, automerge

#5896 2022-01-23-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-23-prolix-euclidean.csv
Labels: data-submission, automerge

#5898 JHUAPL-Gecko: 1/23 forecasts
  data-processed/JHUAPL-Gecko/2022-01-23-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#5899 Create 2022-01-23-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-01-23-QJHong-Encounter.csv
Labels: data-submission, automerge

#5901 HKUST-DNN 220124 forecast
  data-processed/HKUST-DNN/2022-01-24-HKUST-DNN.csv
Labels: data-submission, automerge

#5894 Add files via upload
  data-processed/TTU-squider/2022-01-23-TTU-squider.csv
Labels: data-submission, automerge

#5893 NCSU-COVSIM First Contribution
  data-processed/NCSU-COVSIM/2022-01-23-NCSU-COVSIM.csv
  data-processed/NCSU-COVSIM/metadata-NCSU-COVSIM.txt
  data-processed/NCSU-COVSIM/test.txt
Labels: new-team-submission, data-submission, metadata-change, other-files-updated

#5903 Added new MIT-CriticalData forecasts (2022-01-23)
  data-processed/MIT_CritData-GBCF/2022-01-23-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#5875 Update CMU-TimeSeries metadata
  data-processed/CMU-TimeSeries/metadata-CMU-TimeSeries.txt
Labels: metadata-change

#5904 Added weekly covid-19 prediction for 1/24/2022 UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-01-24-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#5908 Microsoft-DeepSTIA update 2022-01-24
  data-processed/Microsoft-DeepSTIA/2022-01-24-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#5911 2022-01-24-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-01-24-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#5906 SDSC_ISG-TrendModel Forecast Update - 2022-01-23
  data-processed/SDSC_ISG-TrendModel/2022-01-23-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#5915 2022-01-24 Epiforecasts
  data-processed/epiforecasts-ensemble1/2022-01-24-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#5914 2022-01-24-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-01-24-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#5919 2022-01-24-LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-01-24-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#5920 mobs 2022-01-24
  data-processed/MOBS-GLEAM_COVID/2022-01-24-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#5922 2022-01-24-UCSD_NEU-DeepGLEAM
  data-processed/UCSD_NEU-DeepGLEAM/2022-01-24-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#5925 PSI-DRAFT weekly submission - 24 Jan 2022
  data-processed/PSI-DRAFT/2022-01-24-PSI-DRAFT.csv
Labels: data-submission, automerge

#5927 JHU_CSSE-DECOM 1/23/22 Predictions
  data-processed/JHU_CSSE-DECOM/2022-01-23-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#5928 2022-01-23-UMass-MechBayes
  data-processed/UMass-MechBayes/2022-01-23-UMass-MechBayes.csv
Labels: data-submission, automerge

#5921 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-01-23-UCF-AEM.csv
Labels: data-submission, automerge

#5930 adding UMass-trends_ensemble 2022-01-24
  data-processed/UMass-trends_ensemble/2022-01-24-UMass-trends_ensemble.csv
Labels: data-submission, automerge

#5931 2022-01-24-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-24-prolix-euclidean.csv
Labels: data-submission, automerge

#5932 MIT CovidAnalytics Update 20220124
  data-processed/CovidAnalytics-DELPHI/2022-01-24-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#5933 Steve McConnell - CovidComplete - Forecasts for 2022-01-24
  data-processed/SteveMcConnell-CovidComplete/2022-01-24-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#5934 2022-01-24-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-01-24-MUNI-ARIMA.csv
Labels: data-submission, automerge

#5935 CMU-TimeSeries - Add 2022-01-24 forecasts
  data-processed/CMU-TimeSeries/2022-01-24-CMU-TimeSeries.csv
Labels: data-submission, automerge

#5936 AIpert-pwllnod Forecast update for 2022-01-24
  data-processed/AIpert-pwllnod/2022-01-24-AIpert-pwllnod.csv
Labels: data-submission, automerge

#5938 2022-01-24-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-24-prolix-euclidean.csv
Labels: data-submission, forecast-updated

#5940 2021-01-23 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-23-JBUD-HMXK.csv
Labels: data-submission, automerge

#5944 weekly_update_UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-01-24-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#5945 Add KITmetricslab-select_ensemble for 2022-01-24
  data-processed/KITmetricslab-select_ensemble/2022-01-24-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#5946 Create 2022-01-24-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-01-24-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#5947 JHUAPL-SLPHospEns 2022-01-24 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-01-24-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#5948 2022-01-25-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-25-prolix-euclidean.csv
Labels: data-submission, automerge
