Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-07, with the labels that each got.

#7073 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-07-03-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7076 2022-07-02 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-07-02-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7077 Upload 2022-07-03 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-07-03-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7078 Create 2022-07-03-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-07-03-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7079 HKUST-DNN 220704 forecast
  data-processed/HKUST-DNN/2022-07-04-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7080 PSI-DRAFT weekly submission - 04 July 2022
  data-processed/PSI-DRAFT/2022-07-04-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7072 Add files via upload
  data-processed/TTU-squider/2022-07-03-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7075 SDSC_ISG-TrendModel Forecast Update - 2022-07-03
  data-processed/SDSC_ISG-TrendModel/2022-07-03-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7082 PSI-DICE weekly submission - 04 July 2022
  data-processed/PSI-DICE/2022-07-04-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7086 Add JHUAPL-Morris metadata and 2022-07-04 forecast
  data-processed/JHUAPL-Morris/2022-07-04-JHUAPL-Morris.csv
  data-processed/JHUAPL-Morris/LICENSE.txt
  data-processed/JHUAPL-Morris/metadata-JHUAPL-Morris.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#7088 Upload 2022-07-04-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-07-04-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7093 ew26 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-07-04-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7090 2022-07-04-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-07-04-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7091 2022-07-04 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-07-04-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7092 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-07-03-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7095 2022-07-04 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-07-04-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7097 [CMU-TimeSeries] Add 2022-07-04 predictions
  data-processed/CMU-TimeSeries/2022-07-04-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7098 MIT Covidanalytics update 0704
  data-processed/CovidAnalytics-DELPHI/2022-07-04-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#7099 2022-07-04-UMass-sarix
  data-processed/UMass-sarix/2022-07-04-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7100 UVA-Ensemble 2022-07-04
  data-processed/UVA-Ensemble/2022-07-04-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#7101 2022-07-04 ensemble
  data-processed/COVIDhub-ensemble/2022-07-04-COVIDhub-ensemble.csv
  ensemble-metadata/2022-07-04-cum_death-model-weights.csv
  ensemble-metadata/2022-07-04-inc_case-model-eligibility.csv
  ensemble-metadata/2022-07-04-inc_case-model-weights.csv
  ensemble-metadata/2022-07-04-inc_death-model-weights.csv
  ensemble-metadata/2022-07-04-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-07-04-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7104 2022-07-04-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-07-04-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7105 JHUAPL Gecko: 7/3 Forecasts
  data-processed/JHUAPL-Gecko/2022-07-03-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#7107 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-07-04-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7108 Add KITmetricslab-select_ensemble for 2022-07-04
  data-processed/KITmetricslab-select_ensemble/2022-07-04-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7106 mobs 2022-07-04
  data-processed/MOBS-GLEAM_COVID/2022-07-04-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7109 CDC Forecast Viz Ensemble
  data-processed/COVIDhub_CDC-ensemble/2022-07-04-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7112 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-07-10-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7115 CUB_PopCouncil 2022-07-09
  data-processed/CUB_PopCouncil-SLSTM/2022-07-09-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7117 JHUAPL Gecko: updated forecasts
  data-processed/JHUAPL-Gecko/2022-07-10-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#7118 ew27 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-07-11-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7119 HKUST-DNN 220711 forecast
  data-processed/HKUST-DNN/2022-07-11-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7120 add JHUAPL-Morris 2022-07-10 forecast
  data-processed/JHUAPL-Morris/2022-07-10-JHUAPL-Morris.csv
Labels: data-submission, automerge, passed-validation

#7122 Upload 2022-07-11-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-07-11-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7123 2022-07-11 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-07-11-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7111 Add files via upload
  data-processed/TTU-squider/2022-07-10-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7125 mobs 2022-07-11
  data-processed/MOBS-GLEAM_COVID/2022-07-11-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7128 2022-07-11-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-07-11-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7129 2022-07-11-UMass-sarix
  data-processed/UMass-sarix/2022-07-11-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7130 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-07-11-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7131 Create 2022-07-11-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-07-11-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7133 PSI-DRAFT weekly submission - 11 July 2022
  data-processed/PSI-DRAFT/2022-07-11-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7132 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-07-10-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7137 2022-07-11 UMass Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-07-11-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7142 2022-07-11 ensemble
  data-processed/COVIDhub-ensemble/2022-07-11-COVIDhub-ensemble.csv
  ensemble-metadata/2022-07-11-cum_death-model-weights.csv
  ensemble-metadata/2022-07-11-inc_case-model-eligibility.csv
  ensemble-metadata/2022-07-11-inc_case-model-weights.csv
  ensemble-metadata/2022-07-11-inc_death-model-weights.csv
  ensemble-metadata/2022-07-11-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-07-11-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7145 2022-07-11-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-07-11-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7146 Add KITmetricslab-select_ensemble for 2022-07-11
  data-processed/KITmetricslab-select_ensemble/2022-07-11-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7141 CEID-Walk
  data-processed/CEID-Walk/2022-07-11-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7148 Update validations_v4.yml
  .github/workflows/validations_v4.yml
Labels: other-files-updated

#7151 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-07-17-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7150 Add files via upload
  data-processed/TTU-squider/2022-07-17-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7153 CUB_PopCouncil 2022-07-17
  data-processed/CUB_PopCouncil-SLSTM/2022-07-16-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7157 Create 2022-07-17-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-07-17-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7158 ew28 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-07-18-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7159 Upload 2022-07-17 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-07-17-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7160 HKUST-DNN 220718 forecast
  data-processed/HKUST-DNN/2022-07-18-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7161 JHUAPL-Morris 2022-07-18 forecast
  data-processed/JHUAPL-Morris/2022-07-18-JHUAPL-Morris.csv
Labels: data-submission, automerge, passed-validation

#7167 2022-07-18 UT-Osiris
  data-processed/UT-Osiris/2022-07-18-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7168 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-07-18-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7169 2022-07-18-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-07-18-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7165 mobs 2022-07-18
  data-processed/MOBS-GLEAM_COVID/2022-07-18-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7173 PSI-DRAFT weekly submission - 18 July 2022
  data-processed/PSI-DRAFT/2022-07-18-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7174 PSI-DICE weekly submission - 18 July 2022
  data-processed/PSI-DICE/2022-07-18-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7176 Upload 2022-07-18-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-07-18-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7177 2022-07-18 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-07-18-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7178 2022-07-18-UMass-sarix
  data-processed/UMass-sarix/2022-07-18-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7185 Add KITmetricslab-select_ensemble for 2022-07-18
  data-processed/KITmetricslab-select_ensemble/2022-07-18-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7184 [CMU-TimeSeries] Add 2022-07-18 predictions
  data-processed/CMU-TimeSeries/2022-07-18-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7183 CEID-Walk
  data-processed/CEID-Walk/2022-07-18-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7186 CDC Create 2022-07-18-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-07-18-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7190 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-07-24-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7189 Add files via upload
  data-processed/TTU-squider/2022-07-24-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7194 CUB_PopCouncil 2022-07-24
  data-processed/CUB_PopCouncil-SLSTM/2022-07-23-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7193 SDSC_ISG-TrendModel Forecast Update - 2022-07-24
  data-processed/SDSC_ISG-TrendModel/2022-07-24-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7195 ew29 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-07-25-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7196 HKUST-DNN 220725 forecast
  data-processed/HKUST-DNN/2022-07-25-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7197 2022-07-24 JHUAPL-Morris Forecast
  data-processed/JHUAPL-Morris/2022-07-24-JHUAPL-Morris.csv
Labels: data-submission, automerge, passed-validation

#7199 Upload 2022-07-25-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-07-25-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7201 Microsoft-DeepSTIA update 2022-07-25
  data-processed/Microsoft-DeepSTIA/2022-07-25-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7202 2022-07-25 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-07-25-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7204 Upload 2022-07-24 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-07-24-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7203 2022-07-25-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-07-25-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7205 Create 2022-07-25-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-07-25-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7208 PSI-DRAFT weekly submission - 25 July 2022
  data-processed/PSI-DRAFT/2022-07-25-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7210 PSI-DICE weekly submission - 25 July 2022
  data-processed/PSI-DICE/2022-07-25-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7211 [CMU-TimeSeries] Add 2022-07-25 predictions
  data-processed/CMU-TimeSeries/2022-07-25-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7206 mobs 2022-07-25
  data-processed/MOBS-GLEAM_COVID/2022-07-25-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7213 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-07-24-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7214 2022-07-25-UMass-sarix
  data-processed/UMass-sarix/2022-07-25-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7215 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-07-25-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7216 2022-07-25-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-07-25-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7217 2022-07-25 UT-Osiris
  data-processed/UT-Osiris/2022-07-25-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7223 Add KITmetricslab-select_ensemble for 2022-07-25
  data-processed/KITmetricslab-select_ensemble/2022-07-25-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7222 CEID-Walk
  data-processed/CEID-Walk/2022-07-25-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7224 CDC Create Data Processed File 7-25-22
  data-processed/COVIDhub_CDC-ensemble/2022-07-25-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7226 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-07-31-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation
