Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-06, with the labels that each got.

#6905 Create 2022-06-04-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-06-04-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6907 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-06-05-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6910 UCLA_SuEIR: Forecast starting 2022-06-05
  data-processed/UCLA-SuEIR/2022-06-05-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6911 HKUST-DNN 220604 forecast
  data-processed/HKUST-DNN/2022-06-06-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6913 Upload 2022-06-05 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-06-05-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6914 CUB_PopCouncil 2022-06-04
  data-processed/CUB_PopCouncil-SLSTM/2022-06-05-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6915 ew22 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-06-06-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6906 Add files via upload
  data-processed/TTU-squider/2022-06-05-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6909 SDSC_ISG-TrendModel Forecast Update - 2022-06-05
  data-processed/SDSC_ISG-TrendModel/2022-06-05-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6916 Added new MIT-CriticalData forecasts (2022-06-05)
  data-processed/MIT_CritData-GBCF/2022-06-05-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6920 JHUAPL GECKO - Latest forecasts.
  data-processed/JHUAPL-Gecko/2022-06-06-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6925 Steve McConnell - CovidComplete - Forecasts for 2022-06-06
  data-processed/SteveMcConnell-CovidComplete/2022-06-06-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6926 Microsoft-DeepSTIA update 2022-06-06
  data-processed/Microsoft-DeepSTIA/2022-06-06-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6928 2022-06-06-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-06-06-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6921 Upload 2022-06-06-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-06-06-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6929 2022 06 06 u mass sarix
  data-processed/UMass-sarix/2022-06-06-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#6930 2022-06-06 UT-Osiris
  data-processed/UT-Osiris/2022-06-06-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6932 PSI-DRAFT weekly submission - 6 June 2022
  data-processed/PSI-DRAFT/2022-06-06-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6934 PSI-DICE weekly submission - 6 June 2022
  data-processed/PSI-DICE/2022-06-06-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6936 UMass-trends_ensemble submission for 2022-06-06
  data-processed/UMass-trends_ensemble/2022-06-06-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6931 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-06-05-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6937 MIT CovidAnalytics 0618
  data-processed/CovidAnalytics-DELPHI/2022-06-06-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6938 [CMU-TimeSeries] Add 2022-06-06 predictions
  data-processed/CMU-TimeSeries/2022-06-06-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6942 2022-06-05 - JBUD submission
  data-processed/JBUD-HMXK/2022-06-05-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6944 Add KITmetricslab-select_ensemble for 2022-06-06
  data-processed/KITmetricslab-select_ensemble/2022-06-06-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6945 2022-06-06 - CDC ensemble
  data-processed/COVIDhub_CDC-ensemble/2022-06-06-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6943 CEID-Walk
  data-processed/CEID-Walk/2022-06-06-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#6949 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-06-12-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6948 Add files via upload
  data-processed/TTU-squider/2022-06-12-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6951 SDSC_ISG-TrendModel Forecast Update - 2022-06-12
  data-processed/SDSC_ISG-TrendModel/2022-06-12-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6953 2022-06-12-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-06-12-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6954 HKUST-DNN 220613 forecast
  data-processed/HKUST-DNN/2022-06-13-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6955 Upload 2022-06-12 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-06-12-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6956 2022-06-13-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-06-13-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6958 JHUAPL Gecko: Update Forecasts
  data-processed/JHUAPL-Gecko/2022-06-13-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6961 Upload 2022-06-13-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-06-13-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6962 Add files via upload
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-06-13-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6963 2022-06-13 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-06-13-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6964 mobs 2022-06-13
  data-processed/MOBS-GLEAM_COVID/2022-06-13-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6969 Steve McConnell - CovidComplete - Forecasts for 2022-06-13
  data-processed/SteveMcConnell-CovidComplete/2022-06-13-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6971 Create 2022-06-13-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-06-13-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6966 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-06-12-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6970 MIT CovidAnalytics 0613
  data-processed/CovidAnalytics-DELPHI/2022-06-13-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6973 2022-06-13 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-06-13-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6974 PSI-DRAFT weekly submission - 13 June 2022
  data-processed/PSI-DRAFT/2022-06-13-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6975 PSI-DICE weekly submission - 13 June 2022
  data-processed/PSI-DICE/2022-06-13-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6977 [CMU-TimeSeries] Add 2022-06-13 predictions
  data-processed/CMU-TimeSeries/2022-06-13-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6976 ew23 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-06-13-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6978 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-06-13-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6986 Microsoft-DeepSTIA update 2022-06-13
  data-processed/Microsoft-DeepSTIA/2022-06-13-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6987 Add KITmetricslab-select_ensemble for 2022-06-13
  data-processed/KITmetricslab-select_ensemble/2022-06-13-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6988 JHUAPL-SLPHospEns 2022-06-13 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-06-13-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#6985 CEID-Walk
  data-processed/CEID-Walk/2022-06-13-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#6991 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-06-19-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6990 Add files via upload
  data-processed/TTU-squider/2022-06-19-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6996 Upload 2022-06-19 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-06-19-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6999 JHUAPL Gecko: 6/20 forecast
  data-processed/JHUAPL-Gecko/2022-06-20-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#7002 mobs 2022-06-20
  data-processed/MOBS-GLEAM_COVID/2022-06-20-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7005 Create 2022-06-20-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-06-20-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7008 PSI-DRAFT weekly submission - 20 Jun 2022
  data-processed/PSI-DRAFT/2022-06-20-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7010 Steve McConnell - CovidComplete - Forecasts for 2022-06-20
  data-processed/SteveMcConnell-CovidComplete/2022-06-20-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#7011 2022-06-20 UT-Osiris
  data-processed/UT-Osiris/2022-06-20-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7012 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-06-20-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7013 2022-06-20-UMass-sarix
  data-processed/UMass-sarix/2022-06-20-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7014 PSI-DICE weekly submission - 20 Jun 2022
  data-processed/PSI-DICE/2022-06-20-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7015 CUB_PopCouncil 2022-06-19
  data-processed/CUB_PopCouncil-SLSTM/2022-06-19-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7007 2022-06-20-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-06-20-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7018 2022-06-20 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-06-20-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7017 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-06-19-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7019 UVA-Ensemble 2022-06-20
  data-processed/UVA-Ensemble/2022-06-20-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#7020 MIT CovidAnalytics Update 0620
  data-processed/CovidAnalytics-DELPHI/2022-06-20-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6993 SDSC_ISG-TrendModel Forecast Update - 2022-06-19
  data-processed/SDSC_ISG-TrendModel/2022-06-19-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7021 [CMU-TimeSeries] Add 2022-06-20 predictions
  data-processed/CMU-TimeSeries/2022-06-20-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7022 ew24 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-06-20-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7023 Upload 2022-06-20-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-06-20-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7024 2022-06-20-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-06-20-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7025 2022-06-20 ensemble
  data-processed/COVIDhub-ensemble/2022-06-20-COVIDhub-ensemble.csv
  ensemble-metadata/2022-06-20-cum_death-model-weights.csv
  ensemble-metadata/2022-06-20-inc_case-model-eligibility.csv
  ensemble-metadata/2022-06-20-inc_case-model-weights.csv
  ensemble-metadata/2022-06-20-inc_death-model-weights.csv
  ensemble-metadata/2022-06-20-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-06-20-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7029 Add KITmetricslab-select_ensemble for 2022-06-20
  data-processed/KITmetricslab-select_ensemble/2022-06-20-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7028 CEID-Walk
  data-processed/CEID-Walk/2022-06-20-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7032 CDC create 6/20 data-processed COVIDhub-CDC-ensemble
  data-processed/COVIDhub_CDC-ensemble/2022-06-13-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#7035 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-06-26-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7039 Upload 2022-06-26 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-06-26-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7040 Create 2022-06-26-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-06-26-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7041 Psi draft weekly submission
  data-processed/PSI-DRAFT/2022-06-27-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7042 HKUST-DNN 220627 forecast
  data-processed/HKUST-DNN/2022-06-27-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7045 PSI-DICE weekly submission - 27 June 2022
  data-processed/PSI-DICE/2022-06-27-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7034 Add files via upload
  data-processed/TTU-squider/2022-06-26-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7054 2022-06-27-UMass-sarix
  data-processed/UMass-sarix/2022-06-27-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7038 SDSC_ISG-TrendModel Forecast Update - 2022-06-26
  data-processed/SDSC_ISG-TrendModel/2022-06-26-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7051 2022-06-27-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-06-27-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7052 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-06-26-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7056 Microsoft-DeepSTIA update 2022-06-27
  data-processed/Microsoft-DeepSTIA/2022-06-27-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7057 UT-Osiris 2022-06-27
  data-processed/UT-Osiris/2022-06-27-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7058 2022-06-27 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-06-27-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7059 Upload 2022-06-27-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-06-27-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7061 ew25 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-06-27-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7062 2022-06-27-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-06-27-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7063 2022-06-27 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-06-27-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7064 MIT CovidAnalytics Update 0627
  data-processed/CovidAnalytics-DELPHI/2022-06-27-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#7068 Add KITmetricslab-select_ensemble for 2022-06-27
  data-processed/KITmetricslab-select_ensemble/2022-06-27-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation
