Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-08, with the labels that each got.

#7229 CUB_PopCouncil 2022-07-30
  data-processed/CUB_PopCouncil-SLSTM/2022-07-30-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7231 ew30 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-08-01-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7225 Add files via upload
  data-processed/TTU-squider/2022-07-31-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7228 SDSC_ISG-TrendModel Forecast Update - 2022-07-31
  data-processed/SDSC_ISG-TrendModel/2022-07-31-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7232 Upload 2022-07-31 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-07-31-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7233 2022-08-01-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-08-01-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7234 JHUAPL-Morris 2022-08-01 Forecast
  data-processed/JHUAPL-Morris/2022-07-31-JHUAPL-Morris.csv
Labels: data-submission, automerge, passed-validation

#7235 Upload 2022-08-01-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-08-01-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7236 JHUAPL Gecko - Updated forecasts.
  data-processed/JHUAPL-Gecko/2022-08-01-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#7238 HKUST-DNN 220801 forecast
  data-processed/HKUST-DNN/2022-08-01-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7242 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-07-31-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7243 2022-08-01 UT Osiris
  data-processed/UT-Osiris/2022-08-01-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7245 2022-08-01-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-08-01-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7246 [CMU-TimeSeries] Add 2022-08-01 predictions
  data-processed/CMU-TimeSeries/2022-08-01-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7249 2022-08-01 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-08-01-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7250 Psi draft weekly submission
  data-processed/PSI-DRAFT/2022-08-01-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7251 PSI-DRAFT weekly submission -01 August 2022
  data-processed/PSI-DICE/2022-08-01-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7252 2022-08-01-UMass-sarix
  data-processed/UMass-sarix/2022-08-01-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7253 2022-08-01 ensemble
  data-processed/COVIDhub-ensemble/2022-08-01-COVIDhub-ensemble.csv
  ensemble-metadata/2022-08-01-cum_death-model-weights.csv
  ensemble-metadata/2022-08-01-inc_case-model-eligibility.csv
  ensemble-metadata/2022-08-01-inc_case-model-weights.csv
  ensemble-metadata/2022-08-01-inc_death-model-weights.csv
  ensemble-metadata/2022-08-01-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-08-01-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7257 Add KITmetricslab-select_ensemble for 2022-08-01
  data-processed/KITmetricslab-select_ensemble/2022-08-01-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7258 CDC create data processed file for week of 8-1-2022
  data-processed/COVIDhub_CDC-ensemble/2022-08-01-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7259 JHUAPL-SLPHospEns 2022-08-01 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-08-01-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#7261 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-08-07-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7263 CUB_PopCouncil 2022-08-06
  data-processed/CUB_PopCouncil-SLSTM/2022-08-06-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7260 Add files via upload
  data-processed/TTU-squider/2022-08-07-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7264 SDSC_ISG-TrendModel Forecast Update - 2022-08-07
  data-processed/SDSC_ISG-TrendModel/2022-08-07-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7266 Upload 2022-08-07 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-08-07-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7267 JHUAPL-Morris 2022-08-08 Forecast
  data-processed/JHUAPL-Morris/2022-08-07-JHUAPL-Morris.csv
Labels: data-submission, automerge, passed-validation

#7268 2022-08-08-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-08-08-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7270 Upload 2022-08-08-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-08-08-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7269 mobs 2022-08-08
  data-processed/MOBS-GLEAM_COVID/2022-08-08-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7276 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-08-08-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7277 ew31 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-08-08-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7279 2022-08-08 UT Osiris
  data-processed/UT-Osiris/2022-08-08-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7278 2022-08-08-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-08-08-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7282 Create 2022-08-08-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-08-08-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7283 [CMU-TimeSeries] Add 2022-08-08 predictions
  data-processed/CMU-TimeSeries/2022-08-08-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7284 2022-08-08-UMass-sarix
  data-processed/UMass-sarix/2022-08-08-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7285 PSI-DRAFT weekly submission - 8 Aug 2022
  data-processed/PSI-DRAFT/2022-08-08-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7286 PSI-DICE weekly submission - 8 Aug 2022
  data-processed/PSI-DICE/2022-08-08-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7287 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-08-07-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7288 2022-08-08 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-08-08-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7289 2022-08-08 ensemble
  data-processed/COVIDhub-ensemble/2022-08-08-COVIDhub-ensemble.csv
  ensemble-metadata/2022-08-08-cum_death-model-weights.csv
  ensemble-metadata/2022-08-08-inc_case-model-eligibility.csv
  ensemble-metadata/2022-08-08-inc_case-model-weights.csv
  ensemble-metadata/2022-08-08-inc_death-model-weights.csv
  ensemble-metadata/2022-08-08-inc_hosp-model-eligibility.csv
  ensemble-metadata/2022-08-08-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#7292 HKUST-DNN 220808 forecast
  data-processed/HKUST-DNN/2022-08-08-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7294 Add KITmetricslab-select_ensemble for 2022-08-08
  data-processed/KITmetricslab-select_ensemble/2022-08-08-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7293 CEID-Walk
  data-processed/CEID-Walk/2022-08-08-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7295 CDC forecast 2022-08-09
  data-processed/COVIDhub_CDC-ensemble/2022-08-08-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#7298 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-08-14-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7297 Add files via upload
  data-processed/TTU-squider/2022-08-14-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7299 CUB_PopCouncil 2022-08-13
  data-processed/CUB_PopCouncil-SLSTM/2022-08-13-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7301 Create 2022-08-14-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-08-14-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7302 Upload 2022-08-14 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-08-14-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7303 ew32 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-08-15-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7304 JHUAPL-Morris 2022-08-15 Forecast
  data-processed/JHUAPL-Morris/2022-08-14-JHUAPL-Morris.csv
Labels: data-submission, automerge, passed-validation

#7309 Upload 2022-08-15-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-08-15-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7300 SDSC_ISG-TrendModel Forecast Update - 2022-08-14
  data-processed/SDSC_ISG-TrendModel/2022-08-14-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7305 mobs 2022-08-15
  data-processed/MOBS-GLEAM_COVID/2022-08-15-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7312 2022-08-15-UMass-sarix
  data-processed/UMass-sarix/2022-08-15-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#7308 2022-08-15 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-08-15-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7311 2022-08-15-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-08-15-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7313 Microsoft-DeepSTIA update 2022-08-15
  data-processed/Microsoft-DeepSTIA/2022-08-15-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7315 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-08-15-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7317 2022-08-15 UT-Osiris
  data-processed/UT-Osiris/2022-08-15-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7319 [CMU-TimeSeries] Add 2022-08-15 predictions
  data-processed/CMU-TimeSeries/2022-08-15-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7320 2022-08-15 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-08-15-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7322 PSI-DICE weekly submission - 15 Aug 2022
  data-processed/PSI-DICE/2022-08-15-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7324 PSI-DRAFT weekly submission - 15 Aug 2022
  data-processed/PSI-DRAFT/2022-08-15-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7321 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-08-14-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7331 HKUST-DNN 220815 forecast
  data-processed/HKUST-DNN/2022-08-15-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7332 2022-08-15-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-08-15-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7333 Add KITmetricslab-select_ensemble for 2022-08-15
  data-processed/KITmetricslab-select_ensemble/2022-08-15-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7334 JHUAPL-SLPHospEns 2022-08-15 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-08-15-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#7335 CDC ensemble data for website 2022-08-16
  data-processed/COVIDhub_CDC-ensemble/2022-08-15-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7336 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-08-21-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7338 CUB_PopCouncil 2022-08-21
  data-processed/CUB_PopCouncil-SLSTM/2022-08-20-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7340 Create 2022-08-21-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-08-21-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7342 ew33 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-08-22-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7344 JHUAPL-Morris 2022-08-22 Forecast
  data-processed/JHUAPL-Morris/2022-08-22-JHUAPL-Morris.csv
Labels: data-submission, automerge, passed-validation

#7337 Add files via upload
  data-processed/TTU-squider/2022-08-21-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7339 SDSC_ISG-TrendModel Forecast Update - 2022-08-21
  data-processed/SDSC_ISG-TrendModel/2022-08-21-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7345 Upload 2022-08-21 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-08-21-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7346 HKUST-DNN 220822 forecast
  data-processed/HKUST-DNN/2022-08-22-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7349 2022-08-22 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-08-22-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7351 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-08-22-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7352 Upload 2022-08-22-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-08-22-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7356 2022-08-22-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-08-22-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7354 2022-08-22-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-08-22-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7359 PSI-DRAFT weekly submission - 22 Aug 2022
  data-processed/PSI-DRAFT/2022-08-22-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#7360 PSI-DICE weekly submission - 22 Aug 2022
  data-processed/PSI-DICE/2022-08-22-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7361 CEID-Walk
  data-processed/CEID-Walk/2022-08-22-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#7362 [CMU-TimeSeries] Add 2022-08-22 predictions
  data-processed/CMU-TimeSeries/2022-08-22-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#7365 2022-08-22 UT-Osiris
  data-processed/UT-Osiris/2022-08-22-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7370 Add KITmetricslab-select_ensemble for 2022-08-22
  data-processed/KITmetricslab-select_ensemble/2022-08-22-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7371 CDC create data processed 20220822
  data-processed/COVIDhub_CDC-ensemble/2022-08-22-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7373 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-08-28-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#7374 Add files via upload
  data-processed/TTU-squider/2022-08-28-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#7375 CUB_PopCouncil 2022-08-27
  data-processed/CUB_PopCouncil-SLSTM/2022-08-27-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#7377 JHUAPL-Morris 2022-08-28 Forecast
  data-processed/JHUAPL-Morris/2022-08-28-JHUAPL-Morris.csv
Labels: data-submission, automerge, passed-validation

#7378 ew34 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-08-29-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#7379 Upload 2022-08-28 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-08-28-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#7376 SDSC_ISG-TrendModel Forecast Update - 2022-08-28
  data-processed/SDSC_ISG-TrendModel/2022-08-28-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#7380 mobs 2022-08-29
  data-processed/MOBS-GLEAM_COVID/2022-08-29-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#7382 2022-08-29-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-08-29-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#7385 2022-08-29 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-08-29-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#7388 Upload 2022-08-29-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-08-29-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#7389 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2022-08-29-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#7390 Microsoft-DeepSTIA update 2022-08-29
  data-processed/Microsoft-DeepSTIA/2022-08-29-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#7393 2022-08-29 UT-Osiris
  data-processed/UT-Osiris/2022-08-29-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#7392 2022-08-29-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-08-29-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#7395 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-08-28-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#7396 Create 2022-08-29-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-08-29-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#7398 2022-08-29 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2022-08-29-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7399 PSI-DICE weekly submission - 29 Aug 2022
  data-processed/PSI-DICE/2022-08-29-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#7406 HKUST-DNN 220829 forecast
  data-processed/HKUST-DNN/2022-08-29-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#7408 Add KITmetricslab-select_ensemble for 2022-08-29
  data-processed/KITmetricslab-select_ensemble/2022-08-29-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#7409 CDC data processed files 8/29/2022
  data-processed/COVIDhub_CDC-ensemble/2022-08-29-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#7410 JHUAPL-SLPHospEns 2022-08-29 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-08-29-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#7407 CEID-Walk
  data-processed/CEID-Walk/2022-08-29-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation
