Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-03, with the labels that each got.

#6244 2021-02-27 - JBUD submission
  data-processed/JBUD-HMXK/2022-02-27-JBUD-HMXK.csv
Labels: data-submission, automerge

#6245 Create 2022-02-28-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-02-28-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#6246 2022-02-28-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-28-prolix-euclidean.csv
Labels: data-submission, automerge

#6248 2022-03-02-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-02-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6249 COVID-19Predict: Merging forecast starting at 2022-03-06
  data-processed/CWRU-COVID_19Predict/2022-03-06-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6251 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-03-06-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6253 Upload 2022-03-06 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-03-06-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6256 Create 2022-03-06-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-03-06-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6257 HKUST-DNN 220307 forecast
  data-processed/HKUST-DNN/2022-03-07-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6258 UCLA SuEIR: Forecast starting 2022-03-06
  data-processed/UCLA-SuEIR/2022-03-06-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6259 Upload 2022-03-07-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-03-07-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6260 Added new MIT-CriticalData forecasts (2022-03-06)
  data-processed/MIT_CritData-GBCF/2022-03-06-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6250 Add files via upload
  data-processed/TTU-squider/2022-03-06-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6254 SDSC_ISG-TrendModel Forecast Update - 2022-03-06
  data-processed/SDSC_ISG-TrendModel/2022-03-06-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6263 Microsoft-DeepSTIA update 2022-03-07
  data-processed/Microsoft-DeepSTIA/2022-03-07-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6264 2022-03-07 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-03-07-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6265 2022-03-07-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-03-07-IEM_MED-CovidProject.csv
Labels: data-submission, automerge, passed-validation

#6266 Covid19Sim-Simulator: weekly forecast update
  data-processed/Covid19Sim-Simulator/2022-03-06-Covid19Sim-Simulator.csv
Labels: data-submission, automerge, passed-validation

#6268 FRBSF_Wilson, Econometric: 2022-03-07
  data-processed/FRBSF_Wilson-Econometric/2022-03-07-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge, passed-validation

#6272 PSI-DRAFT weekly submission - 07 Mar 2022
  data-processed/PSI-DRAFT/2022-03-07-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6269 2022-03-07-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-03-07-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6273 adding UMass-trends_ensemble forecast
  data-processed/UMass-trends_ensemble/2022-03-07-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6276 Steve McConnell - CovidComplete - Forecasts for 2022-03-07
  data-processed/SteveMcConnell-CovidComplete/2022-03-07-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6278 AIpert-pwllnod Forecast update for 2022-03-07
  data-processed/AIpert-pwllnod/2022-03-07-AIpert-pwllnod.csv
Labels: data-submission, automerge, passed-validation

#6279 Added 3/7/2022 weekly prediction UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-03-07-UMich-RidgeTfReg.csv
Labels: data-submission, automerge, passed-validation

#6280 mobs 2022-03-07
  data-processed/MOBS-GLEAM_COVID/2022-03-07-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6281 [CMU-TimeSeries] Add 2022-03-07 predictions
  data-processed/CMU-TimeSeries/2022-03-07-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6277 CUB_PopCouncil 2022-03-06
  data-processed/CUB_PopCouncil-SLSTM/2022-03-06-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6282 2022-03-06 UT-Osiris
  data-processed/UT-Osiris/2022-03-07-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6283 PSI-DICE weekly submission - 7 Mar 2022
  data-processed/PSI-DICE/2022-03-07-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6284 JHU_CSSE-DECOM 3/6/22 Predictions
  data-processed/JHU_CSSE-DECOM/2022-03-06-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge, passed-validation

#6285 MIT CovidAnalytics Update 20220307
  data-processed/CovidAnalytics-DELPHI/2022-03-07-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6286 2022-03-07 Epiforecasts
  data-processed/epiforecasts-ensemble1/2022-03-07-epiforecasts-ensemble1.csv
Labels: data-submission, automerge, passed-validation

#6287 2022-03-07-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-07-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6292 2022-03-06 - JBUD submission
  data-processed/JBUD-HMXK/2022-03-06-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6293 Add KITmetricslab-select_ensemble for 2022-03-07
  data-processed/KITmetricslab-select_ensemble/2022-03-07-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6288 DDS-NBDS 2022-03-07 forecast
  data-processed/DDS-NBDS/2022-03-07-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6298 2022-03-11-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-11-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6299 2022-03-12-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-12-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6300 COVID-19Predict: Merging forecast starting at 2022-03-13
  data-processed/CWRU-COVID_19Predict/2022-03-13-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6301 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-03-13-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6305 Upload 2022-03-13 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-03-13-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6306 UCLA SuEIR: Forecast starting 2022-03-13
  data-processed/UCLA-SuEIR/2022-03-13-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6307 Added 3/14/2022 weekly prediction UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-03-14-UMich-RidgeTfReg.csv
Labels: data-submission, automerge, passed-validation

#6308 HKUST-DNN 220314 forecast
  data-processed/HKUST-DNN/2022-03-14-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6310 Added new MIT-CriticalData forecasts (2022-03-13)
  data-processed/MIT_CritData-GBCF/2022-03-13-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6304 SDSC_ISG-TrendModel Forecast Update - 2022-03-13
  data-processed/SDSC_ISG-TrendModel/2022-03-13-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6302 Add files via upload
  data-processed/TTU-squider/2022-03-13-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6312 2022-03-14-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-03-14-IEM_MED-CovidProject.csv
Labels: data-submission, automerge, passed-validation

#6313 JHUAPL - Gecko: Update forecasts.
  data-processed/JHUAPL-Gecko/2022-03-14-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6314 2022-03-14 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-03-14-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6316 Upload 2022-03-14-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-03-14-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6319 FRBSF_Wilson, Econometric: 2022-03-14
  data-processed/FRBSF_Wilson-Econometric/2022-03-14-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge, passed-validation

#6320 2022-03-14-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-03-14-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6323 Create 2022-03-14-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-03-14-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6325 ew10 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-03-14-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6326 Steve McConnell - CovidComplete - Forecasts for 2022-03-14
  data-processed/SteveMcConnell-CovidComplete/2022-03-14-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6327 adding UMass-trends_ensemble for 2022-03-14
  data-processed/UMass-trends_ensemble/2022-03-14-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6328 PSI-DICE weekly submission - 14 Mar 2022
  data-processed/PSI-DICE/2022-03-14-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6329 CUB_PopCouncil 2022-03-13
  data-processed/CUB_PopCouncil-SLSTM/2022-03-13-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6330 AIpert-pwllnod Forecast update for 2022-03-14
  data-processed/AIpert-pwllnod/2022-03-14-AIpert-pwllnod.csv
Labels: data-submission, automerge, passed-validation

#6331 mobs 2022-03-14
  data-processed/MOBS-GLEAM_COVID/2022-03-14-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6332 [CMU-TimeSeries] Add 2022-03-14 predictions
  data-processed/CMU-TimeSeries/2022-03-14-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6334 2022-03-14-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2022-03-14-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6337 weekly_update UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-03-14-UT_GISAG-SPDM.csv
Labels: data-submission, automerge, passed-validation

#6338 2022-03-14-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-14-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6343 2022-03-14-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-03-14-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6345 2022-03-13 - JBUD submission
  data-processed/JBUD-HMXK/2022-03-13-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6339 DDS-NBDS 2022-03-14 forecast
  data-processed/DDS-NBDS/2022-03-14-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6336 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-03-13-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6346 Add KITmetricslab-select_ensemble for 2022-03-14
  data-processed/KITmetricslab-select_ensemble/2022-03-14-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6347 Create 2022-03-14-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-03-14-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6348 JHUAPL-SLPHospEns 2022-03-14 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-03-14-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#6349 2022-03-16-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-16-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6350 2022-03-17-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-17-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6351 2022-03-19-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-19-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6352 COVID-19Predict: Merging forecast starting at 2022-03-20
  data-processed/CWRU-COVID_19Predict/2022-03-20-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6353 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-03-20-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6356 Steve McConnell - CovidComplete - Forecasts for 2022-03-21
  data-processed/SteveMcConnell-CovidComplete/2022-03-21-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge, passed-validation

#6357 Upload 2022-03-20 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-03-20-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6358 JHUAPL - GECKO - update
  data-processed/JHUAPL-Gecko/2022-03-20-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6360 Create 2022-03-20-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-03-20-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6361 UCLA SuEIR: Forecast starting 2022-03-20
  data-processed/UCLA-SuEIR/2022-03-20-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6362 HKUST-DNN 220321 forecast
  data-processed/HKUST-DNN/2022-03-21-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6355 SDSC_ISG-TrendModel Forecast Update - 2022-03-20
  data-processed/SDSC_ISG-TrendModel/2022-03-20-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6363 Added new MIT-CriticalData forecasts (2022-03-20)
  data-processed/MIT_CritData-GBCF/2022-03-20-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6364 adding trends_ensemble 2022-03-21
  data-processed/UMass-trends_ensemble/2022-03-21-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6366 2022-03-21 UT-Osiris
  data-processed/UT-Osiris/2022-03-21-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#6367 Upload 2022-03-21-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-03-21-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#6368 2022-03-21 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-03-21-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#6371 FRBSF_Wilson, Econometric: 2022-03-21
  data-processed/FRBSF_Wilson-Econometric/2022-03-21-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge, passed-validation

#6377 CUB_PopCouncil 2022-03-20
  data-processed/CUB_PopCouncil-SLSTM/2022-03-20-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6373 2022-03-21-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-03-21-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6379 PSI-DRAFT weekly submission - 21 Mar 2022
  data-processed/PSI-DRAFT/2022-03-21-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6380 PSI-DICE_submission_21Mar2022
  data-processed/PSI-DICE/2022-03-21-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6382 Added 3/21/2022 weekly predictions UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-03-21-UMich-RidgeTfReg.csv
Labels: data-submission, automerge, passed-validation

#6381 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-03-20-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6383 [CMU-TimeSeries] Add 2022-03-21 predictions
  data-processed/CMU-TimeSeries/2022-03-21-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6384 MIT CovidAnalytics Update 20220321
  data-processed/CovidAnalytics-DELPHI/2022-03-21-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6297 update year of weighted ensemble in metadata
  data-processed/COVIDhub_CDC-ensemble/metadata-COVIDhub_CDC-ensemble.txt
Labels: metadata-change, passed-validation

#6385 AIpert-pwllnod Forecast update for 2022-03-21
  data-processed/AIpert-pwllnod/2022-03-21-AIpert-pwllnod.csv
Labels: data-submission, automerge, passed-validation

#6387 weekly update UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-03-21-UT_GISAG-SPDM.csv
Labels: data-submission, automerge, passed-validation

#6391 mobs 2022-03-21
  data-processed/MOBS-GLEAM_COVID/2022-03-21-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6390 2022-03-21-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-21-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6393 2022-03-21-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-03-21-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#6389 DDS-NBDS 2022-03-21 forecast
  data-processed/DDS-NBDS/2022-03-21-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6398 2022-03-20 - JBUD submission
  data-processed/JBUD-HMXK/2022-03-20-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6402 JHUAPL-SLPHospEns 2022-03-21 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-03-21-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge, passed-validation

#6403 2022-03-23-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-23-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6404 COVID-19Predict: Merging forecast starting at 2022-03-27
  data-processed/CWRU-COVID_19Predict/2022-03-27-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge, passed-validation

#6406 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-03-27-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#6407 2022-03-27-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-27-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6409 UCLA SuEIR: Forecast starting 2022-03-27
  data-processed/UCLA-SuEIR/2022-03-27-UCLA-SuEIR.csv
Labels: data-submission, automerge, passed-validation

#6410 Create 2022-03-27-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-03-27-QJHong-Encounter.csv
Labels: data-submission, automerge, passed-validation

#6412 HKUST-DNN 220328 forecast
  data-processed/HKUST-DNN/2022-03-28-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#6413 Added new MIT-CriticalData forecasts (2022-03-27)
  data-processed/MIT_CritData-GBCF/2022-03-27-MIT_CritData-GBCF.csv
Labels: data-submission, automerge, passed-validation

#6408 SDSC_ISG-TrendModel Forecast Update - 2022-03-27
  data-processed/SDSC_ISG-TrendModel/2022-03-27-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#6405 Add files via upload
  data-processed/TTU-squider/2022-03-27-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#6418 ew12 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-03-28-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#6420 2022-03-28 submission of UMass-trends_ensemble
  data-processed/UMass-trends_ensemble/2022-03-28-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6421 mobs 2022-03-28
  data-processed/MOBS-GLEAM_COVID/2022-03-28-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#6422 FRBSF_Wilson, Econometric: 2022-03-28
  data-processed/FRBSF_Wilson-Econometric/2022-03-28-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge, passed-validation

#6423 Microsoft-DeepSTIA update 2022-03-28
  data-processed/Microsoft-DeepSTIA/2022-03-28-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#6425 2022-03-28-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-03-28-IEM_MED-CovidProject.csv
Labels: data-submission, automerge, passed-validation

#6424 2022-03-28-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-03-28-RobertWalraven-ESG.csv
Labels: data-submission, automerge, passed-validation

#6426 Upload 2022-03-27 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-03-27-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#6427 2022-03-28-UCSD_NEU-DeepGLEAM_submission
  data-processed/UCSD_NEU-DeepGLEAM/2022-03-28-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#6428 Added 3/28/2022 weekly prediction UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-03-28-UMich-RidgeTfReg.csv
Labels: data-submission, automerge, passed-validation

#6430 PSI-DRAFT weekly submission - 28 Mar 2022
  data-processed/PSI-DRAFT/2022-03-28-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#6433 [CMU-TimeSeries] Add 2022-03-28 predictions
  data-processed/CMU-TimeSeries/2022-03-28-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#6435 2022-03-28-LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-03-28-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge, passed-validation

#6436 PSI-DICE weekly submission - 28 Mar 2022
  data-processed/PSI-DICE/2022-03-28-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#6438 Cu boulder pop council
  data-processed/CUB_PopCouncil-SLSTM/2022-03-27-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#6439 Update CovidAnalytics 20220328
  data-processed/CovidAnalytics-DELPHI/2022-03-28-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge, passed-validation

#6441 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-03-27-UCF-AEM.csv
Labels: data-submission, automerge, passed-validation

#6442 DDS-NBDS 2022-03-28 forecast
  data-processed/DDS-NBDS/2022-03-28-DDS-NBDS.csv
Labels: data-submission, automerge, passed-validation

#6437 2022-03-28 UT-Osiris
  data-processed/UT-Osiris/2022-03-21-UT-Osiris.csv
  data-processed/UT-Osiris/2022-03-28-UT-Osiris.csv
Labels: data-submission, forecast-updated, passed-validation

#6443 2022-03-28-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-28-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6444 JHUAPL-GECKO - update forecasts.
  data-processed/JHUAPL-Gecko/2022-03-28-JHUAPL-Gecko.csv
Labels: data-submission, automerge, passed-validation

#6445 AIpert-pwllnod Forecast update for 2022-03-28
  data-processed/AIpert-pwllnod/2022-03-28-AIpert-pwllnod.csv
Labels: data-submission, automerge, passed-validation

#6450 2022-03-27 - JBUD submission
  data-processed/JBUD-HMXK/2022-03-27-JBUD-HMXK.csv
Labels: data-submission, automerge, passed-validation

#6451 Add KITmetricslab-select_ensemble for 2022-03-28
  data-processed/KITmetricslab-select_ensemble/2022-03-28-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge, passed-validation

#6452 3/29 - CDC ensemble forecast visualization
  data-processed/COVIDhub_CDC-ensemble/2022-03-28-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#6454 2022-03-29-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-29-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation

#6455 2022-03-30-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-30-prolix-euclidean.csv
Labels: data-submission, automerge, passed-validation
