Repository reichlab/covid19-forecast-hub, pull requests merged in 2022-02, with the labels that each got.

#5998 2021-01-30 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-30-JBUD-HMXK.csv
Labels: data-submission, automerge

#6007 Add KITmetricslab-select_ensemble for 2022-01-31
  data-processed/KITmetricslab-select_ensemble/2022-01-31-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#6008 Create 2022-01-31-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-01-31-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#6006 Fix for error in formula for FL, that rippled into the US forecast
  data-processed/SteveMcConnell-CovidComplete/2022-01-31-SteveMcConnell-CovidComplete.csv
Labels: data-submission, forecast-updated

#6009 JHUAPL-SLPHospEns 2022-01-31 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-01-31-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#6012 2022-02-02-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-02-prolix-euclidean.csv
Labels: data-submission, automerge

#6014 2022-02-03-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-03-prolix-euclidean.csv
Labels: data-submission, automerge

#6017 2022-02-04-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-04-prolix-euclidean.csv
Labels: data-submission, automerge

#6018 2022-02-05-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-05-prolix-euclidean.csv
Labels: data-submission, automerge

#6019 COVID-19Predict: Merging forecast starting at 2022-02-06
  data-processed/CWRU-COVID_19Predict/2022-02-06-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#6020 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-02-06-BPagano-RtDriven.csv
Labels: data-submission, automerge

#6022 2022-02-06-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-06-prolix-euclidean.csv
Labels: data-submission, automerge

#6024 JHUAPL-GECKO - Forecast update
  data-processed/JHUAPL-Gecko/2022-02-06-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#6026 Create 2022-02-06-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-02-06-QJHong-Encounter.csv
Labels: data-submission, automerge

#6027 HKUST-DNN 220207 forecast
  data-processed/HKUST-DNN/2022-02-07-HKUST-DNN.csv
Labels: data-submission, automerge

#6021 Add files via upload
  data-processed/TTU-squider/2022-02-06-TTU-squider.csv
Labels: data-submission, automerge

#6023 Prediction for 2022-02-06. UCLA-SuEIR
  data-processed/UCLA-SuEIR/2022-02-06-UCLA-SuEIR.csv
  data-processed/UCLA-SuEIR/metadata-UCLA-SuEIR.txt
Labels: data-submission, metadata-change

#6028 Create 2022-02-07-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-02-07-MIT-Cassandra.csv
Labels: data-submission, automerge

#6029 Added new MIT_CritData-GBCF forecasts (2022-02-06)
  data-processed/MIT_CritData-GBCF/2022-02-06-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#6030 Added UMich predictions for 2/7/2022 UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-02-07-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#6031 2022-02-07 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-02-07-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#6032 Covid19Sim-Simulator: weekly forecast update
  data-processed/Covid19Sim-Simulator/2022-02-06-Covid19Sim-Simulator.csv
Labels: data-submission, automerge

#6033 Upload 2022-02-06 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-02-06-Karlen-pypm.csv
Labels: data-submission, automerge

#6035 Microsoft-DeepSTIA update 2022-02-07
  data-processed/Microsoft-DeepSTIA/2022-02-07-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#6037 UMass-trends_ensemble for 2022-02-07
  data-processed/UMass-trends_ensemble/2022-02-07-UMass-trends_ensemble.csv
Labels: data-submission, automerge

#6040 2022-02-07-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-02-07-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#6038 update meta info
  data-processed/Microsoft-DeepSTIA/metadata-Microsoft-DeepSTIA.txt
Labels: metadata-change

#6044 LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-02-07-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#6045 2022-02-07-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-02-07-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#6050 2022-02-07 epiforecasts
  data-processed/epiforecasts-ensemble1/2022-02-07-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#6052 mobs 2022-02-07
  data-processed/MOBS-GLEAM_COVID/2022-02-07-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#6053 weekly_update_UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-02-07-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#6057 2022-02-07-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2022-02-07-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#6059 [CMU-TimeSeries] Add 2022-02-07 predictions
  data-processed/CMU-TimeSeries/2022-02-07-CMU-TimeSeries.csv
Labels: data-submission, automerge

#6060 PSI-DRAFT weekly submission - 07 Feb 2022
  data-processed/PSI-DRAFT/2022-02-07-PSI-DRAFT.csv
Labels: data-submission, automerge

#6061 Steve McConnell - CovidComplete - Forecasts for 2022-02-07
  data-processed/SteveMcConnell-CovidComplete/2022-02-07-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#6048 2022-02-06 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-02-06-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#6058 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-02-06-UCF-AEM.csv
Labels: data-submission, automerge

#6062 ew05 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-02-07-GT-DeepCOVID.csv
Labels: data-submission, automerge

#6063 AIpert-pwllnod Forecast update for 2022-02-07
  data-processed/AIpert-pwllnod/2022-02-07-AIpert-pwllnod.csv
Labels: data-submission, automerge

#6064 2022-02-07-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-07-prolix-euclidean.csv
Labels: data-submission, automerge

#6065 MIT CovidAnalytics Update 02072022
  data-processed/CovidAnalytics-DELPHI/2022-02-07-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#6066 2022-02-07-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-02-07-MUNI-ARIMA.csv
Labels: data-submission, automerge

#6068 2021-02-06 - JBUD submission
  data-processed/JBUD-HMXK/2022-02-06-JBUD-HMXK.csv
Labels: data-submission, automerge

#6067 DDS-NBDS 2022-02-07 forecast
  data-processed/DDS-NBDS/2022-02-07-DDS-NBDS.csv
Labels: data-submission, automerge

#6072 Add KITmetricslab-select_ensemble for 2022-02-07
  data-processed/KITmetricslab-select_ensemble/2022-02-07-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#6073 2022-02-07-COVIDhub_CDC-ensemble
  data-processed/COVIDhub_CDC-ensemble/2022-02-07-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#6075 JHUAPL-SLPHospEns 2022-02-07 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-02-07-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#6076 2022-02-09-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-09-prolix-euclidean.csv
Labels: data-submission, automerge

#6077 2022-02-10-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-10-prolix-euclidean.csv
Labels: data-submission, automerge

#6079 2022-02-11-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-11-prolix-euclidean.csv
Labels: data-submission, automerge

#6080 COVID-19Predict: Merging forecast starting at 2022-02-13
  data-processed/CWRU-COVID_19Predict/2022-02-13-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#6085 UCLA-SuEIR: Forecast for 2022-02-13
  data-processed/UCLA-SuEIR/2022-02-13-UCLA-SuEIR.csv
Labels: data-submission, automerge

#6086 Create 2022-02-13-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-02-13-QJHong-Encounter.csv
Labels: data-submission, automerge

#6087 ew06 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-02-14-GT-DeepCOVID.csv
Labels: data-submission, automerge

#6088 HKUST-DNN 220214 forecast
  data-processed/HKUST-DNN/2022-02-14-HKUST-DNN.csv
Labels: data-submission, automerge

#6091 Upload 2022-02-14-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-02-14-MIT-Cassandra.csv
Labels: data-submission, automerge

#6084 SDSC_ISG-TrendModel Forecast Update - 2022-02-13
  data-processed/SDSC_ISG-TrendModel/2022-02-13-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#6093 Added UMich predictions for 2/14/2022 UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-02-14-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#6094 Upload 2022-02-13 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-02-13-Karlen-pypm.csv
Labels: data-submission, automerge

#6097 updating UMass-trends_ensemble submission
  data-processed/UMass-trends_ensemble/2022-02-14-UMass-trends_ensemble.csv
Labels: data-submission, automerge

#6098 UMass-MechBayes 2022-02-13 submission
  data-processed/UMass-MechBayes/2022-02-13-UMass-MechBayes.csv
Labels: data-submission, automerge

#6099 2022-02-14 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-02-14-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#6102 FRBSF_Wilson, Econometric: 2022-02-14
  data-processed/FRBSF_Wilson-Econometric/2022-02-14-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#6103 JHUAPL-Gecko - 2/14 update.
  data-processed/JHUAPL-Gecko/2022-02-14-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#6105 2022-02-14-LosAlamos_NAU-CModel_SDVaxVarAdd files via upload
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-02-14-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#6110 Steve McConnell - CovidComplete - Forecasts for 2022-02-14
  data-processed/SteveMcConnell-CovidComplete/2022-02-14-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#6111 [CMU-TimeSeries] Add 2022-02-14 predictions
  data-processed/CMU-TimeSeries/2022-02-14-CMU-TimeSeries.csv
Labels: data-submission, automerge

#6114 PSI-DRAFT weekly submission - 14 Feb 2022
  data-processed/PSI-DRAFT/2022-02-14-PSI-DRAFT.csv
Labels: data-submission, automerge

#6117 weekly update UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-02-14-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#6116 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-02-13-UCF-AEM.csv
Labels: data-submission, automerge

#6118 MIT CovidAnalytics Update 02142022
  data-processed/CovidAnalytics-DELPHI/2022-02-14-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#6112 2022-02-14-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-14-prolix-euclidean.csv
Labels: data-submission, automerge

#6121 AIpert-pwllnod Forecast update for 2022-02-14
  data-processed/AIpert-pwllnod/2022-02-14-AIpert-pwllnod.csv
Labels: data-submission, automerge

#6120 JHU_CSSE-DECOM 2/13/22 Predictions
  data-processed/JHU_CSSE-DECOM/2022-02-13-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#6119 PSI-DICE initial submission - 14 Feb 2022
  data-processed/PSI-DICE/2022-02-14-PSI-DICE.csv
  data-processed/PSI-DICE/LICENSE-PSI.txt
  data-processed/PSI-DICE/metadata-PSI-DICE.txt
Labels: new-team-submission, data-submission, metadata-change, other-files-updated

#6123 mobs 2022-02-14
  data-processed/MOBS-GLEAM_COVID/2022-02-14-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#6124 2022-02-14-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2022-02-14-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#6122 DDS-NBDS 2022-02-14 forecast
  data-processed/DDS-NBDS/2022-02-14-DDS-NBDS.csv
Labels: data-submission, automerge

#6130 2021-02-13 - JBUD submission
  data-processed/JBUD-HMXK/2022-02-13-JBUD-HMXK.csv
Labels: data-submission, automerge

#6131 Add KITmetricslab-select_ensemble for 2022-02-14
  data-processed/KITmetricslab-select_ensemble/2022-02-14-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#6132 Create 2022-02-14-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-02-14-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#6133 JHUAPL-SLPHospEns 2022-02-14 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-02-14-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#6134 2022-02-15-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-15-prolix-euclidean.csv
Labels: data-submission, automerge

#6135 2022-02-16-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-16-prolix-euclidean.csv
Labels: data-submission, automerge

#6137 2022-02-17-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-17-prolix-euclidean.csv
Labels: data-submission, automerge

#6138 2022-02-18-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-18-prolix-euclidean.csv
Labels: data-submission, automerge

#6140 COVID-19Predict: Merging forecast starting at 2022-02-20
  data-processed/CWRU-COVID_19Predict/2022-02-20-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#6142 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-02-20-BPagano-RtDriven.csv
Labels: data-submission, automerge

#6143 2022-02-20-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-20-prolix-euclidean.csv
Labels: data-submission, automerge

#6146 Upload 2022-02-20 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-02-20-Karlen-pypm.csv
Labels: data-submission, automerge

#6147 UCLA-SuEIR : Forecast starting 2022-02-20
  data-processed/UCLA-SuEIR/2022-02-20-UCLA-SuEIR.csv
Labels: data-submission, automerge

#6149 HKUST-DNN 220221 forecast
  data-processed/HKUST-DNN/2022-02-21-HKUST-DNN.csv
Labels: data-submission, automerge

#6150 Upload 2022-02-21-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2022-02-21-MIT-Cassandra.csv
Labels: data-submission, automerge

#6148 2022-02-21-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-02-21-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#6145 SDSC_ISG-TrendModel Forecast Update - 2022-02-20
  data-processed/SDSC_ISG-TrendModel/2022-02-20-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#6141 Add files via upload
  data-processed/TTU-squider/2022-02-20-TTU-squider.csv
Labels: data-submission, automerge

#6151 Added new MIT-CriticalData forecasts (2022-02-20)
  data-processed/MIT_CritData-GBCF/2022-02-20-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#6152 2022-02-21 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2022-02-21-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge

#6153 Create 2022-02-21-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-02-21-QJHong-Encounter.csv
Labels: data-submission, automerge

#6156 Microsoft-DeepSTIA update 2022-02-21
  data-processed/Microsoft-DeepSTIA/2022-02-21-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge

#6157 ew07 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-02-21-GT-DeepCOVID.csv
Labels: data-submission, automerge

#6158 2022-02-21-LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-02-21-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#6159 2022-02-21-IEM_MED-CovidProject
  data-processed/IEM_MED-CovidProject/2022-02-21-IEM_MED-CovidProject.csv
Labels: data-submission, automerge

#6160 2022-02-21 Epiforecasts
  data-processed/epiforecasts-ensemble1/2022-02-21-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#6161 PSI-DRAFT weekly submission - 21 Feb 2022
  data-processed/PSI-DRAFT/2022-02-21-PSI-DRAFT.csv
Labels: data-submission, automerge

#6164 JHUAPL - Gecko - 2/21 update.
  data-processed/JHUAPL-Gecko/2022-02-21-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#6166 Covid19Sim-Simulator: weekly forecast update
  data-processed/Covid19Sim-Simulator/2022-02-20-Covid19Sim-Simulator.csv
Labels: data-submission, automerge

#6167 updating UMass-trends_ensemble submission
  data-processed/UMass-trends_ensemble/2022-02-21-UMass-trends_ensemble.csv
Labels: data-submission, automerge

#6168 Added UMich predictions for 2/21/2022 UMich-RidgeTfReg
  data-processed/UMich-RidgeTfReg/2022-02-21-UMich-RidgeTfReg.csv
Labels: data-submission, automerge

#6170 FRBSF_Wilson, Econometric: 2022-02-21
  data-processed/FRBSF_Wilson-Econometric/2022-02-21-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#6171 [CMU-TimeSeries] Add 2022-02-21 predictions
  data-processed/CMU-TimeSeries/2022-02-21-CMU-TimeSeries.csv
Labels: data-submission, automerge

#6173 Steve McConnell - CovidComplete - Forecasts for 2022-02-21
  data-processed/SteveMcConnell-CovidComplete/2022-02-21-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#6174 MIT DELPHI Update 20220221
  data-processed/CovidAnalytics-DELPHI/2022-02-21-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge

#6175 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-02-20-UCF-AEM.csv
Labels: data-submission, automerge

#6176 JHU_CSSE-DECOM 2/20/22 Predictions
  data-processed/JHU_CSSE-DECOM/2022-02-20-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#6178 2022-02-21-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-21-prolix-euclidean.csv
Labels: data-submission, automerge

#6179 weekly_update_UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-02-21-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#6180 2022-02-21-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-02-21-MUNI-ARIMA.csv
Labels: data-submission, automerge

#6184 mobs 2022-02-21
  data-processed/MOBS-GLEAM_COVID/2022-02-21-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge

#6185 2022-02-21-UCSD_NEU-DeepGLEAM_Submission
  data-processed/UCSD_NEU-DeepGLEAM/2022-02-21-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge

#6187 2021-02-20 - JBUD submission
  data-processed/JBUD-HMXK/2022-02-20-JBUD-HMXK.csv
Labels: data-submission, automerge

#6188 Add KITmetricslab-select_ensemble for 2022-02-21
  data-processed/KITmetricslab-select_ensemble/2022-02-21-KITmetricslab-select_ensemble.csv
Labels: data-submission, automerge

#6189 Create 2022-02-21-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2022-02-21-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge

#6190 JHUAPL-SLPHospEns 2022-02-21 Forecast
  data-processed/JHUAPL-SLPHospEns/2022-02-21-JHUAPL-SLPHospEns.csv
Labels: data-submission, automerge

#6195 COVID-19Predict: Merging forecast starting at 2022-02-27
  data-processed/CWRU-COVID_19Predict/2022-02-27-CWRU-COVID_19Predict.csv
Labels: data-submission, automerge

#6196 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2022-02-27-BPagano-RtDriven.csv
Labels: data-submission, automerge

#6199 UCLA SuEIR: Forecasts starting 2022-02-27
  data-processed/UCLA-SuEIR/2022-02-27-UCLA-SuEIR.csv
Labels: data-submission, automerge

#6201 Upload 2022-02-27 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-02-27-Karlen-pypm.csv
Labels: data-submission, automerge

#6202 HKUST-DNN 220228 forecast
  data-processed/HKUST-DNN/2022-02-28-HKUST-DNN.csv
Labels: data-submission, automerge

#6205 Added new MIT-CriticalData forecasts (2022-02-27)
  data-processed/MIT_CritData-GBCF/2022-02-27-MIT_CritData-GBCF.csv
Labels: data-submission, automerge

#6204 2022-02-28-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-02-28-RobertWalraven-ESG.csv
Labels: data-submission, automerge

#6197 Add files via upload
  data-processed/TTU-squider/2022-02-27-TTU-squider.csv
Labels: data-submission, automerge

#6198 SDSC_ISG-TrendModel Forecast Update - 2022-02-27
  data-processed/SDSC_ISG-TrendModel/2022-02-27-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge

#6211 2022-02-28-LosAlamos_NAU-CModel_SDVaxVar
  data-processed/LosAlamos_NAU-CModel_SDVaxVar/2022-02-28-LosAlamos_NAU-CModel_SDVaxVar.csv
Labels: data-submission, automerge

#6212 ew08 DeepCOVID submission
  data-processed/GT-DeepCOVID/2022-02-28-GT-DeepCOVID.csv
Labels: data-submission, automerge

#6214 FRBSF_Wilson, Econometric: 2022-02-28
  data-processed/FRBSF_Wilson-Econometric/2022-02-28-FRBSF_Wilson-Econometric.csv
Labels: data-submission, automerge

#6215 2022-02-28 Epiforecasts
  data-processed/epiforecasts-ensemble1/2022-02-28-epiforecasts-ensemble1.csv
Labels: data-submission, automerge

#6216 JHUAPL - Gecko - 2/28 update.
  data-processed/JHUAPL-Gecko/2022-02-28-JHUAPL-Gecko.csv
Labels: data-submission, automerge

#6217 Create 2022-02-28-QJHong-Encounter.csv
  data-processed/QJHong-Encounter/2022-02-28-QJHong-Encounter.csv
Labels: data-submission, automerge

#6220 PSI-DRAFT weekly submission - 28 Feb 2022
  data-processed/PSI-DRAFT/2022-02-28-PSI-DRAFT.csv
Labels: data-submission, automerge

#6221 Covid19Sim-Simulator: weekly forecast update
  data-processed/Covid19Sim-Simulator/2022-02-27-Covid19Sim-Simulator.csv
Labels: data-submission, automerge

#6218 JHU_CSSE-DECOM Predictions 2022-02-27
  data-processed/JHU_CSSE-DECOM/2022-02-27-JHU_CSSE-DECOM.csv
Labels: data-submission, automerge

#6224 UMass-trends_ensemble update
  data-processed/UMass-trends_ensemble/2022-02-28-UMass-trends_ensemble.csv
Labels: data-submission, automerge

#6225 weekly update_UT_GISAG
  data-processed/UT_GISAG-SPDM/2022-02-28-UT_GISAG-SPDM.csv
Labels: data-submission, automerge

#6227 Steve McConnell - CovidComplete - Forecasts for 2022-02-28
  data-processed/SteveMcConnell-CovidComplete/2022-02-28-SteveMcConnell-CovidComplete.csv
Labels: data-submission, automerge

#6229 [CMU-TimeSeries] Add 2022-02-28 predictions
  data-processed/CMU-TimeSeries/2022-02-28-CMU-TimeSeries.csv
Labels: data-submission, automerge

#6226 UCF-AEM Weekly Forecast
  data-processed/UCF-AEM/2022-02-27-UCF-AEM.csv
Labels: data-submission, automerge

#6231 PSI-DICE weekly submission - 28 Feb 2022
  data-processed/PSI-DICE/2022-02-28-PSI-DICE.csv
Labels: data-submission, automerge

#6233 MIT CovidAnalytics Update 20220228
  data-processed/CovidAnalytics-DELPHI/2022-02-28-CovidAnalytics-DELPHI.csv
Labels: data-submission, automerge
