Repository reichlab/covid19-forecast-hub, pull requests merged in 2023-01, with the labels that each got.

#8028 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2023-01-01-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#8029 Upload 2023-01-01 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2023-01-01-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#8032 2022-12-31 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2022-12-31-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8033 HKUST-DNN 230102 forecast
  data-processed/HKUST-DNN/2023-01-02-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#8034 AMM-EpiInvertForecast
  data-processed/AMM-EpiInvert/2023-01-02-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#8030 2023-01-01-UMass-gbq
  data-processed/UMass-gbq/2023-01-01-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8037 UT Osiris 2023-01-02
  data-processed/UT-Osiris/2023-01-02-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8040 2023-01-02-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-01-02-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8041 mobs 2023-01-02
  data-processed/MOBS-GLEAM_COVID/2023-01-02-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8027 Add files via upload
  data-processed/TTU-squider/2023-01-01-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#8031 SDSC_ISG-TrendModel Forecast Update - 2023-01-01
  data-processed/SDSC_ISG-TrendModel/2023-01-01-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#8039 2023-01-02 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2023-01-02-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#8044 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2023-01-02-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#8046 2023-01-02 CEPH
  data-processed/CEPH-Rtrend_covid/2023-01-02-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8048 UMass-trends_ensemble submission
  data-processed/UMass-trends_ensemble/2023-01-02-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8049 adding UMass sarix for 2023-01-01
  data-processed/UMass-sarix/2023-01-01-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8050 [CMU-TimeSeries] Add 2023-01-02 predictions
  data-processed/CMU-TimeSeries/2023-01-02-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8055 2023-01-02 ensemble
  data-processed/COVIDhub-ensemble/2023-01-02-COVIDhub-ensemble.csv
  ensemble-metadata/2023-01-02-cum_death-model-weights.csv
  ensemble-metadata/2023-01-02-inc_case-model-eligibility.csv
  ensemble-metadata/2023-01-02-inc_case-model-weights.csv
  ensemble-metadata/2023-01-02-inc_death-model-weights.csv
  ensemble-metadata/2023-01-02-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-01-02-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8058 ew52 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-01-02-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8060 PSI-DICE weekly submission - 03 Jan 2023
  data-processed/PSI-DICE/2023-01-03-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8062 PSI-DRAFT weekly submission - 03 Jan 2023
  data-processed/PSI-DRAFT/2023-01-02-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#8063 Cdc create data processed files 01/03/2023- revised
  data-processed/COVIDhub_CDC-ensemble/2023-01-02-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8064 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2023-01-08-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#8068 2023-01-07 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-01-07-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8069 HKUST-DNN 230109 forecast
  data-processed/HKUST-DNN/2023-01-09-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#8070 AMM-EpiInvertForecast
  data-processed/AMM-EpiInvert/2023-01-09-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#8065 Add files via upload
  data-processed/TTU-squider/2023-01-08-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#8066 SDSC_ISG-TrendModel Forecast Update - 2023-01-08
  data-processed/SDSC_ISG-TrendModel/2023-01-08-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#8072 Microsoft-DeepSTIA 2023-01-09
  data-processed/Microsoft-DeepSTIA/2023-01-09-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#8074 mobs 2023-01-09
  data-processed/MOBS-GLEAM_COVID/2023-01-09-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8075 2023-01-09 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2023-01-09-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#8076 2023-01-09-UMass-gbq
  data-processed/UMass-gbq/2023-01-09-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8077 Upload 2023-01-09-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2023-01-09-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#8078 PSI-DRAFT weekly submission - 09 Jan 2023
  data-processed/PSI-DRAFT/2023-01-09-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#8080 ew202301 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-01-09-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8082 UT Osiris - 2023-01-09
  data-processed/UT-Osiris/2023-01-09-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8083 PSI-DICE weekly submission - 09 Jan 2023
  data-processed/PSI-DICE/2023-01-09-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8084 2023-01-09 UMass-sarix
  data-processed/UMass-sarix/2023-01-09-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8085 remove CT MS RI WV due to misalignment
  data-processed/UMass-trends_ensemble/2023-01-09-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8086 UVA-Ensemble 2023-01-09
  data-processed/UVA-Ensemble/2023-01-09-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8087 [CMU-TimeSeries] Add 2023-01-09 predictions
  data-processed/CMU-TimeSeries/2023-01-09-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8091 JHU IDD Jan 8
  data-processed/JHU_IDD-CovidSP/2023-01-08-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8089 2023-01-09 ensemble
  data-processed/COVIDhub-ensemble/2023-01-09-COVIDhub-ensemble.csv
  ensemble-metadata/2023-01-09-cum_death-model-weights.csv
  ensemble-metadata/2023-01-09-inc_case-model-eligibility.csv
  ensemble-metadata/2023-01-09-inc_case-model-weights.csv
  ensemble-metadata/2023-01-09-inc_death-model-weights.csv
  ensemble-metadata/2023-01-09-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-01-09-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8093 2023-01-09 prediction
  data-processed/PR_UMD-CF_RepTiLe/2023-01-09-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#8094 CDC create data processed files 01/10/2023
  data-processed/COVIDhub_CDC-ensemble/2023-01-09-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8097 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2023-01-15-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#8098 Upload 2023-01-15 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2023-01-15-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#8099 2023-01-14 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-01-14-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8101 HKUST-DNN 230116 forecast
  data-processed/HKUST-DNN/2023-01-16-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#8102 AMM-EpiInvertForecast
  data-processed/AMM-EpiInvert/2023-01-16-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#8100 SDSC_ISG-TrendModel Forecast Update - 2023-01-15
  data-processed/SDSC_ISG-TrendModel/2023-01-15-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#8096 Add files via upload
  data-processed/TTU-squider/2023-01-15-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#8105 Microsoft-DeepSTIA update 2023-01-16
  data-processed/Microsoft-DeepSTIA/2023-01-16-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#8106 mobs 2023-01-16 new
  data-processed/MOBS-GLEAM_COVID/2023-01-16-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8108 UT Osiris 2023-01-16
  data-processed/UT-Osiris/2023-01-16-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8109 PSI-DICE weekly submission - 16 Jan 2023
  data-processed/PSI-DICE/2023-01-16-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8111 2023-01-16 UMass-sarix
  data-processed/UMass-sarix/2023-01-16-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8113 2023-01-16 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-01-16-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8116 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-01-16-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8115 2023-01-16 CEPH
  data-processed/CEPH-Rtrend_covid/2023-01-16-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8118 UVA-Ensemble 2023-01-16
  data-processed/UVA-Ensemble/2023-01-16-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8119 2023-01-16-UMass-gbq
  data-processed/UMass-gbq/2023-01-16-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8110 2023-01-16 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2023-01-16-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#8121 2023-01-16 ensemble
  data-processed/COVIDhub-ensemble/2023-01-16-COVIDhub-ensemble.csv
  ensemble-metadata/2023-01-16-cum_death-model-weights.csv
  ensemble-metadata/2023-01-16-inc_case-model-eligibility.csv
  ensemble-metadata/2023-01-16-inc_case-model-weights.csv
  ensemble-metadata/2023-01-16-inc_death-model-weights.csv
  ensemble-metadata/2023-01-16-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-01-16-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8125 CDC create data processed files 01/17/2022
  data-processed/COVIDhub_CDC-ensemble/2023-01-16-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8126 2023-01-17 prediction
  data-processed/PR_UMD-CF_RepTiLe/2023-01-16-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#8127 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2023-01-16-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#8128 ew202302 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-01-16-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8130 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2023-01-22-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#8135 HKUST-DNN 230123 forecast
  data-processed/HKUST-DNN/2023-01-23-HKUST-DNN.csv
Labels: data-submission, automerge, passed-validation

#8136 2023-01-21 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-01-22-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8137 AMM-EpiInvert
  data-processed/AMM-EpiInvert/2023-01-23-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#8134 SDSC_ISG-TrendModel Forecast Update - 2023-01-22
  data-processed/SDSC_ISG-TrendModel/2023-01-22-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#8133 AIMdyn forecasts for 01/21/2023
  data-processed/AIMdyn-SlidingKoopman/2023-01-21-AIMdyn-SlidingKoopman.csv
  data-processed/AIMdyn-SlidingKoopman/metadata-AIMdyn-SlidingKoopman.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#8141 [PR_UMD-CF_RepTiLe] 2023-01-23 predictions
  data-processed/PR_UMD-CF_RepTiLe/2023-01-23-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#8142 mobs 2023-01-23
  data-processed/MOBS-GLEAM_COVID/2023-01-23-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8144 2023-01-23-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-01-23-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8147 Microsoft-DeepSTIA update 2023-01-23
  data-processed/Microsoft-DeepSTIA/2023-01-23-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#8148 ew202303 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-01-23-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8143 2023-01-23 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2023-01-23-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#8150 PSI-DRAFT weekly submission - 23 Jan 2022
  data-processed/PSI-DRAFT/2023-01-23-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#8151 2023-01-22 JHU_IDD-CovidSP
  data-processed/JHU_IDD-CovidSP/2023-01-22-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8153 UT-Osiris 2023-01-23
  data-processed/UT-Osiris/2023-01-23-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8154 Upload 2023-01-22 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2023-01-22-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#8155 2023-01-23-UMass-gbq
  data-processed/UMass-gbq/2023-01-23-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8156 truth update 2023-01-23
  data-truth/truth-Cumulative Cases.csv
  data-truth/truth-Cumulative Deaths.csv
  data-truth/truth-Cumulative Hospitalizations.csv
  data-truth/truth-Incident Cases.csv
  data-truth/truth-Incident Deaths.csv
  data-truth/truth-Incident Hospitalizations.csv
Labels: other-files-updated

#8157 [CMU-TimeSeries] Add 2023-01-23 predictions
  data-processed/CMU-TimeSeries/2023-01-23-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8158 CEPH 2023-01-23
  data-processed/CEPH-Rtrend_covid/2023-01-23-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8159 2023-01-23 ensemble
  data-processed/COVIDhub-ensemble/2023-01-23-COVIDhub-ensemble.csv
  ensemble-metadata/2023-01-23-cum_death-model-weights.csv
  ensemble-metadata/2023-01-23-inc_case-model-eligibility.csv
  ensemble-metadata/2023-01-23-inc_case-model-weights.csv
  ensemble-metadata/2023-01-23-inc_death-model-weights.csv
  ensemble-metadata/2023-01-23-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-01-23-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8162 PSI-DICE weekly submission - 23 Jan 2023
  data-processed/PSI-DICE/2023-01-23-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8061 attempted fix of "API rate limit exceeded" - sleeps for a minute if up against rate limit
  code/validation/test_formatting.py
Labels: code, other-files-updated

#8164 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2023-01-29-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#8166 2023-01-28 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-01-28-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8169 Upload 2023-01-29 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2023-01-29-Karlen-pypm.csv
Labels: data-submission, automerge, passed-validation

#8170 AMM-EpiInvertForecast
  data-processed/AMM-EpiInvert/2023-01-30-AMM-EpiInvert.csv
Labels: data-submission, automerge, passed-validation

#8171 2023-01-30 predictions
  data-processed/PR_UMD-CF_RepTiLe/2023-01-30-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#8167 SDSC_ISG-TrendModel Forecast Update - 2023-01-29
  data-processed/SDSC_ISG-TrendModel/2023-01-29-SDSC_ISG-TrendModel.csv
Labels: data-submission, automerge, passed-validation

#8173 2023-01-30 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2023-01-30-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#8175 mobs 2023-01-30
  data-processed/MOBS-GLEAM_COVID/2023-01-30-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8176 2023-01-30-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-01-30-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8180 UT-Osiris 2023-01-30
  data-processed/UT-Osiris/2023-01-30-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8181 Add files via upload
  data-processed/UCSD_NEU-DeepGLEAM/2023-01-30-UCSD_NEU-DeepGLEAM.csv
Labels: data-submission, automerge, passed-validation

#8183 2023-01-30 UMass-sarix
  data-processed/UMass-sarix/2023-01-30-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8184 PSI-DRAFT weekly submission - 30 Jan 2023
  data-processed/PSI-DRAFT/2023-01-30-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#8185 2023-01-30-UMass-gbq
  data-processed/UMass-gbq/2023-01-30-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8186 ew202304 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-01-30-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8187 PSI-DICE weekly submission - 30 Jan 2023
  data-processed/PSI-DICE/2023-01-30-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8188 CEPH 2023-01-30
  data-processed/CEPH-Rtrend_covid/2023-01-30-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8189 remove CT, GA, HI, MN, NC due to misalignment
  data-processed/UMass-trends_ensemble/2023-01-30-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8190 [CMU-TimeSeries] Add 2023-01-30 predictions
  data-processed/CMU-TimeSeries/2023-01-30-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8191 UVA-Ensemble 2023-01-30
  data-processed/UVA-Ensemble/2023-01-30-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8192 2023-01-30 ensemble
  data-processed/COVIDhub-ensemble/2023-01-30-COVIDhub-ensemble.csv
  ensemble-metadata/2023-01-30-cum_death-model-weights.csv
  ensemble-metadata/2023-01-30-inc_case-model-eligibility.csv
  ensemble-metadata/2023-01-30-inc_case-model-weights.csv
  ensemble-metadata/2023-01-30-inc_death-model-weights.csv
  ensemble-metadata/2023-01-30-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-01-30-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8193 2023-01-30 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-01-30-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-01-30-cum_death-model-weights.csv
  trained_ensemble-metadata/2023-01-30-inc_death-model-weights.csv
  trained_ensemble-metadata/2023-01-30-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8195 AIMdyn forecasts for 01/28/2023
  data-processed/AIMdyn-SlidingKoopman/2023-01-29-AIMdyn-SlidingKoopman.csv
Labels: data-submission, automerge, passed-validation

#8197 Microsoft-DeepSTIA update 2023-01-30
  data-processed/Microsoft-DeepSTIA/2023-01-30-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#8196 CEID-Walk
  data-processed/CEID-Walk/2023-01-30-CEID-Walk.csv
Labels: data-submission, automerge, passed-validation

#8198 CDC create data processed files 2023-01-30
  data-processed/COVIDhub_CDC-ensemble/2023-01-30-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation
