Repository reichlab/covid19-forecast-hub, pull requests merged in 2023-10, with the labels that each got.

#8890 SGroup-RandomForest submission for October 2nd, 2023
  data-processed/SGroup-RandomForest/2023-10-02-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8891 2023-10-02-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-10-02-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8892 CEPH 2023-10-02
  data-processed/CEPH-Rtrend_covid/2023-10-02-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8893 mobs 2023-10-02
  data-processed/MOBS-GLEAM_COVID/2023-10-02-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8895 2023-10-02-UMass-gbq
  data-processed/UMass-gbq/2023-10-02-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8896 PSI-DICE weekly submission - 2 Oct 2023
  data-processed/PSI-DICE/2023-10-02-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8897 UT-Osiris 2023-10-02
  data-processed/UT-Osiris/2023-10-02-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8899 oct 1 JHU_IDD-CovidSP
  data-processed/JHU_IDD-CovidSP/2023-10-01-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8901 remove IN, TX due to misalignment
  data-processed/UMass-trends_ensemble/2023-10-02-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8902 2023-10-02 ensemble
  data-processed/COVIDhub-ensemble/2023-10-02-COVIDhub-ensemble.csv
  ensemble-metadata/2023-10-02-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-10-02-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8903 2023-10-02 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-10-02-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-10-02-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8904 2023-10-02 4 week ensemble
  4_week_ensemble-metadata/2023-10-02-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-10-02-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-10-02-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8905 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-10-02-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8906 SGroup-RandomForest submission for October 9th, 2023
  data-processed/SGroup-RandomForest/2023-10-09-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8907 2023-10-09 baseline
  data-processed/COVIDhub-baseline/2023-10-09-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8908 2023-10-09-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-10-09-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8909 mobs 2023-10-09
  data-processed/MOBS-GLEAM_COVID/2023-10-09-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8912 UT-Osiris 2023-10-09
  data-processed/UT-Osiris/2023-10-09-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8913 PSI-DICE weekly submission - 09 Oct 2023
  data-processed/PSI-DICE/2023-10-09-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8915 2023-10-09-UMass-gbq
  data-processed/UMass-gbq/2023-10-09-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8914 [CMU-TimeSeries] Add 2023-10-09 predictions
  data-processed/CMU-TimeSeries/2023-10-09-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8916 JHU_IDD 2023-10-08 forecast
  data-processed/JHU_IDD-CovidSP/2023-10-08-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8918 2023-10-09 ensemble
  data-processed/COVIDhub-ensemble/2023-10-09-COVIDhub-ensemble.csv
  ensemble-metadata/2023-10-09-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-10-09-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8919 2023-10-09 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-10-09-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-10-09-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8920 2023-10-09 4 week ensemble
  4_week_ensemble-metadata/2023-10-09-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-10-09-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-10-09-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8921 CEPH 2023-10-09
  data-processed/CEPH-Rtrend_covid/2023-10-09-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8924 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-10-09-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#8926 SGroup-RandomForest submission for October 16th, 2023
  data-processed/SGroup-RandomForest/2023-10-16-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8927 mobs 2023-10-16
  data-processed/MOBS-GLEAM_COVID/2023-10-16-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8929 2023-10-16-COVIDhub-baseline
  data-processed/COVIDhub-baseline/2023-10-16-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8931 UT-Osiris 2023-10-16
  data-processed/UT-Osiris/2023-10-16-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8933 PSI-DICE weekly submission - 16 Oct 2023
  data-processed/PSI-DICE/2023-10-16-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8934 [CMU-TimeSeries] Add 2023-10-16 predictions
  data-processed/CMU-TimeSeries/2023-10-16-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8935 2023-10-15 forecast
  data-processed/JHU_IDD-CovidSP/2023-10-15-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8936 2023-10-16 UMass-sarix
  data-processed/UMass-sarix/2023-10-16-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8937 remove ME due to misalignment
  data-processed/UMass-trends_ensemble/2023-10-16-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8938 2023-10-16 ensemble
  data-processed/COVIDhub-ensemble/2023-10-16-COVIDhub-ensemble.csv
  ensemble-metadata/2023-10-16-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-10-16-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8939 2023-10-16 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-10-16-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-10-16-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8940 2023-10-16 4 week ensemble
  4_week_ensemble-metadata/2023-10-16-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-10-16-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-10-16-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8941 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-10-16-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8942 SGroup-RandomForest submission for October 23rd, 2023
  data-processed/SGroup-RandomForest/2023-10-23-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8943 mobs 2023-10-23
  data-processed/MOBS-GLEAM_COVID/2023-10-23-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8944 2023-10-23-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-10-23-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8945 2023-10-23-UMass-gbq
  data-processed/UMass-gbq/2023-10-23-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8946 CEPH 2023-10-23
  data-processed/CEPH-Rtrend_covid/2023-10-23-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8947 2023-10-23 baseline
  data-processed/COVIDhub-baseline/2023-10-23-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8948 UT-Osiris 2023-10-23
  data-processed/UT-Osiris/2023-10-23-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8949 PSI-DICE weekly submission - 23 Oct 2023
  data-processed/PSI-DICE/2023-10-23-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8950 [CMU-TimeSeries] Add 2023-10-23 predictions
  data-processed/CMU-TimeSeries/2023-10-23-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8951 2023-10-23 UMass-sarix
  data-processed/UMass-sarix/2023-10-23-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8952 remove IN, NH due to misalignment
  data-processed/UMass-trends_ensemble/2023-10-23-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8953 2023-10-23 ensemble
  data-processed/COVIDhub-ensemble/2023-10-23-COVIDhub-ensemble.csv
  ensemble-metadata/2023-10-23-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-10-23-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8954 2023-10-23 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-10-23-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-10-23-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8955 2023-10-23 4 week ensemble
  4_week_ensemble-metadata/2023-10-23-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-10-23-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-10-23-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8956 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-10-23-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8957 CEPH 2023-10-30
  data-processed/CEPH-Rtrend_covid/2023-10-30-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8958 mobs 2023-10-30
  data-processed/MOBS-GLEAM_COVID/2023-10-30-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8959 2023-10-30 baseline
  data-processed/COVIDhub-baseline/2023-10-30-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8960 2023-10-30-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-10-30-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8961 UT-Osiris 2023-Oct-30
  data-processed/UT-Osiris/2023-10-30-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8962 JHU_IDD-CovidSP 2023-10-29 forecast
  data-processed/JHU_IDD-CovidSP/2023-10-29-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8964 PSI-DICE weekly submission - 30 Oct 2023
  data-processed/PSI-DICE/2023-10-30-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8963 2023-10-30 UMass-sarix
  data-processed/UMass-sarix/2023-10-30-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8965 SGroup-RandomForest submission for October 30th, 2023
  data-processed/SGroup-RandomForest/2023-10-30-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8966 2023-10-30 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-10-30-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8967 [CMU-TimeSeries] Add 2023-10-30 predictions
  data-processed/CMU-TimeSeries/2023-10-30-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8968 2023-10-30 ensemble
  data-processed/COVIDhub-ensemble/2023-10-30-COVIDhub-ensemble.csv
  ensemble-metadata/2023-10-30-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-10-30-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8969 2023-10-30 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-10-30-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-10-30-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8970 2023-10-30 4 week ensemble
  4_week_ensemble-metadata/2023-10-30-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-10-30-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-10-30-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8971 2023-10-30-UMass-gbq
  data-processed/UMass-gbq/2023-10-30-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation
