Repository reichlab/covid19-forecast-hub, pull requests merged in 2023-12, with the labels that each got.

#9042 2023-12-04 baseline
  data-processed/COVIDhub-baseline/2023-12-04-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9044 2023-12-04-UMass-gbq
  data-processed/UMass-gbq/2023-12-04-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9047 JHU_IDD-CovidSP Dec 3 forecast
  data-processed/JHU_IDD-CovidSP/2023-12-03-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9048 PSI-DICE weekly submission - 04 Dec 2023
  data-processed/PSI-DICE/2023-12-04-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9049 2023-12-04 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-12-04-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9050 2023-12-04 UMass-sarix
  data-processed/UMass-sarix/2023-12-04-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9051 [CMU-TimeSeries] Add 2023-12-04 predictions
  data-processed/CMU-TimeSeries/2023-12-04-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9052 2023-12-04 ensemble
  data-processed/COVIDhub-ensemble/2023-12-04-COVIDhub-ensemble.csv
  ensemble-metadata/2023-12-04-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-12-04-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9053 2023-12-04 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-12-04-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-12-04-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9054 2023-12-04 4 week ensemble
  4_week_ensemble-metadata/2023-12-04-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-12-04-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-12-04-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9056 SGroup-RandomForest submission for Dec 11th, 2023
  data-processed/SGroup-RandomForest/2023-12-11-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9058 2023-12-11-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-12-11-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9059 2023-12-11 baseline
  data-processed/COVIDhub-baseline/2023-12-11-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9060 UT-Osiris 2023-12-11
  data-processed/UT-Osiris/2023-12-11-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9061 2023-12-11-UMass-gbq
  data-processed/UMass-gbq/2023-12-11-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9062 2023-12-10 JHU_IDD-CovidSP forecasts
  data-processed/JHU_IDD-CovidSP/2023-12-10-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9063 CEPH 2023-12-11
  data-processed/CEPH-Rtrend_covid/2023-12-11-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9064 PSI-DICE weekly submission - 11 Dec 2023
  data-processed/PSI-DICE/2023-12-11-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9065 [CMU-TimeSeries] Add 2023-12-11 predictions
  data-processed/CMU-TimeSeries/2023-12-11-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9067 2023-12-11 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-12-11-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9068 2023-12-11 ensemble
  data-processed/COVIDhub-ensemble/2023-12-11-COVIDhub-ensemble.csv
  ensemble-metadata/2023-12-11-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-12-11-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9069 2023-12-11 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-12-11-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-12-11-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9070 2023-12-11 4 week ensemble
  4_week_ensemble-metadata/2023-12-11-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-12-11-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-12-11-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9071 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-12-11-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9072 SGroup-RandomForest submission for Dec 18th, 2023
  data-processed/SGroup-RandomForest/2023-12-18-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9073 2023-12-18-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-12-18-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9075 2023-12-18 baseline
  data-processed/COVIDhub-baseline/2023-12-18-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9076 2023-12-18-UMass-gbq
  data-processed/UMass-gbq/2023-12-18-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9077 CEPH 2023-12-18
  data-processed/CEPH-Rtrend_covid/2023-12-18-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9078 mobs 2023-12-18
  data-processed/MOBS-GLEAM_COVID/2023-12-18-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9074 2023-12-18-OHT-nbx
  data-processed/OHT-nbx/2023-12-18-OHT-nbx.csv
  data-processed/OHT-nbx/metadata-OHT-nbx.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#9079 JHU IDD 2023-12-17 forecast
  data-processed/JHU_IDD-CovidSP/2023-12-17-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9080 2023-12-18 UMass-sarix
  data-processed/UMass-sarix/2023-12-18-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9081 UT-Osiris 2023-12-18
  data-processed/UT-Osiris/2023-12-18-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9082 PSI-DICE weekly submission - 18 Dec 2023
  data-processed/PSI-DICE/2023-12-18-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9083 2023-12-18 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-12-18-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9084 [CMU-TimeSeries] Add 2023-12-18 predictions
  data-processed/CMU-TimeSeries/2023-12-18-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9085 2023-12-18 ensemble
  data-processed/COVIDhub-ensemble/2023-12-18-COVIDhub-ensemble.csv
  ensemble-metadata/2023-12-18-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-12-18-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9086 2023-12-18 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-12-18-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-12-18-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9087 2023-12-18 4 week ensemble
  4_week_ensemble-metadata/2023-12-18-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-12-18-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-12-18-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9088 SGroup-RandomForest submission for Dec 25th, 2023
  data-processed/SGroup-RandomForest/2023-12-25-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9089 2023-12-25 baseline
  data-processed/COVIDhub-baseline/2023-12-25-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9090 CEPH 2023-12-25
  data-processed/CEPH-Rtrend_covid/2023-12-25-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9091 UT-Osiris 2023-12-25
  data-processed/UT-Osiris/2023-12-25-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9092 mobs 2023-12-25
  data-processed/MOBS-GLEAM_COVID/2023-12-25-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9093 2023-12-25 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-12-25-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9094 2023-12-25 UMass-sarix
  data-processed/UMass-sarix/2023-12-25-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9095 PSI-DICE weekly submission - 26 Dec 2023
  data-processed/PSI-DICE/2023-12-25-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9096 [CMU-TimeSeries] Add 2023-12-25 predictions
  data-processed/CMU-TimeSeries/2023-12-25-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9097 2023-12-26 ensemble
  data-processed/COVIDhub-ensemble/2023-12-25-COVIDhub-ensemble.csv
  ensemble-metadata/2023-12-25-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-12-25-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9098 2023-12-26 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-12-25-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-12-25-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9099 2023-12-26 4 week ensemble
  4_week_ensemble-metadata/2023-12-25-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-12-25-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-12-25-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9100 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-12-18-COVIDhub_CDC-ensemble.csv
  data-processed/COVIDhub_CDC-ensemble/2023-12-25-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9101 SGroup-RandomForest submission for Jan 1st, 2024
  data-processed/SGroup-RandomForest/2024-01-01-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation
