Repository reichlab/covid19-forecast-hub, pull requests merged in 2023-08, with the labels that each got.

#8761 2023-07-31 4 week ensemble
  4_week_ensemble-metadata/2023-07-31-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-07-31-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-07-31-COVIDhub-4_week_ensemble.csv
  data-processed/COVIDhub-ensemble/2023-07-31-COVIDhub-ensemble.csv
  data-processed/COVIDhub-trained_ensemble/2023-07-31-COVIDhub-trained_ensemble.csv
  ensemble-metadata/2023-07-31-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-07-31-inc_hosp-model-weights.csv
  trained_ensemble-metadata/2023-07-31-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8762 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-07-31-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8763 SGroup-RandomForest submission for August 7th, 2023
  data-processed/SGroup-RandomForest/2023-08-07-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8764 CEPH 2023-08-07
  data-processed/CEPH-Rtrend_covid/2023-08-07-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8765 2023-08-07 baseline
  data-processed/COVIDhub-baseline/2023-08-07-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8766 mobs 2023-08-07
  data-processed/MOBS-GLEAM_COVID/2023-08-07-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8770 JHU_IDD-CovidSP aug 6 projections
  data-processed/JHU_IDD-CovidSP/2023-08-06-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8772 UT-Osiris 2023-08-07
  data-processed/UT-Osiris/2023-08-07-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8773 2023-08-07-UMass-gbq
  data-processed/UMass-gbq/2023-08-07-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8774 [CMU-TimeSeries] Add 2023-08-07 predictions
  data-processed/CMU-TimeSeries/2023-08-07-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8775 PSI-DICE weekly submission - 07 Aug 2023
  data-processed/PSI-DICE/2023-08-07-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8777 2023-08-07 ensemble
  data-processed/COVIDhub-ensemble/2023-08-07-COVIDhub-ensemble.csv
  ensemble-metadata/2023-08-07-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-08-07-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8778 2023-08-07 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-08-07-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-08-07-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8779 2023-08-07 4 week ensemble
  4_week_ensemble-metadata/2023-08-07-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-08-07-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-08-07-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8780 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-08-07-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8781 SGroup-RandomForest submission for August 14th, 2023
  data-processed/SGroup-RandomForest/2023-08-14-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8783 CEPH_2023-08-14
  data-processed/CEPH-Rtrend_covid/2023-08-14-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8784 2023-08-14-UMass-gbq
  data-processed/UMass-gbq/2023-08-14-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8786 2023-08-13 JHU_IDD-CovidSP forecast
  data-processed/JHU_IDD-CovidSP/2023-08-13-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8787 UT Osiris 2023-08-14
  data-processed/UT-Osiris/2023-08-14-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8789 [CMU-TimeSeries] Add 2023-08-14 predictions
  data-processed/CMU-TimeSeries/2023-08-14-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8790 remove ID, NV due to misalignment
  data-processed/UMass-trends_ensemble/2023-08-14-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8791 2023-08-14 UMass-sarix
  data-processed/UMass-sarix/2023-08-14-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8792 2023-08-14 ensemble
  data-processed/COVIDhub-ensemble/2023-08-14-COVIDhub-ensemble.csv
  ensemble-metadata/2023-08-14-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-08-14-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8793 2023-08-14 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-08-14-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-08-14-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8794 2023-08-14 4 week ensemble
  4_week_ensemble-metadata/2023-08-14-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-08-14-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-08-14-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8796 SGroup-RandomForest submission for August 21st, 2023
  data-processed/SGroup-RandomForest/2023-08-21-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8797 2023-08-21-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-08-21-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8799 2023-08-21 baseline
  data-processed/COVIDhub-baseline/2023-08-21-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8798 2023-08-21-MUNI-ARIMA correction
  data-processed/MUNI-ARIMA/2023-08-21-MUNI-ARIMA.csv
Labels: data-submission, forecast-updated, passed-validation

#8800 2023-08-21-UMass-gbq
  data-processed/UMass-gbq/2023-08-21-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8801 CEPH_2023-08-21
  data-processed/CEPH-Rtrend_covid/2023-08-21-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8802 mobs 2023-08-21
  data-processed/MOBS-GLEAM_COVID/2023-08-21-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8804 2023-08-21 UMass-sarix
  data-processed/UMass-sarix/2023-08-21-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8806 2023-08-21 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-08-21-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8807 [CMU-TimeSeries] Add 2023-08-21 predictions
  data-processed/CMU-TimeSeries/2023-08-21-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8808 2023-08-21 ensemble
  data-processed/COVIDhub-ensemble/2023-08-21-COVIDhub-ensemble.csv
  ensemble-metadata/2023-08-21-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-08-21-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8809 2023-08-21 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-08-21-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-08-21-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8810 2023-08-21 4 week ensemble
  4_week_ensemble-metadata/2023-08-21-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-08-21-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-08-21-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8812 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-08-21-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8813 SGroup-RandomForest submission for August 28th, 2023
  data-processed/SGroup-RandomForest/2023-08-28-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8814 2023-08-27-UMass-gbq
  data-processed/UMass-gbq/2023-08-27-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8815 2023-08-28 baseline
  data-processed/COVIDhub-baseline/2023-08-28-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8817 2023-08-28-UMass-sarix
  data-processed/UMass-sarix/2023-08-28-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8818 CEPH_2023-08-28
  data-processed/CEPH-Rtrend_covid/2023-08-28-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8819 UT Osiris 2023-08-28
  data-processed/UT-Osiris/2023-08-28-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8820 PSI-DICE weekly submission - 28 Aug 2023
  data-processed/PSI-DICE/2023-08-28-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8821 [CMU-TimeSeries] Add 2023-08-28 predictions
  data-processed/CMU-TimeSeries/2023-08-28-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8822 2023-08-28 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-08-28-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8823 2023-08-28 ensemble
  data-processed/COVIDhub-ensemble/2023-08-28-COVIDhub-ensemble.csv
  ensemble-metadata/2023-08-28-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-08-28-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8824 2023-08-28 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-08-28-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-08-28-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8825 2023-08-28 4 week ensemble
  4_week_ensemble-metadata/2023-08-28-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-08-28-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-08-28-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation
