Repository reichlab/covid19-forecast-hub, pull requests merged in 2023-03, with the labels that each got.

#8340 BPagano-RtDriven, Add files via upload
  data-processed/BPagano-RtDriven/2023-03-05-BPagano-RtDriven.csv
Labels: data-submission, automerge, passed-validation

#8342 2023-03-04 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-03-04-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8341 Add files via upload
  data-processed/TTU-squider/2023-03-05-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#8344 mobs 2023-03-06
  data-processed/MOBS-GLEAM_COVID/2023-03-06-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8346 3/6/23 predictions
  data-processed/PR_UMD-CF_RepTiLe/2023-03-06-PR_UMD-CF_RepTiLe.csv
Labels: data-submission, automerge, passed-validation

#8347 2023-03-06-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-03-06-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8348 2023-03-05 JHU_IDD-COVIDSP add forecast
  data-processed/JHU_IDD-CovidSP/2023-03-05-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8350 Microsoft-DeepSTIA update 2023-03-06
  data-processed/Microsoft-DeepSTIA/2023-03-06-Microsoft-DeepSTIA.csv
Labels: data-submission, automerge, passed-validation

#8349 2023-03-06 Predictions for MIT_ISOLAT-Mixtures
  data-processed/MIT_ISOLAT-Mixtures/2023-03-06-MIT_ISOLAT-Mixtures.csv
Labels: data-submission, automerge, passed-validation

#8351 2023-03-06-UMass-gbq
  data-processed/UMass-gbq/2023-03-06-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8352 JHUAPLTDWG-ICATTML Forecasts 2023-03-06
  data-processed/JHUAPLTDWG-ICATTML/2023-03-06-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8353 CEPH 2023-03-06
  data-processed/CEPH-Rtrend_covid/2023-03-06-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8356 Upload 2023-03-06-MIT-Cassandra.csv
  data-processed/MIT-Cassandra/2023-03-06-MIT-Cassandra.csv
Labels: data-submission, automerge, passed-validation

#8357 ew202309 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-03-06-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8358 remove RI due to misalignment
  data-processed/UMass-trends_ensemble/2023-03-06-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8359 PSI-DRAFT weekly submission - 06 MAR 2023
  data-processed/PSI-DRAFT/2023-03-06-PSI-DRAFT.csv
Labels: data-submission, automerge, passed-validation

#8360 PSI-DICE weekly submission - 06 Mar 2023
  data-processed/PSI-DICE/2023-03-06-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8361 UVA-Ensemble 2023-03-06
  data-processed/UVA-Ensemble/2023-03-06-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8363 [CMU-TimeSeries] Add 2023-03-06
  data-processed/CMU-TimeSeries/2023-03-06-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8364 UT-Osiris 2023-03-06
  data-processed/UT-Osiris/2023-03-06-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8365 2023-03-06 ensemble
  data-processed/COVIDhub-ensemble/2023-03-06-COVIDhub-ensemble.csv
  ensemble-metadata/2023-03-06-cum_death-model-weights.csv
  ensemble-metadata/2023-03-06-inc_death-model-weights.csv
  ensemble-metadata/2023-03-06-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-03-06-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8366 2023-03-06 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-03-06-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-03-06-cum_death-model-weights.csv
  trained_ensemble-metadata/2023-03-06-inc_death-model-weights.csv
  trained_ensemble-metadata/2023-03-06-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8367 2023-03-06 4 week ensemble
  4_week_ensemble-metadata/2023-03-06-cum_death-model-eligibility.csv
  4_week_ensemble-metadata/2023-03-06-cum_death-model-weights.csv
  4_week_ensemble-metadata/2023-03-06-inc_death-model-eligibility.csv
  4_week_ensemble-metadata/2023-03-06-inc_death-model-weights.csv
  4_week_ensemble-metadata/2023-03-06-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-03-06-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-03-06-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8369 AIMdyn forecasts for 03/04/2023
  data-processed/AIMdyn-SlidingKoopman/2023-03-06-AIMdyn-SlidingKoopman.csv
Labels: data-submission, automerge, passed-validation

#8370 Remove case death truth
  .github/workflows/active_update_truth_weekly.yml
  code/R_scripts/generate_truth_csvs.R
Labels: code, other-files-updated

#8371 Update active_update_truth_weekly.yml
  .github/workflows/active_update_truth_weekly.yml
Labels: other-files-updated

#8372 Update active_update_truth_weekly.yml
  .github/workflows/active_update_truth_weekly.yml
Labels: other-files-updated

#8373 Update active_update_truth_weekly.yml
  .github/workflows/active_update_truth_weekly.yml
Labels: other-files-updated

#8375 Remove deaths from weekly reports
  code/reports/all-states-weekly-report.Rmd
  code/reports/weekly-report.Rmd
Labels: code, other-files-updated

#8377 2023-03-12-UMass-gbq
  data-processed/UMass-gbq/2023-03-12-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8378 2023-03-11 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-03-11-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8376 Add files via upload
  data-processed/TTU-squider/2023-03-12-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#8379 mobs 2023-03-13
  data-processed/MOBS-GLEAM_COVID/2023-03-13-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8380 2023-03-13 baseline
  data-processed/COVIDhub-baseline/2023-03-13-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8381 JHUAPLTDWG-ICATTML Forecasts 2023-03-13
  data-processed/JHUAPLTDWG-ICATTML/2023-03-13-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8382 2023-03-13-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-03-13-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8383 CEPH 2023-03-13
  data-processed/CEPH-Rtrend_covid/2023-03-13-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8384 PSI-DICE weekly submission - 13 Mar 2023
  data-processed/PSI-DICE/2023-03-13-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8386 Create 2023-03-12-JHU_IDD-CovidSP.csv
  data-processed/JHU_IDD-CovidSP/2023-03-12-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8388 2023-03-13 UMass-sarix
  data-processed/UMass-sarix/2023-03-13-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8389 UT-Osiris 2023-03-13
  data-processed/UT-Osiris/2023-03-13-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8390 ew202310 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-03-13-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8392 UVA-Ensemble 2023-03-13
  data-processed/UVA-Ensemble/2023-03-13-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8396 2023-03-13 ensemble
  data-processed/COVIDhub-ensemble/2023-03-13-COVIDhub-ensemble.csv
  ensemble-metadata/2023-03-13-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-03-13-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8397 2023-03-13 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-03-13-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-03-13-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8398 2023-03-13 4 week ensemble
  4_week_ensemble-metadata/2023-03-13-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-03-13-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-03-13-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8395 SGroup-RandomForest submission for March 13th, 2023
  data-processed/SGroup-RandomForest/2023-03-12-SGroup-RandomForest.csv
  data-processed/SGroup-RandomForest/metadata-SGroup-RandomForest.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#8400 CDC create data processed files 2023-03-14
  data-processed/COVIDhub_CDC-ensemble/2023-03-13-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8402 2023-03-18 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-03-18-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8401 Add files via upload
  data-processed/TTU-squider/2023-03-19-TTU-squider.csv
Labels: data-submission, automerge, passed-validation

#8403 2023-03-20 baseline
  data-processed/COVIDhub-baseline/2023-03-20-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8404 mobs 2023-03-20
  data-processed/MOBS-GLEAM_COVID/2023-03-20-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8405 2023-03-20-UMass-gbq
  data-processed/UMass-gbq/2023-03-20-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8406 UT-Osiris 23-03-20
  data-processed/UT-Osiris/2023-03-20-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8409 2023-03-20-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-03-20-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8410 2023-03-20 UMass-sarix
  data-processed/UMass-sarix/2023-03-20-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8408 JHUAPLTDWG-ICATTML Forecasts 2023-03-20
  data-processed/JHUAPLTDWG-ICATTML/2023-03-20-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8413 UVA-Ensemble 2023-03-20
  data-processed/UVA-Ensemble/2023-03-20-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8414 Create 2023-03-19-JHU_IDD-CovidSP.csv
  data-processed/JHU_IDD-CovidSP/2023-03-19-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8416 ew202311 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-03-20-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8417 2023-03-20 ensemble
  data-processed/COVIDhub-ensemble/2023-03-20-COVIDhub-ensemble.csv
  ensemble-metadata/2023-03-20-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-03-20-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8418 2023-03-20 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-03-20-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-03-20-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8419 2023-03-20 4 week ensemble
  4_week_ensemble-metadata/2023-03-20-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-03-20-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-03-20-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8422 2023-03-27-UMass-gbq
  data-processed/UMass-gbq/2023-03-27-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8423 2023-03-27 baseline
  data-processed/COVIDhub-baseline/2023-03-27-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8424 mobs 2023-03-27
  data-processed/MOBS-GLEAM_COVID/2023-03-27-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8426 CEPH 2023-03-27
  data-processed/CEPH-Rtrend_covid/2023-03-27-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8429 ew202312 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-03-27-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8430 remove AK ID NV SD WY due to misalignment
  data-processed/UMass-trends_ensemble/2023-03-27-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8431 [CMU-TimeSeries] Add 2023-03-27 predictions
  data-processed/CMU-TimeSeries/2023-03-27-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8433 SGroup-RandomForest submission for March 27th, 2023
  data-processed/SGroup-RandomForest/2023-03-26-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8434 2023-03-27-UVA-Ensemble
  data-processed/UVA-Ensemble/2023-03-27-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8436 2023-03-27 ensemble
  data-processed/COVIDhub-ensemble/2023-03-27-COVIDhub-ensemble.csv
  ensemble-metadata/2023-03-27-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-03-27-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8437 2023-03-27 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-03-27-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-03-27-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8438 2023-03-27 4 week ensemble
  4_week_ensemble-metadata/2023-03-27-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-03-27-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-03-27-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8439 PSI-DICE weekly submission - 27 Mar 2023
  data-processed/PSI-DICE/2023-03-27-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8440 CDC create data processed files 2023-03-28
  data-processed/COVIDhub_CDC-ensemble/2023-03-27-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation
