Repository reichlab/covid19-forecast-hub, pull requests merged in 2023-07, with the labels that each got.

#8672 SGroup-RandomForest submission for July 3rd, 2023
  data-processed/SGroup-RandomForest/2023-07-03-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8674 CEPH 2023-07-03
  data-processed/CEPH-Rtrend_covid/2023-07-03-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8676 PSI-DICE weekly submission - 03 July 2023
  data-processed/PSI-DICE/2023-07-03-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8677 mobs 2023-07-03
  data-processed/MOBS-GLEAM_COVID/2023-07-03-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8678 2023-07-03 UMass-sarix
  data-processed/UMass-sarix/2023-07-03-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8679 [CMU-TimeSeries] Add 2023-07-03 predictions
  data-processed/CMU-TimeSeries/2023-07-03-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8680 2023-07-03 UMass-gbq
  data-processed/UMass-gbq/2023-07-03-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8681 UT-Osiris 2023-07-03
  data-processed/UT-Osiris/2023-07-03-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8675 JHUAPLTDWG-ICATTML Forecasts 2023-07-03
  data-processed/JHUAPLTDWG-ICATTML/2023-07-03-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8682 remove VT due to misalignment
  data-processed/UMass-trends_ensemble/2023-07-03-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8683 2023-07-03 ensemble
  data-processed/COVIDhub-ensemble/2023-07-03-COVIDhub-ensemble.csv
  ensemble-metadata/2023-07-03-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-07-03-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8684 2023-07-03 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-07-03-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-07-03-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8685 2023-07-03 4 week ensemble
  4_week_ensemble-metadata/2023-07-03-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-07-03-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-07-03-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8686 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-07-03-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#8687 SGroup-RandomForest submission for July 10th, 2023
  data-processed/SGroup-RandomForest/2023-07-10-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8689 2023-07-10 baseline
  data-processed/COVIDhub-baseline/2023-07-10-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8690 CEPH 2023-07-10
  data-processed/CEPH-Rtrend_covid/2023-07-10-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8691 JHUAPLTDWG-ICATTML Forecasts 2023-07-10
  data-processed/JHUAPLTDWG-ICATTML/2023-07-10-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8694 2023-07-10 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-07-10-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8695 [CMU-TimeSeries] Add 2023-07-10 predictions
  data-processed/CMU-TimeSeries/2023-07-10-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8696 PSI-DICE weekly submission - 10 July 2023
  data-processed/PSI-DICE/2023-07-10-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8697 2023-07-10 ensemble
  data-processed/COVIDhub-ensemble/2023-07-10-COVIDhub-ensemble.csv
  ensemble-metadata/2023-07-10-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-07-10-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8698 2023-07-10 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-07-10-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-07-10-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8699 2023-07-10 4 week ensemble
  4_week_ensemble-metadata/2023-07-10-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-07-10-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-07-10-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8701 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-07-10-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8700 Add missing parenthesis to data_truth/README.md
  data-truth/README.md
Labels: other-files-updated

#8702 SGroup-RandomForest submission for July 17th, 2023
  data-processed/SGroup-RandomForest/2023-07-17-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8703 2023-07-17-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-07-17-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8704 mobs 2023-07-17
  data-processed/MOBS-GLEAM_COVID/2023-07-17-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8705 2023-07-17-UMass-gbq
  data-processed/UMass-gbq/2023-07-17-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8707 CEPH_2023-07-17
  data-processed/CEPH-Rtrend_covid/2023-07-17-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8708 PSI-DICE weekly submission - 17 July 2023
  data-processed/PSI-DICE/2023-07-17-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8709 2023-07-17 UMass-sarix
  data-processed/UMass-sarix/2023-07-17-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8710 Create 2023-07-16-JHU_IDD-CovidSP.csv
  data-processed/JHU_IDD-CovidSP/2023-07-16-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8711 2023-07-17 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-07-17-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8712 [CMU-TimeSeries] Add 2023-07-17 predictions
  data-processed/CMU-TimeSeries/2023-07-17-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8713 2023-07-17 ensemble
  data-processed/COVIDhub-ensemble/2023-07-17-COVIDhub-ensemble.csv
  ensemble-metadata/2023-07-17-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-07-17-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8714 2023-07-17 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-07-17-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-07-17-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8715 2023-07-17 4 week ensemble
  4_week_ensemble-metadata/2023-07-17-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-07-17-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-07-17-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8716 UT-Osiris 2023-07-17
  data-processed/UT-Osiris/2023-07-17-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8717 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-07-17-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8718 SGroup-RandomForest submission for July 24th, 2023
  data-processed/SGroup-RandomForest/2023-07-24-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8719 2023-07-24 baseline
  data-processed/COVIDhub-baseline/2023-07-24-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8721 mobs 2023-07-24
  data-processed/MOBS-GLEAM_COVID/2023-07-24-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8722 2023-07-24 UMass-sarix
  data-processed/UMass-sarix/2023-07-24-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8723 PSI-DICE weekly submission - 24 July 2023
  data-processed/PSI-DICE/2023-07-24-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8724 [CMU-TimeSeries] Add 2023-07-24 predictions
  data-processed/CMU-TimeSeries/2023-07-24-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8725 2023-07-24 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-07-24-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8726 CEPH_2023-07-24
  data-processed/CEPH-Rtrend_covid/2023-07-24-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8727 2023-07-24 ensemble
  data-processed/COVIDhub-ensemble/2023-07-24-COVIDhub-ensemble.csv
  ensemble-metadata/2023-07-24-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-07-24-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8728 2023-07-24 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-07-24-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-07-24-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8729 2023-07-24 4 week ensemble
  4_week_ensemble-metadata/2023-07-24-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-07-24-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-07-24-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8731 update 2023-07-24-UMass-sarix to use non-stale data
  data-processed/UMass-sarix/2023-07-24-UMass-sarix.csv
Labels: data-submission, forecast-implicit-retractions

#8732 Revert "update 2023-07-24-UMass-sarix to use non-stale data"
  data-processed/UMass-sarix/2023-07-24-UMass-sarix.csv
Labels: data-submission, forecast-updated, passed-validation

#8733 2023-07-24-COVIDhub-baseline
  data-processed/COVIDhub-baseline/2023-07-24-COVIDhub-baseline.csv
Labels: data-submission, forecast-updated, passed-validation

#8734 update 2023-07-24-UMass-sarix to use non-stale data
  data-processed/UMass-sarix/2023-07-24-UMass-sarix.csv
Labels: data-submission, forecast-retraction, passed-validation

#8735 2023-07-24-UMass-gbq updated to use non-stale data
  data-processed/UMass-gbq/2023-07-24-UMass-gbq.csv
Labels: data-submission, forecast-updated, passed-validation

#8736 CEPH_2023-07-24_rectify-01
  data-processed/CEPH-Rtrend_covid/2023-07-24-CEPH-Rtrend_covid.csv
Labels: data-submission, forecast-updated, passed-validation

#8740 update 2023-07-24-UMass-trends_ensemble to use non-stale data
  data-processed/UMass-trends_ensemble/2023-07-24-UMass-trends_ensemble.csv
Labels: data-submission, forecast-updated, passed-validation

#8744 update 2023-07-24-COVIDhub-trained_ensemble
  data-processed/COVIDhub-trained_ensemble/2023-07-24-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-07-24-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, forecast-updated, passed-validation

#8745 update 2023-07-24-COVIDhub-4_week_ensemble
  4_week_ensemble-metadata/2023-07-24-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-07-24-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-07-24-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, forecast-updated, passed-validation

#8746 update 2023-07-24-COVIDhub-ensemble
  data-processed/COVIDhub-ensemble/2023-07-24-COVIDhub-ensemble.csv
  ensemble-metadata/2023-07-24-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-07-24-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, forecast-updated, passed-validation

#8747 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-07-24-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#8748 SGroup-RandomForest submission for July 31st, 2023
  data-processed/SGroup-RandomForest/2023-07-31-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8749 CEPH 2023-07-31
  data-processed/CEPH-Rtrend_covid/2023-07-31-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8750 UT-Osiris 2023-07-31
  data-processed/UT-Osiris/2023-07-31-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8751 2023-07-31 baseline
  data-processed/COVIDhub-baseline/2023-07-31-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8752 2023-07-31-UMass-gbq
  data-processed/UMass-gbq/2023-07-31-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8753 mobs 2023-07-31
  data-processed/MOBS-GLEAM_COVID/2023-07-31-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8754 2023-07-31-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2023-07-31-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8755 2023-07-31 UMass-sarix
  data-processed/UMass-sarix/2023-07-31-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8756 PSI-DICE weekly submission - 31 July 2023
  data-processed/PSI-DICE/2023-07-31-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8757 2023-07-31 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-07-31-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation
