Repository reichlab/covid19-forecast-hub, pull requests merged in 2023-09, with the labels that each got.

#8827 SGroup-RandomForest submission for September 4th, 2023
  data-processed/SGroup-RandomForest/2023-09-04-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8828 CEPH_2023-09-04
  data-processed/CEPH-Rtrend_covid/2023-09-04-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8829 2023-09-04 baseline
  data-processed/COVIDhub-baseline/2023-09-04-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8832 mobs 2023-09-04
  data-processed/MOBS-GLEAM_COVID/2023-09-04-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8835 [CMU-TimeSeries] Add 2023-09-04 predictions
  data-processed/CMU-TimeSeries/2023-09-04-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8836 remove VA due to misalignment
  data-processed/UMass-trends_ensemble/2023-09-04-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8837 2023-09-04 UMass-gbq
  data-processed/UMass-gbq/2023-09-04-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8838 2023-09-04 ensemble
  data-processed/COVIDhub-ensemble/2023-09-04-COVIDhub-ensemble.csv
  ensemble-metadata/2023-09-04-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-09-04-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8839 2023-09-04 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-09-04-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-09-04-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8840 2023-09-04 4 week ensemble
  4_week_ensemble-metadata/2023-09-04-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-09-04-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-09-04-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8831 UT Osiris 2023-09-04
  2023-09-04-UT-Osiris.csv
Labels: other-files-updated

#8833 PSI-DICE weekly submission - 04 Sep 2023
  data-processed/PSI-DICE/2023-09-04-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8841 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-09-04-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#8842 2023-09-11 baseline
  data-processed/COVIDhub-baseline/2023-09-11-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8843 CEPH 2023-09-11
  data-processed/CEPH-Rtrend_covid/2023-09-11-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8845 2023-09-11-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2023-09-11-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8846 (File) SGroup-RandomForest submission for September 11th, 2023
  data-processed/SGroup-RandomForest/2023-09-11-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8849 changing UT Osiris file locations
  data-processed/UT-Osiris/2023-09-04-UT-Osiris.csv
Labels: data-submission

#8850 PSI-DICE weekly submission - 11 Sep 2023
  data-processed/PSI-DICE/2023-09-11-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8848 JHU_IDD-CovidSP 2023-09-10 submission
  data-processed/JHU_IDD-CovidSP/2023-09-10-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8851 Move today's UT Osiris forecast
  data-processed/UT-Osiris/2023-09-11-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8852 Delete misplaced UT Osiris files
  2023-09-04-UT-Osiris.csv
  2023-09-11-UT-Osiris.csv
Labels: other-files-updated

#8853 2023-09-11 UMass-sarix
  data-processed/UMass-sarix/2023-09-11-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8854 2023-09-11 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-09-11-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8855 [CMU-TimeSeries] Add 2023-09-11 predictions
  data-processed/CMU-TimeSeries/2023-09-11-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8856 2023-09-11 ensemble
  data-processed/COVIDhub-ensemble/2023-09-11-COVIDhub-ensemble.csv
  ensemble-metadata/2023-09-11-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-09-11-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8857 2023-09-11 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-09-11-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-09-11-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8858 2023-09-11 4 week ensemble
  4_week_ensemble-metadata/2023-09-11-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-09-11-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-09-11-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8859 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-09-11-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8860 SGroup-RandomForest submission for September 18th, 2023
  data-processed/SGroup-RandomForest/2023-09-18-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8861 2023-09-18-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2023-09-18-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8862 2023-09-18 baseline
  data-processed/COVIDhub-baseline/2023-09-18-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8863 CEPH_2023-09-18
  data-processed/CEPH-Rtrend_covid/2023-09-18-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8864 PSI-DICE weekly submission - 18 Sep 2023
  data-processed/PSI-DICE/2023-09-18-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8865 UT Osiris 2023-09-18
  data-processed/UT-Osiris/2023-09-18-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8866 mobs 2023-09-18
  data-processed/MOBS-GLEAM_COVID/2023-09-18-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8869 remove TX due to misalignment
  data-processed/UMass-trends_ensemble/2023-09-18-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8868 2023-09-18 UMass-sarix
  data-processed/UMass-sarix/2023-09-18-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8873 2023-09-18-UMass-gbq
  data-processed/UMass-gbq/2023-09-18-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8870 2023-09-18 ensemble
  data-processed/COVIDhub-ensemble/2023-09-18-COVIDhub-ensemble.csv
  ensemble-metadata/2023-09-18-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-09-18-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8871 2023-09-18 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-09-18-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-09-18-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8872 2023-09-18 4 week ensemble
  4_week_ensemble-metadata/2023-09-18-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-09-18-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-09-18-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8875 SGroup-RandomForest submission for September 25th, 2023
  data-processed/SGroup-RandomForest/2023-09-25-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8876 2023-09-25 baseline
  data-processed/COVIDhub-baseline/2023-09-25-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8877 mobs 2023-09-25
  data-processed/MOBS-GLEAM_COVID/2023-09-25-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8878 2023-09-25-UMass-gbq
  data-processed/UMass-gbq/2023-09-25-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8879 2023-09-25 UMass-sarix
  data-processed/UMass-sarix/2023-09-25-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8880 CEPH 2023-09-25
  data-processed/CEPH-Rtrend_covid/2023-09-25-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8881 2023-09-25-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-09-25-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8883 2023-09-25 UT Osiris
  data-processed/UT-Osiris/2023-09-25-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8882 [CMU-TimeSeries] Add 2023-09-25 predictions
  data-processed/CMU-TimeSeries/2023-09-25-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8884 2023-09-25 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2023-09-25-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8885 PSI-DICE weekly submission - 25 Sep 2023
  data-processed/PSI-DICE/2023-09-25-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8886 2023-09-25 ensemble
  data-processed/COVIDhub-ensemble/2023-09-25-COVIDhub-ensemble.csv
  ensemble-metadata/2023-09-25-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-09-25-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8887 2023-09-25 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-09-25-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-09-25-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8888 2023-09-25 4 week ensemble
  4_week_ensemble-metadata/2023-09-25-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-09-25-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-09-25-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8889 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-09-25-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation
