Repository reichlab/covid19-forecast-hub, pull requests merged in 2023-04, with the labels that each got.

#8441 2023-04-01 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-04-01-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8442 2023-04-03 baseline
  data-processed/COVIDhub-baseline/2023-04-03-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8443 mobs 2023-04-03
  data-processed/MOBS-GLEAM_COVID/2023-04-03-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8444 2023-04-03-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-04-03-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8445 CEPH 2023-04-03
  data-processed/CEPH-Rtrend_covid/2023-04-03-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8446 JHUAPLTDWG-ICATTML Forecasts 2023-04-03
  data-processed/JHUAPLTDWG-ICATTML/2023-04-03-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8447 Create 2023-04-02-JHU_IDD-CovidSP.csv
  data-processed/JHU_IDD-CovidSP/2023-04-02-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8448 2023-04-03 UMass-sarix
  data-processed/UMass-sarix/2023-04-03-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8449 PSI-DICE weekly submission - 3 Apr 2023
  data-processed/PSI-DICE/2023-04-03-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8450 2023-04-03-UMass-gbq
  data-processed/UMass-gbq/2023-04-03-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8452 remove MA, MN, VT, WA, WV due to misalignment
  data-processed/UMass-trends_ensemble/2023-04-03-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8453 [CMU-TimeSeries] Add 2023-04-03 predictions
  data-processed/CMU-TimeSeries/2023-04-03-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8454 UT-Osiris 2023-04-03
  data-processed/UT-Osiris/2023-04-03-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8457 2023-04-03-UVA-Ensemble
  data-processed/UVA-Ensemble/2023-04-03-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8461 SGroup-RandomForest submission for April 3rd, 2023
  data-processed/SGroup-RandomForest/2023-04-02-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8458 2023-04-03 ensemble
  data-processed/COVIDhub-ensemble/2023-04-03-COVIDhub-ensemble.csv
  ensemble-metadata/2023-04-03-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-04-03-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8459 2023-04-03 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-04-03-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-04-03-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8460 2023-04-03 4 week ensemble
  4_week_ensemble-metadata/2023-04-03-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-04-03-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-04-03-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8462 CDC create data processed files 2023-04-04
  data-processed/COVIDhub_CDC-ensemble/2023-04-03-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8463 2023-04-08 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-04-08-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8464 SGroup-RandomForest submission for April 9th, 2023
  data-processed/SGroup-RandomForest/2023-04-09-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8465 2023-04-10 baseline
  data-processed/COVIDhub-baseline/2023-04-10-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8466 mobs 2023-04-10
  data-processed/MOBS-GLEAM_COVID/2023-04-10-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8467 JHU_IDD 2023-04-09 submission
  data-processed/JHU_IDD-CovidSP/2023-04-09-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8468 2023-04-10-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-04-10-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8469 UT-Osiris 2023-04-10
  data-processed/UT-Osiris/2023-04-10-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8470 JHUAPLTDWG-ICATTML Forecasts 2023-04-10
  data-processed/JHUAPLTDWG-ICATTML/2023-04-10-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8472 PSI-DICE weekly submission - 10 Apr 2023
  data-processed/PSI-DICE/2023-04-10-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8471 CEPH 2023-04-03
  data-processed/CEPH-Rtrend_covid/2023-04-10-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8473 [CMU-TimeSeries] Add 2023-04-10 predictions
  data-processed/CMU-TimeSeries/2023-04-10-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8474 ew202314 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-04-10-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8475 2023-04-10-UVA-Ensemble
  data-processed/UVA-Ensemble/2023-04-10-UVA-Ensemble.csv
Labels: data-submission, automerge, passed-validation

#8476 2023-04-10 UMass-sarix
  data-processed/UMass-sarix/2023-04-10-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8477 2023-04-10 ensemble
  data-processed/COVIDhub-ensemble/2023-04-10-COVIDhub-ensemble.csv
  ensemble-metadata/2023-04-10-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-04-10-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8478 2023-04-10 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-04-10-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-04-10-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8479 2023-04-10 4 week ensemble
  4_week_ensemble-metadata/2023-04-10-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-04-10-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-04-10-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8481 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-04-10-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#8482 CUB_PopCouncil 2023-04-15
  data-processed/CUB_PopCouncil-SLSTM/2023-04-15-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8483 SGroup-RandomForest submission for April 16th, 2023
  data-processed/SGroup-RandomForest/2023-04-16-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#8484 2023-04-17 baseline
  data-processed/COVIDhub-baseline/2023-04-17-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#8485 2023-04-17-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-04-17-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8486 JHUAPLTDWG-ICATTML Forecasts 2023-04-17
  data-processed/JHUAPLTDWG-ICATTML/2023-04-17-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8487 UT-Osiris 2023-04-17
  data-processed/UT-Osiris/2023-04-17-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8488 2023-04-17-UMass-gbq
  data-processed/UMass-gbq/2023-04-17-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#8490 2023-04-17 UMass-sarix
  data-processed/UMass-sarix/2023-04-17-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8491 Create 2023-04-16-JHU_IDD-CovidSP.csv
  data-processed/JHU_IDD-CovidSP/2023-04-16-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8492 ew202315 GT-DeepCOVID submission
  data-processed/GT-DeepCOVID/2023-04-17-GT-DeepCOVID.csv
Labels: data-submission, automerge, passed-validation

#8493 remove HI, IA, MN due to misalignment
  data-processed/UMass-trends_ensemble/2023-04-17-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8494 PSI-DICE weekly submission - 17 Apr 2023
  data-processed/PSI-DICE/2023-04-17-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8495 [CMU-TimeSeries] Add 2023-04-17 predictions
  data-processed/CMU-TimeSeries/2023-04-17-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8496 2023-04-17 ensemble
  data-processed/COVIDhub-ensemble/2023-04-17-COVIDhub-ensemble.csv
  ensemble-metadata/2023-04-17-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-04-17-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8497 2023-04-17 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-04-17-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-04-17-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8498 2023-04-17 4 week ensemble
  4_week_ensemble-metadata/2023-04-17-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-04-17-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-04-17-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8499 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-04-17-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8500 2023-04-23 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-04-22-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation

#8501 mobs 2023-04-24
  data-processed/MOBS-GLEAM_COVID/2023-04-24-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#8503 2023-04-24-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2023-04-24-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#8504 2023-04-23 JHU_IDD-CovidSP forecast
  data-processed/JHU_IDD-CovidSP/2023-04-23-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#8508 UT-Osiris 2023-04-24
  data-processed/UT-Osiris/2023-04-24-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#8506 JHUAPLTDWG-ICATTML Forecasts 2023-04-24
  data-processed/JHUAPLTDWG-ICATTML/2023-04-24-JHUAPLTDWG-ICATTML.csv
Labels: data-submission, automerge, passed-validation

#8509 2023-04-24 UMass-sarix
  data-processed/UMass-sarix/2023-04-24-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#8510 PSI-DICE weekly submission - 24 Apr 2023
  data-processed/PSI-DICE/2023-04-24-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#8512 CEPH 2023-04-24
  data-processed/CEPH-Rtrend_covid/2023-04-24-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#8513 remove AR WY due to misalignment
  data-processed/UMass-trends_ensemble/2023-04-24-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#8511 [CMU-TimeSeries] Add 2023-04-24 predictions
  data-processed/CMU-TimeSeries/2023-04-24-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#8515 2023-04-24 ensemble
  data-processed/COVIDhub-ensemble/2023-04-24-COVIDhub-ensemble.csv
  ensemble-metadata/2023-04-24-inc_hosp-model-eligibility.csv
  ensemble-metadata/2023-04-24-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#8516 2023-04-24 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2023-04-24-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2023-04-24-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#8517 2023-04-24 4 week ensemble
  4_week_ensemble-metadata/2023-04-24-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2023-04-24-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2023-04-24-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#8518 SGroup-RandomForest submission for April 23rd, 2023
  data-processed/SGroup-RandomForest/2023-04-23-SGroup-RandomForest.csv
  data-processed/SGroup-RandomForest/metadata-SGroup-RandomForest.txt
Labels: data-submission, metadata-change, passed-validation

#8519 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2023-04-24-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#8520 2023-03-29 CUB_PopCouncil
  data-processed/CUB_PopCouncil-SLSTM/2023-04-29-CUB_PopCouncil-SLSTM.csv
Labels: data-submission, automerge, passed-validation
