Repository reichlab/covid19-forecast-hub, pull requests merged in 2024-04, with the labels that each got.

#9327 2024-04-01-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-04-01-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9328 SGroup-RandomForest submission for 2024-04-01
  data-processed/SGroup-RandomForest/2024-04-01-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9329 2024-04-01 baseline
  data-processed/COVIDhub-baseline/2024-04-01-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9330 CEPH_2024-04-01
  data-processed/CEPH-Rtrend_covid/2024-04-01-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9331 2024-04-01 cfa-wwrenewal forecasts
  data-processed/cfa-wwrenewal/2024-04-01-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9332 UT-Osiris 2024-04-01
  data-processed/UT-Osiris/2024-04-01-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9333 [CMU-TimeSeries] Add 2024-04-01 predictions
  data-processed/CMU-TimeSeries/2024-04-01-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9334 2024-04-01 UMass-sarix
  data-processed/UMass-sarix/2024-04-01-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9335 2024-04-01 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-04-01-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9336 2024-04-01-UMass-gbq
  data-processed/UMass-gbq/2024-04-01-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9337 2024-04-01 ensemble
  data-processed/COVIDhub-ensemble/2024-04-01-COVIDhub-ensemble.csv
  ensemble-metadata/2024-04-01-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-04-01-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9338 2024-04-01 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-04-01-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-04-01-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9339 2024-04-01 4 week ensemble
  4_week_ensemble-metadata/2024-04-01-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-04-01-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-04-01-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9341 mobs 2024-04-01
  data-processed/MOBS-GLEAM_COVID/2024-04-01-MOBS-GLEAM_COVID.csv
Labels: data-submission

#9342 SGroup-RandomForest submission for 2024-04-08
  data-processed/SGroup-RandomForest/2024-04-08-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9343 2024-04-08-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-04-08-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9344 CEPH_2024-04-08
  data-processed/CEPH-Rtrend_covid/2024-04-08-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9346 2024-04-08 baseline
  data-processed/COVIDhub-baseline/2024-04-08-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9347 PSI-DICE weekly submission - 08 Apr 2024
  data-processed/PSI-DICE/2024-04-08-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9348 UT-Osiris 2024-04-08
  data-processed/UT-Osiris/2024-04-08-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9349 2024-04-08-UMass-gbq
  data-processed/UMass-gbq/2024-04-08-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9354 2024-04-08 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-04-08-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9355 2024-04-08 ensemble
  data-processed/COVIDhub-ensemble/2024-04-08-COVIDhub-ensemble.csv
  ensemble-metadata/2024-04-08-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-04-08-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9356 2024-04-08 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-04-08-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-04-08-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9357 2024-04-08 4 week ensemble
  4_week_ensemble-metadata/2024-04-08-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-04-08-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-04-08-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9358 CDC create data processed file
  data-processed/COVIDhub_CDC-ensemble/2024-04-08-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9359 2024-04-15-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-04-15-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9360 SGroup-RandomForest submission for 2024-04-15
  data-processed/SGroup-RandomForest/2024-04-15-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9361 2024-04-15 baseline
  data-processed/COVIDhub-baseline/2024-04-15-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9362 mobs 2024-04-15
  data-processed/MOBS-GLEAM_COVID/2024-04-15-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9363 2024-04-15-UMass-gbq
  data-processed/UMass-gbq/2024-04-15-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9364 CEPH_2024-04-15
  data-processed/CEPH-Rtrend_covid/2024-04-15-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9365 cfa-wwrenewal 2024-04-15 forecasts
  data-processed/cfa-wwrenewal/2024-04-15-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9367 2024-04-14 JHU_IDD-CovidSP submission
  data-processed/JHU_IDD-CovidSP/2024-04-14-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9368 PSI-DICE weekly forecast - 15 Apr 2024
  data-processed/PSI-DICE/2024-04-14-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9369 2024-04-15 UMass-sarix
  data-processed/UMass-sarix/2024-04-15-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9370 2024-04-15 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-04-15-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9371 [CMU-TimeSeries] Add 2024-04-15 predictions
  data-processed/CMU-TimeSeries/2024-04-15-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9372 2024-04-15 ensemble
  data-processed/COVIDhub-ensemble/2024-04-15-COVIDhub-ensemble.csv
  ensemble-metadata/2024-04-15-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-04-15-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9373 2024-04-15 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-04-15-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-04-15-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9374 2024-04-15 4 week ensemble
  4_week_ensemble-metadata/2024-04-15-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-04-15-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-04-15-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9375 CDC create data processed file
  data-processed/COVIDhub_CDC-ensemble/2024-04-15-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9376 2024-04-22-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-04-22-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9377 mobs 2024-04-22
  data-processed/MOBS-GLEAM_COVID/2024-04-22-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9378 CEPH_2024-04-22
  data-processed/CEPH-Rtrend_covid/2024-04-22-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9379 2024-04-22 baseline
  data-processed/COVIDhub-baseline/2024-04-22-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9380 2024-04-22-UMass-gbq
  data-processed/UMass-gbq/2024-04-22-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9381 cfa-wwrenewal 2024-04-22 forecasts
  data-processed/cfa-wwrenewal/2024-04-22-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9384 PSI-DICE weekly forecast - 22 Apr 2024
  data-processed/PSI-DICE/2024-04-21-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9385 2024-04-22 UMass-sarix
  data-processed/UMass-sarix/2024-04-22-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9386 2024-04-22 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-04-22-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9387 [CMU-TimeSeries] Add 2024-04-22 predictions
  data-processed/CMU-TimeSeries/2024-04-22-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9391 SGroup-RandomForest submission for 2024-04-22
  data-processed/SGroup-RandomForest/2024-04-22-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9388 2024-04-22 ensemble
  data-processed/COVIDhub-ensemble/2024-04-22-COVIDhub-ensemble.csv
  ensemble-metadata/2024-04-22-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-04-22-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9389 2024-04-22 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-04-22-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-04-22-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9390 2024-04-22 4 week ensemble
  4_week_ensemble-metadata/2024-04-22-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-04-22-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-04-22-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9392 CDC create data processed file
  data-processed/COVIDhub_CDC-ensemble/2024-04-22-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9393 SGroup-RandomForest submission for 2024-04-29
  data-processed/SGroup-RandomForest/2024-04-29-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9394 2024-04-29-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-04-29-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9395 mobs 2024-04-29
  data-processed/MOBS-GLEAM_COVID/2024-04-29-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9396 UT-Osiris 2024-04-29
  data-processed/UT-Osiris/2024-04-29-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9397 2024-04-29 baseline
  data-processed/COVIDhub-baseline/2024-04-29-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9399 2024-04-29 UMass-sarix
  data-processed/UMass-sarix/2024-04-29-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9400 cfa-wwrenewal 2024-04-29 forecasts
  data-processed/cfa-wwrenewal/2024-04-29-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9402 [CMU-TimeSeries] Add 2024-04-29 predictions
  data-processed/CMU-TimeSeries/2024-04-29-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9403 2024-04-28 JHU_IDD-CovidSP
  data-processed/JHU_IDD-CovidSP/2024-04-28-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9404 CEPH_2024-04-29
  data-processed/CEPH-Rtrend_covid/2024-04-29-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9406 2024-04-29 ensemble
  data-processed/COVIDhub-ensemble/2024-04-29-COVIDhub-ensemble.csv
  ensemble-metadata/2024-04-29-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-04-29-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9407 2024-04-29 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-04-29-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-04-29-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9408 2024-04-29 4 week ensemble
  4_week_ensemble-metadata/2024-04-29-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-04-29-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-04-29-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation
