Repository reichlab/covid19-forecast-hub, pull requests merged in 2024-01, with the labels that each got.

#9102 2024-01-01-OHT-nbx
  data-processed/OHT-nbx/2024-01-01-OHT-nbx.csv
Labels: data-submission, automerge, passed-validation

#9103 2024-01-01 baseline
  data-processed/COVIDhub-baseline/2024-01-01-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9104 mobs 2024-01-01
  data-processed/MOBS-GLEAM_COVID/2024-01-01-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9105 UT-Osiris 2024-01-01
  data-processed/UT-Osiris/2024-01-01-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9106 JHU-IDDCOVIDSP Dec 31 FCH
  data-processed/JHU_IDD-CovidSP/2023-12-31-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9107 CEPH 2024-01-01
  data-processed/CEPH-Rtrend_covid/2024-01-01-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9108 2024-01-01 UMass-sarix
  data-processed/UMass-sarix/2024-01-01-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9109 2024-01-01 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-01-01-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9110 PSI-DICE weekly submission - 02 Jan 2024
  data-processed/PSI-DICE/2024-01-01-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9111 2024-01-02-UMass-gbq
  data-processed/UMass-gbq/2024-01-02-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9112 [CMU-TimeSeries] Add 2024-01-01 predictions
  data-processed/CMU-TimeSeries/2024-01-01-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9113 2024-01-02 ensemble
  data-processed/COVIDhub-ensemble/2024-01-01-COVIDhub-ensemble.csv
  ensemble-metadata/2024-01-01-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-01-01-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9114 2024-01-02 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-01-01-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-01-01-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9115 2024-01-02 4 week ensemble
  4_week_ensemble-metadata/2024-01-01-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-01-01-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-01-01-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9116 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2024-01-01-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9117 Updated Metadata-UT-Osiris
  data-processed/UT-Osiris/metadata-UT-Osiris.txt
Labels: metadata-change, passed-validation

#9118 SGroup-RandomForest submission for Jan 8th, 2024
  data-processed/SGroup-RandomForest/2024-01-08-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9119 2024-01-08-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2024-01-08-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9120 2024-01-08 baseline
  data-processed/COVIDhub-baseline/2024-01-08-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9121 2024-01-08-UMass-gbq
  data-processed/UMass-gbq/2024-01-08-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9122 jhu-idd 2024-01-07 submission
  data-processed/JHU_IDD-CovidSP/2024-01-07-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9123 UT-Osiris 2023-01-08
  data-processed/UT-Osiris/2024-01-08-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9124 2024-01-08 sarix
  data-processed/UMass-sarix/2024-01-08-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9125 2024-01-08 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-01-08-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9126 CEPH_2024-01-08
  data-processed/CEPH-Rtrend_covid/2024-01-08-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9127 2024-01-08-OHT-nbx
  data-processed/OHT-nbx/2024-01-08-OHT-nbx.csv
Labels: data-submission, automerge, passed-validation

#9128 PSI-DICE weekly submission - 08 Jan 2024
  data-processed/PSI-DICE/2024-01-08-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9129 [CMU-TimeSeries] Add 2024-01-08 predictions
  data-processed/CMU-TimeSeries/2024-01-08-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9130 2024-01-08 ensemble
  data-processed/COVIDhub-ensemble/2024-01-08-COVIDhub-ensemble.csv
  ensemble-metadata/2024-01-08-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-01-08-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9131 2024-01-08 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-01-08-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-01-08-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9132 2024-01-08 4 week ensemble
  4_week_ensemble-metadata/2024-01-08-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-01-08-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-01-08-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9133 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2024-01-08-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#9134 SGroup-RandomForest submission for 2024-01-15
  data-processed/SGroup-RandomForest/2024-01-15-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9135 2024-01-15-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2024-01-15-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9137 2024-01-15 baseline
  data-processed/COVIDhub-baseline/2024-01-15-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9138 2024-01-15-UMass-gbq
  data-processed/UMass-gbq/2024-01-15-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9139 sarix build, 2024-01-15
  data-processed/UMass-sarix/2024-01-15-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9141 2024-01-15 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-01-15-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9142 [CMU-TimeSeries] Add 2024-01-15 predictions
  data-processed/CMU-TimeSeries/2024-01-15-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9143 CEPH 2024-01-15
  data-processed/CEPH-Rtrend_covid/2024-01-15-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9144 PSI-DICE weekly submission - 15 Jan 2024
  data-processed/PSI-DICE/2024-01-15-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9145 2024-01-15 ensemble
  data-processed/COVIDhub-ensemble/2024-01-15-COVIDhub-ensemble.csv
  ensemble-metadata/2024-01-15-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-01-15-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9146 2024-01-15 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-01-15-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-01-15-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9147 2024-01-15 4 week ensemble
  4_week_ensemble-metadata/2024-01-15-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-01-15-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-01-15-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9148 JHU_IDD-covidsp 2024-01-14
  data-processed/JHU_IDD-CovidSP/2024-01-14-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9149 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2024-01-15-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#9150 SGroup-RandomForest submission for 2024-01-22
  data-processed/SGroup-RandomForest/2024-01-22-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9154 2024-01-22-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2024-01-22-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9155 2024-01-22 baseline
  data-processed/COVIDhub-baseline/2024-01-22-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9156 2024-01-22-UMass-gbq
  data-processed/UMass-gbq/2024-01-22-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9157 CEPH 2024-01-22
  data-processed/CEPH-Rtrend_covid/2024-01-22-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9158 UT-Osiris 2024-01-22
  data-processed/UT-Osiris/2024-01-22-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9153 2024-01-22-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-01-22-OHT_JHU-nbxd.csv
  data-processed/OHT_JHU-nbxd/metadata-OHT_JHU-nbxd.txt
Labels: new-team-submission, data-submission, metadata-change, passed-validation

#9159 2024-01-22 UMass-sarix
  data-processed/UMass-sarix/2024-01-22-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9160 2024-01-22 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-01-22-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9161 PSI-DICE weekly submission - 22 Jan 2024
  data-processed/PSI-DICE/2024-01-21-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9162 [CMU-TimeSeries] Add 2024-01-22 predictions
  data-processed/CMU-TimeSeries/2024-01-22-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9163 2024-01-22 ensemble
  data-processed/COVIDhub-ensemble/2024-01-22-COVIDhub-ensemble.csv
  ensemble-metadata/2024-01-22-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-01-22-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9164 2024-01-22 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-01-22-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-01-22-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9165 2024-01-22 4 week ensemble
  4_week_ensemble-metadata/2024-01-22-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-01-22-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-01-22-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9167 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2024-01-22-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#9166 JHU IDD Jan 21. 2024 submission
  data-processed/JHU_IDD-CovidSP/2024-01-21-JHU_IDD-CovidSP.csv
Labels: data-submission

#9168 SGroup-RandomForest submission for 2024-01-29
  data-processed/SGroup-RandomForest/2024-01-29-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9171 2024-01-29-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2024-01-29-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9172 2024-01-29 baseline
  data-processed/COVIDhub-baseline/2024-01-29-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9175 mobs 2024-01-29
  data-processed/MOBS-GLEAM_COVID/2024-01-29-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9176 UT-Osiris 2024-01-29
  data-processed/UT-Osiris/2024-01-29-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9177 PSI-DICE weekly submission - 29 Jan 2024
  data-processed/PSI-DICE/2024-01-28-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9178 JHU_IDD 2024-01-28 submission
  data-processed/JHU_IDD-CovidSP/2024-01-28-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9179 [CMU-TimeSeries] Add 2024-01-29 predictions
  data-processed/CMU-TimeSeries/2024-01-29-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9180 2024-01-29 UMass-sarix
  data-processed/UMass-sarix/2024-01-29-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9181 2024-01-29 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-01-29-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9182 2024-01-29 ensemble
  data-processed/COVIDhub-ensemble/2024-01-29-COVIDhub-ensemble.csv
  ensemble-metadata/2024-01-29-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-01-29-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9183 2024-01-29 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-01-29-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-01-29-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9184 2024-01-29 4 week ensemble
  4_week_ensemble-metadata/2024-01-29-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-01-29-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-01-29-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9185 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2024-01-29-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation
