Repository reichlab/covid19-forecast-hub, pull requests merged in 2024-05, with the labels that each got.

#9410 CDC create data processed file
  data-processed/COVIDhub_CDC-ensemble/2024-04-29-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9412 UT-Osiris 2024-05-06
  data-processed/UT-Osiris/2024-05-06-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9414 Revert "UT-Osiris 2024-05-06"
  data-processed/UT-Osiris/2024-05-06-UT-Osiris.csv
Labels: data-submission, file-deletion

#9413 Update validations_v4.yml - do not run on PR submission
  .github/workflows/validations_v4.yml
Labels: other-files-updated

#9409 Add note on submissions
  README.md
  data-processed/README.md
Labels: other-files-updated
