Repository reichlab/covid19-forecast-hub, pull requests merged in 2024-03, with the labels that each got.

#9258 SGroup-RandomForest submission for 2024-03-04
  data-processed/SGroup-RandomForest/2024-03-04-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9259 2024-03-04-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2024-03-04-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9260 mobs 2024-03-04
  data-processed/MOBS-GLEAM_COVID/2024-03-04-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9261 2024-03-04 baseline
  data-processed/COVIDhub-baseline/2024-03-04-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9262 CEPH_2024-03-04
  data-processed/CEPH-Rtrend_covid/2024-03-04-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9263 cfa-wwrenewal 2024-03-04 forecasts
  data-processed/cfa-wwrenewal/2024-03-04-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9264 2024-03-04-UMass-gbq
  data-processed/UMass-gbq/2024-03-04-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9265 UT-Osiris 2024-03-04
  data-processed/UT-Osiris/2024-03-04-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9266 PSI-DICE weekly submission - 04 Mar 2024
  data-processed/PSI-DICE/2024-03-04-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9268 2024-03-04 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-03-04-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9269 2024-03-04 UMass-sarix
  data-processed/UMass-sarix/2024-03-04-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9270 2024-03-04 ensemble
  data-processed/COVIDhub-ensemble/2024-03-04-COVIDhub-ensemble.csv
  ensemble-metadata/2024-03-04-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-03-04-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9272 2024-03-04 4 week ensemble
  4_week_ensemble-metadata/2024-03-04-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-03-04-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-03-04-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9273 CDC create data processed file
  data-processed/COVIDhub_CDC-ensemble/2024-03-04-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#9275 2024-03-11-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-03-11-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9276 SGroup-RandomForest submission for 2024-03-11
  data-processed/SGroup-RandomForest/2024-03-11-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9277 mobs 2024-03-11
  data-processed/MOBS-GLEAM_COVID/2024-03-11-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9278 2024-03-11-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2024-03-11-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9279 2024-03-11 baseline
  data-processed/COVIDhub-baseline/2024-03-11-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9280 CEPH_2024-03-11
  data-processed/CEPH-Rtrend_covid/2024-03-11-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9281 UT-Osiris 2024-03-11
  data-processed/UT-Osiris/2024-03-11-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9282 submit cfa-wwrenewal 2024-03-11 forecasts
  data-processed/cfa-wwrenewal/2024-03-11-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9283 2024-03-11-UMass-gbq
  data-processed/UMass-gbq/2024-03-11-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9285 PSI-DICE weekly submission - 11 Mar 2024
  data-processed/PSI-DICE/2024-03-11-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9286 [CMU-TimeSeries] Add 2024-03-11 predictions
  data-processed/CMU-TimeSeries/2024-03-11-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9287 2024-03-11 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-03-11-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9288 2024-03-11 UMass-sarix
  data-processed/UMass-sarix/2024-03-11-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9289 2024-03-11 ensemble
  data-processed/COVIDhub-ensemble/2024-03-11-COVIDhub-ensemble.csv
  ensemble-metadata/2024-03-11-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-03-11-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9290 2024-03-11 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-03-11-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-03-11-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9292 CDC create data processed file
  data-processed/COVIDhub_CDC-ensemble/2024-03-11-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9293 SGroup-RandomForest submission for 2024-03-18
  data-processed/SGroup-RandomForest/2024-03-18-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9294 2024-03-18-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-03-18-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9296 2024-03-18 baseline
  data-processed/COVIDhub-baseline/2024-03-18-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9297 CEPH_2024-03-18
  data-processed/CEPH-Rtrend_covid/2024-03-18-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9298 cfa-wwrenewal 2024-03-18 forecast submission
  data-processed/cfa-wwrenewal/2024-03-18-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9299 UT-Osiris 2024-03-18
  data-processed/UT-Osiris/2024-03-18-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9300 2024-03-18-UMass-gbq
  data-processed/UMass-gbq/2024-03-18-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9303 2024-03-18 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-03-18-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9304 [CMU-TimeSeries] Add 2024-03-18 predictions
  data-processed/CMU-TimeSeries/2024-03-18-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9305 2024-03-18 ensemble
  data-processed/COVIDhub-ensemble/2024-03-18-COVIDhub-ensemble.csv
  ensemble-metadata/2024-03-18-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-03-18-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9306 2024-03-18 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-03-18-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-03-18-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9307 2024-03-18 4 week ensemble
  4_week_ensemble-metadata/2024-03-18-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-03-18-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-03-18-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9308 CDC Create Data Processed File
  data-processed/COVIDhub_CDC-ensemble/2024-03-18-COVIDhub_CDC-ensemble.csv
Labels: data-submission, automerge, passed-validation

#9309 SGroup-RandomForest submission for 2024-03-25
  data-processed/SGroup-RandomForest/2024-03-25-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9310 2024-03-25-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-03-25-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9311 2024-03-25 baseline
  data-processed/COVIDhub-baseline/2024-03-25-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9312 2024-03-25-UMass-gbq
  data-processed/UMass-gbq/2024-03-25-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9313 UT-Osiris 2024-03-25
  data-processed/UT-Osiris/2024-03-25-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9314 2024-03-25 forecasts from cfa-wwrenewal
  data-processed/cfa-wwrenewal/2024-03-25-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9315 PSI-DICE weekly submission - 25 Mar 2024
  data-processed/PSI-DICE/2024-03-24-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9316 2024-03-25-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2024-03-25-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9317 [CMU-TimeSeries] Add 2024-03-25 predictions
  data-processed/CMU-TimeSeries/2024-03-25-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9318 CEPH 2024-03-25
  data-processed/CEPH-Rtrend_covid/2024-03-25-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9319 2024-03-25 UMass-sarix
  data-processed/UMass-sarix/2024-03-25-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9322 2024-03-25 ensemble
  data-processed/COVIDhub-ensemble/2024-03-25-COVIDhub-ensemble.csv
  ensemble-metadata/2024-03-25-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-03-25-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9323 2024-03-25 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-03-25-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-03-25-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9324 2024-03-25 4 week ensemble
  4_week_ensemble-metadata/2024-03-25-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-03-25-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-03-25-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9325 CDC create data processed file
  data-processed/COVIDhub_CDC-ensemble/2024-03-25-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9326 PSI-PROF weekly forecast - 31 Mar 2024
  data-processed/PSI-DICE/2024-03-31-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation
