Repository reichlab/covid19-forecast-hub, pull requests merged in 2024-02, with the labels that each got.

#9186 Add a code of conduct for the forecast hub
  .github/CODE_OF_CONDUCT.md
Labels: other-files-updated

#9187 SGroup-RandomForest submission for 2024-02-05
  data-processed/SGroup-RandomForest/2024-02-05-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9188 2024-02-05-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-02-05-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9190 2024-02-05 baseline
  data-processed/COVIDhub-baseline/2024-02-05-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9192 CEPH_2024-02-05
  data-processed/CEPH-Rtrend_covid/2024-02-05-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9193 UT-Osiris 2024-02-05
  data-processed/UT-Osiris/2024-02-05-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9194 PSI-DICE weekly submission - 05 Feb 2024
  data-processed/PSI-DICE/2024-02-04-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9195 remove PA due to misalignment
  data-processed/UMass-trends_ensemble/2024-02-05-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9198 [CMU-TimeSeries] Add 2024-02-05 predictions
  data-processed/CMU-TimeSeries/2024-02-05-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9200 2024-02-05 ensemble
  data-processed/COVIDhub-ensemble/2024-02-05-COVIDhub-ensemble.csv
  ensemble-metadata/2024-02-05-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-02-05-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9201 2024-02-05 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-02-05-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-02-05-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9202 2024-02-05 4 week ensemble
  4_week_ensemble-metadata/2024-02-05-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-02-05-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-02-05-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9203 added long description to metadata
  data-processed/OHT_JHU-nbxd/metadata-OHT_JHU-nbxd.txt
Labels: metadata-change, passed-validation

#9204 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2024-02-05-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9205 SGroup-RandomForest submission for 2024-02-12
  data-processed/SGroup-RandomForest/2024-02-12-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9207 2024-02-12 baseline
  data-processed/COVIDhub-baseline/2024-02-12-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9208 mobs 2024-02-12
  data-processed/MOBS-GLEAM_COVID/2024-02-12-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9209 2024-02-12-UMass-gbq
  data-processed/UMass-gbq/2024-02-12-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9210 UT-Osiris 2024-02-12
  data-processed/UT-Osiris/2024-02-12-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9212 PSI-DICE weekly submission - 12 Feb 2024
  data-processed/PSI-DICE/2024-02-12-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9213 2024-02-12 UMass-sarix
  data-processed/UMass-sarix/2024-02-12-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9214 [CMU-TimeSeries] Add 2024-02-12 predictions
  data-processed/CMU-TimeSeries/2024-02-12-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9215 submitting 2024-02-12 forecasts for cfa-wwrenewal
  data-processed/cfa-wwrenewal/2024-02-12-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9216 remove TX due to misalignment
  data-processed/UMass-trends_ensemble/2024-02-12-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9217 CEPH_2024-02-12
  data-processed/CEPH-Rtrend_covid/2024-02-12-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9211 JHU IDD 2024-02-12 submission
  data-processed/JHU_IDD-CovidSP/2024-02-11-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9218 2024-02-12 ensemble
  data-processed/COVIDhub-ensemble/2024-02-12-COVIDhub-ensemble.csv
  ensemble-metadata/2024-02-12-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-02-12-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9219 2024-02-12 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-02-12-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-02-12-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9220 2024-02-12 4 week ensemble
  4_week_ensemble-metadata/2024-02-12-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-02-12-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-02-12-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9221 2024-02-12-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-02-12-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9222 CDC create data processed files
  data-processed/COVIDhub_CDC-ensemble/2024-02-12-COVIDhub_CDC-ensemble.csv
Labels: data-submission

#9223 2024-02-19-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-02-19-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9224 SGroup-RandomForest submission for 2024-02-19
  data-processed/SGroup-RandomForest/2024-02-19-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9225 2024-02-19-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2024-02-19-MUNI-ARIMA.csv
Labels: data-submission, automerge, passed-validation

#9226 2024-02-19 baseline
  data-processed/COVIDhub-baseline/2024-02-19-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9227 mobs 2024-02-19
  data-processed/MOBS-GLEAM_COVID/2024-02-19-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9228 JHU_IDD FCH 19 Feb
  data-processed/JHU_IDD-CovidSP/2024-02-18-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9229 UT-Osiris 2024-02-19
  data-processed/UT-Osiris/2024-02-19-UT-Osiris.csv
Labels: data-submission, automerge, passed-validation

#9230 CEPH_2024-02-19
  data-processed/CEPH-Rtrend_covid/2024-02-19-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9231 PSI-DICE weekly submission - 19 Feb 2024
  data-processed/PSI-DICE/2024-02-19-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9232 2024-02-19-UMass-gbq
  data-processed/UMass-gbq/2024-02-19-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9233 2024-02-19 Hosp Trend Ensemble
  data-processed/UMass-trends_ensemble/2024-02-19-UMass-trends_ensemble.csv
Labels: data-submission, automerge, passed-validation

#9234 2024-02-19 UMass-sarix
  data-processed/UMass-sarix/2024-02-19-UMass-sarix.csv
Labels: data-submission, automerge, passed-validation

#9235 cfa-wwrenewal 2024-02-19 forecasts
  data-processed/cfa-wwrenewal/2024-02-19-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9236 [CMU-TimeSeries] Add 2024-02-19 predictions
  data-processed/CMU-TimeSeries/2024-02-19-CMU-TimeSeries.csv
Labels: data-submission, automerge, passed-validation

#9237 2024-02-20 ensemble
  data-processed/COVIDhub-ensemble/2024-02-19-COVIDhub-ensemble.csv
  ensemble-metadata/2024-02-19-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-02-19-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9238 2024-02-20 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-02-19-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-02-19-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9239 2024-02-20 4 week ensemble
  4_week_ensemble-metadata/2024-02-19-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-02-19-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-02-19-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9241 SGroup-RandomForest submission for 2024-02-26
  data-processed/SGroup-RandomForest/2024-02-26-SGroup-RandomForest.csv
Labels: data-submission, automerge, passed-validation

#9242 2024-02-26 baseline
  data-processed/COVIDhub-baseline/2024-02-26-COVIDhub-baseline.csv
Labels: data-submission, automerge, passed-validation

#9243 CEPH_2024-02-26
  data-processed/CEPH-Rtrend_covid/2024-02-26-CEPH-Rtrend_covid.csv
Labels: data-submission, automerge, passed-validation

#9244 mobs 2024-02-26
  data-processed/MOBS-GLEAM_COVID/2024-02-26-MOBS-GLEAM_COVID.csv
Labels: data-submission, automerge, passed-validation

#9245 2024-02-26-UMass-gbq
  data-processed/UMass-gbq/2024-02-26-UMass-gbq.csv
Labels: data-submission, automerge, passed-validation

#9246 2024-02-25 FCH JHU_IDD-CovidSP
  data-processed/JHU_IDD-CovidSP/2024-02-25-JHU_IDD-CovidSP.csv
Labels: data-submission, automerge, passed-validation

#9248 cfa-wwrenewal 2024-02-26 forecasts
  data-processed/cfa-wwrenewal/2024-02-26-cfa-wwrenewal.csv
Labels: data-submission, automerge, passed-validation

#9249 PSI-DICE weekly submission - 26 Feb 2024
  data-processed/PSI-DICE/2024-02-26-PSI-DICE.csv
Labels: data-submission, automerge, passed-validation

#9253 2024-02-26 ensemble
  data-processed/COVIDhub-ensemble/2024-02-26-COVIDhub-ensemble.csv
  ensemble-metadata/2024-02-26-inc_hosp-model-eligibility.csv
  ensemble-metadata/2024-02-26-inc_hosp-model-weights.csv
Labels: data-submission, other-files-updated, passed-validation

#9254 2024-02-26 trained ensemble
  data-processed/COVIDhub-trained_ensemble/2024-02-26-COVIDhub-trained_ensemble.csv
  trained_ensemble-metadata/2024-02-26-inc_hosp-model-weights.csv
  trained_ensemble-metadata/thetas.csv
Labels: data-submission, other-files-updated, passed-validation

#9255 2024-02-26 4 week ensemble
  4_week_ensemble-metadata/2024-02-26-inc_hosp-model-eligibility.csv
  4_week_ensemble-metadata/2024-02-26-inc_hosp-model-weights.csv
  data-processed/COVIDhub-4_week_ensemble/2024-02-26-COVIDhub-4_week_ensemble.csv
Labels: data-submission, other-files-updated, passed-validation

#9256 2024-02-26-OHT_JHU-nbxd
  data-processed/OHT_JHU-nbxd/2024-02-26-OHT_JHU-nbxd.csv
Labels: data-submission, automerge, passed-validation

#9257 Add files via upload
  data-processed/COVIDhub_CDC-ensemble/2024-02-26-COVIDhub_CDC-ensemble.csv
Labels: data-submission
